<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Tout ce qu’il faut savoir sur la capacité de transport</h1>
  <p>
    Le transport routier ne s'est jamais aussi bien porté en France avec un chiffre
    d’affaires annuel de 44 milliards d’euros. Mais ce qui est surprenant c’est que sur
    les 37 000 entreprises du secteur, plus de 97% d'entre elles sont des PME avec moins
    de 50 salariés.
  </p>
  <p>
    Tant que les entreprises auront toujours besoin de faire transporter des marchandises
    par la route, il y aura des transporteurs routiers.
  </p>
  <p>
    Ce secteur attire chaque année des centaines d’hommes et de femmes qui veulent créer
    leur entreprise de transport routier de marchandises ou de personnes. Mais ce type
    d’entreprise est très réglementé. Pour s’installer, il faut obtenir une attestation de
    capacité de transport.
  </p>
  <p>
    Dans cet article, nous allons voir en détail l’utilité de cette attestation de
    capacité de transport de marchandise et comment l’obtenir.
  </p>
  <h2>La capacité de transport : Définition et à quoi sert-elle ?</h2>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/36658/transport%20routier%20de%20marchandises.png?access_token=c0b614dd-7d7b-4d8a-9da9-5201ff93c435"
    width="500"
    height="400"
    alt="transport routier de marchandises"
  />
  <p>
    Si vous souhaitez créer une entreprise de transport routier de marchandises ou de
    personnes, l’obtention d’une capacité de transport est obligatoire. Pour obtenir cette
    capacité de transport, il faut passer un examen de la DREAL (DREIA en Ile-de-France).
    Pour la capacité de transport lourd, l’examen se déroule une fois par an. Pour la
    capacité de transport léger, la date de l’examen varie à l’échelon de 60 jours.
    lorem*100
  </p>
  <p>On distingue deux capacités professionnelles de transport :</p>
  <ul>
    <li>Le transport léger avec des véhicules ne dépassant pas 3,5 tonnes PTAC,</li>
    <li>et le transport lourd en exploitant des véhicules de plus de 3,5 tonnes PTAC.</li>
  </ul>
  <p>
    Vous l’aurez compris, la différence réside principalement dans le PTAC (poids total
    autorisé en charge) des véhicules utilisés pour exercer l’activité de transport de
    marchandises ou de personnes.
  </p>
  <p>
    La capacité de transport léger de marchandises: Si vous envisagez de n’exploiter que
    des véhicules ayant un PTAC ne dépassant pas 3,5 tonnes, c’est cette capacité qu’il
    faut passer. Pour vous présenter à l’examen, vous devez obligatoirement suivre une
    formation.
  </p>
  <p>
    La capacité de transport lourd de marchandises: C’est la capacité nécessaire pour
    exploiter des véhicules ayant un PTAC supérieur à 3,5 tonnes. Elle s’obtient après le
    passage d’un examen sans forcément suivre une formation.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h3>Dans quel cas la capacité de transport est-elle nécessaire ?</h3>
  <p>L’attestation de capacité de transport est indispensable pour :</p>
  <ul>
    <li>
      <a href="/blog/comment-devenir-auto-entrepreneur-dans-le-domaine-du-transport"
        >Créer une entreprise de transports de marchandises</a
      >,
    </li>
    <li>Devenir livreur (scooter, voiture, camionnette)</li>
    <li>Vendre des services de transport de personnes.</li>
  </ul>
  <h3>Comment obtenir la capacité de transport lourd de marchandise ?</h3>
  <p>
    C’est généralement au mois d’octobre que se déroule l’examen national pour la capacité
    de transport. Pour y participer, il faut au préalable s’inscrire en envoyant la DREAL
    de votre région un dossier d’inscription, conformément au formulaire Cerfa 11414-04.
  </p>
  <p>
    Comme nous l’avons vu brièvement, vous n’êtes pas obligé de suivre une formation avant
    de passer l’examen pour
    <a href="/blog/capacite-de-transport-poids-lourd-comment-l-obtenir"
      >la capacité de transport lourd de marchandise</a
    >. Vous pouvez vous préparer seul bien qu’<a
      href="/formation-capacite-transport-lourd-marchandise"
      >une formation</a
    >
    soit fortement recommandée. En effet, suivre une formation de préparation à la
    capacité de transport vous permet de maximiser vos chances de l’obtenir. Pour suivre
    cette formation, vous pouvez vous rendre dans un centre de formation agréé ou vous
    former directement en ligne.
  </p>
  <p>
    L’examen final porte principalement sur la gestion d’une entreprise de transport de
    marchandises ainsi que sur les compétences à avoir pour bien gérer une entreprise
    d’une manière plus générale.
  </p>
  <p>
    Si vous êtes reçu à l’examen, le Préfet de votre région vous remet une attestation de
    capacité professionnelle en transport lourd de marchandises. Si malheureusement vous
    échouez, il vous faudra attendre la prochaine session pour retenter votre chance.
  </p>
  <p>
    Il existe des cas de dispense. Si vous êtes en mesure de prouver que vous avez géré
    une entreprise de transport de marchandises sur une période de 10 ans précédant le 4
    décembre 2009, sans interruption, vous pouvez demander l’attestation de capacité
    professionnelle de transport lourd de marchandises. Il faut adresser sa demande à la
    DREAL ou la DREIA Ile-de-France en utilisant le
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >formulaire CERFA n° 11414-05</a
    >
    et en fournissant les justificatifs nécessaires. Vous êtes également dispensé si vous
    êtes titulaire d’un diplôme de niveau 3 avec des enseignements de gestion et de
    transport, vous pouvez dans ce cas
    <a
      href="/blog/digimoov-3/post/comment-obtenir-la-capacite-professionnelle-de-transport-leger-de-marchandises-par-equivalence-30"
      >obtenir votre attestation par équivalence</a
    >.
  </p>
  <h3>La capacité de transport pour les véhicules de moins de 3,5t PTAC</h3>
  <p>
    L’attestation de capacité de transport pour les véhicules légers (moins de 3,5t PTAC)
    permet de proposer des transports payants de marchandises en exploitant un véhicule de
    moins de 3,5t PTAC. Cela inclut également les deux roues et triporteurs.
  </p>
  <p>Pour obtenir la capacité de transport véhicule de moins de 3,5t PTAC, il faut :</p>
  <ul>
    <li>Effectuer une formation de 102h dans un centre de formation agréé</li>
    <li>Passer un examen d’une durée de 3h.</li>
  </ul>
  <p><b>Des cas de dispense existent si</b> :</p>
  <ul>
    <li>
      Vous êtes titulaire du baccalauréat professionnel Exploitation des transports ou du
      baccalauréat professionnel Transport,
    </li>
    <li>
      Vous avez géré de manière continue une entreprise de transport public routier de
      marchandises pendant au moins deux ans et que vous n’avez pas cessé cette activité
      depuis plus de dix ans.
    </li>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h3>Comment obtenir la capacité de transport léger voyageurs 9 places ?</h3>
  <p>
    Cette capacité de transport permet d’ouvrir une société ou entreprise de transport de
    personnes en exploitant des véhicules pouvant transporter jusqu’à 9 personnes
    (chauffeur inclus).
  </p>
  <p><b>Pour obtenir cette capacité de transport, il faut :</b></p>
  <ul>
    <li>suivre une formation de 140h dans un centre de formation agréé,</li>
    <li>passer un examen de 4h.</li>
  </ul>
  <p><b>Vous êtes dispensé si :</b></p>
  <ul>
    <li>
      vous avez géré de manière continue une entreprise de transport public de personnes
      durant 2 années sous réserve de ne pas avoir cessé cette activité depuis plus de 10
      ans,
    </li>
    <li>
      vous êtes titulaire de l’un des diplômes suivants : diplôme de fin d’études de
      l’École de Transport et de Logistique, diplôme de fin d’études de Maîtrise du
      Transport routier, le BTS Transport.
    </li>
  </ul>
  <h3>Faut-il une capacité de transport pour devenir Taxi, VTC ou VMDTR ?</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/36659/VMDTR%20Taxi-Moto.png?access_token=ef3db665-bc65-4f93-a2b2-0a12e206b24c"
    width="450"
    height="400"
    alt="Taxi moto VMDTR"
  />
  <p>
    Il est également important de noter qu’il existe des différences notoires entre la
    capacité de transport de personnes et les licences de Taxis, Taxis-moto (VMDTR) et
    VTC.
  </p>
  <p><b>Pour devenir taxi il faut :</b></p>
  <ul>
    <li>avoir votre permis de conduire catégorie B,</li>
    <li>
      disposer d’une attestation d'aptitude physique (visite médicale) délivrée par le
      préfet et un casier judiciaire vierge,
    </li>
    <li>
      avoir suivi <a href="https://www.mcm-academy.fr/formation-taxi">une formation</a> et
      passé un examen,
    </li>
    <li>utiliser un véhicule de 9 places maximum (chauffeur compris).</li>
  </ul>
  <p>
    Il faudra ensuite obtenir une carte professionnelle, demander ou acheter une licence
    (autorisation de stationnement ADS). Il faudra ensuite choisir le statut juridique.
  </p>
  <p><b>Pour devenir VTC il faut :</b></p>
  <ul>
    <li>
      avoir votre permis de conduire catégorie B (depuis plus de 3 ans) et un casier
      judiciaire vierge,
    </li>
    <li>
      avoir suivi la formation de "prévention et secours civiques de niveau 1" (PSC1)
      depuis moins de 2 ans,
    </li>
    <li>
      avoir suivi <a href="https://www.mcm-academy.fr/formation-vtc">une formation</a> et
      passé un examen,
    </li>
    <li>demander l’obtention de la carte VTC auprès de la Préfecture,</li>
    <li>immatriculer son entreprise.</li>
  </ul>
  <p><b>Pour devenir VMDTR (moto-taxi) il faut :</b></p>
  <ul>
    <li>avoir un permis moto depuis au moins trois ans,</li>
    <li>avoir reçu une formation reconnue,</li>
    <li>avoir réussi l'examen professionnel officiel,</li>
    <li>
      disposer d’un certificat médical vous autorisant à conduire ce type de véhicule,
    </li>
    <li>
      justifier d’au moins 1 an d’expérience professionnelle dans le transport de
      personnes.
    </li>
  </ul>
  <p><b>Les caractéristiques des véhicules destinés aux services VTC:</b></p>
  <ul>
    <li>le nombre de places est compris entre 4 et 9 (chauffeur compris),</li>
    <li>moins de 6 ans (sauf si c'est une voiture de collection),</li>
    <li>4 portes minimum,</li>
    <li>dimensions minimales à respecter : 4,50 m x 1,70 m,</li>
    <li>moteur d’une puissance nette supérieure ou égale à 84 kW,</li>
    <li>
      vignette informant que le véhicule est destiné au transport avec chauffeur (VTC).
    </li>
  </ul>
  <p>
    Cette capacité de transport permet également d’exercer son activité dans un service
    public de type transport scolaire. A noter que pour devenir capacitaire de transport,
    il faut également accepter de ne pouvoir transporter qu’une seule personne.
  </p>
  <h3>Que se passe-t-il après l’obtention d’une attestation de capacité ?</h3>
  <p>
    L'obtention d'un certificat de capacité de transport n'est qu'une condition préalable
    à la création d'une entreprise. Pour pouvoir démarrer, vous devez également remplir
    d'autres conditions.
  </p>
  <h4>Capacité financière</h4>
  <p>
    La réglementation qui encadre les métiers du transport est assez stricte. Avant de
    pouvoir proposer vos services, il vous faut montrer patte blanche et cela passe par
    justifier de la solidité financière de votre entreprise.Vous devez ainsi prouver que
    vous avez les capacités financières de gérer votre activité. Vous devez donc déposer
    votre capital à la banque.
  </p>
  <h4>Il y a une somme légale minimale à déposer :</h4>
  <p>
    Pour le transport lourd: 9000 euros pour le premier véhicule, 5000 euros pour les
    véhicules supplémentaires,
  </p>
  <p>
    Pour le transport léger: 1800 euros pour le premier véhicule, 900 euros pour les
    véhicules supplémentaires.
  </p>
  <p>
    Ce capital peut être abaissé si vous disposez d’une garantie bancaire ou que vous
    pouvez fournir une attestation provenant d’un organisme habilité garantissant la
    solidité de vos finances.
  </p>
  <h4>Demander le droit d’exercer</h4>
  <p>
    Après avoir justifié de votre capacité financière vous ne pouvez toujours pas ouvrir
    votre entreprise de transport car vous devez demander le droit d’exercer. C’est la
    DREAL qui est l’autorité compétente pour cela. Il faudra envoyer votre dossier
    incluant :
  </p>
  <ul>
    <li>photocopie de votre capacité de transport,</li>
    <li>
      <a href="https://www.formulaires.service-public.fr/gf/cerfa_14557.do"
        >formulaire Cerfa 14557-03</a
      >
      signé et tamponné par un expert comptable,
    </li>
    <li>attestation originale de dépôt des fonds.</li>
  </ul>
  <p>
    Il vous sera ensuite délivré une autorisation qui débouchera sur une inscription au
    Registre électronique national des entreprises de transport par route et à la
    délivrance d’une licence de transport provisoire, indispensable pour la création de
    votre entreprise.
  </p>
  <p>
    Vous pourrez alors donner une existence juridique à votre entreprise de transport. Ce
    n’est qu’après tout cela que vous recevrez votre K-Bis dont il faudra envoyer une
    copie à la DREAL afin d’obtenir la licence de transport définitive.
  </p>
  <h2>Pourquoi et comment se former pour obtenir la capacité de transport ?</h2>
  <p>
    Il n’est pas toujours obligatoire de suivre une formation pour obtenir une capacité de
    transport. Cela dit, la formation peut être un vrai plus car elle est dispensée par
    des professionnels expérimentés. De plus, elle vous permet d’aborder les différents
    aspects de la gestion d’une entreprise de transport ce qui n’est pas négligeable quand
    on se lance.
  </p>
  <p>
    Pour vous former, plusieurs possibilités s’offrent à vous. Vous pouvez passer par un
    organisme agréé de votre région qui dispensera alors la formation en présentiel. Ce
    type de formation est relativement coûteux et nécessite de se libérer pour suivre la
    formation.
  </p>
  <p>
    Vous pouvez également choisir de vous former en ligne. C’est un choix de plus en plus
    populaire car il offre de nombreux avantages. Tout d’abord, vous pouvez suivre la
    formation à votre rythme. Vous pouvez ainsi vous former tout en continuant à
    travailler. C’est également économiquement plus intéressant car la formation est
    généralement moins chère.
  </p>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/capacite-de-transport-le-guide-complet"
    },
    "headline": "Capacité de transport - le guide complet",
    "image": "https://www.digimoov.fr/web/image/36658/transport%20routier%20de%20marchandises.png?access_token=c0b614dd-7d7b-4d8a-9da9-5201ff93c435",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
