<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Obtenir votre capacité de transport par équivalence</h1>
  <p>
    Une fois tous vos diplômes obtenus afin de certifier de votre capacité à pratiquer le
    transport léger au regard de vos compétences, vous pourrez alors créer votre
    entreprise de transport. Celle-ci, afin d’être viable au regard de l’administration,
    exigera nécessairement une attestation de capacité professionnelle.
  </p>
  <p>
    Cette attestation, dans le cadre du transport de marchandises, sera incontournable
    afin de pouvoir vous lancer dans votre activité professionnelle de transport. La
    capacité de transport, alors, s’obtient selon des conditions précises qu’il vous
    faudra respecter. Et cela, que vous exerciez votre activité à votre propre compte ou
    bien même dans une entreprise spécialisée dans le transport de marchandises.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h2>
    Les conditions de l’obtention de l’attestation de capacité professionnelle « transport
    léger de marchandises »
  </h2>
  <p>
    Plus qu’une simple attestation de capacité professionnelle, cette certification
    professionnelle relative à une entreprise de transport est un document administratif
    capital. Il assure en effet que votre entreprise de transport de marchandises est à
    même d’exercer son activité dans le cadre de la loi en réunissant tous les critères
    attendus par l’entrepreneur.
  </p>
  <p>
    Dans le cadre d’une attestation de capacité professionnelle « transport léger de
    marchandises », les seuls véhicules concernés seront ceux dont le poids maximal se
    veut inférieur ou égal à 3,5 tonnes de PMA. Au-delà, la capacité professionnelle
    devrait considérer le transport lourd de marchandises, ce qui, alors, exigerait de
    répondre à d’autres critères afin de l’obtenir.
  </p>
  <p>
    Il est à noter que dès lors où une entreprise de transport serait détentrice de
    <a href="/blog/capacite-de-transport-poids-lourd-comment-l-obtenir"
      >la capacité professionnelle « transport lourd de marchandises »</a
    >, il ne serait alors pas nécessaire d’obtenir un autre diplôme pour se circonscrire
    uniquement aux véhicules légers. L’équivalence capacité de transport, entre ces deux
    certifications analogues, permet de concerner aussi bien les véhicules lourds que
    légers.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <p>
    Les conditions d’acquisition de l’attestation de capacité professionnelle « transport
    léger de marchandises » s’effectue au terme d’un stage. Ce stage se doit alors de
    s’effectuer auprès d’un centre de formation agréé tel que pourra l’être
    <a href="/qui-sommes-nous">Digimoov.</a> Car en effet, le centre de formation agréé
    doit être habilité à former ses élèves par rapport à la réglementation spécifique au
    transport routier de marchandises ainsi qu’à la gestion de l’exploitation d’une
    entreprise de transport routier. Cette accréditation, un centre de formation, alors,
    se le voit décerné par la préfecture de région. Cette même préfecture, par extension,
    délivrera le diplôme de capacité professionnelle au terme de la formation.
  </p>
  <p>
    L’inscription au stage, alors, s’effectue directement auprès du centre de formation de
    capacité professionnelle.
  </p>
  <div class="text-center">
    <img
      class="img-fluid o_we_custom_image"
      width="600"
      height="500"
      src="/web/image/24976/trouver-des-clients-en-tant-que-transporteur.png"
    />
  </div>
  <h3>Les différents moyens d’obtenir la capacité professionnelle de transport</h3>
  <p>
    Afin de pouvoir créer votre entreprise de transport et l’administrer en conséquence,
    différents recours s’offrent à vous afin d’obtenir l’attestation de capacité
    professionnelle pour transport léger. Ces recours sont au nombre de trois et vous
    permettront chacun d’exercer votre activité de transport de marchandises en conformité
    avec la loi.
  </p>
  <p>
    En premier lieu, vous pourrez avoir recours à la méthode la plus classique. En effet,
    au terme d’une formation de capacité professionnelle auprès d’un organisme habilité
    par la préfecture, vous serez amené à passer un examen. Cet examen répond à ce qui est
    attendu d’un futur dirigeant d’entreprise de transport et se veut conforme aux
    directives de la préfecture. Si vous répondez correctement aux questions vous étant
    transmises, votre examen vous sera alors délivré par le préfet de région.
  </p>
  <p>
    En plus de cette méthode, vous pourrez aussi obtenir l’attestation de capacité
    professionnelle de transport par le biais d’une validation d’expérience
    professionnelle. En effet, si vous pouvez prouver à la préfecture que vous avez exercé
    une activité de transport de marchandises durant deux ans minimum sans une
    interruption d’activité de 10 ans, vous n’aurez pas besoin d’une formation de capacité
    professionnelle de transport.
  </p>
  <p>
    Enfin, l’équivalence capacité transport constitue la troisième méthode afin de pouvoir
    administrer une entreprise de transport de manière légale. Avec l’équivalence capacité
    transport, vous pourrez ainsi obtenir une attestation de capacité professionnelle
    transport sans avoir à passer d’examen. Cela, à condition de respecter différentes
    conditions préalables, notamment académiques.
  </p>

  <div class="text-center">
    <img
      width="600"
      height="500"
      class="img-fluid o_we_custom_image img-thumbnail"
      src="/web/image/256955/%C3%80%20quoi%20sert%20l%27attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger.png"
      alt="Transporteur qui a obtenu son attestation de transport "
    />
  </div>
  <h3>
    Le cas particulier de l’équivalence capacité transport dans le cadre de l’obtention de
    son diplôme
  </h3>
  <p>
    Bien qu’il soit possible de souscrire à une formation de capacité professionnelle, il
    faut cependant se renseigner au préalable sur le principe de l’équivalence capacité
    transport au regard de la loi française. Celle-ci, relativement à l’équivalence des
    diplômes, stipule qu’un diplôme spécialisé dans le transport routier pourra bénéficier
    d’une équivalence capacité transport. Cela, dans un cadre précis.
  </p>
  <p>
    En premier lieu, il conviendra de se renseigner sur
    <a
      href="https://www.bulletin-officiel.developpement-durable.gouv.fr/notice?id=Bulletinofficiel-0028832&amp;reqId=834ae098-6850-449c-85bb-e365798121b1&amp;pos=3"
      >la décision du 18 septembre 2015</a
    >
    relative à l’équivalence des diplômes. Sur cette décision figurent alors tous les
    diplômes, les titres ou encore les certificats sujets à une équivalence. Le principe
    d’équivalence permet ainsi de ne pas nécessiter de passer deux examens ou formations
    dont les attributions sont très similaires au regard de certaines compétences
    acquises. Et cela, à commencer par les diplômes relatifs au transport de marchandises.
  </p>
  <h3>Les diplômes permettant d’accéder à l’équivalence capacité transport</h3>
  <p>
    De très nombreux diplômes liés aux entreprises de transport permettaient d’accéder à
    l’équivalence capacité transport. Toutefois, bon nombre d’équivalences n’étaient alors
    plus valables après certaines dates butoir, celles-ci s’étant achevées respectivement
    en 2012 puis, en 2014.
  </p>
  <p>
    Aujourd’hui cependant, il existe encore un diplôme pouvant être obtenu en dehors d’une
    formation de capacité professionnelle dans le cadre du transport de marchandises. Ce
    diplôme concerne alors le Baccalauréat professionnel transport spécialisé dans
    l’exploitation des transports ou simplement dans le transport. Au terme de cette
    formation professionnelle, chacun des élèves aura alors accès aux mêmes aptitudes que
    celles transmises au terme d’un stage de formation de capacité professionnelle.
  </p>
  <p>
    Ce simple mérite, dès lors, permet à leurs titulaires de bénéficier de l’équivalence
    capacité transport. Ceux-ci n’auront alors pas besoin de passer un stage
    supplémentaire afin d’exercer une activité de transport léger.
  </p>
  <h3>La procédure à respecter afin d’accéder à l’équivalence capacité transport</h3>
  <p>
    Bien entendu, cette équivalence ne va pas de soi. Quand bien même vous seriez
    détenteur d’un Baccalauréat professionnel transport spécialité dans l’exploitation des
    transports, celui-ci ne serait pas valable administrativement en tant qu’attestation
    de capacité professionnelle.
  </p>
  <p>
    Sur le site de cet organisme régional, vous pourrez accéder directement à la procédure
    en ligne de demande d’attestation de capacité professionnelle par équivalence de
    diplôme. Le site concerné par la procédure s’intitule alors demarches-simplifiees.fr.
  </p>
  <p>
    Le site internet, accessible depuis une application, vous permettra ainsi d’être
    informé en temps réel de l’évolution de votre dossier dès lors où vous l’aurez
    complété. Les étapes seront alors les suivantes :
  </p>
  <ul>
    <li>
      Réception de la demande d’équivalence capacité transports à compter de l’instant où
      vous l’aurez envoyée
    </li>
    <li>Mise en instruction de la demande</li>
    <li>Signature ou rejet de la demande</li>
  </ul>
  <h3>Les pièces justificatives nécessaires pour accéder à l’équivalence de diplôme</h3>
  <p>
    Cette démarche administrative exigera, en plus d’un formulaire rempli, de joindre
    différentes pièces justificatives. En premier lieu, il vous faudra naturellement
    fournir le diplôme que vous soumettrez à l’équivalence. En cas de perte de la forme
    papier du diplôme, contactez l’établissement auprès duquel vous en aurez fait
    l’acquisition afin qu’il vous en remette un exemplaire.
  </p>
  <p>
    En supplément, vous devrez remettre un justificatif d’identité. Une carte nationale
    d’identité, un passeport, un permis de conduire ou bien un titre de séjour valide sur
    le territoire français fera alors l’affaire. Il faudra ensuite y joindre un
    justificatif de domicile, celui-ci pouvant alors être une facture de téléphone, une
    facture EDF ou de taxe d’habitation.
  </p>
  <p>
    Dans l’éventualité où vous auriez moins de 25 ans et souhaiteriez accéder à
    l’équivalence capacité professionnelle, il vous faudrait adjoindre un document
    attestant de votre situation au regard du service national. Ce service national fait
    suite en principe à votre recensement citoyen. Recensement qui, pour être accrédité
    par l’administration, trouve son issue dans la Journée d’Appel de Préparation à la
    Défense. Le diplôme attestant de votre participation à ce service national pourra
    alors consister en une pièce justificative valable à fournir à l’administration.
  </p>
  <h3>En cas de rejet de la demande</h3>
  <p>
    Il est possible, au terme de vos démarches entreprises sur le site de
    <a href="https://www.ecologie.gouv.fr/services-deconcentres-du-ministere"
      >la DREAL,</a
    >
    que celles-ci aboutissent à un refus de l’administration. Ce refus, alors, peut être
    potentiellement motivé par différents critères. En premier lieu, vous pourriez avoir
    fourni des informations erronées au moment de compléter le formulaire. Assurez-vous
    alors que celles-ci soient parfaitement adéquates à votre situation présente. Relisez
    toujours un formulaire avant envoi et confirmez méticuleusement chaque donnée y
    figurant afin d’être certain de n’avoir commis aucune erreur.
  </p>
  <p>
    Il se peut aussi que votre dossier soit rejeté au regard de la qualité de certaines
    pièces justificatives fournies. En effet, il n’est pas rare qu’un justificatif
    d’identité par exemple ne soit plus valable.
  </p>
  <p>
    Une carte d’identité, un passeport ou bien un permis de conduire doivent être
    reconduits fréquemment auprès de l’administration afin d’être valides. Déplacez-vous
    alors auprès de votre mairie pour refaire votre carte nationale d’identité si celle-ci
    a dépassé sa date de validité. Il en va de même pour votre passeport.
  </p>
  <p>
    Assurez-vous aussi que les pièces justificatives envoyées par voie numériques soient
    parfaitement lisibles. Le moindre caractère laissant le doute quant à ce qui est écrit
    peut valoir un rejet du dossier. Si le problème persiste, n’hésitez pas à envoyer vos
    copies de pièces justificatives par courrier afin que celles-ci soient correctement
    réceptionnées.
  </p>
  <p>
    N’oubliez pas qu’un diplôme seulement est sujet à une équivalence capacité
    professionnelle dans le cadre du transport de marchandises et de l’élaboration d’une
    entreprise de transport. Ce diplôme se doit en effet d’être celui décerné à l’issue
    d’un Baccalauréat professionnel transport spécialisé dans l’exploitation des
    transports. Aucun autre ne saurait être accepté, même s’il possède des proximités au
    regard des compétences enseignées.
  </p>
  <p>
    Enfin, votre justificatif de domicile se doit d’être parfaitement associé à votre
    adresse de résidence. Votre diplôme obtenu par équivalence capacité professionnelle
    vous sera en effet remis par courrier. L’adresse communiquée au cours de vos
    démarches, par conséquent, se devra d’être la bonne.
  </p>
  <h3>Une fois le dossier d’équivalence capacité professionnelle admis</h3>
  <p>
    Comme pour n’importe qui ayant souscrit à une formation de capacité professionnelle,
    vous serez vous aussi sanctionné d’un diplôme par le préfet de région. Celui-ci, à
    compter de sa réception, vous permettra d’attester de la légalité de votre activité
    professionnelle de transport léger.
  </p>
  <p>
    Seul ce diplôme obtenu par équivalence est valable devant la loi. Votre diplôme obtenu
    via Baccalauréat professionnel transport, bien qu’il concerne les même aptitudes, ne
    sera pas reconnu par l’administration en tant qu’attestation de capacité
    professionnelle de transport léger.
  </p>
  <p>
    Vous vous devrez par conséquent d’être constamment accompagné de cette dernière pour
    attester de la validité de l’exercice de votre entreprise de transport de
    marchandises. Et cela, que ce soit à votre compte ou dans une entreprise spécialisée.
  </p>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/comment-obtenir-la-capacite-professionnelle-de-transport-leger-de-marchandise-par-equivalence"
    },
    "headline": "Comment obtenir la capacité professionnelle de transport léger de marchandises par équivalence ?",
    "image": "https://www.digimoov.fr/web/image/24976/trouver-des-clients-en-tant-que-transporteur.png",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
