<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Comment obtenir la capacité de transport poids lourd ?</h1>
  <p>
    La mondialisation parachevant ses effets vertueux sur les économies du globe, le
    secteur du
    <a href="/blog/comment-devenir-transporteur-routier">transport routier</a> sera
    naturellement très sollicité pour les années à venir. Les chauffeurs poids lourd plus
    encore compte tenu de la contenance de leur cargaison et l’importance stratégique que
    recouvre leur activité.
  </p>
  <p>
    Avec l’essor intarissable du commerce en ligne à l’internationale, les transporteurs
    poids lourd sont naturellement très sollicités. Un transporteur de marchandise,
    aujourd’hui comme demain, sera alors indispensable au transit de nombreuses
    marchandises dans une économie où les échanges n’en finissent pas de s’accentuer.
  </p>
  <p>
    Aussi, créer une entreprise de transport lourd, dès à présent et pour les années à
    venir, ne pourra que vous être profitable. Il y a largement de la place pour la
    concurrence et vous aussi pourrez alors en profiter. Cela, à condition toutefois de
    remplir les critères nécessaires à l’exercice de la profession.
  </p>
  <p>Alors, comment obtenir la capacité de transport lourd de marchandises ?</p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h3>Les exigences pour exercer le métier de transport de marchandises</h3>
  <p>
    Avant de pouvoir entamer la moindre démarche relative à la
    <a href="/formation-capacite-transport-lourd-marchandise"
      >capacité de transport de marchandises poids lourd</a
    >, certaines conditions préalables se devront d’être dûment respectées. Une société de
    transport, bien entendu, se doit de se conformer à certaines exigences afin de se
    conformer à ce qui est attendu d’un transporteur public routier.
  </p>
  <h4>L’exigence d’établissement</h4>
  <p>
    L’exigence d’établissement se rapportant aux entreprises de transports routiers ont
    vocation à s’assurer que ces dernières bénéficient bien des structures primordiales à
    l’exercice de leur activité. Ainsi, votre entreprise se devra de disposer d’un
    établissement.
  </p>
  <p>
    Cet établissement devra d’une part constituer son siège social, mais aussi se
    conformer à ce qui est attendu de ce dernier. Car en effet, une société de transport
    de marchandises se devra de stocker la documentation relative à son activité. Des
    locaux, là encore, seront impératifs.
  </p>
  <p>
    Au-delà de l’établissement comme local, l’exigence d’établissement impose aux
    entreprises de transport d’être propriétaires ou locataires-gérant des véhicules poids
    lourd nécessaires à l’exercice de leur activité. Cela, non sans compter les outils
    indispensables à la permanence de cette même activité de transport.
  </p>
  <h3>L’exigence d’honorabilité professionnelle</h3>
  <p>
    Ce qui se rapporte à l’honorabilité d’une entreprise de transport routier de personnes
    fait référence à son honorabilité au sens de la loi. Est réputée honorable toute
    personne physique ou morale n’ayant fait l’objet d’aucune condamnation particulière.
  </p>
  <p>
    Ainsi, exercer la profession de transporteur impliquera nécessairement de ne jamais
    avoir été condamné pour les cas suivants :
  </p>
  <ul>
    <li>
      Une sanction judiciaire imposant l’interdiction de la pratique d’une commerciale ou
      industrielle (article L128-1du code de commerce),
    </li>
    <li>
      Une sanction judiciaire relative à des délits désignés par l’article n°7 du décret
      99-752
    </li>
    <li>
      Une sanction judiciaire se rapportant à une condamnation qui s’appliquerait au
      transport routier.
    </li>
  </ul>

  <h3>L’exigence de capacité professionnelle</h3>
  <p>
    Comme rapporté précédemment, personne ne saurait être gestionnaire de transport sans
    s’être acquitté des démarches nécessaires à l’acquisition de la capacité
    professionnelle de transport lourd. Il s’agit même d’une condition primordiale pour
    obtenir l’autorisation d’exercer une activité de transport public routier.
  </p>
  <p>
    Celle-ci ne peut être décernée que par le préfet de la région suite au passage d’un
    examen officiel sur lequel nous reviendrons.
  </p>
  <h3>L’exigence de capacité financière</h3>
  <p>
    On entend par l’exigence de la capacité financière d’une entreprise, la propension de
    cette dernière à disposer de ressources financières nécessaires pour assurer le bon
    fonctionnement de son entreprise de transport public.
  </p>
  <p>
    Cette capacité financière se concrétise alors de la manière suivante dans le cadre du
    transport public routier :
  </p>
  <ul>
    <li>
      Un montant de 9000 euros pour le premier véhicule concerné par l’activité de
      transport routier de personnes.
    </li>
    <li>
      5000 euros supplémentaires pour chaque nouveau véhicule supérieur de plus de 3,5
      tonnes au PMA concerné par votre activité de transport.
    </li>
  </ul>
  <p>
    Les garanties financières accordées par les établissements bancaires et d’assurances
    agréés peuvent compléter les capitaux propres dans la limite de 50% du montant de la
    capacité financière.
  </p>
  <div class="text-center">
    <img
      width="500"
      height="400"
      class="img-fluid o_we_custom_image"
      src="/web/image/230105/transport-lourd-routier-digimoov.png?access_token=f278c71b-cd82-4c10-acc9-7c248154b223"
    />
  </div>
  <h2>Attestation de capacité de transport lourd de marchandise</h2>
  <h3>Définition:</h3>
  <p>
    Les attestations, en règle générale, se rapportent à la preuve qu’une personne est
    apte à faire usage d’une compétence donnée. Aussi, l’attestation de capacité de
    transport poids lourd a pour premier effet de démontrer aux autorités que la personne
    qui en bénéficie est apte à exercer le métier de chauffeur poids lourd.
  </p>
  <p>
    Un capacitaire de transport reconnu, alors, remplira l’une des principales exigences
    nécessaires à l’exercice du transport de personnes et du transport lourd de
    marchandise.
  </p>
  <h3>Comment obtenir la capacité de transport poids lourd ?</h3>
  <p>
    Très spécifiquement, la capacité professionnelle dans le cadre du transport poids
    lourd concerne une entreprise de transport de marchandises dont les véhicules de 3,5
    tonnes le PMA (Poids moyen autorisé).
  </p>
  <p>
    L’obtention de la capacité de transport poids lourd peut alors s’obtenir par trois
    moyens.
  </p>
  <h4>Obtenir sa capacité de transport poids lourd grâce à l’examen écrit</h4>
  <p>
    Suivre une <a href="/formation-capacite-transport-lourd-marchandise">formation</a> et
    passer l’examen écrit pour obtenir la capacité de transport poids lourd est la manière
    la plus conventionnelle et la plus usitée d’accéder à cette dernière.
  </p>
  <p>Lors de l'examen, vous serez confrontés à deux épreuves :</p>
  <p>
    Un questionnaire sous la forme de questions à choix multiples portant sur l’ensemble
    des matières énoncées à l’annexe 1 du règlement (CE) n° 1071 / 2009 ;
  </p>
  <p>
    Une épreuve portant sur la gestion et l’exploitation de l’entreprise et pouvant faire
    appel à l’ensemble des connaissances énoncées à l’annexe 1 du règlement (CE) n° 1071 /
    2009 composées de questions et d’exercices exigeant une réponse rédigée.
  </p>

  <p>La durée totale des épreuves est fixée à quatre heures.</p>
  <p><b>Barème</b> : le nombre total de points est de 200.</p>
  <p>Il se décompose comme suit :</p>
  <ul>
    <li>questionnaire à choix multiple : 100 points ;</li>
    <li>épreuve à réponses rédigées : 100 points.</li>
  </ul>
  <p>
    Sont déclarés reçus les candidats qui ont obtenu pour l’ensemble des épreuves une note
    au moins égale à 120 sur 200, sous réserve qu’ils aient obtenu au moins 50 points pour
    le questionnaire à choix multiple et 40 points pour l’épreuve à réponses rédigées.
  </p>
  <p>
    L’examen est annuel et la date retenue est le 1er mercredi du mois d’octobre de
    l’année en cours : l’examen se déroulera le mercredi 5 octobre 2022 et la clôture des
    inscriptions sera le vendredi 5 août 2022.
  </p>
  <p>
    L’inscription se fait sur le site :
    <a href="https://www.demarches-simplifiees.fr/">site demarches-simplifiees</a>.
  </p>
  <p>
    Aucuns frais d’inscription ne seront engagés pour participer à l’examen, toutefois,
    vous serez tenu de rapporter les pièces justificatives demandées à temps de sorte que
    votre dossier soit valide. Celles-ci vous seront communiquées sur le site de la DREAL
    à partir duquel vous pourrez vous inscrire et formuler votre dossier afin d’accéder à
    l’examen.
  </p>
  <h4>
    Obtenir sa capacité de transport de marchandises grâce à l’expérience professionnelle
  </h4>
  <p>
    Dans l’éventualité où vous auriez déjà géré durant une période ininterrompue une
    activité de transport routier entre le 4 décembre 1999 et le 4 décembre 2009, vous
    seriez, au regard de votre expérience, considéré comme apte à l’exercice d’une telle
    profession. (Source DREIA ILE DE France)
  </p>
  <p>
    Vous n’auriez dès lors pas à passer l’examen écrit. Il vous suffirait de fournir le
    formulaire CERFA correspondant au centre DREAL de votre région avec les pièces
    justificatives exigées. Celles-ci concernant notamment les preuves de l’exercice de
    votre activité de commissionnaire de transport.
  </p>
  <p>
    En cas de validité de votre demande, votre capacité de transport vous serait alors
    remise via votre préfecture de région.
  </p>
  <h4>Obtenir sa capacité professionnelle par l’équivalence de diplôme</h4>
  <p>
    Certains diplômes – sans expérience professionnelle – peuvent là encore vous permettre
    d’accéder à la capacité transport poids lourd sans avoir à passer l’examen écrit. Tout
    diplôme spécialisé dans le transport routier poids lourd est alors susceptible d’être
    désigné par une équivalence de diplôme.
  </p>
  <p>
    On peut citer : Le BTS <b>Transport</b>, BTS <b>Transport</b> et prestations
    logistiques, DUT Gestion logistique et <b>transport</b> et de diplômes supérieurs du
    <b>transport</b> etc.
  </p>
  <p>
    Là encore, un Cerfa sera de rigueur afin d’adresser à la DREAL l’équivalence de votre
    diplôme de sorte que vous puissiez obtenir votre capacité professionnelle par
    dérogation
  </p>
</section>
