<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Comment devenir un gestionnaire de transport ?</h1>
  <p>
    Dans le domaine du transport, Il n’y a évidemment pas que les conducteurs qui puissent
    travailler dans une entreprise de transport. En effet, les métiers liés à la
    logistique concernent de très nombreux profils dont, notamment des métiers liés à la
    gestion dans le milieu du transport de marchandises.
  </p>
  <p>
    Afin de savoir comment devenir un gestionnaire de transport, il est préférable de tout
    connaître de ce métier aussi fascinant d’exigeant, cela, afin d’entamer ensuite les
    démarches nécessaires pour accéder à la capacité professionnelle relative au statut de
    gestionnaire de transport.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h2>Gestionnaire de transport : la fiche métier</h2>
  <p>
    Pour connaître tout de ce métier de gestion dans le milieu du transport de
    marchandises, vous prendrez alors connaissance des missions d’un gestionnaire de
    transport, de ses aptitudes mais aussi de sa rémunération.
  </p>
  <h3>Présentation du métier de gestionnaire de transport</h3>
  <p>
    Un gestionnaire de transport exerce sa charge dans le secteur du transport public
    routier. Afin de pouvoir être recruté et mener à bien les missions qui seront
    attendues de lui, ce même gestionnaire transport se devra en premier lieu d’accéder à
    la capacité professionnelle attestant de ses capacités et compétences en matière de
    gestion.
  </p>
  <p>
    C’est à lui en effet que revient la responsabilité d’encadrer et de gérer toutes les
    activités de transport d’une entreprise donnée.
  </p>
  <h4>Les conditions d’accès au métier de gestionnaire de transport</h4>
  <p>
    En tout premier lieu, un gestionnaire transport se devra d’être attestataire de
    capacité professionnelle. Cette condition est requise par la loi s’il souhaite exercer
    ce métier particulier.
  </p>
  <p>
    Aussi, pour pleinement s’adonner à son activité professionnelle, celui-ci se devra de
    bénéficier de délégations de pouvoirs et de signature de sorte à en faire usage au
    profit de l’entreprise de transport qui le recrute. À ce titre, il se devra d’avoir un
    lien effectif et contractuel avec ladite entreprise de transport et être rémunéré par
    cette dernière moyennant les missions effectuées pour son compte.
  </p>
  <h3>Les missions d’un gestionnaire de transport</h3>
  <p>
    Le contrat susmentionné, dans ses termes, se devra de préciser les attributions
    exactes du gestionnaire afin de préciser quelles seront ses responsabilités exactes au
    sein de l’entreprise de transport pour laquelle il sera amené à travailler. Ces
    responsabilités sont plurielles et se subdivisent en de nombreuses missions liées à la
    gestion.
  </p>
  <p>
    En premier lieu, c’est à lui que reviendra la responsabilité d’entretenir les
    véhicules concernés par le transport de marchandise. Les conducteurs, en effet, ne
    sont pas responsables de l’entretien de celui-ci et dépendent donc du gestionnaire de
    transport afin de s’assurer que leur outil de travail soit parfaitement fonctionnel.
  </p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/250327/Livreur-ind%C3%A9pendant-grand-volume-colis-expedi%C3%A9s.png?access_token=223bf51f-20a7-4c42-89d3-39befbbf5c6c"
    title="Comment devenir gestionnaire de transport ?"
    width="500"
    height="500"
    alt="gestionnaire de transport"
  />
  <p>
    C’est aussi à lui que reviendra la tâche de vérifier tous les contrats et les
    documents liés à l’activité de transport exercée. Cela, sans compter la gestion de la
    comptabilité ou encore le fait de devoir affecter une mission aux conducteurs qui
    travailleront sous ses ordres.
  </p>
  <p>
    En plus de l’entretien des véhicules, il sera tenu de s’assurer du bon respect des
    normes et des procédures liées aux questions de sécurité dans l’entreprise de sorte à
    prévenir des accidents. Son rôle dans une entreprise de transport, est central au bon
    déroulement des activités de transport de marchandises.
  </p>
  <p>
    Un gestionnaire transport peut exercer son métier en dehors du département où sont
    affectés les conducteurs. Le cas échéant, il se devra alors de rapporter les preuves
    qu’il a à sa disposition tous les outils nécessaires au bon déroulement de son
    activité professionnelle. Cela, afin que la liaison ne soit jamais perdue avec
    l’entreprise de transport dont il dépend.
  </p>

  <h3>La question de la délégation de pouvoirs et de signature</h3>
  <p>
    En tant que chargé de gestion ayant notamment à sa charge les contrats de l’entreprise
    de transport dont il dépend, le gestionnaire de transport se devra de bénéficier de
    pouvoirs l’habilitant à contracter pour l’entreprise. Par conséquent, ses employeurs
    doivent explicitement stipuler dans son contrat que des pouvoirs de signature lui sont
    délégués. Au gestionnaire par la suite d’en assumer la pleine responsabilité.
  </p>
  <h3>Le salaire d’un gestionnaire de transport</h3>
  <p>
    Du fait de ses attributions professionnelles, du nombre de ses responsabilités et de
    sa position dans l’entreprise qui l’a recruté, un gestionnaire transport occupe un
    emploi de cadre au regard de la convention collective Transport. Ceci considéré, sa
    rémunération se devra d’être exactement appropriée à son statut.
  </p>
  <p>
    Aussi, le salaire média d’un gestionnaire de transport en France varie entre 2000 et
    3000 euros mensuels selon la taille de l’entreprise de transport pour laquelle il
    travaille. Un salaire d’entrée est généralement estimé à 1500 euros, celui-ci étant
    susceptible d’évoluer au gré de l’expérience acquise dans le domaine logistique.
  </p>
  <h2>
    Quelle est la différence entre un gestionnaire de transport externe et interne ?
  </h2>
  <p>
    Du fait qu’on lui ait délégué un pouvoir de signature, un gestionnaire transport est
    donc responsable pénalement des contrats pour lesquels il s’engage. Il peut alors
    exercer cette responsabilité pénale en tant que gestionnaire de transport interne ou
    gestionnaire de transport externe.
  </p>
  <h3>Les gestionnaires de transport interne</h3>
  <p>
    Il s’agit du cas le plus classique. Un gestionnaire interne est un salarié d’une
    entreprise de transport et de logistique occupant une activité de cadre chargé de
    gestion. Puisqu’il est salarié et n’a aucun pouvoir décisionnaire, la direction,
    statutairement, s’engage à lui déléguer un pouvoir de signature pour le compte de
    l’entreprise pour laquelle il travaille.
  </p>
  <h3>Le gestionnaire de transport externe</h3>
  <p>
    Un gestionnaire externe, quant à lui, est un statut officiel créé en 2012 afin de
    prévenir d’activités illégales relatives aux métiers du transport routier. En effet,
    certains gestionnaires louaient leur
    <a href="/blog/a-quoi-sert-l-attestation-de-capacite-en-transport-leger"
      >capacité professionnelle</a
    >
    à d’autres n’ayant pas les compétences pour exercer ce métier.
  </p>
  <p>
    Un attestataire de capacité externe, de ce fait, agit non pas comme un salarié mais un
    <a href="/blog/louer-sa-capacite-de-transport-est-ce-possible"
      >prestataire extérieur à l’entreprise de transport qui fait appel à ses services</a
    >. Le gestionnaire externe, de ce fait, agit donc à son compte.
  </p>
  <h2>Comment devenir un gestionnaire de transport ?</h2>
  <p>
    Au-delà de la fiche métier, devenir gestionnaire de transport suppose de devoir
    respecter diverses conditions préalables avant d’être occupé. L’une d’entre elles, la
    plus essentielle, se rapporte à l’attestation de capacité professionnelle ; condition
    sine qua non de l’exercice de cette activité professionnelle.
  </p>
  <h3>Les conditions à remplir pour devenir gestionnaire de transport</h3>
  <p>
    L’attestation de capacité d’un gestionnaire routier a pour intitulé exact « Capacité
    professionnelle de gestionnaire et de commissionnaire de transport ». Cette capacité
    professionnelle est alors décernée une fois par an au terme d’un examen.
  </p>
  <p>
    Cet examen sera particulièrement exigeant en ce sens où il concernera de très nombreux
    domaines allant bien au-delà du cadre routier. Un gestionnaire transport, pour être
    efficace dans ces attributions, sera ainsi évalué sur les matières suivantes :
  </p>
  <ul>
    <li>- Le droit civil</li>
    <li>- Le droit commercial</li>
    <li>- Le droit fiscal</li>
    <li>- Le droit des sociétés</li>
    <li>- La gestion commerciale et financière</li>
    <li>- L’accès au marché</li>
    <li>- Les normes d’exploitation techniques</li>
    <li>- La sécurité routière</li>
  </ul>
  <p>
    Il va de soi, au regard de tous ces domaines de compétence, qu’une
    <a href="/attestation-transport-leger-marchandises">formation continue</a> en ligne
    telle que <a href="/qui-sommes-nous">Digimoov</a> vous sera alors indispensable pour
    réussir un pareil examen. De telles connaissances ne sauraient s’étudier
    superficiellement sans l’aide d’une formation ayant justement été envisagée pour vous
    préparer à cet examen spécifique.
  </p>
  <h3>Obtenir la capacité de transport par équivalence</h3>
  <p>
    L’examen n’est pas le seul moyen pour devenir attestataire de capacité de transport de
    marchandises, même s’il reste celui étant privilégié par la vaste majorité des
    candidats. Il est en effet permis d’obtenir cette capacité professionnelle par
    équivalence de diplôme. C’est-à-dire, en ayant déjà souscrit à une formation dont les
    compétences acquises sont identiques à celles évaluées par l’examen.
  </p>
  <p>
    Tous les diplômes de l’enseignement supérieur concernés par cette équivalence auront
    été définis par l’arrêté du 21 décembre 2015. Si vous répondez aux critères
    d’attribution retenus, il vous faudra envoyer un duplicata de votre diplôme concerné
    par l’équivalent ainsi qu’une pièce d’identité valide et une photo récente à la DREAL
    de votre région de sorteque votre capacité professionnelle puisse être conçue en
    conséquence.
  </p>
  <h3>
    Les autres cas permettant d’obtenir la capacité professionnelle de gestionnaire et de
    commissionnaire de transport :
  </h3>
  <p>
    En dehors de l’équivalence de diplôme, il est aussi possible d’accéder à l’attestation
    de capacité de gestionnaire de transport grâce à l’exercice d’une activité
    professionnelle préalable. Celle-ci se devra alors de remplir les mêmes attributions
    que les missions d’un gestionnaire de transport.
  </p>
  <p>
    Ces professions sont nombreuses et répondent à des critères propres aux dates
    d’exercice de celles-ci. Toutes les informations nécessaires sont trouvables dans les
    articles
    <a
      href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000023086525/LEGISCTA000023069569/#LEGISCTA000023085463"
      >R. 1422-11 à R. 1422-14-1 du code des transports ou bien encore les articles R.
      1422-15 à R. 1422-18</a
    >
    du code des transports là encore.
  </p>
  <p>
    Si vous remplissez les conditions d’admission, il vous faudra fournir les preuves de
    vos états de service à la DREAL de votre région ainsi qu’un justificatif d’identité et
    d’une photo récente.
  </p>
  <h3>L’actualisation de la formation gestionnaire transport</h3>
  <p>
    Une fois votre capacité professionnelle obtenue, vous ne devrez pas vous reposer sur
    vos lauriers. Car en effet, si vous êtes attestataire de capacité depuis plus de 5 ans
    sans avoir exercé en tant que gestionnaire de transport en entreprise durant ce délai,
    vous serez alors tenu de souscrire à une formation dans un centre agréé de sorte à
    mettre à jour vos connaissances.
  </p>
  <p>
    Le droit et les méthodes de gestion, en effet, évoluent constamment et nécessiteront
    que vous vous adaptiez aux nouvelles méthodes en vigueur. Cela, de sorte à pouvoir
    exercer votre activité en respectant parfaitement la loi et ce qui sera attendu de
    vous d’une entreprise de transport routier.
  </p>
</section>
