<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Transport de marchandises : les différents modes de fret</h1>
  <p>
    Le
    <a href="/blog/comment-devenir-transporteur-routier"
      >transport routier de marchandises</a
    >
    ou <b>fret</b> est une activité commerciale réglementée qui consiste à acheminer des
    produits et des articles dans un pays à l’aide de différents
    <b>moyens de transport</b>. Cela peut se faire par voie routière, maritime,
    ferroviaire ou aérienne. Afin de devenir <b>transporteur</b>, il est indispensable de
    se documenter sur les types de fret possibles. Quels sont les différents modes de
    transport de marchandises ?
  </p>
  <h2>Fret : quelle est son importance ?</h2>
  <p>
    Avant de découvrir les différents moyens utilisés dans l’acheminement des biens de
    consommation, il est toujours préférable d’en savoir plus sur cette pratique
    économique. Il s’agit en effet d’une activité régie par différentes lois, que ce soit
    dans un pays ou à l’international. Le transport de marchandises a une importance
    capitale dans l’économie d’un pays. Sans cette pratique, le commerce que nous
    connaissons à l’heure actuelle n’aurait pas eu lieu.
  </p>
  <p>
    Le fret a également une place à part entière dans l’évolution d’une civilisation.
    C’est par exemple à travers l’acheminement des produits que s’est développée
    l’aviation, le <b>transport maritime</b> et le <b>transport ferroviaire</b>.
    Désormais, différents types de véhicule, d’avions, de navires et de trains ont vu le
    jour afin de satisfaire les demandes des clients dans tout le monde entier.
  </p>
  <h2>Quels sont les différents types de transport ?</h2>
  <p>
    Il est possible d’acheminer des biens et des produits par avion, par bateau, par train
    ou encore, dans des véhicules motorisés. Pour certains envois dans des pays éloignés,
    il est possible d’opter pour le transport combiné. Il s’agit d’une méthode qui utilise
    successivement différents moyens de locomotion afin de livrer un colis.
  </p>
  <h3>Transport routier de marchandises</h3>
  <p>
    Pour le réseau routier, il existe le transport lourd de marchandises et le transport
    léger de marchandises. Pour devenir acteur dans ces deux moyens d’expédition, vous
    devez obtenir la capacité de transport adéquate.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h3>Transport lourd de marchandises</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/285722/Transport-lourd-marchandise.png?access_token=1107f14c-d50d-4d02-9163-e581cc3cc97f"
    width="500"
    height="400"
    alt="Transport lourd de marchandises"
  />

  <p>
    Il s’agit d’une activité à titre onéreux qui permet le transport de différentes
    marchandises à travers un véhicule d’un PTAC (poids total autorisé en charge) de plus
    de 3,5 tonnes. Afin de travailler dans ce secteur, il est nécessaire d’avoir une
    capacité de transport lourd de marchandises. Pour ce faire, vous devez réussir un
    examen annuel. Il est possible de suivre une formation afin de mieux vous y préparer,
    mais cela est fortement conseillé.
  </p>
  <p>Cet examen est d’ailleurs dispensé si vous :</p>
  <ul>
    <li>Détenez un diplôme de niveau 3 avec des enseignements de gestion de transport</li>
    <li>
      Avez géré une entreprise de <b>transport routier de marchandises</b> dans l’espace
      économique européen pendant une période de 10 ans minimum avant le 4 décembre 2009.
    </li>
  </ul>
  <p>
    Une fois que votre demande est recevable, vous pourrez alors obtenir une attestation
    de capacité de transport lourd de marchandises de la part de la DREAL (direction
    régionale de l’environnement, de l’aménagement et du logement). Dans le cas contraire,
    il vous faudra passer l’examen national annuel.
  </p>
  <h3>Transport léger de marchandises</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/285723/Transport-l%C3%A9ger-marchandise.png?access_token=913ebccd-015f-4684-8a76-07b5674ce670"
    width="500"
    height="400"
    alt="Transport léger de marchandises"
  />
  <p>
    Le transport léger de marchandises consiste à transporter par le réseau routier, des
    marchandises à travers un véhicule dont le PTAC est inférieur à 3,5 tonnes. Il englobe
    également la circulation des deux roues et des triporteurs pour la livraison.
  </p>
  <p>
    Afin de travailler dans ce domaine et devenir livreur indépendant, il est nécessaire
    d’obtenir la capacité de transport léger de marchandises. Elle se fait après avoir :
  </p>
  <ul>
    <li>
      Effectué une formation obligatoire de 102 heures dans un centre de formation agréé.
    </li>
    <li>
      Réussi à l’<a href="/examen-capacite-transport-marchandises">examen final de 3 h</a
      >.
    </li>
  </ul>
  <p>
    En cas d’échec, vous aurez droit à réserver jusqu’à deux tentatives de repassage
    d’examen. Vous aurez droit à une révision avant l’examen, mais en cas d’un troisième
    échec, le candidat doit
    <a href="/examen-capacite-transport-marchandises#nouvelle-tentative"
      >refaire les 102 heures de formation</a
    >.
  </p>
  <p>
    Il existe quelques profils qui sont cependant dispensés de cet examen. Vous pouvez
    faire une demande de capacité professionnelle en transport léger si vous :
  </p>
  <ul>
    <li>
      Êtes titulaire d’un baccalauréat professionnel Exploitation des transports ou un
      baccalauréat professionnel transport.
    </li>
    <li>
      Avez géré de manière continue une entreprise de transport public routier de
      marchandises pendant au moins deux ans et que vous n’avez pas cessé cette activité
      depuis plus de dix ans.
    </li>
  </ul>
  <p>
    Tout comme pour la capacité professionnelle de transport poids-lourds, si votre
    demande est acceptée, vous obtiendrez votre autorisation venant de la DREAL de votre
    région.
  </p>
  <h3>Transport maritime</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/285725/Transport-maritime.png?access_token=1d48c97c-5ac7-487c-ad95-4f7b0d596479"
    width="500"
    height="400"
    alt="Transport maritime"
  />
  <p>
    Le transport maritime résume l’ensemble des activités consistant à acheminer des
    marchandises ou des personnes par voie nautique. Généralement, il s’agit d’un fret
    international, sauf pour les déplacements entre les côtes d’un même pays. Les
    marchandises sont principalement transportées dans des conteneurs qui s’empilent les
    uns sur les autres.
  </p>
  <p>
    Ce moyen de transport profite aux marchands puisqu’il limite les risques de casse. De
    plus, le coût est assez bas, comparé aux autres frets. Et par-dessus tout, il a
    l’avantage de permettre aux commissionnaires de transport d’accumuler plusieurs tonnes
    de marchandises en un seul envoi.
  </p>
  <p>
    Pour travailler dans ce secteur, il est nécessaire de devenir agent transitaire. Il
    est nécessaire de suivre des formations spéciales dans le domaine de la
    <b>logistique</b> et du transport. Vous devez avoir au moins un Bac pro dans ces
    disciplines.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h3>Transport aérien</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/285724/Transport-a%C3%A9rien.png?access_token=7c9182ad-dcc7-4e35-aeb5-84b4487dfc7b"
    width="500"
    height="400"
    alt="Transport aérien"
  />
  <p>
    Il s’agit de l’ensemble de toute activité économique qui s’effectue à travers la voie
    aérienne. Cela peut inclure aussi bien les avions, les cargos ou encore les
    hélicoptères. Ce type de transport permet d’acheminer des produits ou des biens dans
    différents pays, en moins de temps que tous les autres moyens de locomotion.
  </p>
  <p>
    Bien évidemment, cette vitesse a un coût et le <b>transport aérien</b> fait partie des
    moyens les plus onéreux du fait de l’utilisation du kérosène. Il sert principalement
    de moyen de transport pour les voyageurs qui souhaitent visiter des pays, mais peut
    également transiter des produits et des biens.
  </p>
  <p>
    Généralement, les transporteurs aériens sont des personnes qui détiennent un CAP
    d’entreposage et de messagerie. Pour certains postes, il est nécessaire d’avoir un Bac
    pro en transport. Plusieurs universités proposent d’ailleurs des formations pour
    accéder à ce métier.
  </p>
  <h3>Transport ferroviaire</h3>
  <p>
    Il s’agit de l’un des <b>transports</b> terrestres qui s’effectuent à travers les
    chemins de fer. Il peut également être rapide et s’avère moins polluant que les autres
    moyens de transport. Le fret par voie ferrée utilise également des containers qui
    peuvent être acheminés sur plusieurs wagons. Il est indispensable d’avoir le
    connaissement de chemin de fer. Il s’agit d’un document qui relate les différentes
    informations sur la marchandise et la destination.
  </p>
  <p>
    Pour devenir conducteur de train, il est nécessaire d’avoir un CAP en
    électrotechnique, en mécanique, ou en électronique. Vous pouvez également détenir un
    bac S, un bac techno STI2D ou un bac pro MELEC ou MSMA. Généralement, vous serez
    accompagné par l’entreprise de transport qui vous embauche à travers une formation
    afin de vous familiariser avec l’environnement de travail.
  </p>
  <h2>Types de services de transport de marchandises</h2>
  <p>
    Le travail d’un <b>commissionnaire de transport</b> varie en fonction des activités de
    l’entreprise dans laquelle il est embauché. Si vous souhaitez créer votre propre
    entreprise, il est nécessaire de distinguer le type de service que vous souhaitez
    procurer à travers votre <b>contrat de transport</b>.
  </p>
  <h3>Le transport pour compte propre</h3>
  <p>
    Lorsque vous effectuez un transport à des fins non lucratives et non commerciales, il
    s’agit entre autres d’un transport pour compte propre. Pour être plus clair, ce type
    de service englobe tous les déplacements qui s’effectuent au sein d’une entreprise
    lorsque ceux-ci sont une activité accessoire. Il peut s’agir d’une personne physique
    ou morale.
  </p>
  <p>
    Aussi, les véhicules utilisés sont la propriété de l’entreprise ou sont loués au nom
    de l’entreprise sur du long terme. Les conducteurs ne sont nul autre que les employés
    de la société. Le transport de marchandises pour compte propre est donc le transport
    des denrées, des produits ou des biens d’une entreprise dans ses propres véhicules.
  </p>
  <h3>Le transport pour compte d’autrui</h3>
  <p>
    Contrairement au type de service précédemment cité, le transport pour compte d’autrui
    est une prestation qu’une entreprise ou une entité propose à un client autre
    qu’elle-même. Le service est alors payant et donne droit à un contrat de transport en
    bonne et due forme.
  </p>
  <p>
    Le transport de marchandises pour compte d’autrui est donc un service qui concerne
    spécifiquement l’acheminement des biens et des produits. Cela peut se faire par
    l’intermédiaire d’un commissionnaire de transport qui se charge d’organiser l’ensemble
    des déplacements ou directement auprès de la société de transport de marchandises.
  </p>
  <p>
    Tous ces modes de transport demandent une bonne connaissance en logistique et de
    solides compétences physiques. Que cela soit pour les trains, les avions, les navires,
    les poids lourds ou encore, les voitures de livraison, vous devez être apte
    physiquement et mentalement. La profession de transporteur requiert différents
    diplômes, mais il vous est possible, dans certains cas de suivre des formations
    spécialisées afin d’obtenir une autorisation d’exercer.
  </p>
  <p>
    Si vous souhaitez créer votre propre entreprise de transport routier de marchandises,
    vous devez, en plus d’avoir votre capacité, effectuer différentes étapes comme la
    justification de la capacité financière, l’inscription auprès du registre des
    transports et l’obtention d’une licence de transport intérieur de la part de la
    <a
      href="https://fr.wikipedia.org/wiki/Https://fr.wikipedia.org/wiki/Direction_r%C3%A9gionale_de_l%27Environnement,_de_l%27Am%C3%A9nagement_et_du_LogementDirection_r%C3%A9gionale_de_l%27Environnement,_de_l%27Am%C3%A9nagement_et_du_Logement"
      >DREAL</a
    >
    ou de la DREA.
  </p>
</section>
