<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Comment obtenir votre Capacité de Transport Léger ?</h1>
  <p>
    Souhaitez-vous créer une <b>société de transport dit "léger" de marchandises</b>,
    c’est-à-dire de <b>moins de 3,5 tonnes</b> de poids total autorisé en charge (PTAC) ?
    Une attestation d’aptitude professionnelle est requise, en plus de la détention d’un
    permis de conduire.
  </p>
  <p>
    Pour obtenir cette attestation, vous avez besoin de suivre une
    <b>formation capacité de transport léger</b> en vue de l’obtention de ce certificat.
    Mais alors, comment faire pour passer la capacité de transport ?
  </p>
  <h2>Qu’est-ce que l’attestation de capacité de transport ?</h2>
  <img
    class="alignright wp-image-1365 float-right"
    data-src="/digimoov_website_templates/static/img/Livreur%20ind%C3%A9pendant.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Livreur_indépendant.jpg"
    alt="livreur indépendant grace à la capacité de transport"
    width="346"
    height="301"
    style="font-size: 18px"
    src="/digimoov_website_templates/static/img/Livreur%20ind%C3%A9pendant.webp"
  />
  <p>
    L’attestation de formation capacité de transport léger est un document délivré aux
    professionnels qui souhaitent exercer des activités dans le monde du
    <b>transport routier</b> de voyageurs et de marchandises. Cet élément est
    indispensable pour la personne qui se charge de la direction effective et permanente
    de la société concernée. Il vient s’ajouter ainsi aux formalités de
    <a
      href="/blog/preparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport"
      >création d’entreprise de transport</a
    >.
  </p>
  <p>
    L’attestation de formation
    <a href="/blog/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises"
      >capacité de transport léger</a
    >
    est offerte aux commissionnaires de transport et aux transporteurs. Elle concerne ceux
    qui exploitent des véhicules utilitaires (camionnette, fourgonnette, etc.) dédiés à
    transporter des personnes ou des marchandises, des véhicules industriels avec
    conducteur à louer, des véhicules de courses, de messagerie, de transport de petits
    colis, etc. Même pour une <b>société de livraison</b> qui emploie un livreur en
    scooter, cette licence est obligatoire pour exercer. Cette dernière est le plus
    souvent octroyée après la formation capacité de transport léger de marchandises.
  </p>
  <p>
    Il est possible d'être dispensé de la formation capacité de transport léger de
    personnes ou de marchandises si vous possédez un
    <b>Baccalauréat professionnel Exploitation des transports ou Transport</b>. Sinon, il
    faut justifier d’une gestion en continu d'une société de transport public routier de
    marchandises durant au moins deux ans, sans avoir arrêté l’activité depuis plus de 10
    ans.
  </p>
  <h2>Comment obtenir une capacité de transport ?</h2>
  <p>Pour obtenir ce genre de certificat professionnel, il existe trois voies :</p>
  <ul>
    <li>Le passage d’un examen suite à la formation capacité de transport léger</li>
    <li>La validation d’une expérience professionnelle</li>
    <li>
      <a
        href="https://www.driea.ile-de-france.developpement-durable.gouv.fr/demande-d-attestation-de-capacite-professionnelle-a5498.html"
        >L'équivalence de diplôme</a
      >
    </li>
    <p>
      Le futur expert doit donc remplir l’une de ces conditions avant de faire la demande
      d’attestation. Une fois que cette dernière est validée, il aura le droit de
      <b>créer son entreprise de transport de marchandises</b> ou de voyageurs.
    </p>
    <p>
      Avant de procéder à l’examen, il faut se préparer en effectuant une formation
      capacité de transport léger <b>auprès d’un centre agréé</b>, d’une durée de
      <b>105 heures</b> réparties généralement sur 3 semaines consécutives ou pouvant
      s'étaler sur une période <b>allant jusqu'à la date de l'examen</b>. Vous pouvez
      demander à la DREAL (Direction régionale de l’Environnement, de l’Aménagement et du
      Logement) de votre région quels sont les organismes organismes agréés de proximité.
    </p>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h2>En quoi consiste la formation capacité de transport léger avec Digimoov ?</h2>
  <p>
    La formation capacité de transport léger consiste à transmettre les
    <b>connaissances nécessaires</b> aux personnes physiques qui veulent intégrer ce
    domaine. Elle permet d’appréhender l<b
      >es différentes dispositions et obligations à respecter en termes d’activité de
      transporteur routier de marchandises</b
    >
    qui utilise des véhicules légers de -3,5 T de PTAC. Cette formation respecte les
    exigences du référentiel de l’examen.
  </p>
  <h3>Les différents programmes de la formation capacité de transport léger</h3>
  <p>
    Comme il s’agit d’une <b>formation complète</b> permettant de réussir en tant que
    professionnel dans le secteur de transport routier de marchandises, l’apprenant doit
    suivre différents programmes :
  </p>
  <h4>L’entreprise et le droit civil et commercial</h4>
  <p>Ce module consiste à connaître :</p>
  <ul>
    <li>
      Les différentes <b>formes juridiques</b> (travailleur indépendant, société en nom
      collectif, SARL, SAS, EIRL…) ainsi que leurs <b>avantages</b> et
      <b>inconvénients </b>
    </li>
    <li>
      Les <b>moyens de couverture des créances</b> correspondant aux statuts du gérant
    </li>
    <li>
      Les <b>obligations</b> liées à la création d’une entreprise et à l’activité
      commerciale, notamment en ce qui concerne la <b>facturation</b> et le délai de
      paiement
    </li>
    <li>Les <b>effets de commerce</b> et leur fonctionnement</li>
    <li>Le tribunal de commerce</li>
    <li>Les différents types de <b>garanties</b> pour les <b>sûretés du prêteur</b></li>
    <li>
      Les <b>différentes juridictions</b> avec leur champ d’intervention et leur
      compétence territoriale, etc.
    </li>
  </ul>
  <p>
    Les connaissances acquises durant ce programme de formation capacité de transport
    léger permettent de distinguer :
  </p>
  <ul>
    <li>Les <b>personnes physiques</b> des <b>personnes morales</b></li>
    <li>Les <b>gages avec dépossession</b> des <b>gages sans dépossession</b></li>
    <li>Les difficultés qu’une <b>entreprise de transport peut rencontrer</b></li>
    <li>Les organismes de conseils, leurs <b>rôles</b> et <b>missions</b></li>
    <li>Les <b>procédures de sauvegarde possibles</b>, etc.</li>
  </ul>
  <h4>L’entreprise et son activité commerciale</h4>
  <p>Cette unité fournit des connaissances pour :</p>
  <ul>
    <li>Élaborer une <b>étude de marché</b></li>
    <li>
      Définir une politique de <b>prix</b>, de <b>produit</b> et de <b>distribution</b>
    </li>
    <li>
      Maîtriser correctement les différents <b>outils de prospection commerciale</b> (les
      visites des clients, la communication publicitaire, la participation à des
      manifestations commerciales)
    </li>
  </ul>
  <h4>L’entreprise et le cadre réglementaire de l’activité de transport</h4>
  <p>Cette phase sert à identifier :</p>
  <ul>
    <li>Les<b> conditions d’accès</b> à la profession de transporteur à respecter</li>
    <li>
      Les différents <b>organismes</b> administratifs, et professionnels consultatifs
      intervenant dans le domaine
    </li>
    <li>L’organisation du métier</li>
    <li>Les conditions de perte de l’honorabilité</li>
    <li>Les titres d’exploitation</li>
    <li>
      Les <b>textes législatifs</b> (contrats en usage, etc.), réglementaires et le
      protocole de sécurité,
    </li>
    <li>Les assurances obligatoires</li>
    <li>
      Les sanctions administratives ou pénales occasionnées par une
      <b>infraction à la réglementation </b>
    </li>
    <li>La disposition financière de la société</li>
    <li>
      Les limitations de <b>responsabilité des transporteurs</b> et les
      <b>conditions d’exonération</b>
      de responsabilité (retards de livraison, dommages matériels)
    </li>
    <li>
      Les documents liés aux services, aux conducteurs et aux véhicules, ainsi qu’aux
      marchandises à présenter en <b>cas de contrôle </b>
    </li>
  </ul>
  <h4>L’entreprise et son activité financière</h4>
  <p>Ce module explique toutes les <b>notions nécessaires</b> pour :</p>
  <ul>
    <li>
      Évaluer le <b>coût de revient</b> et la notion de marge, en identifiant les charges
      requises
    </li>
    <li>
      Réaliser le budget prévisionnel, le
      <b>besoin de financement et en fonds de roulement </b>
    </li>
    <li>Effectuer l’<b>analyse financière</b> et l’<b>analyse économique</b></li>
    <li>
      Établir le <b>plan de financement</b> : apport de la société, moyens de financement,
      emprunt nécessaire, etc.
    </li>
    <li>Établir un plan de remboursement</li>
    <li>
      Connaître les éléments de la trésorerie à prendre en compte pour établir un
      <b>budget</b> <b>prévisionnel</b>, l’interprétation du <b>FRNG</b> et du <b>BFR </b>
    </li>
    <li>Connaître les différentes méthodes d’<b>amortissement</b></li>
    <li>
      Réaliser les comptes de fin d’exercice, les notions d’<b>actif</b> et de
      <b>passif</b>, les notions de <b>charges et de produits</b> à inclure dans le
      <b>bilan </b>
    </li>
    <li>
      Connaître la <b>fiscalité</b> : le système de la <b>TVA applicable</b> dans les
      transports de marchandises et les processus associés
    </li>
    <li>Connaître les modes de <b>calcul de l’impôt sur les sociétés</b></li>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h4>L’entreprise et ses salariés</h4>
  <p>Ce programme de la formation capacité de transport léger instruit :</p>
  <ul>
    <li>
      Les principales sources de la <b>réglementation sociale</b> adéquate à la profession
    </li>
    <li>
      Les <b>formalités d’embauche</b>, les règlements intérieurs, le
      <b>Code du travail</b>, la convention collective, les différents contrats et accords
      d’entreprise, liés à l’embauche
    </li>
    <li>Les instances professionnelles</li>
    <li>
      Les durées légales et maximales du travail (horaires journaliers, hebdomadaires,
      mensuels ; repos), les possibilités de diminution du repos, l’indemnité de congés
      payés, les compléments de salaires (prime de repas, déplacement) et la
      <b>rémunération </b>
    </li>
    <li>
      Les méthodes de décompte des <b>heures supplémentaires</b>, les règles relatives à
      la majoration ou au travail de nuit et les compensations obligatoires en repos
    </li>
    <li>Les <b>risques et sanctions</b> en cas de travail dissimulé</li>
    <li>
      Les <b>droits et obligations mutuels</b> des deux parties liés à tous les contrats
      (période d’essai, etc.),
    </li>
    <li>
      Les droits et obligations mutuels des deux parties
      <b>en cas de rupture conventionnelle </b>
    </li>
    <li>
      Les responsabilités et le fonctionnement des organisations sociales (sécurité
      sociale, Pôle emploi, CARCEPT, Urssaf)
    </li>
    <li>
      Les rôles de l’i<b>nspection du travail</b> et de la médecine du travail, ainsi que
      les obligations de la société envers ces organismes
    </li>
    <li>Les responsabilités en termes de <b>prévention des risques</b></li>
  </ul>
  <h4>L’entreprise et la sécurité</h4>
  <p>Ce module enseigne à l’apprenant :</p>
  <ul>
    <li>Le <b>code de la route</b></li>
    <li>Les techniques, les règles et les obligations de <b>chargement</b></li>
    <li>
      Les règles et protocoles de <b>sécurité</b> (le choix de la voiture adaptée aux
      besoins, l'entretien du véhicule ainsi que les visites techniques des véhicules de
      -3,5 T de PTAC et des motorisés de moins de quatre roues)
    </li>
    <li>Les <b>précautions</b> à prendre au niveau du garage et de l’atelier</li>
    <li>
      Les <b>consignes</b> de conduite et la <b>sensibilisation</b> du conducteur routier
      pour une conduite rationnelle (risques liés à la consommation de drogues, d’alcool
      et de médicaments avant de prendre le volant, réduction de la consommation de
      carburant, etc.)
    </li>
    <li>Le permis B</li>
  </ul>
  <h3>Comment passer l’examen ?</h3>
  <p>
    Tous les 60 jours, un examen national est organisé après la formation capacité de
    transport léger. Il comprend <b>deux épreuves</b> distinctes avec un questionnaire à
    choix multiples (<b>QCM</b>) et un test exigeant des <b>réponses rédigées</b> qui
    concerne la gestion et l’exploitation de l’entreprise. L’examen est ensuite
    <b>validé par la DREAL</b> afin d’obtenir l’attestation d’aptitude professionnelle de
    transport. En cas de réussite, le préfet de région vous octroie une attestation de fin
    de formation capacité de transport léger.
  </p>
  <h3>Comment valider une expérience professionnelle ?</h3>
  <p>
    Une expérience professionnelle peut être validée pour disposer d’une licence
    transporteur. Cela est possible lorsque le concerné est un transporteur spécifique
    ayant œuvré plus <b>de 2 ans</b> et n'ayant pas cessé cette activité depuis
    <b>plus de 10 ans</b>. Il faut qu'il ait été à un poste de direction au niveau d’une
    société de transport public routier de personnes ou de marchandises et que cette
    société soit inscrite dans le registre des transporteurs. Le candidat devra par
    ailleurs <b>prouver</b> devant une commission ses connaissances sur les obligations et
    les réglementations dans le domaine.
  </p>
  <h3>Comment obtenir la capacité de transport de personnes par équivalence ?</h3>
  <p>
    Il est possible d’obtenir un certificat équivalent à un diplôme de fin de formation
    capacité de transport léger. Vous devez à ce titre être titulaire d'un
    <b>BTS Transports</b>, d'un <b>BTS Transports et prestations logistiques</b>, d'un DUT
    Gestion logistique et transport ou encore d'un autre diplôme de l'enseignement
    supérieur concernant le transport.
  </p>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
