<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Comment obtenir votre Capacité de Transport Léger ?</h1>
  <p>
    Souhaitez-vous créer une société de transport dit "léger" de marchandises,
    c’est-à-dire de moins de 3,5 tonnes de poids total autorisé en charge (PTAC) ? Une
    attestation d’aptitude professionnelle est requise, en plus de la détention d’un
    permis de conduire.
  </p>
  <p>
    Pour obtenir cette attestation, vous avez besoin de suivre une formation capacité de
    transport léger en vue de l’obtention de ce certificat. Mais alors, comment faire pour
    passer la capacité de transport ?
  </p>
  <h2>Qu’est-ce que l’attestation de capacité de transport ?</h2>
  <img
    class="alignright wp-image-1365 float-right lazy"
    data-src="/digimoov_website_templates/static/img/Livreur%20ind%C3%A9pendant.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Livreur_indépendant.jpg"
    alt="livreur indépendant grace à la capacité de transport"
    width="346"
    height="301"
    style="font-size: 18px"
  />
  <p>
    L’attestation de formation capacité de transport léger est un document délivré aux
    professionnels qui souhaitent exercer des activités dans le monde du transport routier
    de voyageurs et de marchandises. Cet élément est indispensable pour la personne qui se
    charge de la direction effective et permanente de la société concernée. Il vient
    s’ajouter ainsi aux formalités de création d’entreprise de transport.
  </p>
  <p>
    L’attestation de formation capacité de transport léger est offerte aux
    commissionnaires de transport et aux transporteurs. Elle concerne ceux qui exploitent
    des véhicules utilitaires (camionnette, fourgonnette, etc.) dédiés à transporter des
    personnes ou des marchandises, des véhicules industriels avec conducteur à louer, des
    véhicules de courses, de messagerie, de transport de petits colis, etc. Même pour une
    société de livraison qui emploie un livreur en scooter, cette licence est obligatoire
    pour exercer. Cette dernière est le plus souvent octroyée après la formation capacité
    de transport léger de marchandises.
  </p>
  <p>
    Il est possible d'être dispensé de la formation capacité de transport léger de
    personnes ou de marchandises si vous possédez un Baccalauréat professionnel
    Exploitation des transports ou Transport. Sinon, il faut justifier d’une gestion en
    continu d'une société de transport public routier de marchandises durant au moins deux
    ans, sans avoir arrêté l’activité depuis plus de 10 ans.
  </p>
  <h2>Comment obtenir une capacité de transport ?</h2>
  <p>Pour obtenir ce genre de certificat professionnel, il existe trois voies :</p>
  <ul>
    <li>Le passage d’un examen suite à la formation capacité de transport léger</li>
    <li>La validation d’une expérience professionnelle</li>
    <li>L'équivalence de diplôme</li>
    <p>
      Le futur expert doit donc remplir l’une de ces conditions avant de faire la demande
      d’attestation. Une fois que cette dernière est validée, il aura le droit de créer
      son entreprise de transport de marchandises ou de voyageurs.
    </p>
    <p>
      Avant de procéder à l’examen, il faut se préparer en effectuant une formation
      capacité de transport léger auprès d’un centre agréé, d’une durée de 105 heures
      réparties généralement sur 3 semaines consécutives ou pouvant s'étaler sur une
      période allant jusqu'à la date de l'examen. Vous pouvez demander à la DREAL
      (Direction régionale de l’Environnement, de l’Aménagement et du Logement) de votre
      région quels sont les organismes organismes agréés de proximité.
    </p>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h2>En quoi consiste la formation capacité de transport léger avec Digimoov ?</h2>
  <p>
    La formation capacité de transport léger consiste à transmettre les connaissances
    nécessaires aux personnes physiques qui veulent intégrer ce domaine. Elle permet
    d’appréhender les différentes dispositions et obligations à respecter en termes
    d’activité de transporteur routier de marchandises qui utilise des véhicules légers de
    -3,5 T de PTAC. Cette formation respecte les exigences du référentiel de l’examen.
  </p>
  <h3>Les différents programmes de la formation capacité de transport léger</h3>
  <p>
    Comme il s’agit d’une formation complète permettant de réussir en tant que
    professionnel dans le secteur de transport routier de marchandises, l’apprenant doit
    suivre différents programmes :
  </p>
  <h4>L’entreprise et le droit civil et commercial</h4>
  <p>Ce module consiste à connaître :</p>
  <ul>
    <li>
      Les différentes formes juridiques (travailleur indépendant, société en nom
      collectif, SARL, SAS, EIRL…) ainsi que leurs avantages et inconvénients
    </li>
    <li>Les moyens de couverture des créances correspondant aux statuts du gérant</li>
    <li>
      Les obligations liées à la création d’une entreprise et à l’activité commerciale,
      notamment en ce qui concerne la facturation et le délai de paiement
    </li>
    <li>Les effets de commerce et leur fonctionnement</li>
    <li>Le tribunal de commerce</li>
    <li>Les différents types de garanties pour les sûretés du prêteur</li>
    <li>
      Les différentes juridictions avec leur champ d’intervention et leur compétence
      territoriale, etc.
    </li>
  </ul>
  <p>
    Les connaissances acquises durant ce programme de formation capacité de transport
    léger permettent de distinguer :
  </p>
  <ul>
    <li>Les personnes physiques des personnes morales</li>
    <li>Les gages avec dépossession des gages sans dépossession</li>
    <li>Les difficultés qu’une entreprise de transport peut rencontrer</li>
    <li>Les organismes de conseils, leurs rôles et missions</li>
    <li>Les procédures de sauvegarde possibles, etc.</li>
  </ul>
  <h4>L’entreprise et son activité commerciale</h4>
  <p>Cette unité fournit des connaissances pour :</p>
  <ul>
    <li>Élaborer une étude de marché</li>
    <li>Définir une politique de prix, de produit et de distribution</li>
    <li>
      Maîtriser correctement les différents outils de prospection commerciale (les visites
      des clients, la communication publicitaire, la participation à des manifestations
      commerciales)
    </li>
  </ul>
  <h4>L’entreprise et le cadre réglementaire de l’activité de transport</h4>
  <p>Cette phase sert à identifier :</p>
  <ul>
    <li>Les conditions d’accès à la profession de transporteur à respecter</li>
    <li>
      Les différents organismes administratifs, et professionnels consultatifs intervenant
      dans le domaine
    </li>
    <li>L’organisation du métier</li>
    <li>Les conditions de perte de l’honorabilité</li>
    <li>Les titres d’exploitation</li>
    <li>
      Les textes législatifs (contrats en usage, etc.), réglementaires et le protocole de
      sécurité,
    </li>
    <li>Les assurances obligatoires</li>
    <li>
      Les sanctions administratives ou pénales occasionnées par une infraction à la
      réglementation
    </li>
    <li>La disposition financière de la société</li>
    <li>
      Les limitations de responsabilité des transporteurs et les conditions d’exonération
      de responsabilité (retards de livraison, dommages matériels)
    </li>
    <li>
      Les documents liés aux services, aux conducteurs et aux véhicules, ainsi qu’aux
      marchandises à présenter en cas de contrôle
    </li>
  </ul>
  <h4>L’entreprise et son activité financière</h4>
  <p>Ce module explique toutes les notions nécessaires pour :</p>
  <ul>
    <li>
      Évaluer le coût de revient et la notion de marge, en identifiant les charges
      requises
    </li>
    <li>
      Réaliser le budget prévisionnel, le besoin de financement et en fonds de roulement
    </li>
    <li>Effectuer l’analyse financière et l’analyse économique</li>
    <li>
      Établir le plan de financement : apport de la société, moyens de financement,
      emprunt nécessaire, etc.
    </li>
    <li>Établir un plan de remboursement</li>
    <li>
      Connaître les éléments de la trésorerie à prendre en compte pour établir un budget
      prévisionnel, l’interprétation du FRNG et du BFR
    </li>
    <li>Connaître les différentes méthodes d’amortissement</li>
    <li>
      Réaliser les comptes de fin d’exercice, les notions d’actif et de passif, les
      notions de charges et de produits à inclure dans le bilan
    </li>
    <li>
      Connaître la fiscalité : le système de la TVA applicable dans les transports de
      marchandises et les processus associés
    </li>
    <li>Connaître les modes de calcul de l’impôt sur les sociétés</li>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h4>L’entreprise et ses salariés</h4>
  <p>Ce programme de la formation capacité de transport léger instruit :</p>
  <ul>
    <li>Les principales sources de la réglementation sociale adéquate à la profession</li>
    <li>
      Les formalités d’embauche, les règlements intérieurs, le Code du travail, la
      convention collective, les différents contrats et accords d’entreprise, liés à
      l’embauche
    </li>
    <li>Les instances professionnelles</li>
    <li>
      Les durées légales et maximales du travail (horaires journaliers, hebdomadaires,
      mensuels ; repos), les possibilités de diminution du repos, l’indemnité de congés
      payés, les compléments de salaires (prime de repas, déplacement) et la rémunération
    </li>
    <li>
      Les méthodes de décompte des heures supplémentaires, les règles relatives à la
      majoration ou au travail de nuit et les compensations obligatoires en repos
    </li>
    <li>Les risques et sanctions en cas de travail dissimulé</li>
    <li>
      Les droits et obligations mutuels des deux parties liés à tous les contrats (période
      d’essai, etc.),
    </li>
    <li>
      Les droits et obligations mutuels des deux parties en cas de rupture conventionnelle
    </li>
    <li>
      Les responsabilités et le fonctionnement des organisations sociales (sécurité
      sociale, Pôle emploi, CARCEPT, Urssaf)
    </li>
    <li>
      Les rôles de l’inspection du travail et de la médecine du travail, ainsi que les
      obligations de la société envers ces organismes
    </li>
    <li>Les responsabilités en termes de prévention des risques</li>
  </ul>
  <h4>L’entreprise et la sécurité</h4>
  <p>Ce module enseigne à l’apprenant :</p>
  <ul>
    <li>Le Code de la route</li>
    <li>Les techniques, les règles et les obligations de chargement</li>
    <li>
      Les règles et protocoles de sécurité (le choix de la voiture adaptée aux besoins,
      l'entretien du véhicule ainsi que les visites techniques des véhicules de -3,5 T de
      PTAC et des motorisés de moins de quatre roues)
    </li>
    <li>Les précautions à prendre au niveau du garage et de l’atelier</li>
    <li>
      Les consignes de conduite et la sensibilisation du conducteur routier pour une
      conduite rationnelle (risques liés à la consommation de drogues, d’alcool et de
      médicaments avant de prendre le volant, réduction de la consommation de carburant,
      etc.)
    </li>
    <li>Le permis B</li>
  </ul>
  <h3>Comment passer l’examen ?</h3>
  <p>
    Tous les 60 jours, un examen national est organisé après la formation capacité de
    transport léger. Il comprend deux épreuves distinctes avec un questionnaire à choix
    multiples (QCM) et un test exigeant des réponses rédigées qui concerne la gestion et
    l’exploitation de l’entreprise. L’examen est ensuite validé par la DREAL afin
    d’obtenir l’attestation d’aptitude professionnelle de transport. En cas de réussite,
    le préfet de région vous octroie une attestation de fin de formation capacité de
    transport léger.
  </p>
  <h3>Comment valider une expérience professionnelle ?</h3>
  <p>
    Une expérience professionnelle peut être validée pour disposer d’une licence
    transporteur. Cela est possible lorsque le concerné est un transporteur spécifique
    ayant œuvré plus de 2 ans et n'ayant pas cessé cette activité depuis plus de 10 ans.
    Il faut qu'il ait été à un poste de direction au niveau d’une société de transport
    public routier de personnes ou de marchandises et que cette société soit inscrite dans
    le registre des transporteurs. Le candidat devra par ailleurs prouver devant une
    commission ses connaissances sur les obligations et les réglementations dans le
    domaine.
  </p>
  <h3>Comment obtenir la capacité de transport de personnes par équivalence ?</h3>
  <p>
    Il est possible d’obtenir un certificat équivalent à un diplôme de fin de formation
    capacité de transport léger. Vous devez à ce titre être titulaire d'un BTS Transports,
    d'un BTS Transports et prestations logistiques, d'un DUT Gestion logistique et
    transport ou encore d'un autre diplôme de l'enseignement supérieur concernant le
    transport.
  </p>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
