<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <p>
    Tout <b>auto-entrepreneur</b> qui souhaite créer une
    <b>entreprise de transport</b> routier doit disposer d’une attestation de capacité
    professionnelle en transport routier. La question qui se pose est :
    <b>comment l’obtenir</b> ?
  </p>
  <p>
    Il y a trois façons de procéder à commencer par la demande d’équivalence de diplômes.
    C’est possible si vous êtes titulaire de baccalauréat professionnel
    <b>"Transport"</b> ou du baccalauréat professionnel
    <b>"Exploitation des transports"</b>. La validation d’une expérience professionnelle
    de 2 ans au moins au sein d’une entreprise de transport public routier, à condition de
    ne pas avoir cessé cette activité depuis plus de dix ans, est aussi possible.
  </p>
  <p>
    Bien entendu, il faut avoir occupé un poste de direction. Mais la voie classique est
    de passer l’examen de capacité en transport de marchandises. Comment obtenir le succès
    et décrocher ainsi le droit de créer son entreprise ?
  </p>
  <h2>Les conditions pour réussir l’examen de capacité de transport léger</h2>
  <p>
    La capacité professionnelle est une autorisation d’exercer le métier de
    <b>transporteur routier</b>. Son obtention repose sur deux conditions précises. La
    première, c’est le suivi d’une formation d’une durée de <b>102 h</b> auprès d’un
    centre agréé. Elle permettra au futur <b>transporteur indépendant</b> de se préparer à
    l’examen.
  </p>
  <p>
    La seconde condition, c’est de <b>réussir l’examen</b> en question dont les modalités
    et le programme sont bien définis par un arrêté ministériel. Pour rappel, il dure
    <b>3 heures</b>
    et il est composé de deux épreuves.
  </p>
  <p>
    Il y a le questionnaire à choix multiples ou <b>QCM</b> composé de
    <b>50 questions</b>. Cette épreuve est notée sur 100 et le candidat qui obtient une
    note inférieure à <b>50/100</b> sera éliminé d’office.
  </p>
  <p>
    La seconde épreuve, <b>QRC</b>, comprend un exercice et <b>5 questions rédigées</b> à
    réponse courte. Elle est également notée sur 100 et une note de moins de
    <b>40/100</b> sera éliminatoire.
  </p>
  <p>
    Notons que pour réussir à l’examen de capacité de transport et obtenir l’attestation
    de conducteur, vous devez décrocher un total de points de <b>120/ 200</b> sur les deux
    épreuves au minimum.
  </p>
  <h2>Jury et délibération</h2>
  <p>
    À souligner que la correction des copies est réalisée par un correcteur qui
    <b>ne fait pas partie de l’équipe pédagogique</b> du centre de formation. Les copies
    corrigées sont transmises à <b>un jury de validation</b> trois jours plus tard. Ce
    dernier est composé d’un directeur de centre, d’un représentant de la DREAL, d’un
    expert métier compétent dans une thématique du référentiel et d’un représentant des
    entreprises qui opèrent dans le secteur du transport routier.
  </p>
  <p>
    La tâche de ces experts consiste à <b>vérifier les résultats</b> et à rendre le
    verdict final. En général, les candidats devront recevoir les résultats de l’examen
    <b>par email</b> dans un délai d’<b>un mois</b> au maximum. Ils auront également droit
    au relevé de notes.
  </p>

  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h2>L’obtention de la capacité de marchandises</h2>
  <p>
    Que se passe-t-il en cas de succès à l’examen ? Les candidats ayant réussi à cette
    épreuve vont décrocher la <b>capacité de transport de marchandises léger</b>.
    Autrement dit, ils deviendront capacitaires. La détention de la certification est
    indispensable à toutes les entreprises de transport routier de marchandises prévoyant
    d’utiliser des véhicules de -3,5 T PTAC.
  </p>
  <p>
    Il faut préciser que la délivrance d’une attestation pour l’exercice des professions
    de transporteur est <b>assurée par la DRIEAT </b>(direction régionale de
    l’environnement, de l’aménagement et du logement).
  </p>
  <p>
    Quelle est la démarche à faire pour obtenir le document ? Il faudra effectuer une
    demande d’attestation professionnelle auprès de la DRIEAT en remplissant le
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >formulaire Cerfa 11414</a
    >.
  </p>
  <p>
    Il est tout aussi <b>indispensable</b> de joindre au dossier une justification de la
    réussite à l’examen de capacité de transport de marchandises.
  </p>
  <h2>L’obtention de l’attestation de capacité financière</h2>
  <p>
    Après avoir décroché l’attestation indispensable pour exercer la profession de
    <b>transporteur</b>, vous pouvez créer une entreprise de transport. Mais avant
    d’accomplir toutes les <b>démarches</b> y afférentes, il y a d’autres conditions à
    satisfaire dont la plus importante est la détention de l’attestation de
    <b>capacité financière</b>. De quoi s’agit-il ?
  </p>
  <p>
    Notons qu’une entreprise de transport de marchandises doit supporter des charges
    plutôt importantes. Ainsi, le transporteur qui veut se lancer dans le secteur doit
    disposer des <b>ressources financières</b> requises, fixées par type de véhicules de
    transport. En d’autres termes, la loi exige le dépôt d’un <b>capital suffisant</b>.
  </p>
  <p>
    Lors de la création d’une entreprise spécialisée en <b>transport léger</b>, les
    ressources financières exigées pour le premier véhicule s’élèvent à <b>1.800 €</b> au
    minimum. Il faut ajouter <b>900 €</b> pour chaque véhicule supplémentaire. Les seuils
    imposés sont beaucoup plus faibles pour les professionnels en transport routier qui
    exercent dans les territoires d’Outre-mer.
  </p>
  <p>
    En effet, il faut déposer 600 €, soit 300 € de moins, pour chaque véhicule de
    transport supplémentaire. Notons que la validation de la capacité financière doit être
    faite par un cabinet d’expertise-comptable.
  </p>
  <h2>
    Les démarches administratives pour créer son entreprise de transport de marchandises
  </h2>
  <p>
    Un spécialiste du transport léger ayant décroché son
    <b>attestation de capacité financière </b>peut créer une entreprise. Il suffit de
    réaliser les démarches administratives requises. Découvre lesquelles.
  </p>
  <h2>Le choix d’une structure juridique pour une entreprise de transport</h2>
  <p>
    C’est la première chose à faire lors de la création d’une entreprise de transport
    routier de marchandises. Pour faire le bon choix, il suffit de se poser quelques
    questions à savoir : voulez-vous être le seul dirigeant de la société ? avez-vous
    l’objectif de développer votre <b>boîte de transport</b> ? Avez-vous besoin d’une
    bonne protection sociale ? La décision est à prendre en fonction des réponses à ces
    questions.
  </p>
  <p>
    Il faut effectivement souligner que le <b>statut juridique</b> choisi aura un impact
    sur la rémunération du gérant, son niveau de responsabilité et les charges à payer.
    Notons aussi qu’un transporteur possédant une capacité professionnelle a le droit
    <b>d’engager des salariés</b>. Cela dit, les personnes embauchées doivent disposer
    d’un permis de conduire adéquat.
  </p>
  <p>
    En général, une entreprise de livraison de marchandises en France a droit à plusieurs
    options. Mais pour exercer la profession de transporteur routier, il vaut mieux opter
    pour la <b>SAS</b> (société par actions simplifiée), la <b>SASU</b> (société par
    actions simplifiée unipersonnelle) ou la <b>SARL</b> (société à responsabilité
    limitée).
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h2>La rédaction des statuts de la société de transport</h2>
  <p>
    Avant de procéder à la rédaction des<b> statuts</b> de ta société de transport, il
    faut choisir un <b>siège social</b> réel. Ensuite, il est nécessaire de bien penser à
    la répartition des actions ou parts sociales et à la rémunération du gérant.
    L’ouverture d’un compte bancaire au nom de la <b>société de transport</b> est aussi
    indispensable.
  </p>
  <p>
    Il ne faut pas oublier de réfléchir aux diverses clauses à ajouter dans le document.
    C’est le cas des clauses d’agrément, de non concurrence ou d’exclusion. L’aide d’un
    <b>expert-comptable</b> serait précieuse lors de la réalisation de cette opération.
  </p>
  <h2>L’immatriculation de la société de transport de marchandises</h2>
  <p>
    C’est la prochaine tâche au programme et elle consiste avant tout à rédiger et à faire
    publier une annonce légale dans un <b>journal officiel</b>. Le coût de cette démarche
    est d’environ 150 €. Le livreur qui veut se lancer sur le marché de
    <b>transport routier de marchandises</b> doit ensuite procéder à l’enregistrement des
    statuts auprès du <b>Service des Impôts des Entreprises. </b>
  </p>
  <p>
    Il est maintenant temps de constituer le <b>dossier d’immatriculation</b>. Les
    entreprises de transport de marchandises sont tenues de fournir les documents suivants
    :
  </p>

  <ul>
    <li>statuts signés et paraphés</li>
    <li>justificatif de dépôt des fonds</li>
    <li>un justificatif de domicile du siège social</li>
    <li>la copie certifiée de la pièce d’identité du dirigeant</li>
    <li>attestation sur l’honneur de non interdiction à l’exercice de la profession</li>
    <li>attestation de la publication de l’annonce légale</li>
    <li>formulaire MO complété</li>
    <li>attestation de préinscription émanant de la DREAL ou DRIEAT</li>
  </ul>
  <p>
    Pour finir la démarche, vous devez déposer le dossier d’immatriculation au greffe du
    tribunal de commerce. Notons que les dirigeants d’une société de transport routier
    sont considérés comme des artisans. Ainsi, le dossier de création d’entreprise est
    redirigé vers la <b>Chambre des Métiers et de l’Artisanat</b>. Les transporteurs
    routiers sont donc immatriculés au Répertoire des Métiers.
  </p>
  <h2>Création du dossier auprès de la DREAL ou DRIEAT</h2>
  <p>
    Pour finaliser la création d’une société de transport routier, il faudra compléter le
    dossier d’inscription auprès de la <b>DREAL/DRIEAT</b>. Afin de réaliser cette
    démarche correctement, il est nécessaire de joindre au dossier l’<b>extrait du RCS</b
    >, la fiche <b>INSEE</b>
    et une copie de l’attestation provisoire.
  </p>
  <p>
    Cette procédure permet à un transporteur routier de voir sa boîte enregistrée au
    registre électronique national des entreprises de transports routiers ou au registre
    des <b>commissionnaires de transport</b>. Il pourra ensuite décrocher la licence
    définitive, ce qui lui permettra d’exercer la profession et devenir chauffeur en toute
    légalité.
  </p>
  <p>
    Notons en effet que ce document doit être présenté à chaque contrôle. La réalisation
    de cette démarche prend environ trois ou quatre semaines.
  </p>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/preparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport"
    },
    "headline": "Préparer l’examen de capacité en transport de marchandises et la création d'une entreprise de transport",
    "image": "https://www.digimoov.fr/digimoov_website_templates/static/img/Examen%20apr%C3%A8s%20formation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandises.webp",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
