<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Mon Compte formation - CPF : C'est quoi ?</h1>
  <p>
    Salariés, demandeurs d’emploi ou encore travailleurs indépendants, vous avez tous des
    droits à la <b>formation professionnelle</b>. D’où la nécessité de la mise en place du
    <b>Compte personnel de formation (CPF)</b>, qui a remplacé depuis le 1er janvier 2015
    le Droit Individuel à la Formation (DIF).
  </p>
  <p>
    C’est un droit octroyé à ces catégories de personnes pour financer une formation
    professionnelle qualifiante ou certifiante. L’objectif consiste à améliorer leur
    niveau de qualification et accroître leurs compétences.
  </p>
  <p>
    Vous avez pu subvenir à vos besoins, prendre des vacances en famille et vivre en toute
    aisance. Il est temps de penser à votre <b>évolution professionnelle</b> pour
    augmenter le revenu. C’est là où le Compte personnel de formation intervient.
  </p>
  <h2>Qu’est-ce que le CPF ?</h2>
  <p>
    Suite à l’application de la
    <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000028683576/"
      >loi n° 2014-288 du 5 mars 2014</a
    >, qui concerne la réforme de la formation professionnelle, bon nombre de dispositifs
    sont mis en place. Entré en vigueur depuis le 1er janvier 2015, le compte personnel de
    formation en fait partie.
  </p>
  <p>
    Il s’agit d’un dispositif de financement public relatif à la formation professionnelle
    continue. Ce droit offre <b>l’opportunité</b> à tous les actifs de bénéficier d’une
    action de <b>formations</b> s’ils le souhaitent.
  </p>
  <p>
    Il peut accompagner son bénéficiaire depuis son intégration dans le monde
    professionnel, durant toute sa fonction jusqu’à son départ à la retraite. La gestion
    du compte personnel de formation relève de la
    <a
      href="https://www.caissedesdepots.fr/la-caisse-des-depots-gestionnaire-de-mon-compte-formation"
      >Caisse des Dépôts</a
    >
    et consignations. Et il s’exprime en <b>fonds mobilisables</b>.
  </p>
  <p>
    Travailler toute l’année permet ainsi d’alimenter avec des euros votre compte. Pour
    obtenir cette faveur, différents facteurs sont pris en compte.
  </p>

  <div class="text-center">
    <img
      class="img-fluid o_we_custom_image"
      src="/web/image/17598/Mon-compte-professionnel-formation-cpf-1.png?access_token=e27f76d1-864d-486f-8cba-3926e5b6c043"
      alt="interface-mon-compte-personnel-formation-CPF"
    />
  </div>

  <h3>Mon compte formation : À quoi sert -il ?</h3>
  <p>
    Le compte personnel de formation sert à <b>accompagner</b> le titulaire dans le cadre
    de l’évolution, la reconversion et la sécurisation de son parcours professionnel. Une
    fois alimenté, il permet de
    <b>financer tout ou une partie d’une formation</b> éligible au dispositif, en ligne ou
    en présentiel.
  </p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/17557/CPF-remplace-DIF.png?access_token=64e5c768-2a79-4b2d-90f3-891ae97ef5bf"
    alt="CPF-remplace-DIF"
    width="300"
    height="200"
  />
  <h3>Le CPF remplace le DIF depuis 2015</h3>

  <p>
    Le compte personnel de formation remplace le droit individuel à la formation (DIF)
    <b>depuis 2015</b>. Toutefois, les salariés ne risquent pas de perdre toutes les
    heures acquises au titre du DIF qui n’ont pas encore été utilisées. Ils disposeront
    d’une durée de 6 ans, avant le <b>1er juillet 2021</b>, pour
    <a
      href="https://www.moncompteformation.gouv.fr/espace-public/saisir-mon-droit-individuel-la-formation-dif"
      >transférer les heures DIF sur leur compte CPF</a
    >
    afin de les conserver. Ces durées pourront être entièrement cumulées avec celles
    acquises au titre du CPF.
  </p>

  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h3>Différence entre DIF et CPF</h3>
  <p>
    Le temps d’application du <b>DIF</b> a été très court qu’il a déjà été remplacé au
    profit du <b>CPF</b>. C’est dû essentiellement à son principe de fonctionnement. En
    fait, le DIF était lié au contrat de travail. Au cas où le salarié change d’employeur
    ou quitte son poste, les droits acquis s’envolent.
  </p>
  <p>
    Avec le <b>compte personnel de formation</b>, les heures dues suivent définitivement
    le titulaire, quelle que soit sa situation. Encore mieux, elles seront
    <b>cumulables</b> en souscrivant au Pôle Emploi en tant que demandeur d’emploi.
  </p>
  <p>
    À la différence des heures de <b>DIF</b>, ce changement de système a apporté bon
    nombre d’autres évolutions. La gestion des heures <b>CPF</b> est attribuée à l’actif,
    titulaire du droit, et non plus par l’employeur. Il n’y a plus de limite pour la durée
    de contrat afin de pouvoir accumuler les heures de formation.
  </p>
  <p>
    Étant donné que l’<b>alimentation du compte</b> est fonction de la durée de travail,
    un salarié engagé à temps plein a droit à <b>24 h de formation par an</b> au lieu de
    20 h dans le cadre de DIF. <b>Après 120 h</b>, le compte formation est crédité
    seulement de <b>12 h par an jusqu’à son plafonnement de 150 h</b>. Certaines périodes
    d’absence entrent dans le calcul comme le congé de maternité, de paternité ou encore
    d’accueil de l’enfant. À cela s’ajoutent le congé d’adoption, de soutien familial, de
    présence parentale, le congé parental d’éducation, l’absence liée à une maladie
    professionnelle et à un accident de travail.
  </p>
  <h3>Depuis janvier 2019 le CPF est crédité en Euro</h3>
  <p>
    À l’issue de la réforme du droit du travail, le compte personnel de formation est
    <b>crédité en euro</b>. Le taux choisi est à hauteur de <b>14,28 € par heure</b>. À
    cet effet, vous pouvez vous-même choisir votre <b>formation</b>, la réserver et payer
    en ligne avec une application mobile.
  </p>
  <p>
    Concernant la <b>monétisation des heures de DIF</b> acquises au 31 décembre 2018, mais
    qui n’ont pas été utilisées par le salarié, celles-ci sont converties à raison de 1<b
      >5 € par heure</b
    >.
  </p>
  <h2>Qui gère le compte CPF ?</h2>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/18124/Mon-compte-professionnel-formation-cpf-2.png?access_token=abb389d6-c450-46b6-a47a-c0297022ce49"
    alt="utilisation-compte-personnel-de-formation-cpf"
  />
  <p>
    Depuis le 5 janvier 2015, un
    <a href="https://www.moncompteformation.gouv.fr/espace-prive/html/">site Internet</a>
    a été instauré et disponible pour que vous puissiez gérer votre compte personnel de
    formation et savoir vos droits. Certaines informations restent à votre disposition
    comme le <b>nombre d’heures</b> <b>dues</b> et les formations accessibles.
  </p>
  <h3>Qui peut bénéficier du CPF ?</h3>
  <p>
    Le compte personnel de formation s’adresse à différentes catégories de personnes qui
    sont en <b>activité professionnelle</b> et qui sont âgés <b>plus de 16 ans</b> (15 ans
    pour un jeune qui a signé son premier contrat comme apprenti). Non rattaché au contrat
    de travail, il reste <b>valable tout au long de sa vie professionnelle</b> jusqu’à son
    départ à la retraite, même en période de chômage. De ce fait, le droit est ouvert pour
    les catégories suivantes:
  </p>
  <h4>Les demandeurs d’emploi</h4>
  <p>
    Vous êtes à la recherche d’un emploi. Que vous soyez inscrit à Pôle emploi ou détenez
    un contrat de sécurisation professionnelle.
  </p>
  <h4>Les salariés</h4>
  <p>
    Vous travaillez dans le secteur privé et le secteur agricole, à condition que vous
    ayez déjà exercé durant 16 ans, ou 15 ans par dérogation au terme de la signature d’un
    contrat d’apprentissage.
  </p>
  <h4>Les travailleurs indépendants</h4>
  <p>
    Depuis le 1er janvier 2018, le compte personnel de formation touche également les
    travailleurs indépendants.
  </p>
  <p>
    Durant la formation qualifiante ou certifiante, vous avez droit tous les 2 ans en
    interne à un entretien professionnel et tous les 6 ans à un bilan professionnel.
  </p>

  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h2>Quelles sont les formations éligibles au CPF ?</h2>
  <p>
    Le compte personnel de formation n’autorise et ne finance que les formations jugées
    « éligibles ». Il s’agit uniquement des formations
    <b>qualifiantes ou certifiantes</b>, qui satisfont les besoins du marché de l’emploi.
    Soyez donc vigilant en choisissant votre formation.
  </p>
  <p>
    Pour qu’une formation soit éligible, elle doit respecter l’un des critères suivants de
    l’article L6323-6 :
  </p>
  <ul>
    <li>
      L’obtention d’un titre professionnel, d’un diplôme ou d’un certificat de
      qualification
    </li>
    <li>L’acquisition du socle commun de connaissances et de compétences</li>
    <li>Le bilan de compétences</li>
    <li>La validation des acquis de l’expérience ou la VAE</li>
    <li>La création ou la reprise d’une entreprise.</li>
  </ul>
  <p>
    <a href="/">La formation en capacité de transport léger de marchandise</a> chez
    Digimoov est éligible au CPF. Voici aussi d'autres exemples de formations éligibles :
  </p>
  <ul>
    <li>
      <a href="https://www.mcm-academy.fr/formation-chauffeur-taxi"
        >Formation Chauffeur Taxi </a
      >chez <a href="https://www.mcm-academy.fr/"><b>MCM Acamedy</b></a>
    </li>
    <li>Formation Gestion de projet chez EADI</li>
    <li>Formation Chef de Projet Digital chez OpenClassrooms</li>
    <li>Formation Photoshop chez Objectif Formations</li>
  </ul>
  <p>
    Vous pouvez vérifier l’éligibilité de la formation sur l'interface
    <a
      href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/formation/recherche"
      >recherche de formation sur le site Mon compte Formation.</a
    >
  </p>
  <h2>Comment le CPF est-il alimenté ?</h2>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/21773/Mon-compte-professionnel-formation-cpf-digimoov.png?access_token=027002e5-9a14-4824-ac24-2ad575ba9826"
    alt="mobiliser-mon-cpf-pour-inscription-formation"
  />
  <p>
    L’alimentation du compte personnel de formation
    <b
      >se fait automatiquement au début de l’année qui suit directement l’année
      travaillée.</b
    >
    Vos droits acquis restent toujours valables même si vous changez d’employeur ou perdez
    votre emploi.
  </p>
  <h3>Crédit annuel (500 €/an)</h3>

  <p>
    De manière générale, votre compte, que vous soyez salarié à temps plein ou à temps
    partiel est crédité à hauteur de 500 € par année de travail, jusqu’au plafonnement de
    5 000 €. C’est également le cas d’un travailleur indépendant.
  </p>
  <p>
    Les droits attribués sont renforcés au cas où vous êtes un salarié non qualifié ou
    bénéficiaire de l’obligation d’emploi. Votre compte est majoré de 800 € par année de
    travail, jusqu’à la limite d’un plafond de 8 000 €.
  </p>
  <p>
    Au cas où le temps de travail d’un salarié est inférieur à 50 % de la durée légale ou
    conventionnelle de travail, le compte est alimenté de manière proportionnelle à la
    durée d’activité effectuée.
  </p>
  <h3>Les heures DIF non utilisés</h3>
  <p>
    Concernant la monétisation des heures de DIF acquises au 31 décembre 2018, mais qui
    n’ont pas été utilisées par le salarié, celles-ci sont
    <b>converties à raison de 15 € par heure. </b>
  </p>
  <h3>Alimentation par abondement</h3>
  <p>
    Lorsque le crédit d’heures sur le compte personnel de formation n’est pas suffisant,
    il est possible d’<b>obtenir un abondement</b> via des accords d’entreprise, de
    branches ou encore de l’État pour financer le frais de formation éligible.
  </p>
  <p>
    Certains acteurs tels que le <b>Pôle Emploi</b>, les Régions ou l’AGEFIPH peuvent
    également fournir de l’aide. Au cas où l’employeur ne respecte pas les règles
    relatives aux garanties de formation, il sera obligé de vous octroyer des
    <b>heures d’abondement</b>.
  </p>
  <h2>Comment connaître le montant de son CPF ?</h2>
  <p>
    Pour retrouver le montant de votre solde CPF disponible, vous devez créer un compte
    sur le site
    <a href="https://www.moncompteformation.gouv.fr/">MonCompteFormation.Gouv.fr.</a> Il
    suffit de renseigner votre numéro de sécurité sociale. Le solde s’affiche dans
    l’onglet « <b>Mes droits à formation</b> ».
  </p>
  <p>
    Il est également possible de passer directement sur l’application mobile via Apple
    Store ou Android. Pratique et intuitive, la plateforme permet facilement à tous les
    titulaires du CPF de choisir et payer en ligne leurs formations.
  </p>
  <h2>Comment utiliser CPF ?</h2>
  <p>
    Les heures acquises en compte personnel de formation sont mobilisables pour suivre
    l’une des formations éligibles.
  </p>
  <p>Comment procéder ?</p>
  <p>
    Pour bien comprendre le processus, voici un exemple qui concerne la formation à
    <b>l’attestation de la </b
    ><a href="/blog/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises"
      >capacité professionnelle en transport routier léger de marchandises</a
    ><b> chez Digimoov</b>. Après avoir choisi la formation, il faut :
  </p>
  <ul>
    <li>Choisir la formation éligible au CPF dans la page d’accueil</li>
    <li>Cliquer sur je m’inscris</li>
    <li>Créer un compte en remplissant le formulaire qui s’affiche en suite</li>
    <li>Choisir le centre d’examen et la date qui convient</li>
    <li>Cliquer sur Mobiliser mon CPF</li>
    <li>Cliquer sur s’inscrire à cette session dans l'écran qui s’affiche en suite</li>
    <li>Attendre la validation de dossier CPF</li>
    <li>
      Si le prix de la formation dépasse le solde du compte CPF, le bénéficiaire peut soit
      payer la différence directement par carte bancaire sur le site
      MonCompteFormation.Gouv.fr, soit faire une demande d’abondement à Pôle emploi sur
      son reste à charge
    </li>
    <li>Acception de la part de candidat</li>
    <li>Commencer la formation</li>
  </ul>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
