<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>Capacité de transport de marchandises obtenue : que faire ?</h1>
  <p>
    Être un <b>livreur indépendant</b>, devenir un transporteur personnel ou bien de
    marchandises ? Le choix est rude. En effet, plusieurs élèves qui ont obtenu leur
    capacité de transport de marchandises se demandent : que faire après ?
    <b>Quel métier avec capacité de transport ?</b> Le meilleur conseil que l’on puisse
    vous donner c’est de créer votre propre entreprise de transport de marchandises.
  </p>
  <h2>Le type de transport de marchandises</h2>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/29784/transporteur%20de%20marchandise.png?access_token=84d60bae-01f4-4818-ae75-85a791ba9fd0"
    width="400"
    height="300"
    alt="Transporteur-livreur de marchandise"
  />
  <p></p>
  <p>
    Bien déterminer le type de transport permet de circonscrire son domaine d’activité. De
    ce fait, pour une société d’expédition de cargaison, vous devez choisir votre domaine
    en fonction de votre aptitude. Vous aurez alors le choix entre deux types à savoir :
  </p>
  <ul>
    <li>
      <b> Le transport lourd de marchandises</b> : si vous voulez exploiter des véhicules
      dépassant les 3,5 tonnes du PTAC (Poids Total Autorisé en Charge).
    </li>
    <li>
      <b> Le transport léger de marchandises</b> : si vos véhicules transportent des colis
      en dessous de 3,5 tonnes du PTAC.
    </li>
  </ul>
  <p>
    La compétence en transport léger prend également en compte les véhicules à deux roues
    (les motos, les scooters…)
  </p>
  <h2>Comment obtenir la capacité de transport de marchandises ?</h2>
  <p>
    Toute activité dans la livraison de cargaison ne peut avoir lieu sans une pièce
    justificative. En effet, une personne qui sait conduire un camion ne peut se déclarer
    transporteur routier sans un document officiel. Vous devez alors détenir la
    <a href="/blog/a-quoi-sert-l-attestation-de-capacite-en-transport-leger"
      >capacité de transport de marchandises</a
    >
    pour devenir un transporteur public routier.
  </p>
  <p>
    En fonction du type d’expédition, vous pouvez avoir deux types de capacité de
    transport de marchandises.
  </p>
  <h3>La capacité de transport de marchandises pour les moins de 3,5 tonnes</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/29785/Prestataire%20de%20transport%20de%20marchandise.png?access_token=f57cd6a3-20fa-469d-8a4e-f75f8eadd59f"
    width="430"
    height="350"
    alt="Prestataire de transport de marchandise"
  />
  <p></p>
  <p>
    Après avoir déterminé le type de service, vous avez fait le choix de devenir un
    <b>transporteur léger de marchandises</b>. De ce fait, vous devez disposer d’une
    <a href="/blog/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises"
      >capacité de transport léger de marchandises</a
    >.
  </p>
  <p>
    Vous allez alors suivre une
    <a href="/blog/bon-a-savoir-sur-la-formation-capacite-de-transport-leger"
      >formation en capacité professionnelle de 105 heures</a
    >
    auprès des organismes agréés par la DREAL. Vous pouvez trouver la liste de ces
    établissements agréés chez le bureau de la
    <a
      href="https://fr.wikipedia.org/wiki/Direction_r%C3%A9gionale_de_l%27Environnement,_de_l%27Am%C3%A9nagement_et_du_Logement"
      >DREAL</a
    >
    de votre région.
  </p>
  <p>
    Vers la fin d’études, un examen national est obligatoire pour valider votre capacité
    de transport de marchandises. En cas de réussite, la DREAL vous délivre la capacité
    professionnelle en transport léger. Si vous échouez, vous avez toujours la possibilité
    de repasser une deuxième fois l’examen sans la formation.
  </p>
  <p>Cette formation ne sera pas obligatoire si :</p>
  <ul>
    <li>
      Vous détenez un baccalauréat professionnel « Exploitation des transports » ou un
      baccalauréat professionnel « Transport »
    </li>
    <li>
      Vous avez au moins 2 ans d’expériences dans le domaine du transport de marchandises
      durant les 10 dernières années
    </li>
  </ul>
  <p>
    Vous devez alors remplir le
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >formulaire CERFA N° 11414</a
    >
    pour ensuite le transmettre au centre de formation. Cette dernière déposera auprès de
    la DREAL tous les dossiers de demande d’attestation de capacité professionnelle. Vous
    allez recevoir par colis postal l’attestation de capacité professionnelle.
    Équipez-vous d’un peu de patience, car vu la situation sanitaire existante, la réponse
    prendra quelque temps.
  </p>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h3>La capacité de transport de marchandises pour poids lourds</h3>
  <p>
    La capacité de transport lourd de marchandises permet de transporter les cargaisons
    <b>au-dessus de 3,5 tonnes PTAC</b>. En ce qui concerne l’expédition lourde de fret,
    les informations suivantes sont primordiales :
  </p>
  <ul>
    <li>
      L’examen national ne se passe qu’une fois par an. En cas d’échec, vous serez obligé
      d’attendre la prochaine session annuelle.
    </li>
    <li>Vous devez envoyer un dossier d’inscription à l’examen à la DREAL.</li>
    <li>
      La formation en capacité professionnelle n’est pas obligatoire. Vous pouvez tout de
      même vous rapprocher de certains organismes agréés pour approfondir vos acquis. Ils
      vous offrent une formation qui vous prépare directement à l’examen. Vous aurez un
      meilleur taux de réussite, mais le coût de cette formation reste onéreux.
    </li>
    <li>
      L’examen concerne surtout la gestion de l’exploitation d’une entreprise de transport
      de marchandises
    </li>
    <li>
      Vous serez dispensé de la formation professionnelle et de l’examen national si vous
      détenez un diplôme d’équivalence. Mais comment avoir la capacité de transport par
      équivalence ? Pour cela, vous devez détenir un baccalauréat professionnel
      « exploitation des transports » ou « transport ».
    </li>
  </ul>
  <p>
    Pour cette capacité, vous devez toujours remplir dûment
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >le formulaire CERFA N° 11414</a
    >
    pour le déposer auprès de la DREAL.
  </p>
  <h2>Justifiez votre capacité financière</h2>
  <p>
    Outre la capacité de transport, vous devez également justifier votre disponibilité
    financière. Une étape essentielle pour votre inscription au registre des transporteurs
    et la création de votre entreprise de transport routier. Une attestation de capacité
    financière prouvera que votre entreprise possède les ressources suffisantes pour cette
    activité.
  </p>
  <p>
    La première démarche est logiquement d’ouvrir un compte bancaire professionnel au nom
    de votre société.
  </p>
  <p>
    Ensuite, vous devez déposer à la banque un capital social avec un dépôt minimum comme
    suit :
  </p>
  <ul>
    <li>
      <b> Pour le transport léger (-3,5 T PTAC)</b> : versez au moins 1 800 euros pour le
      premier engin et 900 euros pour chaque véhicule ajouté.
    </li>
    <li>
      <b> Pour le transport lourd (+3,5 T PTAC)</b> : la solde doit être 9 000 euros pour
      le premier camion et 5 000 euros pour les autres.
    </li>
  </ul>
  <p>
    Il est à noter que si vous exercez dans les <b>territoires d’outre-mer</b>, le montant
    minimum diminue. En effet, pour le transport léger, le solde est de 600 euros pour les
    autres véhicules. Le montant diminue également pour les poids lourds : 6 000 euros le
    premier camion et 3 000 euros après.
  </p>
  <p>
    Sachez également que vous pouvez demander du financement auprès des
    <b>organismes de micro-crédits ou bancaires agréés par l’ACPR. </b>
  </p>
  <p>
    La DREAL contrôlera chaque année votre capacité financière. En effet, elle sera
    validée par un cabinet d’expertise-comptable certifié par un expert-comptable.
  </p>
  <h2>Obtenez l’agrément de la DREAL/DRIEAT</h2>
  <p>
    La capacité de transport de marchandises n’est rien sans l’approbation de la DREAL. En
    effet, pour débuter en tant que transporteur de marchandises, vous devez obtenir
    l’autorisation d’exercer de la DREAL. La DREAL ou Direction Régionale de
    l’Environnement, de l’Aménagement et du Logement est l’autorité qui valide ou non
    votre demande. Elle est habilitée pour contrôler l’activité aux transports publics
    routiers de personnes ou des marchandises.
  </p>
  <p>Cette approbation se fait par la démarche ci-après :</p>
  <ul>
    <li>
      Faites une demande d’inscription dans le registre des transports et d’obtention de
      la licence de transport intérieur (LTI).
    </li>
    <li>
      Remplissez
      <a href="https://www.formulaires.service-public.fr/gf/cerfa_14557.do"
        >le formulaire CERFA N° 14557*03</a
      >
      et y apposez votre signature.
    </li>
    <li>
      Faites tamponner le dossier de demande constitué et le formulaire CERFA par un
      expert-comptable.
    </li>
  </ul>
  <p>Envoyez le dossier sur le site internet de la DREAL.</p>
  <p>
    Après cette requête, vous allez recevoir un récépissé de la DREAL que vous allez
    utiliser comme licence provisoire. De ce fait, vous pouvez déjà enregistrer et
    immatriculer votre entreprise au RCS (Registre du Commerce et des Sociétés).
  </p>
  <p>De plus, deux autres critères indispensables vous seront demandés :</p>
  <ul>
    <li>
      <b> Le siège social de votre entreprise</b> : vos locaux qui peuvent contenir les
      documents administratifs essentiels. Votre siège doit impérativement se trouver en
      France pour être validé.
    </li>
    <li>
      <b> Justification de votre honorabilité professionnelle</b> : ceci signifie que
      votre casier judiciaire est vierge de toute interdiction d’exercer une activité
      professionnelle ou d’infractions (sécurité routière).
    </li>
  </ul>
  <div class="row justify-content-center">
    <div class="cta-action col-md-7 text-center pb16 col-lg-8">
      <div>Besoin d'obtenir votre capacité de transport léger ?</div>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h2>Créez votre entreprise</h2>
  <p>
    Après avoir obtenu l’approbation de la DREAL, vous êtes sur le point fatidique de
    <b>créer votre entreprise de transport.</b> Vous allez constater qu’en créant votre
    entreprise, vous utilisez au mieux votre capacité de transport de marchandises. Il
    existe plusieurs étapes essentielles que vous devez suivre pour ce faire.
  </p>
  <p>
    Vous trouverez ci-après ces étapes : vous devez passer par le choix du statut
    juridique, la rédaction du statut et son immatriculation auprès de la RCS.
  </p>
  <h3>Choix du statut juridique</h3>
  <p>
    Le statut juridique dépend du type d’activité qu’offre votre capacité de transport de
    marchandises. Vous avez le choix entre :
  </p>
  <ul>
    <li>Une microentreprise</li>
    <li>Une entreprise individuelle à responsabilité limitée (EIRL)</li>
    <li>
      Une entreprise unipersonnelle à responsabilité limitée ou une société par action
      simplifiée unipersonnelle (EURL ou SASU)
    </li>
  </ul>
  <p>
    Avec les deux dernières structures, vous pouvez efficacement protéger votre patrimoine
    personnel. Ce sont les structures les mieux adaptées à votre capacité de transport de
    marchandises, car elles sont simplifiées. De plus, vous pouvez obtenir un meilleur
    financement bancaire que pour une entreprise individuelle. En effet, les
    établissements de crédit multiplient les prêts pour toute société avec un patrimoine
    bien défini.
  </p>
  <p>Si vous n’avez pas d’associé, optez pour une EURL ou une SASU.</p>
  <p>
    Par contre, si vous avez plusieurs associés, choisissez de créer une SARL ou une SAS.
  </p>
  <h3>Rédaction du statut de la société</h3>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/29786/Projet%20transport%20de%20marchandise.png?access_token=06a89353-3f98-4a31-a333-07422c44e572"
    width="434"
    height="350"
    alt="Projet de création d'entreprise de transport routier de marchandise"
  />
  <p></p>
  <p>
    Après l’établissement de la structure juridique, vous devez maintenant rédiger le
    statut de la société. Vous pouvez ainsi déterminer les caractéristiques de votre
    entreprise de transport :
  </p>
  <ul>
    <li>La forme juridique de la société</li>
    <li>Son objet social (la nature de l’activité de transport, sa localisation)</li>
    <li>Sa dénomination sociale (le nom de la société)</li>
    <li>Son siège social (le justificatif de domicile)</li>
    <li>Sa durée</li>
    <li>Le montant de son capital social</li>
  </ul>
  <h3>Immatriculation auprès de la RCS</h3>
  <p>
    Comme énoncé plus haut, dès l’approbation de la DREAL vous pouvez immatriculer votre
    société. Les démarches dépendent de la forme juridique de votre entreprise. En effet,
    vous devez :
  </p>
  <p>
    Pour une entreprise individuelle : tout simplement déposer la déclaration d’activité
    au Greffe
  </p>
  <p>
    Pour une société de transport : rédiger le statut, faire un dépôt de capital,
    finaliser les statuts et les signer, déposer la demande au Greffe
  </p>
  <h2>Démarrez votre activité</h2>
  <p>
    Lorsque vous avez complété ces formalités, le Greffe du Tribunal de Commerce vous
    donne un extrait K-Bis. Vous devez encore renvoyer ce document à la DREAL pour
    qu’enfin elle vous délivre votre licence de transport définitive.
  </p>
  <p>
    Le moment tant attendu est arrivé ! Vous pouvez maintenant démarrer votre activité. Le
    top est donné après la réception de la licence de transport définitive auprès de la
    DREAL.
  </p>
  <p>
    Pour tout contrôle, vous devez alors inscrire votre numéro de licence sur chaque
    véhicule (scooter, voiture ou camionnette) que vous utilisez.
  </p>
</section>
