<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<h1 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Tout ce qu’il faut savoir sur la capacité de transport</font
  ><br />
</h1>

<p style="text-align: justify"><br /></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Le transport routier ne s'est jamais aussi bien porté en France avec un
    chiffre d’affaires annuel de 44 milliards d’euros. Mais ce qui est
    surprenant c’est que sur les 37 000 entreprises du secteur, plus de 97%
    d'entre elles sont des PME avec moins de 50 salariés.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Tant que les entreprises auront toujours besoin de faire transporter des
    marchandises par la route, il y aura des transporteurs routiers.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Ce secteur attire chaque année des centaines d’hommes et de femmes qui
    veulent créer leur entreprise de transport routier de marchandises ou de
    personnes. Mais ce type d’entreprise est très réglementé. Pour s’installer,
    il faut obtenir une attestation de capacité de transport.&nbsp;&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Dans cet article, nous allons voir en détail l’utilité de cette attestation
    de capacité de transport de marchandise et comment l’obtenir.</font
  >
</p>

<h2 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >La capacité de transport : Définition et à quoi sert-elle ?&nbsp;</font
  >
</h2>
<p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/36658/transport%20routier%20de%20marchandises.png?access_token=c0b614dd-7d7b-4d8a-9da9-5201ff93c435"
    style="text-align: justify; width: 60%"
    alt="transport routier de marchandises"
  /><font style="color: rgb(0, 0, 0)"></font>
</p>

<div style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><span style="font-size: 1rem"
      >Si vous souhaitez créer une entreprise de transport routier de
      marchandises ou de personnes, l’obtention d’une capacité de transport est
      obligatoire. Pour obtenir cette capacité de transport, il faut passer un
      examen de la DREAL (DREIA en Ile-de-France). Pour la capacité de transport
      lourd, l’examen se déroule une fois par an. Pour la capacité de transport
      léger, la date de l’examen varie à l’échelon de 60 jours.</span
    ></font
  >
</div>
lorem*100
<p></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b
      >On distingue deux capacités professionnelles de transport :&nbsp;</b
    ></font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >le transport léger avec des véhicules ne dépassant pas 3,5 tonnes
        PTAC,&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >et le transport lourd en exploitant des véhicules de plus de 3,5 tonnes
        PTAC.</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Vous l’aurez compris, la différence réside principalement dans le PTAC
    (poids total autorisé en charge) des véhicules utilisés pour exercer
    l’activité de transport de marchandises ou de personnes.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >La capacité de transport léger de marchandises: Si vous envisagez de
    n’exploiter que des véhicules ayant un PTAC ne dépassant pas 3,5 tonnes,
    c’est cette capacité qu’il faut passer. Pour vous présenter à l’examen, vous
    devez obligatoirement suivre une formation.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >La capacité de transport lourd de marchandises: C’est la capacité
    nécessaire pour exploiter des véhicules ayant un PTAC supérieur à 3,5
    tonnes. Elle s’obtient après le passage d’un examen sans forcément suivre
    une formation.</font
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="btn-wiggle button button-wiggle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Dans quel cas la capacité de transport est-elle nécessaire ?&nbsp;</font
  >
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >L’attestation de capacité de transport est indispensable pour :&nbsp;</font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        ><u
          ><a
            href="/blog/digimoov-3/post/comment-devenir-auto-entrepreneur-dans-le-domaine-du-transport-33"
            >c</a
          ></u
        ><b
          ><u
            ><a
              href="/blog/digimoov-3/post/comment-devenir-auto-entrepreneur-dans-le-domaine-du-transport-33"
              >réer une entreprise de transports de marchandises</a
            ></u
          ></b
        ><a
          href="/blog/digimoov-3/post/comment-devenir-auto-entrepreneur-dans-le-domaine-du-transport-33"
          >,</a
        ></font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >devenir livreur (scooter, voiture, camionnette)</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >vendre des services de transport de personnes.</font
      >
    </p>
  </li>
</ul>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Comment obtenir la capacité de transport lourd de marchandise ?</font
  >
</h3>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >C’est généralement au mois d’octobre que se déroule l’examen national pour
    la capacité de transport. Pour y participer, il faut au préalable s’inscrire
    en envoyant la DREAL de votre région un dossier d’inscription, conformément
    au formulaire Cerfa 11414-04.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Comme nous l’avons vu brièvement, vous n’êtes pas obligé de suivre une
    formation avant de passer l’examen pour la
    <a
      href="/blog/digimoov-3/post/capacite-de-transport-poids-lourd-comment-l-obtenir-34"
      ><b><u>capacité de transport lourd de marchandise.</u></b></a
    >
    Vous pouvez vous préparer seul bien qu’<b
      ><u
        ><a href="/formation-capacite-transport-lourd-marchandise"
          >une formation</a
        ></u
      ></b
    >
    soit fortement recommandée. En effet, suivre une formation de préparation à
    la capacité de transport vous permet de maximiser vos chances de l’obtenir.
    Pour suivre cette formation, vous pouvez vous rendre dans un centre de
    formation agréé ou vous former directement en ligne.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >L’examen final porte principalement sur la gestion d’une entreprise de
    transport de marchandises ainsi que sur les compétences à avoir pour bien
    gérer une entreprise d’une manière plus générale.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Si vous êtes reçu à l’examen, le Préfet de votre région vous remet une
    attestation de capacité professionnelle en transport lourd de marchandises.
    Si malheureusement vous échouez, il vous faudra attendre la prochaine
    session pour retenter votre chance.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Il existe des cas de dispense. Si vous êtes en mesure de prouver que vous
    avez géré une entreprise de transport de marchandises sur une période de 10
    ans précédant le 4 décembre 2009, sans interruption, vous pouvez demander
    l’attestation de capacité professionnelle de transport lourd de
    marchandises. Il faut adresser sa demande à la DREAL ou la DREIA
    Ile-de-France en utilisant le formulaire CERFA n° 11414-05 et en fournissant
    les justificatifs nécessaires. Vous êtes également dispensé si vous êtes
    titulaire d’un diplôme de niveau 3 avec des enseignements de gestion et de
    transport, vous pouvez dans ce cas
    <a
      href="/blog/digimoov-3/post/comment-obtenir-la-capacite-professionnelle-de-transport-leger-de-marchandises-par-equivalence-30"
      ><b>obtenir votre attestation par équivalence</b></a
    >.&nbsp;<br /><br
  /></font>
</p>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >La capacité de transport pour les véhicules de moins de 3,5t PTAC</font
  >
</h3>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >L’attestation de capacité de transport pour les véhicules légers (moins de
    3,5t PTAC) permet de proposer des transports payants de marchandises en
    exploitant un véhicule de moins de 3,5t PTAC. Cela inclut également les deux
    roues et triporteurs.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Pour obtenir la capacité de transport véhicule de moins de 3,5t PTAC, il
    faut :</font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >effectuer une formation de 102h dans un centre de formation agréé</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >passer un examen d’une durée de 3h.&nbsp;</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Des cas de dispense existent si :&nbsp;</b></font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >vous êtes titulaire du baccalauréat professionnel Exploitation des
    transports ou du baccalauréat professionnel Transport,</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >vous avez géré de manière continue une entreprise de transport public
    routier de marchandises pendant au moins deux ans et que vous n’avez pas
    cessé cette activité depuis plus de dix ans.&nbsp;</font
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="btn-wiggle button button-wiggle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Comment obtenir la capacité de transport léger voyageurs 9 places
    ?&nbsp;</font
  >
</h3>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Cette capacité de transport permet d’ouvrir une société ou entreprise de
    transport de personnes en exploitant des véhicules pouvant transporter
    jusqu’à 9 personnes (chauffeur inclus).&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Pour obtenir cette capacité de transport, il faut :&nbsp;</b></font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >suivre une formation de 140h dans un centre de formation
        agréé,&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)">passer un examen de 4h.&nbsp;</font>
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><b>Vous êtes dispensé si :</b></font>
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >vous avez géré de manière continue une entreprise de transport public de
    personnes durant 2 années sous réserve de ne pas avoir cessé cette activité
    depuis plus de 10 ans,</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >vous êtes titulaire de l’un des diplômes suivants : diplôme de fin d’études
    de l’École de Transport et de Logistique, diplôme de fin d’études de
    Maîtrise du Transport routier, le BTS Transport.</font
  >
</p>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Faut-il une capacité de transport pour devenir Taxi, VTC ou VMDTR ?</font
  >
</h3>

<p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/36659/VMDTR%20Taxi-Moto.png?access_token=ef3db665-bc65-4f93-a2b2-0a12e206b24c"
    style="text-align: justify; width: 60%"
    alt="Taxi moto VMDTR"
  /><font style="color: rgb(0, 0, 0)"></font>
</p>

<div style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><span style="font-size: 1rem"
      >Il est également important de noter qu’il existe des différences notoires
      entre la capacité de transport de personnes et les licences de Taxis,
      Taxis-moto (VMDTR) et VTC.&nbsp;</span
    ></font
  >
</div>

<p></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Pour devenir taxi il faut :&nbsp;</b></font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir votre permis de conduire catégorie B,&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >disposer d’une attestation d'aptitude physique (visite médicale)
        délivrée par le préfet et un casier judiciaire vierge,&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir suivi
        <a href="https://www.mcm-academy.fr/formation-taxi">une formation</a> et
        passé un examen,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >utiliser un véhicule de 9 places maximum (chauffeur compris).</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Il faudra ensuite obtenir une carte professionnelle, demander ou acheter
    une licence (autorisation de stationnement ADS). Il faudra ensuite choisir
    le statut juridique.&nbsp;</font
  >
</p>

<p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/36660/VTC.png?access_token=d19b2551-8396-4bc0-a6ad-560e2008fe0e"
    style="text-align: justify; width: 60%"
    alt="Voiture VTC"
  /><font style="color: rgb(0, 0, 0)"></font>
</p>

<div style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><span style="font-size: 1rem"
      ><b>Pour devenir VTC il faut :</b></span
    ></font
  >
</div>

<p></p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir votre permis de conduire catégorie B (depuis plus de 3 ans) et un
        casier judiciaire vierge,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir suivi la formation de "prévention et secours civiques de niveau
        1" (PSC1) depuis moins de 2 ans,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir suivi
        <a href="https://www.mcm-academy.fr/formation-vtc"
          ><b><u>une formation</u></b></a
        >
        et passé un examen,</font
      >
    </p>
  </li>
</ul>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >demander l’obtention de la carte VTC auprès de la Préfecture,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)">immatriculer son entreprise.</font>
    </p>
  </li>
</ul>

<p style="text-align: justify"><br /></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Pour devenir VMDTR (moto-taxi) il faut :&nbsp;</b></font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir un permis moto depuis au moins trois ans,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir reçu une formation reconnue,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >avoir réussi l'examen professionnel officiel,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >disposer d’un certificat médical vous autorisant à conduire ce type de
        véhicule,&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >justifier d’au moins 1 an d’expérience professionnelle dans le
        transport de personnes.</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Les caractéristiques des véhicules destinés aux services VTC:</b></font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >le nombre de places est compris entre 4 et 9 (chauffeur compris),</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >moins de 6 ans (sauf si c'est une voiture de collection),</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)">4 portes minimum,</font>
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >dimensions minimales à respecter : 4,50 m x 1,70 m,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >moteur d’une puissance nette supérieure ou égale à 84 kW,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >vignette informant que le véhicule est destiné au transport avec
        chauffeur (VTC).</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify"><br /></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Cette capacité de transport permet également d’exercer son activité dans un
    service public de type transport scolaire. A noter que pour devenir
    capacitaire de transport, il faut également accepter de ne pouvoir
    transporter qu’une seule personne.</font
  >
</p>

<h3 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Que se passe-t-il après l’obtention d’une attestation de capacité ?</font
  >
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >L'obtention d'un certificat de capacité de transport n'est qu'une condition
    préalable à la création d'une entreprise. Pour pouvoir démarrer, vous devez
    également remplir d'autres conditions.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><b>Capacité financière</b></font>
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >La réglementation qui encadre les métiers du transport est assez stricte.
    Avant de pouvoir proposer vos services, il vous faut montrer patte blanche
    et cela passe par justifier de la solidité financière de votre
    entreprise.Vous devez ainsi prouver que vous avez les capacités financières
    de gérer votre activité. Vous devez donc déposer votre capital à la
    banque.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    ><b>Il y a une somme légale minimale à déposer :&nbsp;</b></font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Pour le transport lourd: 9000 euros pour le premier véhicule, 5000 euros
    pour les véhicules supplémentaires,&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Pour le transport léger: 1800 euros pour le premier véhicule, 900 euros
    pour les véhicules supplémentaires.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Ce capital peut être abaissé si vous disposez d’une garantie bancaire ou
    que vous pouvez fournir une attestation provenant d’un organisme habilité
    garantissant la solidité de vos finances.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><b>Demander le droit d’exercer</b></font>
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Après avoir justifié de votre capacité financière vous ne pouvez toujours
    pas ouvrir votre entreprise de transport car vous devez demander le droit
    d’exercer. C’est la DREAL qui est l’autorité compétente pour cela. Il faudra
    envoyer votre dossier incluant :&nbsp;</font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >photocopie de votre capacité de transport,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >formulaire Cerfa 14557-03 signé et tamponné par un expert
        comptable,</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0)"
        >attestation originale de dépôt des fonds.&nbsp;</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Il vous sera ensuite délivré une autorisation qui débouchera sur une
    inscription au Registre électronique national des entreprises de transport
    par route et à la délivrance d’une licence de transport provisoire,
    indispensable pour la création de votre entreprise.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Vous pourrez alors donner une existence juridique à votre entreprise de
    transport. Ce n’est qu’après tout cela que vous recevrez votre K-Bis dont il
    faudra envoyer une copie à la DREAL afin d’obtenir la licence de transport
    définitive.&nbsp;</font
  >
</p>

<h2 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Pourquoi et comment se former pour obtenir la capacité de transport ?</font
  >
</h2>

<h2 style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h2>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Il n’est pas toujours obligatoire de suivre une formation pour obtenir une
    capacité de transport. Cela dit, la formation peut être un vrai plus car
    elle est dispensée par des professionnels expérimentés. De plus, elle vous
    permet d’aborder les différents aspects de la gestion d’une entreprise de
    transport ce qui n’est pas négligeable quand on se lance.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Pour vous former, plusieurs possibilités s’offrent à vous. Vous pouvez
    passer par un organisme agréé de votre région qui dispensera alors la
    formation en présentiel. Ce type de formation est relativement coûteux et
    nécessite de se libérer pour suivre la formation.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Vous pouvez également choisir de vous former en ligne. C’est un choix de
    plus en plus populaire car il offre de nombreux avantages. Tout d’abord,
    vous pouvez suivre la formation à votre rythme. Vous pouvez ainsi vous
    former tout en continuant à travailler. C’est également économiquement plus
    intéressant car la formation est généralement moins chère.</font
  >
</p>

<div class="s_share" data-name="Share">
  <h4 class="s_share_title o_default_snippet_text">Partager</h4>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fcapacite-de-transport-le-guide-complet-14"
    target="_blank"
    class="s_share_facebook"
  >
    <i class="fa fa-1x fa-facebook rounded shadow-sm"></i>
  </a>
  <a
    href="https://twitter.com/intent/tweet?text=Capacit%C3%A9%20de%20transport%20-%20Le%20guide%20complet&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fcapacite-de-transport-le-guide-complet-14"
    target="_blank"
    class="s_share_twitter"
  >
    <i class="fa fa-1x fa-twitter rounded shadow-sm"></i>
  </a>
  <a
    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fcapacite-de-transport-le-guide-complet-14&amp;title=Capacit%C3%A9%20de%20transport%20-%20Le%20guide%20complet&amp;"
    target="_blank"
    class="s_share_linkedin"
  >
    <i class="fa fa-1x fa-linkedin rounded shadow-sm"></i>
  </a>
  <a
    href="mailto:?body=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fcapacite-de-transport-le-guide-complet-14&amp;subject=Capacit%C3%A9%20de%20transport%20-%20Le%20guide%20complet"
    class="s_share_email"
  >
    <i class="fa fa-1x fa-envelope rounded shadow-sm"></i>
  </a>
</div>

<div style="text-align: justify"><br /></div>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="btn-wiggle button button-wiggle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/capacite-de-transport-le-guide-complet"
    },
    "headline": "Capacité de transport - le guide complet",
    "image": "https://www.digimoov.fr/web/image/36658/transport%20routier%20de%20marchandises.png?access_token=c0b614dd-7d7b-4d8a-9da9-5201ff93c435",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
