<h1>
  <font style="color: rgb(0, 0, 0)"
    >Capacité de transport de marchandises obtenue : que faire ?</font
  ><br /><br />
</h1>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Être un <b>livreur indépendant</b>, devenir un transporteur personnel ou
    bien de marchandises ? Le choix est rude. En effet, plusieurs élèves qui ont
    obtenu leur capacité de transport de marchandises se demandent : que faire
    après ? <b>Quel métier avec capacité de transport ?</b> Le meilleur conseil
    que l’on puisse vous donner c’est de créer votre propre entreprise de
    transport de marchandises.</span
  ><br />
</p>

<h2>
  <font style="color: rgb(0, 0, 0)"
    >Le type de transport de marchandises<br /></font
  ><br />
</h2>

<p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/29784/transporteur%20de%20marchandise.png?access_token=84d60bae-01f4-4818-ae75-85a791ba9fd0"
    style="width: 434px"
    alt="Transporteur-livreur de marchandise"
  /><span style="color: rgb(0, 0, 0); font-size: 18px"></span>
</p>

<div>
  <font style="color: rgb(0, 0, 0)"
    >Bien déterminer le type de transport permet de circonscrire son domaine
    d’activité. De ce fait, pour une société d’expédition de cargaison, vous
    devez choisir votre domaine en fonction de votre aptitude. Vous aurez alors
    le choix entre deux types à savoir :</font
  >
</div>

<p></p>

<ul>
  <li>
    <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0); font-size: 18px"
        ><b>Le transport lourd de marchandises</b> : si vous voulez exploiter
        des véhicules dépassant les 3,5 tonnes du PTAC (Poids Total Autorisé en
        Charge).&nbsp;</span
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0); font-size: 18px"
        ><b>Le transport léger de marchandises</b> : si vos véhicules
        transportent des colis en dessous de 3,5 tonnes du PTAC.</span
      >
    </p>
  </li>
</ul>

<p></p>

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0)"
    >La compétence en transport léger prend également en compte les véhicules à
    deux roues (les motos, les scooters…)</span
  >
</div>

<div style="text-align: justify"><br /></div>

<p></p>

<div>
  <h2>
    <font style="color: rgb(0, 0, 0)"
      >Comment obtenir la capacité de transport de marchandises ?<br /></font
    ><br />
  </h2>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Toute activité dans la livraison de cargaison ne peut avoir lieu sans une
      pièce justificative. En effet, une personne qui sait conduire un camion ne
      peut se déclarer transporteur routier sans un document officiel. Vous
      devez alors détenir la
      <b
        ><a
          href="/blog/digimoov-3/post/a-quoi-sert-l-attestation-de-capacite-de-transport-leger-3"
          >capacité de transport de marchandises</a
        ></b
      >
      pour devenir un transporteur public routier.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >En fonction du type d’expédition, vous pouvez avoir deux types de
      capacité de transport de marchandises.</span
    >
  </p>
</div>

<div style="border-style: none; border-width: 0px">
  <h3>
    <font style="color: rgb(0, 0, 0)"
      >La capacité de transport de marchandises pour les moins de 3,5 tonnes<br /></font
    ><br />
  </h3>
  <p style="text-align: justify">
    <img
      class="img-fluid o_we_custom_image float-right"
      src="/web/image/29785/Prestataire%20de%20transport%20de%20marchandise.png?access_token=f57cd6a3-20fa-469d-8a4e-f75f8eadd59f"
      style="width: 434px"
      alt="Prestataire de transport de marchandise"
    /><span style="color: rgb(0, 0, 0); font-size: 18px"></span>
  </p>
  <div>
    <font style="color: rgb(0, 0, 0)"
      >Après avoir déterminé le type de service, vous avez fait le choix de
      devenir un <b>transporteur léger de marchandises</b>. De ce fait, vous
      devez disposer d’une
      <b
        ><a
          href="/blog/digimoov-3/post/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5"
          >capacité de transport léger de marchandises</a
        ></b
      >.</font
    >&nbsp;
  </div>
  <p></p>
  <p>
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Vous allez alors suivre une
      <b
        ><a
          href="/blog/digimoov-3/post/bon-a-savoir-sur-la-formation-capacite-de-transport-leger-6"
          >formation en capacité professionnelle de 105 heures</a
        ></b
      >
      auprès des organismes agréés par la DREAL. Vous pouvez trouver la liste de
      ces établissements agréés chez le bureau de la
      <b
        ><a
          href="https://fr.wikipedia.org/wiki/Direction_r%C3%A9gionale_de_l%27Environnement,_de_l%27Am%C3%A9nagement_et_du_Logement"
          >DREAL</a
        ></b
      >
      de votre région.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Vers la fin d’études, un examen national est obligatoire pour valider
      votre capacité de transport de marchandises. En cas de réussite, la DREAL
      vous délivre la capacité professionnelle en transport léger. Si vous
      échouez, vous avez toujours la possibilité de repasser une deuxième fois
      l’examen sans la formation.&nbsp;</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Cette formation ne sera pas obligatoire si :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: left">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Vous détenez un baccalauréat professionnel « Exploitation des
          transports » ou un baccalauréat professionnel « Transport »</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: left">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Vous avez au moins 2 ans d’expériences dans le domaine du transport
          de marchandises durant les 10 dernières années</span
        >
      </p>
    </li>
  </ul>
  <p></p>
  <div style="text-align: justify">
    <span style="color: rgb(0, 0, 0)"
      >Vous devez alors remplir le
      <b
        ><a
          href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
          >formulaire CERFA N° 11414</a
        ></b
      >
      pour ensuite le transmettre au centre de formation. Cette dernière
      déposera auprès de la DREAL tous les dossiers de demande d’attestation de
      capacité professionnelle. Vous allez recevoir par colis postal
      l’attestation de capacité professionnelle. Équipez-vous d’un peu de
      patience, car vu la situation sanitaire existante, la réponse prendra
      quelque temps.&nbsp;</span
    >
  </div>
  <br />
  <p></p>
  <section
    class="s_creative_center_para_with_two_buttons"
    data-name="Center paragraph with two buttons"
  >
    <div class="spacer feature">
      <div class="container" style="width: 620px">
        <div class="row justify-content-center">
          <div
            class="col-md-7 text-center pb16 col-lg-8"
            style="
              width: 433.328px;
              flex-basis: 66.6667%;
              max-width: 66.6667%;
              border-style: solid;
              border-width: 0px;
              border-color: rgb(94, 23, 235);
            "
          >
            <h2
              class="subtitle"
              style="
                color: rgb(94, 23, 235);
                font-size: 25px;
                line-height: 0.8cm !important;
              "
            >
              <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b>
            </h2>
            <p class="subtitle" style="text-align: left">
              <font
                style="
                  font-size: 18px;
                  color: rgb(32, 38, 71);
                  line-height: 0.8cm !important;
                "
                ><span style="font-weight: bolder"
                  >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                  maintenant et soyez prêts pour l'examen final. Formation
                  éligible au CPF !</span
                ></font
              >
            </p>
            <div class="m-t-40 s_btn pt0" data-name="Button">
              <a
                class="btn-wiggle button button-wiggle"
                href="http://bit.ly/trackblogbanners"
                >Je m'inscris<span
                  class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
                  style="width: 1.28571em"
                ></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h3>
    <font style="color: rgb(0, 0, 0)"
      >La capacité de transport de marchandises pour poids lourds<br /></font
    ><br />
  </h3>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >La capacité de transport lourd de marchandises permet de transporter les
      cargaisons <b>au-dessus de 3,5 tonnes PTAC</b>. En ce qui concerne
      l’expédition lourde de fret, les informations suivantes sont primordiales
      :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >L’examen national ne se passe qu’une fois par an. En cas d’échec,
          vous serez obligé d’attendre la prochaine session annuelle.</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Vous devez envoyer un dossier d’inscription à l’examen à la
          DREAL.</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >La formation en capacité professionnelle n’est pas obligatoire. Vous
          pouvez tout de même vous rapprocher de certains organismes agréés pour
          approfondir vos acquis. Ils vous offrent une formation qui vous
          prépare directement à l’examen. Vous aurez un meilleur taux de
          réussite, mais le coût de cette formation reste onéreux.&nbsp;</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >L’examen concerne surtout la gestion de l’exploitation d’une
          entreprise de transport de marchandises&nbsp;</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Vous serez dispensé de la formation professionnelle et de l’examen
          national si vous détenez un diplôme d’équivalence. Mais comment avoir
          la capacité de transport par équivalence ? Pour cela, vous devez
          détenir un baccalauréat professionnel « exploitation des transports »
          ou « transport ».&nbsp;</span
        >
      </p>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Pour cette capacité, vous devez toujours remplir dûment
      <b
        ><a
          href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
          >le formulaire CERFA N° 11414</a
        ></b
      >
      pour le déposer auprès de la DREAL.</span
    >
  </p>
  <h2>
    <span style="color: rgb(0, 0, 0)"
      >Justifiez votre capacité financière<br /><br
    /></span>
  </h2>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"></span>
  </p>
  <div style="text-align: justify">
    <font style="color: rgb(0, 0, 0)"
      >Outre la capacité de transport, vous devez également justifier votre
      disponibilité financière. Une étape essentielle pour votre inscription au
      registre des transporteurs et la création de votre entreprise de transport
      routier. Une attestation de capacité financière prouvera que votre
      entreprise possède les ressources suffisantes pour cette
      activité.&nbsp;</font
    >
  </div>
  <p></p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >La première démarche est logiquement d’ouvrir un compte bancaire
      professionnel au nom de votre société.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Ensuite, vous devez déposer à la banque un capital social avec un dépôt
      minimum comme suit :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          ><b>Pour le transport léger (-3,5 T PTAC)</b> : versez au moins 1 800
          euros pour le premier engin et 900 euros pour chaque véhicule
          ajouté.&nbsp;</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          ><b>Pour le transport lourd (+3,5 T PTAC)</b> : la solde doit être 9
          000 euros pour le premier camion et 5 000 euros pour les autres.</span
        >
      </p>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Il est à noter que si vous exercez dans les
      <b>territoires d’outre-mer</b>, le montant minimum diminue. En effet, pour
      le transport léger, le solde est de 600 euros pour les autres véhicules.
      Le montant diminue également pour les poids lourds : 6 000 euros le
      premier camion et 3 000 euros après.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Sachez également que vous pouvez demander du financement auprès des
      <b>organismes de micro-crédits ou bancaires agréés par l’ACPR</b>.</span
    >
  </p>
  <p></p>
  <div style="text-align: justify">
    <span style="color: rgb(0, 0, 0)"
      >La DREAL contrôlera chaque année votre capacité financière. En effet,
      elle sera validée par un cabinet d’expertise-comptable certifié par un
      expert-comptable.</span
    >
  </div>
  <br />
  <p></p>
  <h2>
    <font style="color: rgb(0, 0, 0)"
      >Obtenez l’agrément de la DREAL/DRIEAT<br /></font
    ><br />
  </h2>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >La capacité de transport de marchandises n’est rien sans l’approbation de
      la DREAL. En effet, pour débuter en tant que transporteur de marchandises,
      vous devez obtenir l’autorisation d’exercer de la DREAL. La DREAL ou
      Direction Régionale de l’Environnement, de l’Aménagement et du Logement
      est l’autorité qui valide ou non votre demande. Elle est habilitée pour
      contrôler l’activité aux transports publics routiers de personnes ou des
      marchandises.&nbsp;</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      ><b>Cette approbation se fait par la démarche ci-après</b> :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: left">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Faites une demande d’inscription dans le registre des transports et
          d’obtention de la licence de transport intérieur (LTI).</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: left">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Remplissez
          <b
            ><a
              href="https://www.formulaires.service-public.fr/gf/cerfa_14557.do"
              >le formulaire CERFA N° 14557*03</a
            ></b
          >
          et y apposez votre signature.</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: left">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >Faites tamponner le dossier de demande constitué et le formulaire
          CERFA par un expert-comptable.</span
        >
      </p>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Envoyez le dossier sur le site internet de la DREAL.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Après cette requête, vous allez recevoir un récépissé de la DREAL que
      vous allez utiliser comme licence provisoire. De ce fait, vous pouvez déjà
      enregistrer et immatriculer votre entreprise au RCS (Registre du Commerce
      et des Sociétés).&nbsp;</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >De plus, deux autres critères indispensables vous seront demandés :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          ><b>Le siège social de votre entreprise</b> : vos locaux qui peuvent
          contenir les documents administratifs essentiels. Votre siège doit
          impérativement se trouver en France pour être validé.</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          ><b>Justification de votre honorabilité professionnelle</b> : ceci
          signifie que votre casier judiciaire est vierge de toute interdiction
          d’exercer une activité professionnelle ou d’infractions (sécurité
          routière).<br
        /></span>
      </p>
    </li>
  </ul>
  <section
    class="s_creative_center_para_with_two_buttons"
    data-name="Center paragraph with two buttons"
  >
    <div class="spacer feature">
      <div class="container" style="width: 620px">
        <div class="row justify-content-center">
          <div
            class="col-md-7 text-center pb16 col-lg-8"
            style="
              width: 433.328px;
              flex-basis: 66.6667%;
              max-width: 66.6667%;
              border-style: solid;
              border-width: 0px;
              border-color: rgb(94, 23, 235);
            "
          >
            <h2
              class="subtitle"
              style="
                color: rgb(94, 23, 235);
                font-size: 25px;
                line-height: 0.8cm !important;
              "
            >
              <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b>
            </h2>
            <p class="subtitle" style="text-align: left">
              <font
                style="
                  font-size: 18px;
                  color: rgb(32, 38, 71);
                  line-height: 0.8cm !important;
                "
                ><span style="font-weight: bolder"
                  >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                  maintenant et soyez prêts pour l'examen final. Formation
                  éligible au CPF !</span
                ></font
              >
            </p>
            <div class="m-t-40 s_btn pt0" data-name="Button">
              <a
                class="btn-wiggle button button-wiggle"
                href="http://bit.ly/trackblogbanners"
                >Je m'inscris<span
                  class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
                  style="width: 1.28571em"
                ></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h2>
    <font style="color: rgb(0, 0, 0)"><br />Créez votre entreprise<br /></font
    ><br />
  </h2>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Après avoir obtenu l’approbation de la DREAL, vous êtes sur le point
      fatidique de
      <b
        ><u
          ><a
            href="/blog/digimoov-3/post/comment-devenir-auto-entrepreneur-dans-le-domaine-du-transport-33"
            >créer votre entreprise de transport</a
          ></u
        ></b
      >. Vous allez constater qu’en créant votre entreprise, vous utilisez au
      mieux votre capacité de transport de marchandises. Il existe plusieurs
      étapes essentielles que vous devez suivre pour ce faire.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Vous trouverez ci-après ces étapes : vous devez passer par le choix du
      statut juridique, la rédaction du statut et son immatriculation auprès de
      la RCS.</span
    >
  </p>
  <div><br /></div>
  <div>
    <h3>
      <font style="color: rgb(0, 0, 0)">Choix du statut juridique<br /></font
      ><br />
    </h3>
    <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0); font-size: 18px"
        >Le statut juridique dépend du type d’activité qu’offre votre capacité
        de transport de marchandises. Vous avez le choix entre :&nbsp;</span
      >
    </p>
    <ul>
      <li>
        <p style="text-align: justify">
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Une microentreprise</span
          >
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Une entreprise individuelle à responsabilité limitée (EIRL)</span
          >
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Une entreprise unipersonnelle à responsabilité limitée ou une
            société par action simplifiée unipersonnelle (EURL ou SASU)</span
          >
        </p>
      </li>
    </ul>
    <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0); font-size: 18px"
        >Avec les deux dernières structures, vous pouvez efficacement protéger
        votre patrimoine personnel. Ce sont les structures les mieux adaptées à
        votre capacité de transport de marchandises, car elles sont simplifiées.
        De plus, vous pouvez obtenir un meilleur financement bancaire que pour
        une entreprise individuelle. En effet, les établissements de crédit
        multiplient les prêts pour toute société avec un patrimoine bien
        défini.</span
      >
    </p>
    <p style="text-align: justify">
      <span style="color: rgb(0, 0, 0); font-size: 18px"
        >Si vous n’avez pas d’associé, optez pour une EURL ou une SASU.</span
      >
    </p>
    <p></p>
    <div style="text-align: justify">
      <span style="color: rgb(0, 0, 0)"
        >Par contre, si vous avez plusieurs associés, choisissez de créer une
        SARL ou une SAS.</span
      >
    </div>
    <br />
    <p></p>
    <h3>
      <font style="color: rgb(0, 0, 0)"
        >Rédaction du statut de la société<br /></font
      ><br />
    </h3>
    <p style="text-align: justify">
      <img
        class="img-fluid o_we_custom_image float-right"
        src="/web/image/29786/Projet%20transport%20de%20marchandise.png?access_token=06a89353-3f98-4a31-a333-07422c44e572"
        style="width: 434px"
        alt="Projet de création d'entreprise de transport routier de marchandise"
      /><span style="color: rgb(0, 0, 0); font-size: 18px"></span>
    </p>
    <div>
      <font style="color: rgb(0, 0, 0)"
        >Après l’établissement de la structure juridique, vous devez maintenant
        rédiger le statut de la société. Vous pouvez ainsi déterminer les
        caractéristiques de votre entreprise de transport :</font
      >
    </div>
    <p></p>
    <ul>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >La forme juridique de la société</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Son objet social (la nature de l’activité de transport, sa
            localisation)</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Sa dénomination sociale (le nom de la société)</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Son siège social (le justificatif de domicile)</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px">Sa durée</span>
        </p>
      </li>
      <li>
        <p>
          <span style="color: rgb(0, 0, 0); font-size: 18px"
            >Le montant de son capital social</span
          >
        </p>
      </li>
    </ul>
  </div>
</div>

<div style="border-style: none; border-width: 0px">
  <h3>
    <font style="color: rgb(0, 0, 0)"
      ><br />Immatriculation auprès de la RCS<br /></font
    ><br />
  </h3>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Comme énoncé plus haut, dès l’approbation de la DREAL vous pouvez
      immatriculer votre société. Les démarches dépendent de la forme juridique
      de votre entreprise. En effet, vous devez :</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Pour une entreprise individuelle : tout simplement déposer la déclaration
      d’activité au Greffe</span
    >
  </p>
  <p></p>
  <div style="text-align: justify">
    <span style="color: rgb(0, 0, 0)"
      >Pour une société de transport : rédiger le statut, faire un dépôt de
      capital, finaliser les statuts et les signer, déposer la demande au
      Greffe</span
    >
  </div>
  <font color="#000000" style="color: rgb(0, 0, 0)"><br /><br /></font>
  <p></p>
  <h2>
    <font style="color: rgb(0, 0, 0)">Démarrez votre activité<br /></font><br />
  </h2>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Lorsque vous avez complété ces formalités, le Greffe du Tribunal de
      Commerce vous donne un extrait K-Bis. Vous devez encore renvoyer ce
      document à la DREAL pour qu’enfin elle vous délivre votre licence de
      transport définitive.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Le moment tant attendu est arrivé ! Vous pouvez maintenant démarrer votre
      activité. Le top est donné après la réception de la licence de transport
      définitive auprès de la DREAL.</span
    >
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Pour tout contrôle, vous devez alors inscrire votre numéro de licence sur
      chaque véhicule (scooter, voiture ou camionnette) que vous utilisez.</span
    >
  </p>
  <div class="s_share" data-name="Share">
    <h4 class="s_share_title o_default_snippet_text">Partager</h4>
    &nbsp;<a
      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fj-ai-reussi-mon-examen-de-capacite-de-transport-de-marchandise-que-faire-ensuite-12"
      target="_blank"
      class="s_share_facebook"
      ><span class="fa fa-1x fa-facebook rounded shadow-sm"></span></a
    >&nbsp;<a
      href="https://twitter.com/intent/tweet?text=Exploitez%20votre%20capacit%C3%A9%20de%20transport%20de%20marchandise&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fj-ai-reussi-mon-examen-de-capacite-de-transport-de-marchandise-que-faire-ensuite-12"
      target="_blank"
      class="s_share_twitter"
      ><span class="fa fa-1x fa-twitter rounded shadow-sm"></span></a
    >&nbsp;<a
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fj-ai-reussi-mon-examen-de-capacite-de-transport-de-marchandise-que-faire-ensuite-12&amp;title=Exploitez%20votre%20capacit%C3%A9%20de%20transport%20de%20marchandise&amp;"
      target="_blank"
      class="s_share_linkedin"
      ><span class="fa fa-1x fa-linkedin rounded shadow-sm"></span></a
    >&nbsp;<a
      href="mailto:?body=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fj-ai-reussi-mon-examen-de-capacite-de-transport-de-marchandise-que-faire-ensuite-12&amp;subject=Exploitez%20votre%20capacit%C3%A9%20de%20transport%20de%20marchandise"
      class="s_share_email"
      ><span class="fa fa-1x fa-envelope rounded shadow-sm"></span
    ></a>
  </div>
  <br />
</div>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container" style="width: 620px">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            width: 433.328px;
            flex-basis: 66.6667%;
            max-width: 66.6667%;
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              color: rgb(94, 23, 235);
              font-size: 25px;
              line-height: 0.8cm !important;
            "
          >
            <span style="font-weight: bolder">Besoin d'obtenir votre&nbsp;</span
            ><span
              class="typewrite"
              data-period="5000"
              data-type='[ "capacité de transport léger ?" ]'
              ><span class="wrap">capacité de transport léger ?</span></span
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: rgb(32, 38, 71);
                line-height: 0.8cm !important;
              "
              ><span style="font-weight: bolder"
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</span
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="btn-wiggle button button-wiggle"
              href="http://bit.ly/trackblogbanners"
              >Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
                style="width: 1.28571em"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
