<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<h1>Devenir auto entrepreneur en transport de marchandises</h1>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black">
    L’activité de transporteur ou de livreur en véhicule léger est à portée à
    chacun grâce aux réglementations accessibles. Il est en effet donné à tous
    de bénéficier des avantages inhérents à une pareille activité
    professionnelle. Toutefois, avant d’exercer ce métier, vous serez tenus de
    respecter différentes démarches préalables.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Outre le respect de la réglementation incombant au statut de transporteur
    ou livreur de marchandises, il vous faudra créer votre entreprise. Cette
    démarche impliquera par conséquent de devenir auto-entrepreneur ou, plus
    spécifiquement, micro-entrepreneur. Cela, de sorte à bénéficier du régime
    fiscal et du régime de sécurité sociale les mieux attribués à votre nouveau
    statut mais aussi, afin d’être en conformité avec la loi.</span
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a class="btn-wiggle button button-wiggle" href="/#pricing">
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    class="text-alpha"
    >Le marché du transport de colis</span
  >
</h2>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Le marché du transport de colis est une activité qui se développe et
    connaît un engouement sans cesse plus conséquent auprès de nombreux
    particuliers. Aussi, devenir auto-entrepreneur et créer sa micro-entreprise
    s’avérera primordial pour que vous puissiez bénéficier des avantages de la
    profession.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: black;
    "
    >Le marché du transport de colis en chiffres</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >La crise sanitaire et les confinements successifs ont permis d’accentuer
    considérablement l’essor du commerce en ligne. De ce fait, le marché du
    transport de colis a bondi de 12 % en 2020 rien qu’en France. Ce qui, dès
    lors, en fait l’une des activités les plus lucratives à exercer sur le
    territoire français.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >On estime que le nombre de colis livrés pour l’année, rien qu’en France,
    dépasse le milliard. Ce qui, à terme, a permis de générer un revenu global
    de 7 milliards d’euros pour ce secteur uniquement. Bien qu’impressionnants,
    ces chiffres ne sont qu’un début en ce sens où on estime une croissance
    annuelle de 8 % pour ce qui concerne le milieu du transport de colis. Soit
    un secteur à investir de toute urgence.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >La formation requise pour être transporteur véhicule léger</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Il est possible alors de souscrire à une formation pour devenir livreur
    poids léger. Cette formation, primordiale pour obtenir les acquis du métier,
    pourra être accessible auprès d’un organisme reconnu par les pouvoirs
    publics. Un centre de formation tel que Digimoov vous permettra ainsi
    d’accéder à un enseignement de qualité afin de bénéficier du statut de
    transporteur poids léger.</span
  >
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Les débouchés professionnels d’un transporteur de colis</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Devenir auto-entrepreneur en matière de transport de colis en véhicule
    léger vous permettra ainsi de gagner des revenus conséquents tout en
    profitant de votre itinéraire du moment. La loi prévoit en effet qu’un
    livreur de colis professionnel peut être sollicité en fonction du trajet
    qu’il sera amené à convoyer durant une journée donnée. Si, du fait de
    certaines de vos obligations, vous êtes tenu de devoir parcourir de longues
    distances en voiture, vous pourrez ainsi rentabiliser vos voyages en
    pratiquant une activité de chauffeur-livreur poids léger en tant
    qu’auto-entrepreneur.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Cela, à moins que vous ne préfériez vous investir à plein temps dans cette
    activité aux multiples avantages et qui ne nécessitera pas de souscrire à de
    nombreuses formalités avant que vous puissiez l’exercer. Néanmoins, afin de
    respecter la loi, vous devrez bénéficier d’un statut professionnel adéquat.
    Devenir auto-entrepreneur, de ce fait, sera indispensable à la pratique de
    votre activité. </span
  ><br /><img
    class="img-fluid o_we_custom_image"
    src="/web/image/227167/Les_avantages_%20du_%20statut_%20de_%20micro-entrepreneur%20_pour_%20un_%20transporteur.png?access_token=4f527124-6951-493f-99ec-c8a05f3d8a18"
  /><br />
</p>

<h2
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    class="text-alpha"
    >Les avantages du statut de micro-entrepreneur pour un
    transporteur/livreur</span
  >
</h2>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Devenir auto-entrepreneur pour mener à bien son activité de
    chauffeur-livreur poids léger implique de choisir le statut le plus souple
    afin de bénéficier de bon nombre d’avantages associés à ce dernier. En
    premier lieu, devenir auto-entrepreneur en optant pour le statut de
    micro-entrepreneur se veut on ne peut plus simple du point de vue des
    formalités. C’est ce qui le rend ce statut plus attractif au premier abord.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Les formalités initiales pour devenir auto-entrepreneur</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >L’inscription en tant que micro-entrepreneur s’effectue via une simple
    déclaration en ligne sur le guichet des entreprises ou bien par courrier
    auprès d’un centre de formalités des entreprises. Les démarches qui suivent
    impliquent alors de remplir le Cerfa P0 afin d’être inscrit au registre du
    commerce et des sociétés.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Bénéficier des avantages du régime fiscal de votre micro-entreprise</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >En plus de bénéficier des avantages d’une TVA réduite en optant pour le
    statut de micro-entrepreneur, devenir auto-entrepreneur par ce biais vous
    permettra notamment d’accéder à une comptabilité simplifiée ; c’est-à-dire
    une comptabilité que vous pourrez gérer vous-même sans avoir à vous en
    remettre à un comptable professionnel.</span
  >
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Qui plus est, en tant que micro-entrepreneur, seul votre bénéfice net sera
    imposable puisque l’activité que vous exercerez sera une prestation de
    services. De ce fait, seuls 50 % du bénéfice net sera reconnu comme
    imposable.</span
  >
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >La sécurité sociale pour un micro-entrepreneur</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Le régime de sécurité sociale, alors, dépendra de celui des travailleurs
    indépendants et comprendra de très nombreuses prestations. Celles-ci allant
    de l’assurance-maladie au droit à la retraite. La loi, en effet, encadre les
    travailleurs indépendants dont les cotisations ont vocation à leur assurer
    une sécurité sociale à même de les prendre en charge.</span
  >
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Devenir auto-entrepreneur et exercer son activité selon ses
    conditions</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Sur le plan pratique, le statut de micro-entrepreneur vous permettra de
    mener votre activité comme bon vous l’entendez. Devenir auto-entrepreneur
    vous autorise en effet à déterminer vos heures de travail. C’est à vous de
    décider de quand et comment vous travaillerez, aussi longtemps que vous
    respecterez la loi.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-size: 24px;
      font-weight: bolder;
    "
    class="text-alpha"
    >Les démarches et étapes nécessaires à la création d’une entreprise de
    transport</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Au terme de votre formation, une fois celle-ci vous ayant consacré comme
    livreur de colis poids léger, n’envisagez pas immédiatement votre
    inscription sur une plateforme de transporteurs. Vous devrez en premier lieu
    créer votre entreprise. Devenir auto-entrepreneur passera alors par
    certaines démarches et autres formalités préalables d’ici à ce que vous
    puissiez exercer votre activité de chauffeur à titre professionnel.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Créer sa micro-entreprise : les démarches administratives</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Les démarches administratives entourant la création de votre
    micro-entreprise peuvent être fastidieuses. Certaines plateformes se
    proposeront de les accomplir en votre nom dès lors où vous leur aurez fourni
    les pièces justificatives requises.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Suite à cette inscription, votre entreprise sera immatriculée au registre
    du commerce et des sociétés. Vous recevrez alors votre numéro SIRET. Ne
    perdez pas de vue ce référent capital qui se voudra la pièce d’identité de
    votre entreprise.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Se faire enregistrer officiellement en tant que transporteur/livreur</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Une fois micro-entrepreneur, vous devrez poursuivre les démarches de sorte
    à être officiellement homologué comme transporteur poids léger. Pour
    pratiquer cette activité, la loi vous astreint par conséquent à vous
    inscrire au registre national des transporteurs. Aussi, pour régulariser
    votre activité de transport en devenir, vous devrez souscrire à une
    assurance responsabilité civile professionnelle.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Car en effet, devenir auto-entrepreneur dans le milieu des
    chauffeurs-livreurs impliquera nécessairement que vous fassiez usage d’un
    véhicule donné. Celui-ci ne devra plus être seulement assuré à titre
    particulier, mais aussi en tant que véhicule attribué à un usage
    professionnel.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Une fois certifié auprès de la loi comme transporteur/livreur et détenteur
    d’un SIRET, vous pourrez enfin envisager de vous inscrire sur les
    plateformes de transporteurs pour accéder plus facilement à une clientèle
    conséquente entre autres avantages.</span
  >
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-size: 24px;
      font-weight: bolder;
    "
    class="text-alpha"
    >Transport de colis en véhicule léger : la réglementation</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >L’activité de transport de colis en véhicule léger a pour centre des
    formalités des entreprise (CFE) la Chambre de Commerce et de l’Industrie.
    Comme précisé précédemment, c’est auprès de cette dernière que vous devrez
    vous enregistrer afin de devenir auto-entrepreneur dans le domaine du
    transport-léger.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >La référence législative d’un transporteur/livreur</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >La réglementation incombant à ce statut particulier recouvre de nombreuses
    particularités dont il vous faudra prendre connaissance afin d’exercer votre
    activité dans les meilleurs termes. Cela, afin de bénéficier pleinement des
    avantages d’un micro-entrepreneur en respectant certaines conditions à la
    lettre.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Vous saurez par conséquent que votre
    <b
      ><a
        href="https://www.economie.gouv.fr/entreprises/activite-entreprise-code-ape-code-naf"
        style=""
        ><span
          data-original-title=""
          title=""
          aria-describedby="tooltip246321"
          style=""
          >code APE</span
        ></a
      > </b
    >(Activité principale exercée) a pour référence «53.20Z-Autres activité de
    poste et de courrier». Le transport de colis, en effet, est assimilé à une
    forme d’activité postale. Ne vous étonnez pas par conséquent si le centre
    des formalités des entreprises se réfère à votre activité en tant que tel.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >La réglementation entourant les prestations sociales d’un auto-entrepreneur
    spécialisé dans la livraison de volis</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Pour bénéficier de la sécurité sociale et des avantages associés à cette
    dernière, l’auto-entrepreneur que vous serez devra verser des cotisations
    sociales auprès des URSSAF. Celles-ci, alors, prélèveront un montant de 22 %
    du chiffre d’affaires réalisé chaque mois ou chaque trimestre selon ce que
    vous aurez convenu. Retenez toutefois qu’en souscrivant à l’ACRE (L’Aide à
    la Création et au Rachat d’Entreprise), ce montant pourra être réduit à 11 %
    seulement durant vos trois premières années d’activité.
  </span>
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: black;
    "
    >La réglementation relative au revenu de votre activité</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >De par la loi, les revenus d’un livreur de colis en véhicule léger relèvent
    des bénéfices industriels et commerciaux.
  </span>
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Du fait qu’il s’agisse d’une activité commerciale, devenir
    auto-entrepreneur en livraison de colis impose donc de ne pas dépasser un
    chiffre d’affaires maximum de 72 600 euros annuel. Au-delà, vous seriez
    alors tenu de modifier le statut de votre auto-entreprise. </span
  ><br /><img
    class="img-fluid o_we_custom_image"
    src="/web/image/227168/devenir-livreur-digimoov.png?access_token=c18d8574-a1e9-4174-83b3-73e7512bc2ae"
  /><br />
</p>

<h2
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font class="text-alpha"
      >Comment se positionner sur le marché ?&nbsp;</font
    ></span
  >
</h2>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  En tant que nouveau transporteur en véhicule léger, vous serez amené à devoir
  vous singulariser de la concurrence préexistante. Plutôt que de rejoindre une
  filière générale et saturée de concurrents éventuels, cherchez plutôt à vous
  démarquer au regard des services que vous mettrez en avant.
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >La spécialisation de votre activité pour trouver une clientèle de
    niche</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Pour bénéficier d’une clientèle disposée à s’en remettre à vos services,
  sachez développer certains avantages que n’ont pas vos concurrents. Cela
  impliquera par conséquent de s’adresser à une clientèle dite « de niche » dont
  les besoins en matière de transport de colis sont spécifiques et particuliers.
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Un chauffeur-livreur spécialisé par exemple dans le transport d’objet fragile,
  et étant équipé pour une telle activité, sera alors plus à même de se
  distinguer d’un concurrent qui ne saurait se prévaloir d’une telle expertise.
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Bénéficier des avantages d’une position de sous-traitant</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Aussi, au commencement de votre activité de livreur de colis en véhicule
  léger, n’hésitez pas à proposer des services de sous-traitance à de grandes
  entreprises spécialisées dans le transport de colis. Sachez vous montrer
  disponible et présentez la souplesse de vos services afin de les rendre plus
  attractifs. Un sous-traitant qui sait se mettre à la disposition de ses
  partenaires sera garanti d’être récompensé par une quantité de travail
  considérable. À vous alors de vous organiser pour l’assumer en conséquence.
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Le cas du colis express</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Si vous ne souhaitez pas pratiquer le transport de colis sur de longues
  distances, spécialisez-vous dans le colis express. Cette méthode de livraison,
  pratiquée dans les grandes agglomérations, est très estimée de nombreux
  commerçants. Les e-commerces notamment, qui sont un peu plus nombreux chaque
  année, recherchent en priorité des chauffeurs à même de mettre leur rapidité
  en avant.
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Assurez-vous cependant de respecter la loi et le code de la route, même dans
  le cadre de votre offre de service.
</p>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Aller au-delà de la simple activité de transport de colis</span
  >
</h3>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  Enfin, vous singulariser de la concurrence peut aussi passer par la
  spécialisation dans les services dits complémentaires, ceux-ci étant proposés
  aux particuliers. Il s’agit de proposer des prestations analogues au transport
  de colis sans que celles-ci relèvent pour autant de la livraison. Il peut
  s’agir par exemple de proposer aux particuliers de monter certains meubles que
  vous serez amené à leur livrer entre autres services associés.
</p>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    white-space: pre-wrap;
  "
>
  À vous de vous démarquer afin de devenir indispensable. Renseignez-vous sur
  chaque spécialité éventuelle incombant à l’activité de transporteur de colis.
  Vous saurez y trouver votre place ainsi que votre clientèle de niche.
</p>
