<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
    />

    <section class="blog-article-prototype">
      <h1>Comment financer ma formation par Pôle emploi ?</h1>
      <p>
        La recherche d’emploi reste un grand dilemme pour un citoyen en recherche
        d’emploi. Cependant, pour faciliter l’embauche mais également pour avoir plus de
        compétences dans des différents domaines, il existe des organismes qui œuvrent
        pour le financement des personnes qui veulent approfondir une branche. C’est un
        grand coup de pouce pour la vie des citoyens. Comment s’y prendre pour avoir ce
        <b>financement par Pôle emploi</b> ?
      </p>
      <img
        class="img-fluid o_we_custom_image"
        src="/web/image/269814/2%20DIGI.png?access_token=bc689230-877c-45a0-ba1b-673c53336a3a"
        title="candidat capacité de transport"
        alt="candidat financement pôle emploi"
      />
      <h2>Financement par Pôle emploi : ce qu’il faut savoir</h2>
      <p>
        Le <b>financement Pôle emploi</b> aide tous les demandeurs d’emploi inscrits à
        Pôle emploi à acquérir de nouvelles connaissances selon leurs besoins. En effet,
        la personne concernée peut vouloir élargir ses compétences d’un côté. D’un autre
        côté, l’enseignement peut être utile à ses futurs emplois. Par conséquent, vous
        pouvez obtenir une <b>aide financière</b> venant de plusieurs organismes pour
        payer vos <b>frais de formation</b> pédagogique.
      </p>
      <p>
        L’aide octroyée par Pôle emploi est réservée aux <b>demandeurs d’emploi</b>, aux
        stagiaires, aux salariés en contrat précaire, aux <b>personnes en congé,</b> aux
        <b>détenteurs de contrat de sécurisation professionnelle ou CSP, </b>aux
        <b>personnes en parcours d’accompagnement personnalisé</b>, etc.
      </p>
      <p>
        Seuls les frais de formation sont sujets à un financement. Les frais d’examen, le
        transport, les repas, ainsi que l’hébergement et autres détails logistiques ne
        sont pas pris en charge. Toutefois, il existe des aides en rapport avec la
        mobilité et la garde des enfants que Pôle emploi peut offrir si vous en faites la
        demande.
      </p>
      <p>
        Ce sont le conseil Régional ou les collectivités territoriales ainsi que les
        opérateurs de compétences, l’Agefiph et Pôle emploi qui participent activement à
        l’octroi d’aide financière à ces personnes qui veulent suivre une discipline.
        L’Agefiph est strictement réservé aux demandeurs d’emploi en situation de
        handicap. Ce sont des formations entièrement prises en charge pour la plupart.
        Vous pouvez également bénéficier d’une <b>aide financière individuelle</b> par
        votre
        <a href="/blog/le-compte-personnel-de-formation-tout-comprendre-sur-ce-processus">
          <b
            ><a><b>C</b>ompte <b>P</b>ersonnel de <b>F</b>ormation ou CPF.</a></b
          >
        </a>
      </p>
      <p>
        Avec Pôle emploi, on peut recevoir un apprentissage avant d’être embauché pour un
        nouveau travail. C’est un accord entre Pôle emploi et le futur employeur.
        L’initiation peut être payée par Pôle emploi par l’intermédiaire de l’<b
          >Action de Formation Préalable au Recrutement</b
        >
        (AFPR) ou par la <b>Préparation Opérationnelle à l’Emploi Individuelle</b> (POEI).
      </p>
      <p>
        Mis à part cette aide pour les frais de formation, il est possible de percevoir
        des rémunérations pendant les cours. Il s’agit en réalité de l’allocation d’aide
        au retour à l’emploi ou ARE. Elle provient soit de Pôle emploi, soit des anciens
        employeurs du domaine public. Elle peut être remplacée par la rémunération de
        formation Pôle emploi ou RFPE si vous ne pouvez pas bénéficier de l’allocation.
      </p>
      <div class="cta-action row justify-content-center">
        <div class="col-md-7 text-center pb16 col-lg-8">
          <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
          <p>
            Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et
            soyez prêts pour l'examen final. Formation éligible au financement par Pôle
            emploi !
          </p>
          <a
            class="btn-wiggle button button-wiggle"
            href="http://bit.ly/trackblogbanners"
          >
            Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
          ></a>
        </div>
      </div>

      <h2>Étapes à suivre pour financer une formation par Pôle emploi</h2>
      <p>
        Par exemple, si vous souhaitez obtenir votre capacité de transport léger ou lourd
        et devenir livreur, vous pouvez choisir <a href="/qui-sommes-nous">Digimoov</a>.
        Notre centre vous permettra de financer votre formation de capacité de transport
        par Pôle emploi et vous assure une formation à suivre à votre rythme. Vous n’avez
        qu’à suivre ces étapes.
      </p>
      <ul>
        <li>
          Allez sur
          <a href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/"
            >https://www.moncompteformation.gouv.fr/</a
          >
          et connectez-vous
        </li>
        <li>
          Recherchez et choisissez la formation « <b>capacité de transport</b> »,
          sélectionnez la formation à distance et rajoutez un filtre par nom de
          l’organisme « <b>MCM -Digimoov</b> »
        </li>
        <img
          class="img-fluid o_we_custom_image d-block mx-auto o_we_selected_image"
          src="/web/image/269815/capture-process-demande-financement.jpg?access_token=27f7bc98-ab4e-49b3-b913-6bde5c549f46"
          title="filtre d'organisme de formation"
          alt="capture d'écran du process de demande de financement par pôle emploi"
        />
        <li>
          Créez votre <b>dossier d’inscription</b> et complétez les données nécessaires.
          Ensuite, envoyez votre <b>demande d’inscription</b> à <b>Digimoov </b>
        </li>
        <li>
          Une fois votre demande validée par notre organisme, ce qui prend quelques
          minutes, vous pouvez conolter les <b>modes de financement disponibles</b> pour
          votre dossier.
        </li>
        <li>
          Si vous disposez d’<b>aides au financement immédiates</b>, vous devez les
          sélectionner en premier lieu. Si vos droits sont insuffisants, vous pouvez
          déposer une <b>demande de financement complémentaire</b> auprès de Pôle emploi
          du reste à payer. Si votre solde est vide, vous pouvez dans ce cas déposer une
          demande de prise en charge du montant total.
        </li>
        <li>
          Afin de compléter votre demande de financement par Pôle emploi, il vous sera
          demandé d’expliquer vos motivations pour suivre la formation et comment vous
          envisagez votre projet d’accès à l’emploi. Un <b>conseiller Pôle emploi</b> sera
          à votre disposition. Vous pouvez échanger autour de votre formation et vos
          objectifs. Le but est de vous aider à développer vos compétences, à rechercher
          un nouvel emploi, à faire une reconversion professionnelle,etc. Le conseiller
          Pôle emploi vous guide également à travers des ateliers d’aide pour les CV et
          les lettres de motivation, des tests de personnalité ou des propositions de
          matières selon votre compte personnel de formation. Il est là pour faciliter
          votre retour dans le monde professionnel. Vous devez parler à votre conseiller
          Pôle emploi le plus souvent possible même après les démarches tout en
          recherchant de nouveaux emplois équivalents à votre savoir.
        </li>
        <li>
          Une fois votre demande est envoyée, vous serez informé de la prise en charge ou
          non par Pôle emploi au bout de <b>12 jours maximum</b>. Si la réponse est
          positive, vous pouvez commencer directement votre formation. Si la réponse est
          négative, vous pouvez <b>financer le reste à payer par carte bancaire</b> ou
          annuler votre demande.
        </li>
      </ul>
    </section>
  </body>
</html>
