<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      href="/digimoov_website_templates/static/src/css/blog_style.css"
      rel="stylesheet"
    />
    <section class="blog-article-prototype">
      <h1>Comment financer ma formation par Pôle emploi ?</h1>
      <p>
        La recherche d’emploi reste un grand dilemme pour un citoyen en recherche
        d’emploi. Cependant, pour faciliter l’embauche mais également pour avoir plus de
        compétences dans des différents domaines, il existe des organismes qui œuvrent
        pour le financement des personnes qui veulent approfondir une branche. C’est un
        grand coup de pouce pour la vie des citoyens. Comment s’y prendre pour avoir ce
        <b>financement par Pôle emploi</b> ?
      </p>
      <img src="" alt="" />
      <h2>Financement par Pôle emploi : ce qu’il faut savoir</h2>
      <p>
        Le financement Pôle emploi aide tous les demandeurs d’emploi inscrits à Pôle
        emploi à acquérir de nouvelles connaissances selon leurs besoins. En effet, la
        personne concernée peut vouloir élargir ses compétences d’un côté. D’un autre
        côté, l’enseignement peut être utile à ses futurs emplois. Par conséquent, vous
        pouvez obtenir une aide financière venant de plusieurs organismes pour payer vos
        frais de formation pédagogique.
      </p>
      <p>
        L’aide octroyée par Pôle emploi est réservée aux demandeurs d’emploi, aux
        stagiaires, aux salariés en contrat précaire, aux personnes en congé, aux
        détenteurs de contrat de sécurisation professionnelle ou CSP, aux personnes en
        parcours d’accompagnement personnalisé, etc.
      </p>
      <p>
        Seuls les frais de formation sont sujets à un financement. Les frais d’examen, le
        transport, les repas, ainsi que l’hébergement et autres détails logistiques ne
        sont pas pris en charge. Toutefois, il existe des aides en rapport avec la
        mobilité et la garde des enfants que Pôle emploi peut offrir si vous en faites la
        demande.
      </p>
      <p>
        Ce sont le conseil Régional ou les collectivités territoriales ainsi que les
        opérateurs de compétences, l’Agefiph et Pôle emploi qui participent activement à
        l’octroi d’aide financière à ces personnes qui veulent suivre une discipline.
        L’Agefiph est strictement réservé aux demandeurs d’emploi en situation de
        handicap. Ce sont des formations entièrement prises en charge pour la plupart.
        Vous pouvez également bénéficier d’une aide financière individuelle par votre
        Compte Personnel de Formation ou CPF.
      </p>
      <p>
        Avec Pôle emploi, on peut recevoir un apprentissage avant d’être embauché pour un
        nouveau travail. C’est un accord entre Pôle emploi et le futur employeur.
        L’initiation peut être payée par Pôle emploi par l’intermédiaire de l’Action de
        Formation Préalable au Recrutement (AFPR) ou par la Préparation Opérationnelle à
        l’Emploi Individuelle (POEI).
      </p>
      <p>
        Mis à part cette aide pour les frais de formation, il est possible de percevoir
        des rémunérations pendant les cours. Il s’agit en réalité de l’allocation d’aide
        au retour à l’emploi ou ARE. Elle provient soit de Pôle emploi, soit des anciens
        employeurs du domaine public. Elle peut être remplacée par la rémunération de
        formation Pôle emploi ou RFPE si vous ne pouvez pas bénéficier de l’allocation.
      </p>
      <div>
        <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
        <p>
          Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et
          soyez prêts pour l'examen final. Formation éligible au financement par Pôle
          emploi !
        </p>
        <a href=""></a>
      </div>
      <h2>Étapes à suivre pour financer une formation par Pôle emploi</h2>
      <p>
        Par exemple, si vous souhaitez obtenir votre capacité de transport léger ou lourd
        et devenir livreur, vous pouvez choisir Digimoov. Notre centre vous permettra de
        financer votre formation de capacité de transport par Pôle emploi et vous assure
        une formation à suivre à votre rythme. Vous n’avez qu’à suivre ces étapes.
      </p>
      <ul>
        <li>Allez sur https://www.moncompteformation.gouv.fr/ et connectez-vous</li>
        <li>
          Recherchez et choisissez la formation « capacité de transport », sélectionnez la
          formation à distance et rajoutez un filtre par nom de l’organisme « MCM
          -Digimoov »
        </li>
        <img src="" alt="" />
        <li>
          Créez votre dossier d’inscription et complétez les données nécessaires. Ensuite,
          envoyez votre demande d’inscription à Digimoov
        </li>
        <li>
          Une fois votre demande validée par notre organisme, ce qui prend quelques
          minutes, vous pouvez conolter les modes de financement disponibles pour votre
          dossier.
        </li>
        <li>
          Si vous disposez d’aides au financement immédiates, vous devez les sélectionner
          en premier lieu. Si vos droits sont insuffisants, vous pouvez déposer une
          demande de financement complémentaire auprès de Pôle emploi du reste à payer. Si
          votre solde est vide, vous pouvez dans ce cas déposer une demande de prise en
          charge du montant total.
        </li>
        <li>
          Afin de compléter votre demande de financement par Pôle emploi, il vous sera
          demandé d’expliquer vos motivations pour suivre la formation et comment vous
          envisagez votre projet d’accès à l’emploi. Un conseiller Pôle emploi sera à
          votre disposition. Vous pouvez échanger autour de votre formation et vos
          objectifs. Le but est de vous aider à développer vos compétences, à rechercher
          un nouvel emploi, à faire une reconversion professionnelle,etc. Le conseiller
          Pôle emploi vous guide également à travers des ateliers d’aide pour les CV et
          les lettres de motivation, des tests de personnalité ou des propositions de
          matières selon votre compte personnel de formation. Il est là pour faciliter
          votre retour dans le monde professionnel. Vous devez parler à votre conseiller
          Pôle emploi le plus souvent possible même après les démarches tout en
          recherchant de nouveaux emplois équivalents à votre savoir.
        </li>
        <li>
          Une fois votre demande est envoyée, vous serez informé de la prise en charge ou
          non par Pôle emploi au bout de 12 jours maximum. Si la réponse est positive,
          vous pouvez commencer directement votre formation. Si la réponse est négative,
          vous pouvez financer le reste à payer par carte bancaire ou annuler votre
          demande.
        </li>
      </ol>
    </section>
  </body>
</html>
