<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<h1>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="font-size: 48px"
      >&nbsp;Devenir livreur Uber Eats&nbsp;</font
    ></span
  >
</h1>

<p>
  <font style="font-size: 18px"
    >On ne peut pas être passé à côté de cette innovation logistique de pointe
    qu’est Uber Eats. Car Uber Eats, ça&nbsp;n’est&nbsp;pas seulement un service
    de livraison ou de transport à vélo, c’est un tout nouveau paradigme. En
    étant décentralisé et en s’en remettant à des milliers de prestataires
    indépendants sur tout le territoire, que ce soit en France ou même ailleurs
    dans le monde, Uber Eats assure la livraison du plat qui vous fait envie en
    un temps record. Et le tout, dans des conditions optimales.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Car Uber Eats, avant d’être un service de mise en relation de livreurs avec
    différents restaurants sur le territoire, c’est un réseau. Un réseau de
    livreurs qui, après avoir été avertis en temps réel d’une commande donnée,
    vous livreront votre repas à temps.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Mais Uber Eats, ça n’est pas seulement un avantage pour les restaurants et
    leurs clients. Il est en effet aujourd’hui possible de créer sa propre
    entreprise de livraison en un rien de temps afin de devenir coursier Uber
    Eats. Car en définitive, pour des livreurs à vélo, livrer chez Uber Eats est
    une perspective d’emploi intarissable. Vous serez assuré de ne jamais chômer
    en vous mettant en relation avec une entreprise à même de mettre constamment
    à contributions vos services de livraison dans une zone géographique
    définie. Il ne vous faudra alors, pour devenir livreur Uber Eats, uniquement
    vous munir d’<a
      href="/blog/digimoov-3/post/comment-obtenir-votre-capacite-de-transport-leger-6"
      ><b><u>une attestation de capacité de transport léger</u></b></a
    >. Ce n’est qu’après avoir rempli cette condition préalable que vous pourrez
    mener votre activité de transport à bien. Cela, entre autres formalités
    négligeables.&nbsp;<br /><br
  /></font>
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a class="btn-wiggle button button-wiggle" href="/#pricing">
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/247968/Comment%20devenir%20livreur%20Uber%20Eats-Digimoov.png"
    title="Livreur Uber Eats"
    alt="Livreur Uber Eats"
  /><br />
</p>

<h2>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font class="text-alpha">Qu’est-ce qu’un chauffeur Uber Eats ?</font></span
  >
</h2>

<p>
  <font style="font-size: 18px"
    >Livrer chez Uber Eats ne signifie pas que vous compterez parmi les livreurs
    travaillant en tant que salariés pour Uber Eats. En effet, Uber Eats se veut
    avant tout une plateforme de mise en relation entre restaurateurs, livreurs
    et clients. Son objectif est alors d’assurer la liaison entre l’entreprise
    de transport et le restaurateur à proximité afin que la livraison advienne
    dans les temps impartis. La vitesse sera votre meilleure alliée et un vélo
    performant s’avérera incontournable pour livrer chez Uber Eats.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Aussi, devenir chauffeur Uber Eats impliquera de créer son entreprise pour
    pratiquer une activité de transport en tant qu’indépendant. Car en effet,
    devenir coursier Uber Eats suppose d’être en relation avec l’entreprise Uber
    Eats en tant que prestataire en lien avec la structure et non pas comme
    salarié. Par conséquent, devenir chauffeur Uber Eats signifie non pas
    travailler&nbsp;</font
  ><em style="-webkit-font-smoothing: antialiased"
    ><font style="font-size: 18px">pour</font></em
  ><font style="font-size: 18px">&nbsp;Uber Eats mais travailler&nbsp;</font
  ><em style="-webkit-font-smoothing: antialiased"
    ><font style="font-size: 18px">avec</font></em
  ><font style="font-size: 18px">&nbsp;Uber Eats.&nbsp;</font>
</p>

<p>
  <font style="font-size: 18px"
    >Dès lors, votre activité de livraison s’exercera en tant qu’indépendant. Ce
    sera à vous de décider de vos heures en fonction de vos disponibilités du
    moment. Aussi, livrer chez Uber Eats ne vous astreindra à aucune obligation
    de mise à disposition. Vous serez seul maître de votre temps en gérant votre
    entreprise comme vous l’entendez. Si vous choisissez de ne pas prendre une
    commande, celle-ci parviendra à un autre des nombreux livreurs disponibles à
    proximité.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Devenir coursier Uber Eats a ça de pratique que vous bénéficierez d’une
    couverture sociale et d’une assurance adaptée pour votre activité et ce, dès
    lors où celle-ci concernera une livraison en lien avec Uber
    Eats.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Bien entendu, puisqu’il est question de votre propre entreprise de
    transport, ce sera à vous de vous fournir le véhicule adéquat pour livrer.
    Un scooter est certes confortable pour la route, cependant, un vélo ou bien
    un vélo électrique vous donnera accès à certaines pistes cyclables à même de
    vous rendre plus rapidement sur votre lieu de livraison.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >La question du sac isotherme, elle, sera abordée à l’issue d’un entretien
    avec un responsable Uber Eats qui fera suite à votre inscription. Une
    inscription que vous ne pourrez pas envisager avant d’avoir acquis votre
    capacité de transport.&nbsp;</font
  >
</p>

<h2>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font class="text-alpha"
      >Quelles sont les conditions administratives et matérielles à remplir pour
      devenir livreur Uber Eats?</font
    ></span
  >
</h2>

<p>
  <font style="font-size: 18px"
    >Avant de vous entretenir avec un responsable et de vous enregistrer auprès
    de la plateforme afin de devenir livreur Uber Eats, vous serez tenu de
    respecter un certain nombre de conditions préalables :</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Vous devrez nécessairement être majeur pour devenir coursier Uber Eats.
    Ce n’est pas parce que l’activité de transport et de livraison s’effectue à
    vélo que n’importe qui peut s’y essayer. Seul un majeur ayant fourni une
    pièce d’identité en règle pourra être accepté parmi les livreurs Uber Eats
    sans exception possible.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- En plus d’être majeur pour devenir livreur Uber Eats, vous devrez aussi
    vous munir d’un extrait de casier judiciaire auprès du site internet du
    ministère de la Justice. Ce casier judiciaire devra être vierge et aucun
    délit ne devra y figurer.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Il vous faudra créer votre entreprise pour exercer en tant
    qu’indépendant. Le régime de la micro-entreprise sera alors pour vous le
    plus favorable dans le cadre de votre activité de livraison à vélo.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- La possession d’un smartphone sera elle aussi obligatoire. Sans un
    smartphone relié à la plateforme Uber Eats, vous ne pourrez en effet pas
    être à même d’effectuer la moindre livraison. D’autant que sans votre
    smartphone et une application GPS, la livraison de commandes sera autrement
    plus difficile en milieu urbain. N’oubliez pas que devenir livreur Uber Eats
    implique d’être ponctuel en vous rendant à temps au restaurant, mais aussi
    chez le client.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Enfin et surtout, devenir livreur Uber Eats supposera nécessairement
    d’être
    <a
      href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000023086525/LEGISCTA000033449959/2020-10-03"
      ><b>inscrit au Registre National des Transporteurs.</b></a
    >
    Car en effet, ce n’est qu’à cette condition déterminante que vous pourrez
    légalement exercer votre activité de livraison de repas à titre
    indépendant.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Il est à noter que cette inscription au Registre National des Transporteurs
    afin de devenir livreur Uber Eats ne se considère qu’après l’obtention de
    votre capacité de transport. Ce document officiel, alors, sera votre Sésame
    pour rejoindre les livreurs à vélo en lien avec Uber Eats.&nbsp;</font
  >
</p>

<p>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/219095/1%20%281%29.png?access_token=e8b9c9ae-f582-44de-8505-796eb59bd2cc"
    title="Coursier Uber Eats"
    alt="Coursier Uber Eats"
  /><br />
</p>

<h2>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font class="text-alpha"
      >Comment&nbsp;obtenir&nbsp;sa capacité de transport et devenir livreur
      Uber Eats ?</font
    ></span
  >
</h2>

<p>
  <font style="font-size: 18px"
    >Une capacité de transport pour créer son entreprise de livraison et devenir
    coursier Uber Eats ne peut s’obtenir qu’après un examen. Cet examen,
    évaluant vos connaissances du milieu du transport et de la livraison,
    adviendra au terme d’une formation capacité transport accessible dans un
    organisme agréé. Un organisme tel que par exemple
    <b><a href="/qui-sommes-nous">Digimoov </a></b>qui, au terme des 105 heures
    de formation obligatoires, vous donnera toutes les clés en main pour obtenir
    votre capacité de transport et vous permettre ainsi de remplir les
    conditions pour devenir livreur Uber Eats.&nbsp;</font
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a class="btn-wiggle button button-wiggle" href="/#pricing">
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p>
  <font style="font-size: 18px"
    >Souscrire à<a href="/"
      ><u><b> une formation capacité transport</b></u></a
    >, en plus d’être obligatoire, vous apportera toutes les informations dont
    vous aurez besoin afin de créer votre entreprise et exercer votre activité
    de livraison dans les meilleures conditions qui soient. Cette formation,
    loin d’être une simple formalité administrative, vous sera particulièrement
    utile. Vous devrez y prêter attention et vous investir de sorte à devenir un
    coursier Uber Eats exceptionnel à l’issue de votre examen.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >L’examen visant à acquérir la capacité de transport comprend deux épreuves,
    chacune notée sur 100 :&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- La première épreuve consistera en un QCM où chaque question ne peut
    connaître qu’une seule bonne réponse.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- La seconde épreuve impliquera des réponses rédigées à des questions plus
    ouvertes sur le milieu du transport, de la livraison, mais aussi sur ce qui
    se rapporte aux conditions pour créer son entreprise.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Une fois votre capacité de transport acquise à la suite d’un examen que
    l’on souhaite fructueux, il ne vous restera plus alors qu’à acquérir une
    licence de transport. Celle-ci sera rattachée à votre entreprise de
    livraison et attestera de sa régularité au regard de la réglementation
    nationale.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Cette licence de transport, elle, n’exige aucune formation ni examen. Vous
    devrez, pour créer votre entreprise de livraison, acquérir votre licence de
    transport simplement pour authentifier votre activité. Cette licence de
    transport s’acquiert alors en fournissant le Cerfa 14557*03 complété à la
    Direction régionale de l’environnement de l’aménagement et du
    logement.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Alors, enfin, avec ces documents en main, vous pourrez devenir livreur chez
    Uber Eats.&nbsp;</font
  >
</p>

<p>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/219096/livreur%20scooteur%202.png?access_token=f0a8ca53-6a2f-473e-a91c-f46a0c9255ad"
    title="Apprenant capacité de transport"
    alt="Apprenant capacité de transport"
  /><br />
</p>

<h2>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font class="text-alpha"
      >S’inscrire sur l’application Uber Eats afin de devenir livreur Uber
      Eats</font
    ></span
  >
</h2>

<p>
  <font style="font-size: 18px"
    >La procédure d’inscription se rapportant à Uber Eats est on ne peut plus
    simple. Les livreurs pourront aussi facilement se répertorier sur
    l’application que le pourraient de simples clients. Bien entendu, pour être
    conforme au règlement, vous serez nécessairement amené à transmettre
    certaines pièces justificatives afin d’authentifier le service de livraison
    que vous proposez.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Suite à une inscription en ligne, vous prendrez ensuite rendez-vous avec un
    responsable Uber Eats à proximité de chez vous. Pour devenir livreur Uber
    Eats et rejoindre les nombreux partenaires de la plateforme, vous devrez en
    effet apporter avec vous différents documents à fournir à l’intention des
    responsable administratifs de la plateforme :</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- En premier lieu, vous devrez remettre une preuve de l’existence de votre
    entreprise sur le plan administratif. Il peut alors s’agir d’un extrait KBIS
    ou de votre situation au répertoire SIREN, l’important étant qu’il s’agisse
    d’un document officiel attestant de votre activité de livraison. Méfiez-vous
    cependant, certains de ces documents visant à authentifier votre entreprise
    sont uniques et aucun duplicata ne vous sera remis en cas de perte. Devenir
    coursier Uber Eats ne pourra en effet se concevoir qu’à condition de
    n’omettre aucun document.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Vous devrez aussi joindre une photo récente de vous afin que les
    restaurateurs, en consultant l’application, sachent que c’est à vous qu’ils
    devront la confier. Cette photo sera en effet accessible sur votre profil
    Uber Eats et consultable par les différents usagers ayant accès à la
    plateforme, clients et restaurateurs compris.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Afin prouver que vous avec suivi la formation adéquat pour devenir
    livreur Uber Eats, vous devrez naturellement fournir la preuve de
    l’obtention de votre capacité de transport.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- La licence de transport, elle aussi, devra figurer parmi les documents
    pour prouver la validité de votre entreprise et de votre aptitude
    professionnelle à effectuer une livraison à vélo.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >- Enfin, il vous faudra fournir une pièce d’identité. Cette pièce
    d’identité peut être l’une des suivantes :</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >• Un titre de séjour français en règle&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px">• Une carte national d’identité&nbsp;</font>
</p>

<p>
  <font style="font-size: 18px"
    >• Un passeport de l’Union Européenne.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >• Un Visa. Il est à noter toutefois que les Visas étudiant ne sont pas
    acceptés.</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >• Un récépissé de demande de titre de séjour&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >• Un récépissé de renouvellement de titre de séjour.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >L’important étant que le document fourni soit valide afin d’attester de
    votre identité et de la régularité de votre séjour en France si besoin est.
    Aussi, prenez soin à sa date de validité pour vous assurer que celui-ci soit
    conforme.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Après cet entretien, vous devrez vous acquitter d’une toute dernière
    formalité, celle-ci se voulant primordiale pour mener à bien vos livraisons.
    En effet, devenir livreur Uber Eats, nécessitera obligatoirement de posséder
    un sac à même de contenir les plats que vous transporterez.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >Ce sac, alors, se devra d’être isotherme, avec pour dimension minimale 35
    cm de largeur x 35 centimètres de longueur x 30 centimètres de hauteur. Une
    fois le sac validé&nbsp;auprès de Uber Eats et donc, homologué comme
    conforme aux transports, vous pourrez ainsi rejoindre la liste des
    innombrables livreurs partenaires de la plateforme Uber Eats.&nbsp;</font
  >
</p>

<p>
  <font style="font-size: 18px"
    >En somme, devenir coursier Uber Eats et prêter votre temps à l’entreprise
    nécessitera plusieurs étapes. En premier lieu, d’obtenir la capacité de
    transport au terme d’une formation puis, la licence de transport pour
    attester de la validité de votre entreprise. Il ne vous restera alors qu’à
    vous inscrire sur Uber Eats pour devenir l’un de leurs livreurs privilégiés
    dans une zone géographique donnée.&nbsp;</font
  >
</p>
