<h1>
  <font style="color: rgb(0, 0, 0)"
    >Mon Compte formation - CPF : C'est quoi ?<br /><br
  /></font>
</h1>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Salariés, demandeurs d’emploi ou encore travailleurs indépendants, vous
    avez tous des droits à la <b>formation professionnelle</b>. D’où la
    nécessité de la mise en place du <b>Compte personnel de formation</b> (CPF),
    qui a remplacé depuis le 1er&nbsp;janvier 2015 le
    <b>Droit Individuel à la Formation</b> (DIF).</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >C’est un droit octroyé à ces catégories de personnes pour financer une
    formation professionnelle qualifiante ou certifiante. L’objectif consiste à
    améliorer leur niveau de qualification et accroître leurs compétences.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Vous avez pu subvenir à vos besoins, prendre des vacances en famille et
    vivre en toute aisance. Il est temps de penser à votre
    <b>évolution professionnelle</b> pour augmenter le revenu. C’est là où le
    Compte personnel de formation intervient.</font
  >
</p>

<h2>
  <font style="color: rgb(0, 0, 0)">Qu’est-ce que le CPF ?<br /><br /></font>
</h2>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Suite à l’application de la
    <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000028683576/"
      >loi n°&nbsp;2014-288 du 5&nbsp;mars 2014</a
    >, qui concerne la réforme de la formation professionnelle, bon nombre de
    dispositifs sont mis en place. Entré en vigueur depuis le 1er&nbsp;janvier
    2015, le compte personnel de formation en fait partie.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Il s’agit d’un dispositif de financement public relatif à la formation
    professionnelle continue. Ce droit offre l’<b>opportunité</b> à tous les
    actifs de bénéficier d’une action de <b>formations</b> s’ils le
    souhaitent.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Il peut accompagner son bénéficiaire depuis son intégration dans le monde
    professionnel, durant toute sa fonction jusqu’à son départ à la retraite. La
    gestion du compte personnel de formation relève de la
    <a
      href="https://www.caissedesdepots.fr/la-caisse-des-depots-gestionnaire-de-mon-compte-formation"
      >Caisse des Dépôts</a
    >
    et consignations. Et il s’exprime en <b>fonds mobilisables</b>.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Travailler toute l’année permet ainsi d’alimenter avec des euros votre
    compte. Pour obtenir cette faveur, différents facteurs sont pris en
    compte.</font
  >
</p>

<p>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/17598/Mon-compte-professionnel-formation-cpf-1.png?access_token=e27f76d1-864d-486f-8cba-3926e5b6c043"
    alt="interface-mon-compte-personnel-formation-CPF"
  /><font style="color: rgb(0, 0, 0); font-size: 18px"><br /></font>
</p>

<p style="text-align: center"></p>

<h3>
  <font style="color: rgb(0, 0, 0)"
    >Mon compte formation : À quoi sert -il ?<br /><br
  /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Le compte personnel de formation sert à <b>accompagner </b>le titulaire
    dans le cadre de l’évolution, la reconversion et la sécurisation de son
    parcours professionnel. Une fois alimenté, il permet de
    <b>financer tout ou une partie d’une formation </b>éligible au dispositif,
    en ligne ou en présentiel.</font
  >
</p>

<h3>
  <font style="color: rgb(0, 0, 0)"
    >Le CPF remplace le DIF depuis 2015<br /><br
  /></font>
</h3>

<p>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/17557/CPF-remplace-DIF.png?access_token=64e5c768-2a79-4b2d-90f3-891ae97ef5bf"
    alt="CPF-remplace-DIF"
  /><font style="color: rgb(0, 0, 0); font-size: 18px"></font>
</p>

<div style="text-align: left">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Le compte personnel de formation remplace le droit individuel à la
    formation (DIF) <b>depuis 2015</b>. Toutefois, les salariés ne risquent pas
    de perdre toutes les heures acquises au titre du DIF qui n’ont pas encore
    été utilisées. Ils disposeront d’une durée de 6&nbsp;ans,
    <b>avant le 1er&nbsp;juillet 2021</b>, pour
    <a
      href="https://www.moncompteformation.gouv.fr/espace-public/saisir-mon-droit-individuel-la-formation-dif"
      style="background-color: white"
      >transférer les heures DIF sur leur compte CPF</a
    >
    afin de les conserver. Ces durées pourront être entièrement cumulées avec
    celles acquises au titre du CPF.</font
  >
</div>

<p></p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h3>
  <font style="color: rgb(0, 0, 0)"
    >Différence entre DIF et CPF<br /><br
  /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Le temps d’application du <b>DIF </b>a été très court qu’il a déjà été
    remplacé au profit du <b>CPF</b>. C’est dû essentiellement à son principe de
    fonctionnement. En fait, le DIF était lié au contrat de travail. Au cas où
    le salarié change d’employeur ou quitte son poste, les droits acquis
    s’envolent.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Avec le <b>compte personnel de formation</b>, les heures dues suivent
    définitivement le titulaire, quelle que soit sa situation. Encore mieux,
    elles seront <b>cumulables</b> en souscrivant au Pôle Emploi en tant que
    demandeur d’emploi.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >À la différence des heures de <b>DIF</b>, ce changement de système a
    apporté bon nombre d’autres évolutions. La gestion des heures <b>CPF </b>est
    attribuée à l’actif, titulaire du droit, et non plus par l’employeur. Il n’y
    a plus de limite pour la durée de contrat afin de pouvoir accumuler les
    heures de formation.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Étant donné que l’<b>alimentation du compte</b> est fonction de la durée de
    travail, un salarié engagé à temps plein a droit à
    <b>24&nbsp;h de formation par an</b> au lieu de 20&nbsp;h dans le cadre de
    DIF. <b>Après 120&nbsp;h</b>, le compte formation est crédité seulement de
    <b>12&nbsp;h par an jusqu’à son plafonnement de 150&nbsp;h</b>. Certaines
    périodes d’absence entrent dans le calcul comme le congé de maternité, de
    paternité ou encore d’accueil de l’enfant. À cela s’ajoutent le congé
    d’adoption, de soutien familial, de présence parentale, le congé parental
    d’éducation, l’absence liée à une maladie professionnelle et à un accident
    de travail.</font
  >
</p>

<h3>
  <font style="color: rgb(0, 0, 0)"
    >Depuis janvier 2019 le CPF est crédité en Euro<br /><br
  /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >À l’issue de la réforme du droit du travail, le compte personnel de
    formation est <b>crédité en euro</b>. Le taux choisi est à hauteur de
    <b>14,28&nbsp;€ par heure</b>. À cet effet, vous pouvez vous-même choisir
    votre <b>formation</b>, la réserver et payer en ligne avec une application
    mobile.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Concernant la <b>monétisation des heures de DIF</b> acquises au
    31&nbsp;décembre 2018, mais qui n’ont pas été utilisées par le salarié,
    celles-ci sont converties à raison de <b>15&nbsp;€ par heure</b>.</font
  >
</p>

<h2><font style="color: rgb(0, 0, 0)">Qui gère le compte CPF ?</font></h2>

<p style="text-align: center">
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/18124/Mon-compte-professionnel-formation-cpf-2.png?access_token=abb389d6-c450-46b6-a47a-c0297022ce49"
    alt="utilisation-compte-personnel-de-formation-cpf"
  />
</p>

<div style="text-align: left">
  <p style="text-align: left">
    <font color="#000000"
      ><span style="font-size: 18px"
        >Depuis le 5 janvier 2015, un
        <b
          ><a href="https://www.moncompteformation.gouv.fr/" target="_blank"
            >site Internet</a
          ></b
        >
        a été instauré et disponible pour que vous puissiez gérer votre compte
        personnel de formation et savoir vos droits. Certaines informations
        restent à votre disposition comme le <b>nombre d’heures dues</b> et les
        formations accessibles.</span
      ></font
    >
  </p>
</div>

<h2>
  <font style="color: rgb(0, 0, 0)"
    >Qui peut bénéficier du CPF ?<br /><br
  /></font>
</h2>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Le compte personnel de formation s’adresse à différentes catégories de
    personnes qui sont <b>en activité professionnelle</b> et qui sont âgés
    <b>plus de 16&nbsp;ans</b> (15 ans pour un jeune qui a signé son premier
    contrat comme apprenti). Non rattaché au contrat de travail, il reste
    <b>valable tout au long de sa vie professionnelle</b> jusqu’à son départ à
    la retraite, même en période de chômage. De ce fait, le droit est
    ouvert&nbsp;pour les catégories suivantes:</font
  >
</p>

<h3>
  <font style="color: rgb(0, 0, 0)">Les demandeurs d’emploi<br /><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Vous êtes à la recherche d’un emploi. Que vous soyez inscrit à
    <a href="https://www.pole-emploi.fr/accueil/">Pôle emploi</a> ou détenez un
    contrat de sécurisation professionnelle.</font
  >
</p>

<h3>
  <font style="color: rgb(0, 0, 0)">Les salariés<br /><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Vous travaillez dans le secteur privé et le secteur agricole, à condition
    que vous ayez déjà exercé durant 16&nbsp;ans, ou 15&nbsp;ans par dérogation
    au terme de la signature d’un contrat d’apprentissage.</font
  >
</p>

<h3>
  <font style="color: rgb(0, 0, 0)"
    >Les travailleurs indépendants<br /><br
  /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Depuis le 1er&nbsp;janvier 2018, le compte personnel de formation touche
    également les travailleurs indépendants.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Durant la formation qualifiante ou certifiante, vous avez droit tous les
    2&nbsp;ans en interne à un entretien professionnel et tous les 6&nbsp;ans à
    un bilan professionnel.</font
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2>
  <font style="color: rgb(0, 0, 0)"
    >Quelles sont les formations éligibles au CPF ?<br /><br
  /></font>
</h2>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Le compte personnel de formation n’autorise et ne finance que les
    formations jugées « éligibles ». Il s’agit uniquement des formations
    <b>qualifiantes</b> ou <b>certifiantes</b>, qui satisfont les besoins du
    marché de l’emploi. Soyez donc vigilant en choisissant votre
    formation.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Pour qu’une formation soit éligible, elle doit respecter l’un des critères
    suivants de l’article&nbsp;L6323-6&nbsp;:</font
  >
</p>

<ul>
  <li aria-level="1">
    <p><font style="color: rgb(0, 0, 0); font-size: 18px"></font></p>
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >L’obtention d’un titre professionnel, d’un diplôme ou d’un certificat
        de qualification</font
      >
    </p>
    <p></p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >L’acquisition du socle commun de connaissances et de compétences</font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >Le bilan de compétences</font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >La validation des acquis de l’expérience ou la VAE</font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >La création ou la reprise d’une entreprise.</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >La
    <a href="/"
      ><b>formation en capacité de transport léger de marchandise</b></a
    >
    chez Digimoov est éligible au CPF. Voici aussi d'autres exemples de
    formations éligibles&nbsp;:</font
  >
</p>

<ul>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        ><a
          href="https://www.mcm-academy.fr/formation-chauffeur-taxi"
          target="_blank"
          >Formation Chauffeur Taxi</a
        >
        chez <b>MCM Acamedy</b></font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >Formation Gestion de projet chez EADI</font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >Formation Chef de Projet Digital chez OpenClassrooms</font
      >
    </p>
  </li>
  <li aria-level="1">
    <p style="text-align: justify">
      <font style="color: rgb(0, 0, 0); font-size: 18px"
        >Formation Photoshop chez Objectif Formations</font
      >
    </p>
  </li>
</ul>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Vous pouvez vérifier l’éligibilité de la formation sur l'interface
    <a
      href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/formation/recherche"
      target="_blank"
      >recherche de formation sur le site Mon compte Formation</a
    >.</font
  >
</p>

<h2>
  <font style="color: rgb(0, 0, 0)"
    >Comment le CPF est-il alimenté ?<br /><br
  /></font>
</h2>

<h2>
  <img
    class="img-fluid o_we_custom_image float-right"
    src="/web/image/21773/Mon-compte-professionnel-formation-cpf-digimoov.png?access_token=027002e5-9a14-4824-ac24-2ad575ba9826"
    alt="mobiliser-mon-cpf-pour-inscription-formation"
  />
</h2>

<p style="text-align: left">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >L’alimentation du compte personnel de formation
    <b
      >se fait automatiquement au début de l’année qui suit directement l’année
      travaillée</b
    >. Vos droits acquis restent toujours valables même si vous changez
    d’employeur ou perdez votre emploi.&nbsp;</font
  >
</p>

<h3 style="text-align: left">
  <font style="color: rgb(0, 0, 0)">Crédit annuel (500&nbsp;€/an)</font>
</h3>

<h3 style="text-align: left">
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: left">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >De manière générale, votre compte, que vous soyez salarié à temps plein ou
    à temps partiel est crédité à hauteur de 500&nbsp;€ par année de travail,
    jusqu’au plafonnement de 5 000&nbsp;€. C’est également le cas d’un
    travailleur indépendant.</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Les droits attribués sont renforcés au cas où vous êtes un salarié non
    qualifié ou bénéficiaire de l’obligation d’emploi. Votre compte est majoré
    de 800&nbsp;€ par année de travail, jusqu’à la limite d’un plafond de
    8 000&nbsp;€.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Au cas où le temps de travail d’un salarié est inférieur à 50&nbsp;% de la
    durée légale ou conventionnelle de travail, le compte est alimenté de
    manière proportionnelle à la durée d’activité effectuée.</font
  >
</p>

<h3><font style="color: rgb(0, 0, 0)">Les heures DIF non utilisés</font></h3>

<h3>
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Concernant la monétisation des heures de DIF acquises au 31 décembre 2018,
    mais qui n’ont pas été utilisées par le salarié, celles-ci sont
    <b>converties à raison de 15&nbsp;€ par heure</b>.</font
  >
</p>

<h3><font style="color: rgb(0, 0, 0)">Alimentation par abondement</font></h3>

<h3>
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h3>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Lorsque le crédit d’heures sur le compte personnel de formation n’est pas
    suffisant, il est possible d’<b>obtenir un abondemen</b>t via des accords
    d’entreprise, de branches ou encore de l’État pour financer le frais de
    formation éligible.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Certains acteurs tels que le <b>Pôle Emploi</b>, les Régions ou l’AGEFIPH
    peuvent également fournir de l’aide. Au cas où l’employeur ne respecte pas
    les règles relatives aux garanties de formation, il sera obligé de vous
    octroyer des <b>heures d’abondement</b>.</font
  >
</p>

<h2>
  <font style="color: rgb(0, 0, 0)"
    >Comment connaître le montant de son CPF ?</font
  ><font style="color: rgb(0, 0, 0)"><br /></font>
</h2>

<h2><br /></h2>

<div style="text-align: left">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Pour retrouver le montant de votre solde CPF disponible, vous devez créer
    un compte sur le site <b>MonCompteFormation.Gouv.fr.</b> Il suffit de
    renseigner votre numéro de sécurité sociale. Le solde s’affiche dans
    l’onglet « <b>Mes droits à formation</b> ».&nbsp;</font
  >
</div>

<p></p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Il est également possible de passer directement sur l’application mobile
    via Apple Store ou Android. Pratique et intuitive, la plateforme permet
    facilement à tous les titulaires du <b>CPF </b>de choisir et payer en ligne
    leurs formations.</font
  >
</p>

<h2><font style="color: rgb(0, 0, 0)">Comment utiliser CPF ?</font></h2>

<h2>
  <font style="color: rgb(0, 0, 0)"><br /></font>
</h2>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Les heures acquises en compte personnel de formation sont mobilisables pour
    suivre l’une des formations éligibles.&nbsp;</font
  >
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px">Comment procéder ?</font>
</p>

<p style="text-align: justify">
  <font style="color: rgb(0, 0, 0); font-size: 18px"
    >Pour bien comprendre le processus, voici un exemple qui concerne la
    formation à&nbsp;</font
  ><b
    ><font style="color: rgb(0, 0, 0); font-size: 18px"
      >l’attestation de la
      <a
        href="/blog/digimoov-3/post/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5?anim"
        >capacité professionnelle en transport routier léger de marchandises</a
      >
      chez Digimoov</font
    ></b
  ><font style="color: rgb(0, 0, 0); font-size: 18px"
    >. Après avoir choisi la formation, il faut&nbsp;:</font
  >
</p>

<ul>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Choisir la formation éligible au CPF dans la page d’accueil</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Cliquer sur je m’inscris</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Créer un compte en remplissant le formulaire qui s’affiche en
        suite</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Choisir le centre d’examen et la date qui convient</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Cliquer sur Mobiliser mon CPF&nbsp;</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Cliquer sur s’inscrire à cette session dans l'écran qui s’affiche en
        suite</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Attendre la validation de dossier CPF</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Si le prix de la formation dépasse le solde du compte CPF, le
        bénéficiaire peut soit payer la différence directement par carte
        bancaire sur le site MonCompteFormation.Gouv.fr, soit faire une demande
        d’abondement à Pôle emploi sur son reste à charge</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Acception de la part de candidat</font
      >
    </p>
  </li>
  <li>
    <p style="text-align: justify">
      <font style="font-size: 18px" class="text-delta"
        >Commencer la formation</font
      >
    </p>
    <div class="s_share" data-name="Share">
      <h4 class="s_share_title o_default_snippet_text">Partager</h4>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fmon-compte-formation-cpf-tout-comprendre-7%23scrollTop%3D0"
        target="_blank"
        class="s_share_facebook"
      >
        <i class="fa fa-1x fa-facebook rounded shadow-sm"></i>
      </a>
      <a
        href="https://twitter.com/intent/tweet?text=Le%20compte%20personnel%20de%20formation%20%3A%20tout%20comprendre&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fmon-compte-formation-cpf-tout-comprendre-7%23scrollTop%3D0"
        target="_blank"
        class="s_share_twitter"
      >
        <i class="fa fa-1x fa-twitter rounded shadow-sm"></i>
      </a>
      <a
        href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fmon-compte-formation-cpf-tout-comprendre-7%23scrollTop%3D0&amp;title=Le%20compte%20personnel%20de%20formation%20%3A%20tout%20comprendre&amp;"
        target="_blank"
        class="s_share_linkedin"
      >
        <i class="fa fa-1x fa-linkedin rounded shadow-sm"></i>
      </a>
      <a
        href="mailto:?body=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fmon-compte-formation-cpf-tout-comprendre-7%23scrollTop%3D0&amp;subject=Le%20compte%20personnel%20de%20formation%20%3A%20tout%20comprendre"
        class="s_share_email"
      >
        <i class="fa fa-1x fa-envelope rounded shadow-sm"></i>
      </a>
    </div>
  </li>
</ul>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
