<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      href="/digimoov_website_templates/static/src/css/blog_style.css"
      rel="stylesheet"
    />
    <section class="blog-article-prototype">
      <h1>Ce qu’il faut savoir sur la réglementation du transport des animaux vivants</h1>
      <p>
        Le transport d’animaux vivants est un secteur d’activité en pleine expansion.
        L’augmentation significative d’animaux qui ont transité à travers les pays
        européens au cours des dernières années a poussé de nombreux professionnels à se
        lancer dans ce secteur à fort potentiel. Les conditions de transport
        particulièrement strictes qui régissent le secteur ne semblent pas avoir entamé
        l’enthousiasme des acteurs de ce marché. Quelles sont ces conditions ? Quelles
        démarches faut-il suivre pour se lancer dans le transport des animaux vivants ?
      </p>
      <h2>Pourquoi se lancer dans le transport des animaux ?</h2>
      <p>
        En 2017, la FAO (Organisation des Nations Unies pour l’alimentation et
        l’agriculture) a recensé 1,9 milliard d’animaux qui ont traversé les frontières
        des pays du monde entier. Cinquante ans auparavant, en 1957, ce chiffre s’élevait
        à 130 millions. En cinq décennies, le nombre d’animaux transportés (volailles,
        bovins, caprins, porcins…) d’un pays à un autre a donc été multiplié par quinze.
        Les grosses avancées en matière de réfrigération et de conservation de viande sont
        loin d’avoir ralenti l’importation et l’exportation d’animaux vivants. Au
        contraire, le secteur se porte toujours mieux.
      </p>
      <p>
        Dans les classements des plus gros importateurs et exportateurs, les pays
        européens se retrouvent en tête à l’image de la Pologne, de l’Italie, du Danemark
        et des Pays-Bas. La France ne figure pas dans le top 5 des importations et des
        exportations. Néanmoins, sa position géographique en fait un acteur majeur du
        marché du transport des animaux vivants principalement destiné à l’abattage en
        Europe. La demande reste forte dans l’Hexagone, encouragée par l’activité
        d’élevage animal très dynamique et cette hausse significative du nombre d’animaux
        qui transitent vers les pays importateurs.
      </p>
      <img src="" alt="" />
      <h2>Une réglementation stricte et rigoureuse</h2>
      <p>
        Transporter des animaux ne s’improvise pas. Contrairement au transport routier de
        marchandises, celui des animaux se veut beaucoup plus exigeant. Le transport des
        animaux est soumis à une réglementation différente du transport de marchandises
        (consultez cet article pour plus d’infos sur le transport de marchandises). Cette
        réglementation rigoureuse se rapporte notamment au respect du bien-être animal.
        Elle est imposée à toutes les entreprises qui œuvrent dans le secteur et à toutes
        celles qui souhaitent l’intégrer. Elles devront présenter :
      </p>
      <ul>
        <li>Une autorisation de transport</li>
        <li>Un certificat de compétence</li>
      </ul>
      <h3>L’autorisation de transport</h3>
      <p>
        L’autorisation de transport est demandée à tout établissement à but lucratif qui
        transporte, pour son compte ou pour le compte d’un client, des animaux vertébrés
        c’est-à-dire des mammifères, des poissons et des oiseaux. Le document est requis,
        quel que soit l’objectif du transport (transport vers l’abattoir, rassemblement
        vers un centre, vente et location…). Il existe deux types d’autorisations de
        transport à savoir :
      </p>
      <p>
        L’autorisation de type 1 : elle est nécessaire pour le transport d’animaux vivants
        vertébrés sur plus de 65 km pour une durée inférieure à huit heures.
      </p>
      <p>
        L’autorisation de type 2 : elle est nécessaire pour le transport d’animaux vivants
        vertébrés sur un trajet qui dure plus de huit heures. On parle alors de transport
        de longue durée.
      </p>
      <p>
        Il existe des dérogations qui permettent aux transporteurs des animaux vivants de
        ne pas présenter une autorisation. C’est notamment le cas :
      </p>
      <ul>
        <li>D’un transport réalisé par l’éleveur sur une distance inférieure à 65 km.</li>
        <li>
          D’un transport d’animaux réalisé par l’éleveur lui-même avec son propre véhicule
          en vue d’une transhumance.
        </li>
      </ul>
      <h3>La démarche de demande d’une autorisation de transport de type 1 ?</h3>
      <p>
        Afin d’obtenir une autorisation de transport de type 1, le transporteur doit
        soumettre une demande à la DDPP (Direction Départementale de la Protection des
        Populations), l’autorité administrative qui est chargée de contrôler la protection
        des animaux. La demande d’autorisation devra être accompagnée des documents
        suivants :
      </p>
      <ul>
        <li>
          Une lettre d’engagement écrite et qui comportera à son dos la liste des
          convoyeurs avec leurs noms, leurs prénoms et leurs adresses.
        </li>
        <li>
          La liste des véhicules et des moyens de transport qui sont utilisés pour
          transporter les animaux vivants avec leurs immatriculations respectives.
        </li>
        <li>
          Les pièces justificatives qui attestent l’aptitude des personnes qui exercent la
          fonction de convoyeur.
        </li>
        <li>
          Les certificats d’étanchéité délivrés pour les véhicules de transport d’animaux
          vivants.
        </li>
        <li>Les modalités et les mesures de désinfections prises par le demandeur.</li>
      </ul>
      <p>
        Avant de fournir un agrément, le DDPP peut convoquer le demandeur afin de vérifier
        que les véhicules exploités sont conformes aux normes de bien-être animal et
        respectent les mesures sanitaires.
      </p>
      <p>
        L’autorisation de transport de type 1 est valable pour une durée de 5 ans
        renouvelable sur demande de son possesseur.
      </p>

      <h3>La démarche de demande d’une autorisation de transport de type 2 ?</h3>
      <p>
        Les documents à fournir pour obtenir une autorisation de transport de type 2 sont
        les mêmes que ceux de l’autorisation de type 1. En revanche, le transporteur devra
        utiliser des véhicules dotés d’équipement spécial relatif à la protection des
        animaux qui voyagent lors de trajets de plus de 8 heures.
      </p>
      <p>
        Ces équipements doivent être adaptés au transport de longue durée d’équidés, de
        bovins, de porcins, d’ovins et de caprins. La conformité aux normes de bien-être
        des animaux de chaque véhicule sera vérifiée par DDPP qui fournira ensuite un
        certificat d’agrément.
      </p>
      <p>
        Le transporteur devra, en outre, fournir une garantie que le transport des espèces
        citées ci-dessus, en plus des volailles, soit assisté par un convoyeur détenteur
        d’un CAPTAV (Certificat d’Aptitude professionnelle pour le transport des animaux
        vivants).
      </p>
      <h3>Le CAPTAV</h3>
      <p>
        Le véhicule qui dispose d’une autorisation de transport est conduit ou assisté par
        un convoyeur qui doit être titulaire du CAPTAV (Certificat d’Aptitude
        professionnelle pour le transport des animaux vivants). Ce certificat est
        indispensable à tout professionnel qui opère au convoyage de ruminants, de chevaux
        et de porcs, c’est-à-dire des ongulés domestiques.
      </p>
      <p>
        Le certificat d’aptitude est délivré par la DDPP uniquement aux convoyeurs
        titulaires d’un diplôme spécifique qui figure sur la liste prévue dans l’arrêté du
        12 novembre 2015. Le diplôme peut être substitué par une attestation de formation
        délivrée par un centre agréé par le ministère chargé de l’agriculture et habilité
        pour les animaux de rente et les autres animaux domestiques.
      </p>
      <p>
        L’entreprise de transport des animaux vivants devra remplir pour chacun de ses
        convoyeurs qui répondent une de ces conditions le formulaire A de demande de
        renseignements pour la délivrance d’un certificat d’aptitude professionnelle pour
        le transport d’animaux vivants. Le formulaire devra être retourné à la DDPP.
      </p>
      <h3>Les documents à garder dans chaque véhicule de transport d’animaux vivants</h3>
      <p>
        En cas de contrôle routier, le chauffeur ou le convoyeur devra présenter
        l’autorisation de type 1 ou de 2 et le CAPTAV. Pour les longs transports, le
        certificat d’agrément du véhicule qui atteste du respect des droits des animaux
        qui voyageant plus de 8 heures sera également contrôlé. Il est donc important de
        garder une copie de ces documents dans chaque véhicule qui assure le transit
        d’animaux pendant une durée de transport inférieure ou supérieure à 8 heures.
      </p>
      <p>
        Si le convoyage est effectué par camion dont le PTAC est supérieur à 3,5 tonnes,
        le chauffeur devra présenter un permis de conduire pour poids lourd, une FCO
        (Formation continue obligatoire) et la FIMO (Formation Initiale Minimale
        Obligatoire).
      </p>
      <h3>Les exigences vis-à-vis des moyens de transport des animaux vivants</h3>
      <p>
        Le transporteur doit assurer que les véhicules qu’il exploite sont aménagés pour
        le bien des animaux. Chaque véhicule doit ainsi se conformer à la norme relative à
        la protection des animaux qui voyagent sur de longues distances. Il doit ainsi
        être doté d’équipements qui garantissent la propreté et la santé de tous les
        animaux transportés. Cela inclut les équipements d’étanchéité, de nettoyage et de
        désinfection.
      </p>
      <p>
        Le véhicule est aussi tenu à limiter les traumatismes et les souffrances infligées
        aux bêtes pendant le transport et fournir un accès facile en cas de besoin d’une
        intervention d’urgence. Enfin, pour le transport animalier de longue durée, des
        dispositifs de ventilation, d’abreuvement et d’alimentation doivent être installés
        ainsi qu’un système de suivi du véhicule comme la géolocalisation.
      </p>
      <img src="" alt="" />
      <h3>Les animaux qui peuvent être transportés</h3>
      <p>
        Les animaux de la ferme, les poissons et tous les autres animaux à vertèbres dont
        la possession et l’exploitation ne sont pas interdites par la loi peuvent être
        transportés grâce à une autorisation de type 1 ou 2. En revanche, le transport se
        fait sous conditions de l’état de santé animale du bétail.
      </p>
      <p>Son interdit au service de transport à courte et longue durée :</p>
      <ul>
        <li>
          Les femelles ayant dépassé les 90 % de la durée de gestation et celles qui
          viennent de mettre bas une semaine avant la date du transport.
        </li>
        <li>
          Les veaux nés il y a moins de 10 jours qui ne voyagent pas en compagnie des
          animaux qui les ont mis au monde et les nouveau-nés, dont les ombilics, ne sont
          pas encore parfaitement cicatrisés.
        </li>
        <li>
          Les animaux qui présentent des blessures graves et ouvertes et des prolapsus non
          réduits ou qui subissent des maladies qui les empêchent de bouger sans subir des
          souffrances.
        </li>
        <li>
          Le non-respect de ces conditions peut être assimilé à de la maltraitance animale
          et de la cruauté envers les animaux et représente des infractions de classe 4.
          Voilà pourquoi il est très important de se conformer au règlement européen
          strict et faire appel à un transporteur habilité pour faire transiter ses
          animaux vivants sur une distance de plus de 65 km.
        </li>
      </ul>
    </section>
  </body>
</html>
