<p></p>

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px">Tout </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">auto-entrepreneur</b
  ><span style="color: rgb(0, 0, 0); font-size: 18px">
    qui souhaite créer une </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">entreprise de transport</b
  ><span style="color: rgb(0, 0, 0); font-size: 18px">
    routier doit disposer d’une attestation de capacité professionnelle en
    transport routier. La question qui se pose est : </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">comment l’obtenir ?</b>
</div>

<div style="text-align: justify"><br /></div>

<span style="color: rgb(0, 0, 0); font-size: 18px"
  ><div style="text-align: justify">
    Il y a trois façons de procéder à commencer par la demande d’équivalence de
    diplômes. C’est possible si vous êtes titulaire de baccalauréat
    professionnel "<b>Transport</b>" ou du baccalauréat professionnel "<b
      >Exploitation des transports</b
    >". La validation d’une expérience professionnelle de 2 ans au moins au sein
    d’une entreprise de transport public routier, à condition de ne pas avoir
    cessé cette activité depuis plus de dix ans, est aussi possible.
  </div></span
>

<div style="text-align: justify"><br /></div>

<span style="color: rgb(0, 0, 0); font-size: 18px"
  ><div style="text-align: justify">
    Bien entendu, il faut avoir occupé un poste de direction. Mais la voie
    classique est de passer l’examen de capacité en transport de marchandises.
    Comment obtenir le succès et décrocher ainsi le droit de créer son
    entreprise ?
  </div></span
>

<h1>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Les conditions pour réussir l’examen de capacité de transp</font
    ><font style="color: rgb(0, 0, 0)">ort léger</font></b
  >
</h1>

<p>
  <span style="color: rgb(0, 0, 0); font-size: 18px"> </span
  ><img
    class="alignright wp-image-1365 float-right"
    data-src="/digimoov_website_templates/static/img/Examen%20apr%C3%A8s%20formation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandises.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Homepage/Examen_capacité_de_marchandise.jpg"
    width="346"
    height="301"
    style="font-size: 18px"
    src="/digimoov_website_templates/static/img/Examen%20apr%C3%A8s%20formation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandises.webp"
  />
</p>

<p style="text-align: left">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >La capacité professionnelle est une autorisation d’exercer le métier de
    <b>transporteur routier</b>. Son obtention repose sur deux conditions
    précises. La première, c’est le suivi d’une <b>formation</b> d’une durée de
    <b>102 h</b> auprès d’un centre agréé. Elle permettra au futur
    <b>transporteur indépendant</b> de se préparer à l’examen.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >La seconde condition, c’est de <b>réussir l’examen</b> en question dont les
    modalités et le programme sont bien définis par un arrêté ministériel. Pour
    rappel, il dure <b>3 heures</b> et il est composé de deux épreuves.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Il y a le questionnaire à choix multiples ou <b>QCM</b> composé de
    <b>50 questions</b>. Cette épreuve est notée sur 100 et le candidat qui
    obtient une note inférieure à <b>50/100</b> sera éliminé d’office.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >La seconde épreuve, <b>QRC</b>, comprend un exercice et
    <b>5 questions rédigées</b> à réponse courte. Elle est également notée sur
    100 et une note de moins de <b>40/100</b> sera éliminatoire.
  </span>
</p>

<p></p>

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Notons que pour réussir à l’examen de capacité de transport et obtenir
    l’attestation de conducteur, vous devez décrocher un total de points de </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">120/ 200</b
  ><span style="color: rgb(0, 0, 0); font-size: 18px">
    sur les deux épreuves au minimum.</span
  >
</div>

<h1>
  <b><font style="color: rgb(0, 0, 0)">Jury et délibération</font></b>
</h1>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >À souligner que la correction des copies est réalisée par un correcteur qui
    <b>ne fait pas partie de l’équipe pédagogique</b> du centre de formation.
    Les copies corrigées sont transmises à un <b>jury de validation</b> trois
    jours plus tard. Ce dernier est composé d’un directeur de centre, d’un
    représentant de la DREAL, d’un expert métier compétent dans une thématique
    du référentiel et d’un représentant des entreprises qui opèrent dans le
    secteur du transport routier.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >La tâche de ces experts consiste à <b>vérifier les résultats</b> et à
    rendre le verdict final. En général, les candidats devront recevoir les
    résultats de l’examen <b>par emai</b>l dans un délai d’<b>un mois</b> au
    maximum. Ils auront également droit au relevé de notes.</span
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >L’obtention de la capacité de marchandises</font
    ></b
  >
</h1>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Que se passe-t-il en cas de succès à l’examen ? Les candidats ayant réussi
    à cette épreuve vont décrocher la
    <b>capacité de transport de marchandises léger</b>. Autrement dit, ils
    deviendront capacitaires. La détention de la certification est
    <b>indispensable </b>à toutes les entreprises de transport routier de
    marchandises prévoyant d’utiliser des véhicules de <b>-3,5 T PTAC</b>.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Il faut préciser que la délivrance d’une attestation pour l’exercice des
    professions de transporteur est <b>assurée par la DRIEAT</b> (direction
    régionale de l’environnement, de l’aménagement et du logement).
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Quelle est la <b>démarche</b> à faire pour obtenir le document ? Il faudra
    effectuer une demande d’attestation professionnelle auprès de la DRIEAT en
    remplissant le
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >formulaire <b>Cerfa 11414</b></a
    >.
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Il est tout aussi indispensable de joindre au dossier une justification de
    la réussite à l’examen de capacité de transport de marchandises.</span
  >
</p>

<h1>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >L’obtention de l’attestation de capacité financière</font
    ></b
  >
</h1>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Après avoir décroché l’attestation indispensable pour exercer la profession
    de <b>transporteur</b>, vous pouvez créer une entreprise de transport. Mais
    avant d’accomplir toutes les démarches y afférentes, il y a d’autres
    conditions à satisfaire dont la plus importante est la détention de
    l’attestation de <b>capacité financière</b>. De quoi s’agit-il ?
  </span>
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Notons qu’une entreprise de transport de marchandises doit supporter des
    charges plutôt importantes. Ainsi, le transporteur qui veut se lancer dans
    le secteur doit disposer des <b>ressources financières</b> requises, fixées
    par type de véhicules de transport. En d’autres termes, la loi exige le
    dépôt d’un <b>capital suffisant</b>.</span
  >
</p>

<p><span style="color: rgb(0, 0, 0); font-size: 18px"></span></p>

<div style="text-align: left">
  <font style="color: rgb(0, 0, 0)"
    >Lors de la création d’une entreprise spécialisée en&nbsp;</font
  ><b><font style="color: rgb(0, 0, 0)">transport léger</font></b
  ><font style="color: rgb(0, 0, 0)"
    >, les ressources financières exigées pour le premier véhicule s’élèvent
    à&nbsp;</font
  ><b><font style="color: rgb(0, 0, 0)">1.800 €</font></b
  ><font style="color: rgb(0, 0, 0)"
    >&nbsp;au minimum. Il faut ajouter&nbsp;</font
  ><b><font style="color: rgb(0, 0, 0)">900 €</font></b
  ><font style="color: rgb(0, 0, 0)"
    >&nbsp;pour chaque véhicule supplémentaire. Les seuils imposés sont beaucoup
    plus faibles pour les professionnels en transport routier qui exercent dans
    les territoires d’Outre-mer.</font
  >
</div>

<p></p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >En effet, il faut déposer 600 €, soit 300 € de moins, pour chaque véhicule
    de transport supplémentaire. Notons que la validation de la capacité
    financière doit être faite par un cabinet d’expertise-comptable.</span
  >
</p>

<h1 id="demarches-administratives">
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Les démarches administratives pour créer son entreprise de transport
      de&nbsp;</font
    ></b
  ><b><font style="color: rgb(0, 0, 0)">marchandises</font></b>
</h1>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Un spécialiste du transport léger ayant décroché son
    <b>attestation de capacité financière</b> peut créer une entreprise. Il
    suffit de réaliser les démarches administratives requises. Découvre
    lesquelles.</span
  >
</p>

<h2>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Le choix d’une structure juridique pour une entreprise de transport</font
    ></b
  >
</h2>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >C’est la première chose à faire lors de la création d’une entreprise de
    transport routier de marchandises. Pour faire le bon choix, il suffit de se
    poser quelques questions à savoir : voulez-vous être le seul dirigeant de la
    société ? avez-vous l’objectif de développer votre
    <b>boîte de transport</b> ? Avez-vous besoin d’une bonne protection sociale
    ? La décision est à prendre en fonction des réponses à ces questions.</span
  >
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Il faut effectivement souligner que le <b>statut juridique</b> choisi aura
    un impact sur la rémunération du gérant, son niveau de responsabilité et les
    charges à payer. Notons aussi qu’un transporteur possédant une capacité
    professionnelle a le droit <b>d’engager des salariés</b>. Cela dit, les
    personnes embauchées doivent disposer d’un permis de conduire adéquat.</span
  >
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >En général, une entreprise de livraison de marchandises en France a droit à
    plusieurs options. Mais pour exercer la profession de transporteur routier,
    il vaut mieux opter pour la <b>SAS</b> (société par actions simplifiée), la
    <b>SASU</b> (société par actions simplifiée unipersonnelle) ou la
    <b>SARL</b> (société à responsabilité limitée).</span
  >
</p>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >La rédaction des statuts de la société de transport</font
    ></b
  >
</h2>

<div><br /></div>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Avant de procéder à la rédaction des <b>statuts</b> de ta société de
    transport, il faut choisir un <b>siège social</b> réel. Ensuite, il est
    nécessaire de bien penser à la répartition des actions ou parts sociales et
    à la rémunération du gérant. L’ouverture d’un compte bancaire au nom de la
    <b>société de transport</b> est aussi indispensable.</span
  >
</p>

<p style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Il ne faut pas oublier de réfléchir aux diverses clauses à ajouter dans le
    document. C’est le cas des clauses d’agrément, de non concurrence ou
    d’exclusion. L’aide d’un <b>expert-comptable</b> serait précieuse lors de la
    réalisation de cette opération.</span
  >
</p>

<div>
  <h2>
    <b
      ><font style="color: rgb(0, 0, 0)"
        >L’immatriculation de la société de transport de marchandises</font
      ></b
    >
  </h2>
  <p>
    <span style="color: rgb(0, 0, 0); font-size: 18px"> </span
    ><img
      class="alignright wp-image-1365 float-right"
      src="/digimoov_website_templates/static/img/Livreur-coursier-ind%C3%A9pendant.webp"
      width="346"
      height="301"
      style="font-size: 18px"
    />
  </p>
  <p style="text-align: left">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >C’est la prochaine tâche au programme et elle consiste avant tout à
      rédiger et à faire publier une annonce légale dans un
      <b>journal officiel</b>. Le coût de cette démarche est d’environ 150 €. Le
      livreur qui veut se lancer sur le marché de
      <b>transport routier de marchandises</b> doit ensuite procéder à
      l’enregistrement des statuts auprès du
      <b>Service des Impôts des Entreprises</b>.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Il est maintenant temps de constituer le
      <b>dossier d’immatriculation</b>. Les entreprises de transport de
      marchandises sont tenues de fournir les documents suivants :</span
    >
  </p>
  <ul>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >statuts signés et paraphés</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >justificatif de dépôt des fonds</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >un justificatif de domicile du siège social</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >la copie certifiée de la pièce d’identité du dirigeant</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >attestation sur l’honneur de non interdiction à l’exercice de la
          profession</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >attestation de la publication de l’annonce légale</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >formulaire MO complété</span
        >
      </p>
    </li>
    <li>
      <p style="text-align: justify">
        <span style="color: rgb(0, 0, 0); font-size: 18px"
          >attestation de préinscription émanant de la DREAL ou DRIEAT</span
        >
      </p>
    </li>
  </ul>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Pour finir la démarche, vous devez déposer le dossier d’immatriculation
      au greffe du tribunal de commerce. Notons que les dirigeants d’une société
      de transport routier sont considérés comme des artisans. Ainsi, le dossier
      de création d’entreprise est redirigé vers la
      <b>Chambre des Métiers et de l’Artisanat</b>. Les transporteurs routiers
      sont donc immatriculés au Répertoire des Métiers.</span
    >
  </p>
  <h2>
    <b
      ><font style="color: rgb(0, 0, 0)"
        >Création du dossier auprès de la DREAL ou DRIEAT</font
      ></b
    >
  </h2>
  <div><br /></div>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Pour finaliser la création d’une société de transport routier, il faudra
      compléter le dossier d’inscription auprès de la <b>DREAL/DRIEAT</b>. Afin
      de réaliser cette démarche correctement, il est nécessaire de joindre au
      dossier l’<b>extrait du RCS</b>, la fiche <b>INSEE</b> et une copie de
      l’attestation provisoire.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Cette procédure permet à un transporteur routier de voir sa boîte
      enregistrée au registre électronique national des entreprises de
      transports routiers ou au registre des
      <b>commissionnaires de transport</b>. Il pourra ensuite décrocher la
      licence définitive, ce qui lui permettra d’exercer la profession et
      devenir chauffeur en toute légalité.
    </span>
  </p>
  <p style="text-align: justify">
    <span style="color: rgb(0, 0, 0); font-size: 18px"
      >Notons en effet que ce document doit être présenté à chaque contrôle. La
      réalisation de cette démarche prend environ trois ou quatre
      semaines.</span
    >
  </p>
</div>

<h3>
  <b><br /></b>
</h3>

<div class="s_share" data-name="Share">
  <h4 class="s_share_title o_default_snippet_text">Partager</h4>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fpreparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport-4"
    target="_blank"
    class="s_share_facebook"
    ><i class="fa fa-1x fa-facebook rounded shadow-sm"></i></a
  ><a
    href="https://twitter.com/intent/tweet?text=Capacit%C3%A9%20de%20transport%20de%20marchandises%20%3A%20Examen%20et%20d%C3%A9marches&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fpreparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport-4"
    target="_blank"
    class="s_share_twitter"
    ><i class="fa fa-1x fa-twitter rounded shadow-sm"></i></a
  ><a
    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fpreparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport-4&amp;title=Capacit%C3%A9%20de%20transport%20de%20marchandises%20%3A%20Examen%20et%20d%C3%A9marches&amp;"
    target="_blank"
    class="s_share_linkedin"
    ><i class="fa fa-1x fa-linkedin rounded shadow-sm"></i></a
  ><a
    href="mailto:?body=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Fpreparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport-4&amp;subject=Capacit%C3%A9%20de%20transport%20de%20marchandises%20%3A%20Examen%20et%20d%C3%A9marches"
    class="s_share_email"
    ><i class="fa fa-1x fa-envelope rounded shadow-sm"></i
  ></a>
</div>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/preparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport"
    },
    "headline": "Préparer l’examen de capacité en transport de marchandises et la création d'une entreprise de transport",
    "image": "https://www.digimoov.fr/digimoov_website_templates/static/img/Examen%20apr%C3%A8s%20formation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandises.webp",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
