<p></p>

<p></p>

<p></p>

<h1>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Comment obtenir la capacité professionnelle de transport léger de
      marchandises&nbsp;?
    </font></b
  >
</h1>

<br />

<p></p>

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0); font-size: 18px"
    >Le transport routier de marchandises est un secteur d’activité </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">très florissant</b
  ><span style="color: rgb(0, 0, 0); font-size: 18px"
    >. En effet, selon les statistiques, le chiffre d’affaires réalisé par les
    acteurs du milieu peut atteindre </span
  ><b style="color: rgb(0, 0, 0); font-size: 18px">des milliards d’euros</b
  ><span style="color: rgb(0, 0, 0); font-size: 18px"
    >. Voilà pourquoi il séduit particulièrement les entrepreneurs.</span
  >
</div>

<div style="text-align: justify"><br /></div>

<span style="color: rgb(0, 0, 0); font-size: 18px"
  ><div style="text-align: justify">
    La question qui se pose alors est&nbsp;de savoir quelles sont les
    <b>démarches à suivre</b> pour pouvoir se lancer dans le secteur avec une
    <u
      ><b
        ><a
          href="/blog/digimoov-3/post/preparer-lexamen-de-capacite-en-transport-de-marchandises-et-la-creation-d-une-entreprise-de-transport-4"
          target="_blank"
          >création d'entreprise de transport</a
        ></b
      ></u
    >. Tout d'abord, il faut disposer d'un certificat officiel prouvant les
    compétences tel que la capacité de transport léger de marchandises. De quoi
    s’agit-il exactement&nbsp;? Quelles sont les démarches à faire pour
    l’obtenir&nbsp;? Découvrez les réponses à ces questions.
  </div></span
>

<h2>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Qu'est-ce que la capacité de transport léger de marchandises&nbsp;?</font
    ></b
  >&nbsp;
</h2>

<p></p>

<img
  class="alignright float-right wp-image-1365"
  data-src="/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp"
  data-srcsafari="/digimoov_website_templates/static/img/attestation_en_capacite.jpg"
  alt="attestation en capacité de transport léger de marchandise"
  width="346"
  height="301"
  src="/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp"
  data-original-title=""
  title="capacité de transport léger de marchandises "
  aria-describedby="tooltip396693"
/>

<font style="color: rgb(0, 0, 0)"
  ><div style="text-align: left">
    La création d’une entreprise de transport routier n’a rien d’une procédure
    banale. Seule une société disposant d’une capacité professionnelle a le
    droit d’opérer dans le domaine. De quoi s’agit-il&nbsp;? C’est un document
    qui atteste de la capacité de la société à fournir un
    <b>service de transport routier</b> de marchandises. Notons qu’il existe
    deux sortes de capacités de transport en fonction du PTAC (poids total
    autorisé en charge) du véhicule. La capacité de transport léger de
    marchandises est celle nécessaire aux entreprises de transport qui prévoient
    d’utiliser des engins de <b>-3,5 T de PTAC</b>. Comment faire pour obtenir
    ce certificat&nbsp;? Cela passe par la réussite à un examen écrit.
  </div></font
>

<span style="font-weight: 400"><br /></span>

<h2>
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Passer la formation en ligne&nbsp;
    </font></b
  >
</h2>

<br />

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0)"
    >La première chose à faire si vous voulez obtenir la capacité
    professionnelle est de </span
  ><a href="/#pricing" style="background-color: white"
    ><b><u>suivre une formation</u></b></a
  ><span style="color: rgb(0, 0, 0)"
    ><a href="/#pricing">.</a> L’objectif est d’acquérir toutes les </span
  ><b style="color: rgb(0, 0, 0)">compétences requises</b
  ><span style="color: rgb(0, 0, 0)">
    en vue de réussir l’examen mentionné précédemment. Comment se déroule la
    formation&nbsp;?</span
  >
</div>

<br />

<h3 style="font-weight: bold">
  <b
    ><font style="color: rgb(0, 0, 0)"
      >La formation dure 102 heures et contient 6 modules
    </font></b
  >
</h3>

<br />

<span style="font-weight: 400"
  ><i
    ><h4>
      <font style="color: rgb(0, 0, 0)"
        >L’entreprise et le droit civil et commercial (9&nbsp;h)&nbsp;:
      </font>
    </h4></i
  ></span
>

<br />

<div style="text-align: justify">
  <span style="color: rgb(0, 0, 0)"
    >Il s’agit d’un module de 9 h qui permet au futur transporteur routier
    d’acquérir de nombreuses connaissances lui permettant l’exercice de son
    métier. Celles-ci vous seront utiles lors de la </span
  ><b style="color: rgb(0, 0, 0)">création de votre entreprise de livraison</b
  ><span style="color: rgb(0, 0, 0)"
    >. Vous découvrirez les aptitudes requises pour devenir un commerçant. La
    formation permettra au futur transporteur commercial de connaître les
    différentes formes de sociétés et leurs caractéristiques.</span
  >
</div>

<font
  ><div style="text-align: justify">
    <font color="#000000"><br /></font>
  </div>
  <font color="#000000"
    ><div style="text-align: justify">
      <font color="#000000">Vous pourrez identifier les </font
      ><b>couvertures sociales</b
      ><font color="#000000"
        >, une connaissance indispensable lors de la création d’entreprise. Vous
        ferez la découverte des </font
      ><b>effets de commerce</b
      ><font color="#000000">
        et de leur fonctionnement, de la différence des </font
      ><b>gages</b
      ><font color="#000000">
        avec et sans dépossession. Les détails concernant la liquidation
        d’entreprise en redressement judiciaire font également partie du
        programme. Il faut ajouter l’identification des </font
      ><b>juridictions</b
      ><font color="#000000">
        existantes, de leur domaine d’intervention et des activités qui
        pourraient engager les responsabilités civile ou pénale des
        transporteurs de marchandises. Il ne faut pas oublier l’identification
        des </font
      ><b>organismes</b
      ><font color="#000000">
        qui peuvent fournir des conseils à l’entreprise de transport ainsi que
        leur rôle et leurs missions.</font
      >
    </div></font
  ></font
>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<span style="font-weight: 400"
  ><i
    ><h4>
      <font style="color: rgb(0, 0, 0)"
        ><br
          style="color: rgb(85, 85, 85); font-size: 18px; font-style: normal"
        />L’entreprise et son activité commerciale (4&nbsp;h)&nbsp;:
      </font>
    </h4></i
  ></span
>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Ce module réunit toutes les informations dont la société de transport a
    besoin pour lancer son activité. Il faut citer, entre autres, l’élaboration
    de l’<b>étude de marché</b>, la politique de <b>prix</b> et de
    <b>distribution</b>, ainsi que les outils de
    <b>prospection commerciale</b> comme la visite des clients et la publicité.
  </div></font
>

<span style="font-weight: 400"
  ><i
    ><h4>
      <font style="color: rgb(0, 0, 0)"
        ><br
          style="color: rgb(85, 85, 85); font-size: 18px; font-style: normal"
        />L’entreprise et le cadre réglementaire de l’activité de transport
        (10&nbsp;h&nbsp;30)&nbsp;:</font
      >
    </h4></i
  >
  <p>
    <img
      class="alignright float-right wp-image-1365"
      data-src="/digimoov_website_templates/static/img/Modules%20de%20la%20formation%20capacit%C3%A9%20de%20marchandise.webp"
      data-srcsafari="/digimoov_website_templates/static/img/Modules_de_la_formation_capacité_de_marchandise.jpg"
      alt="programme de formation capacité de transport léger"
      width="346"
      height="301"
      style="font-size: 18px"
      src="/digimoov_website_templates/static/img/Modules%20de%20la%20formation%20capacit%C3%A9%20de%20marchandise.webp"
      data-original-title=""
      title="capacité de transport"
      aria-describedby="tooltip79572"
    /></p
></span>

<div style="text-align: left">
  <span style="color: rgb(0, 0, 0)"
    >Dans ce module, vous allez découvrir les </span
  ><b style="color: rgb(0, 0, 0)">réglementations</b
  ><span style="color: rgb(0, 0, 0)">
    qui régissent la profession de transporteur. Vous allez apprendre à
    connaître les </span
  ><b style="color: rgb(0, 0, 0)">textes législatifs</b
  ><span style="color: rgb(0, 0, 0)">
    qui s’appliquent au transport de marchandises et identifier les </span
  ><b style="color: rgb(0, 0, 0)">organismes administratifs et professionnels</b
  ><span style="color: rgb(0, 0, 0)">
    qui interviennent dans le secteur ainsi que leur rôle.&nbsp; Au cours de
    cette formation, on vous enseignera aussi les </span
  ><b style="color: rgb(0, 0, 0)">conditions d’accès</b
  ><span style="color: rgb(0, 0, 0)">
    à la profession de transporteur et&nbsp; les conditions de perte de
    l’honorabilité. Vous allez aussi découvrir les principaux </span
  ><b style="color: rgb(0, 0, 0)">types de contrats</b
  ><span style="color: rgb(0, 0, 0)">
    à établir dans l’exécution du métier, vos&nbsp;</span
  ><b style="color: rgb(0, 0, 0)">droits</b
  ><span style="color: rgb(0, 0, 0)"> et vos&nbsp;</span
  ><b style="color: rgb(0, 0, 0)">obligations</b
  ><span style="color: rgb(0, 0, 0)">, ainsi que les </span
  ><b style="color: rgb(0, 0, 0)">limitations</b
  ><span style="color: rgb(0, 0, 0)"> de votre responsabilité </span
  ><b style="color: rgb(0, 0, 0)">en cas de retards</b
  ><span style="color: rgb(0, 0, 0)">
    de livraison ou de dommages matériels.</span
  >
</div>

<font
  ><div style="text-align: justify">
    <font color="#000000"><br /></font>
  </div>
  <font color="#000000"
    ><div style="text-align: justify">
      <font color="#000000"
        >Il ne faut pas oublier les sanctions administratives ou pénales
        appliquées </font
      ><b>en cas d’infraction</b
      ><font color="#000000">
        aux réglementations en vigueur. Ensuite, pendant la formation, vous
        allez aussi apprendre à déterminer la </font
      ><b>capacité financière</b
      ><font color="#000000">
        de votre boîte de transport. Enfin, vous serez informés des </font
      ><b>démarches</b><font color="#000000"> à réaliser auprès de la </font
      ><b>DREAL</b
      ><font color="#000000">
        et des assurances à souscrire pour pouvoir donner un </font
      ><b>service de transport de marchandises léger</b
      ><font color="#000000"> en toute sécurité.<br /><br /></font></div></font
></font>

<h4>
  <i
    ><font style="color: rgb(0, 0, 0)"
      >L’entreprise et le cadre réglementaire de l’activité de transport
      (52&nbsp;h&nbsp;30)&nbsp;:
    </font></i
  >
</h4>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Dans ce module, le futur livreur va identifier tous les
    <b>aspects financiers</b> de son métier et approfondir sa connaissance en
    matière de <b>gestion</b> et de <b>comptabilité</b>. Vous allez, entre
    autres, découvrir les <b>charges</b> de votre future société et apprendre à
    <b>déterminer le prix de vente</b>. Vous apprendrez également à déterminer
    le <b>besoin de financement</b> et les
    <b>moyens de financement</b> disponibles. L’élaboration du plan de
    <b>remboursement</b>, l’établissement des éléments de la trésorerie comme le
    <b>budget prévisionnel</b> ainsi que l’apprentissage des méthodes d’<b
      >amortissement </b
    >sont aussi au programme. Il ne faut pas oublier les
    <b>règles fiscales</b> en vigueur dans le domaine du transport léger de
    marchandises.<br /><br /></div
></font>

<h4>
  <i
    ><font style="color: rgb(0, 0, 0)"
      >L’entreprise et ses salariés (17&nbsp;h&nbsp;30)&nbsp;:
    </font></i
  >
</h4>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    C’est dans ce module que l’apprenti transporteur commercial va apprendre la
    <b>gestion du personnel</b>. Vous découvrirez les différentes règles
    concernant l’<b>embauche</b> et le <b>licenciement</b>, les détails sur les
    <b>types de contrats</b> existants ainsi que les informations sur la
    <b>sécurité</b> au travail, ainsi que le rôle et le fonctionnement des
    <b>institutions sociales</b>.<br /><br /></div
></font>

<h4>
  <i
    ><font style="color: rgb(0, 0, 0)"
      >L’entreprise et la sécurité (8&nbsp;h&nbsp;30)&nbsp;:
    </font></i
  >
</h4>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Dans ce dernier module permettant l’obtention d’une attestation de capacité
    de transport de marchandises léger, le futur gérant de l’entreprise va
    découvrir le type de véhicule à utiliser pour assurer le service de
    transport. Il est possible d’opter pour un <b>scooter</b> , une
    <b>voiture</b> ou une <b>camionnette</b>. La seule règle qui s’impose est de
    ne pas dépasser la limite du PTAC qui est de <b>moins de 3,5 tonnes</b>.
    L'apprenant va aussi identifier les <b>mesures de sécurité</b> à appliquer.
  </div>
  <br
/></font>

<h3 style="font-weight: bold">
  <br style="color: rgb(85, 85, 85); font-size: 18px; font-weight: 300" /><b
    ><img
      class="alignright float-right wp-image-1366"
      data-src="/digimoov_website_templates/static/img/formation%20en%20ligne%20chez%20digimoov.webp"
      data-srcsafari="/digimoov_website_templates/static/img/formation_en_ligne_chez_digimoov.jpg"
      alt="plateforme de e-learning Digimoov"
      width="346"
      height="336"
      src="/digimoov_website_templates/static/img/formation%20en%20ligne%20chez%20digimoov.webp"
      data-original-title=""
      title="formation capacité de transport léger"
      aria-describedby="tooltip915338"
    /><font style="color: rgb(0, 0, 0)"
      >Lors de la formation, le stagiaire aura un accès à :</font
    ></b
  ><br /><br />
</h3>

<ul>
  <li style="text-align: left">
    <font style="color: rgb(0, 0, 0)"
      >Des cours <b>complets et détaillés</b> avec des explications claires et
      lui permettant de se lancer dans l’exercice de la profession de
      transporteur en toute confiance&nbsp;</font
    ><br />
  </li>
  <li style="text-align: left">
    <font style="color: rgb(0, 0, 0)"
      >Des <b>exercices avec corrigés</b> et grâce auxquels il pourra mieux se
      préparer à l’examen qui lui permettra d’acquérir la capacité</font
    >
  </li>
  <li style="text-align: left">
    <font style="color: rgb(0, 0, 0)"
      >Des lives (directs) avec les formateurs qui lui laisseront la possibilité
      de <b>poser des questions</b> ou d'obtenir des informations
      supplémentaires au sujet de la gestion d’entreprise, des transports de
      marchandises ou autre</font
    ><br />
  </li>
  <li style="text-align: left">
    <font style="color: rgb(0, 0, 0)"
      >Des suivis personnalisés fournis par des coachs expérimentés et grâce
      auxquels le stagiaire pourra <b>approfondir ses connaissances</b> et
      profiter d’un guide de qualité
    </font>
  </li>
</ul>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h3 style="font-weight: bold">
  <b
    ><font style="color: rgb(0, 0, 0)"
      >La formation est éligible au CPF
    </font></b
  >
</h3>

<br />

<div style="text-align: justify">
  <font style="color: rgb(0, 0, 0)"
    >Notons que la formation qui permet d’obtenir une capacité de transport est
    <b>éligible au CPF</b>. Ainsi, Vous pouvez obtenir un financement si vous
    remplissez les conditions requises.
  </font>
</div>

<br />

<h3 style="font-weight: bold">
  <b
    ><font style="color: rgb(0, 0, 0)"
      >La formation est obligatoire pour pouvoir passer l’examen
    </font></b
  >
</h3>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Suivre une formation est indispensable pour une personne qui souhaite se
    lancer dans les activités de transport et de
    <b>livraison de marchandises</b> avec un véhicule léger. Sans les
    connaissances acquises durant le stage, vous serez dans l'incapacité de
    réussir l'examen. Précisons qu’il faut s'inscrire dans un
    <b
      ><u><a href="/faq">centre de formation en transport agréé</a></u></b
    >
    pour accéder aux différents modules.<br /><br /></div
></font>

<h2 style="font-weight: bold">
  <b><font style="color: rgb(0, 0, 0)">Passer l’examen en salle </font></b>
</h2>

<font
  ><br style="color: rgb(85, 85, 85)" />
  <div style="color: rgb(0, 0, 0); text-align: justify">
    Le stagiaire ayant accompli la formation peut s’inscrire à l’examen lui
    permettra d’acquérir un certificat de
    <b>capacité de transport léger de marchandises</b>. Comment faire&nbsp;? Il
    suffit de remplir le
    <b
      ><a
        href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
        >formulaire CERFA n°11414-05</a
      ></b
    >. Notons que même si la <b>formation est en ligne</b>, l’examen se déroule
    <b>en salle</b>. La présence du candidat est indispensable. L’examen dure
    environ <b>3 heures</b> et il se divise en deux parties. Ainsi, cela
    commence par l’<b>épreuve de QCM</b> d’une durée de
    <b>1&nbsp;h&nbsp;15</b> pendant laquelle le candidat doit cocher la bonne
    réponse.
  </div>
  <div style="text-align: justify">
    <font color="#000000"><br /></font>
  </div>
  <font color="#000000"
    ><div style="text-align: justify">
      <font color="#000000"
        >Les questions portent généralement sur le droit appliqué dans le
        domaine du transport léger et sur les connaissances liées à l’activité
        professionnelle. Elle est suivie de l’</font
      ><b>épreuve de QRC</b><font color="#000000"> d'</font
      ><b>1&nbsp;h&nbsp;45</b><font color="#000000"> qui comporte </font
      ><b>un exercice et 5 questions</b
      ><font color="#000000"
        >. Cette épreuve concerne les gestions commerciale et financière de
        l’entreprise de transport de marchandises. Précisons que les questions
        exigent des r</font
      ><b>éponses courtes</b
      ><font color="#000000"
        >, rédigées avec clarté et précision. Vous devez prouver que vous
        connaissez bien les spécificités du métier.<br /><br
      /></font></div></font
></font>

<h2 style="font-weight: bold">
  <b><font style="color: rgb(0, 0, 0)">Réussir l’examen en salle </font></b>
</h2>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Pour obtenir la capacité professionnelle, il faut
    <b
      ><u
        ><a href="/examen-capacite-transport-marchandises"
          >réussir l'examen</a
        ></u
      ></b
    >
    en salle. Quelles sont alors les conditions de réussite&nbsp;? Il faut au
    moins obtenir un<b> total de 120 points sur 200 </b>avec un
    <b>minimum de 50/100</b> à l’épreuve de <b>QCM</b> et un
    <b>minimum de 40/100</b> à l’épreuve de <b>QCR</b>. Notons que la correction
    des copies est prise en charge par un correcteur qui ne fait pas partie de
    l’équipe pédagogique. Les copies corrigées doivent passer devant un
    <b>jury de validation</b> pour vérification. Il est le seul à pouvoir
    valider l’examen si vous l'avez réussi. Le verdict est prononcé
    <b>un mois après le test</b>. Les résultats incluant le relevé de notes vous
    seront envoyés <b>par e-mail</b>.
  </div></font
>

<h2 style="font-weight: bold">
  <img
    class="d-block img-fluid mx-auto o_we_custom_image"
    data-src="/digimoov_website_templates/static/img/diplome%20certificat.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Diplome_attestation_de_capacité_de_transport_léger.jpg"
    alt="Femme et homme diplomés après réussite"
    width="346"
    height="301"
    src="/digimoov_website_templates/static/img/diplome%20certificat.webp"
    data-original-title=""
    title="Attestation capacité de transport léger "
    aria-describedby="tooltip953181"
  /><b><br /></b>
</h2>

<h2 style="font-weight: bold">
  <b
    ><font style="color: rgb(0, 0, 0)"
      >Recevoir l’attestation envoyée par la DREAL
    </font></b
  >
</h2>

<font style="color: rgb(0, 0, 0)"
  ><br style="color: rgb(85, 85, 85)" />
  <div style="text-align: justify">
    Les candidats ayant réussi l’examen national vont obtenir le certificat. La
    délivrance de ce document qui atteste de la capacité de fournir un
    <b>service de transport léger de marchandises</b> est assurée par la DREAL.
    Le certificat est envoyé <b>par voie postale</b>. Le transporteur qui
    détient la capacité est en mesure d’exercer la profession, de créer une
    entreprise de transport et de se lancer sur le marché en toute légalité.
  </div></font
>

<p></p>

<div class="s_share" data-name="Share" style="font-weight: bold">
  <h4 class="s_share_title">Partager</h4>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Ftout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5"
    target="_blank"
    class="s_share_facebook"
    ><i class="fa fa-1x fa-facebook rounded shadow-sm"></i></a
  ><a
    href="https://twitter.com/intent/tweet?text=Tout%20savoir%20sur%20la%20Capacit%C3%A9%20de%20Transport%20L%C3%A9ger%20de%20Marchandises&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Ftout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5"
    target="_blank"
    class="s_share_twitter"
    ><i class="fa fa-1x fa-twitter rounded shadow-sm"></i></a
  ><a
    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Ftout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5&amp;title=Tout%20savoir%20sur%20la%20Capacit%C3%A9%20de%20Transport%20L%C3%A9ger%20de%20Marchandises&amp;"
    target="_blank"
    class="s_share_linkedin"
    ><i class="fa fa-1x fa-linkedin rounded shadow-sm"></i></a
  ><a
    href="mailto:?body=https%3A%2F%2Fwww.digimoov.fr%2Fblog%2Fdigimoov-3%2Fpost%2Ftout-savoir-sur-la-capacite-de-transport-leger-de-marchandises-5&amp;subject=Tout%20savoir%20sur%20la%20Capacit%C3%A9%20de%20Transport%20L%C3%A9ger%20de%20Marchandises"
    class="s_share_email"
    ><i class="fa fa-1x fa-envelope rounded shadow-sm"></i
  ></a>
</div>

<b> &nbsp; </b>

<br />

<span style="font-weight: 400"> </span>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final. Formation
                éligible au CPF !</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="http://bit.ly/trackblogbanners"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
