<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.min.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <h1>
    Comment obtenir l'attestation de capacité professionnelle de transport léger de
    marchandises ?
  </h1>
  <p>
    Le
    <a href="/blog/comment-devenir-transporteur-routier"
      >transport routier de marchandises</a
    >
    est un secteur d’activité très florissant. En effet, selon les statistiques, le
    chiffre d’affaires réalisé par les acteurs du milieu peut atteindre des milliards
    d’euros. Voilà pourquoi il séduit particulièrement les entrepreneurs
  </p>
  <p>
    La question qui se pose alors est de savoir quelles sont les
    <b>démarches à suivre</b> pour pouvoir se lancer dans le secteur avec une
    <b>création d'entreprise de transport</b>. Tout d'abord, il faut disposer d'un
    certificat officiel prouvant les compétences tel que
    <b>l'attestation de capacité de transport léger de marchandises</b>. De quoi s’agit-il
    exactement ? Quelles sont les démarches à faire pour l’obtenir ? Découvrez les
    réponses à ces questions.
  </p>
  <img
    class="alignright float-right wp-image-1365 lazy"
    data-src="/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp"
    data-srcsafari="/digimoov_website_templates/static/img/attestation_en_capacite.jpg"
    alt="attestation en capacité de transport léger de marchandise"
    width="346"
    height="301"
    title="capacité de transport léger de marchandises "
  />
  <h2>Qu'est-ce que l'attestation de capacité de transport léger de marchandises ?</h2>
  <p>
    La création d’une entreprise de transport routier n’a rien d’une procédure banale.
    Seule une société disposant d’une capacité professionnelle a le droit d’opérer dans le
    domaine. De quoi s’agit-il ? C’est un document qui atteste de la capacité de la
    société à fournir un <b>service de transport routier</b> de marchandises. Notons qu’il
    existe deux sortes de capacités de transport en fonction du PTAC (poids total autorisé
    en charge) du véhicule. La <b>capacité de transport léger de marchandises</b> est
    celle nécessaire aux entreprises de transport qui prévoient d’utiliser des engins de
    <b>-3,5 T de PTAC</b>. Comment faire pour obtenir ce certificat ? Cela passe par la
    réussite à un examen écrit.
  </p>

  <h2>Passer la formation en ligne pour obtenir votre attestation</h2>
  <p>
    La première chose à faire si vous voulez obtenir l'<b
      >attestation de capacité professionnelle de transport</b
    >
    est de <a href="/#pricing">suivre une formation</a>. L’objectif est d’acquérir toutes
    les <b>compétences requises</b> en vue de réussir l’examen mentionné précédemment.
    Comment se déroule la formation ?
  </p>
  <h3>La formation dure 102 heures et contient 6 modules</h3>
  <h4>L’entreprise et le droit civil et commercial (9 h) :</h4>
  <p>
    Il s’agit d’un module de 9 h qui permet au futur transporteur routier d’acquérir de
    nombreuses connaissances lui permettant l’exercice de son métier. Celles-ci vous
    seront utiles lors de la <b>création de votre entreprise de livraison</b>. Vous
    découvrirez les aptitudes requises pour devenir un commerçant. La formation permettra
    au futur transporteur commercial de connaître les différentes formes de sociétés et
    leurs caractéristiques.
  </p>
  <p>
    Vous pourrez identifier les <b>couvertures sociales</b>, une connaissance
    indispensable lors de la création d’entreprise. Vous ferez la découverte des
    <b>effets de commerce</b> et de leur fonctionnement, de la différence des
    <b>gages</b> avec et sans dépossession. Les détails concernant la liquidation
    d’entreprise en redressement judiciaire font également partie du programme. Il faut
    ajouter l’identification des <b>juridictions </b>existantes, de leur domaine
    d’intervention et des activités qui pourraient engager les responsabilités civile ou
    pénale des transporteurs de marchandises. Il ne faut pas oublier l’identification des
    <b>organismes</b> qui peuvent fournir des conseils à l’entreprise de transport ainsi
    que leur rôle et leurs missions.
  </p>
  <div class="cta-action row justify-content-center">
    <div class="col-md-7 text-center pb16 col-lg-8">
      <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h4>L’entreprise et son activité commerciale (4 h) :</h4>
  <p>
    Ce module réunit toutes les informations dont la société de transport a besoin pour
    lancer son activité. Il faut citer, entre autres, l’élaboration de l<b
      >’étude de marché</b
    >, la politique de <b>prix</b> et de <b>distribution</b>, ainsi que les outils de
    <b>prospection commerciale</b> comme la visite des clients et la publicité.
  </p>
  <h4>L’entreprise et le cadre réglementaire de l’activité de transport (10 h 30) :</h4>
  <p>
    Dans ce module, vous allez découvrir les <b>réglementations</b> qui régissent la
    profession de transporteur. Vous allez apprendre à connaître les
    <b>textes législatifs</b> qui s’appliquent au transport de marchandises et identifier
    les <b>organismes administratifs et professionnels</b> qui interviennent dans le
    secteur ainsi que leur rôle. Au cours de cette formation, on vous enseignera aussi les
    <b>conditions d’accès</b> à la profession de transporteur et les conditions de perte
    de l’honorabilité. Vous allez aussi découvrir les principaux
    <b>types de contrats</b> à établir dans l’exécution du métier, vos <b>droits</b> et
    vos <b>obligations</b>, ainsi que les limitations de votre responsabilité
    <b>en cas de retards</b>
    de livraison ou de dommages matériels.
  </p>
  <img
    class="alignright float-right wp-image-1365 lazy"
    data-src="/digimoov_website_templates/static/img/Modules%20de%20la%20formation%20capacit%C3%A9%20de%20marchandise.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Modules_de_la_formation_capacité_de_marchandise.jpg"
    alt="programme de formation capacité de transport léger"
    width="300"
    height="200"
    style="font-size: 18px"
    title="capacité de transport"
  />
  <p>
    Il ne faut pas oublier les sanctions administratives ou pénales appliquées
    <b>en cas d’infraction</b> aux réglementations en vigueur. Ensuite, pendant la
    formation, vous allez aussi apprendre à déterminer la <b>capacité financière</b> de
    votre boîte de transport. Enfin, vous serez informés des <b>démarches</b> à réaliser
    auprès de la <b>DREAL</b> et des assurances à souscrire pour pouvoir donner un
    <b>service de transport de marchandises léger</b> en toute sécurité.
  </p>

  <h4>L’entreprise et le cadre réglementaire de l’activité de transport (52 h 30) :</h4>
  <p>
    Dans ce module, le futur livreur va identifier tous les <b>aspects financiers</b> de
    son métier et approfondir sa connaissance en matière de <b>gestion</b> et de
    <b>comptabilité</b>. Vous allez, entre autres, découvrir les <b>charges</b> de votre
    future société et apprendre à <b>déterminer le prix de vente</b>. Vous apprendrez
    également à déterminer le <b>besoin de financement</b> et les
    <b>moyens de financement</b> disponibles. L’élaboration du plan de
    <b>remboursement</b>, l’établissement des éléments de la trésorerie comme le
    <b>budget prévisionnel</b> ainsi que l’apprentissage des méthodes d’<b
      >amortissement</b
    >
    sont aussi au programme. Il ne faut pas oublier les <b>règles fiscales</b> en vigueur
    dans le domaine du transport léger de marchandises.
  </p>
  <h4>L’entreprise et ses salariés (17 h 30) :</h4>
  <p>
    C’est dans ce module que l’apprenti transporteur commercial va apprendre la
    <b>gestion du personnel</b>. Vous découvrirez les différentes règles concernant
    <b>l’embauche</b> et le <b>licenciement</b>, les détails sur les types de contrats
    existants ainsi que les informations sur la <b>sécurité</b> au travail, ainsi que le
    rôle et le fonctionnement des <b>institutions sociales. </b>
  </p>
  <h4>L’entreprise et la sécurité (8 h 30) :</h4>
  <p>
    Dans ce dernier module permettant l’obtention d’une attestation de capacité de
    transport de marchandises léger, le futur gérant de l’entreprise va découvrir le type
    de véhicule à utiliser pour assurer le service de transport. Il est possible d’opter
    pour un <b>scooter</b> , une <b>voiture</b> ou une <b>camionnette</b>. La seule règle
    qui s’impose est de ne pas dépasser la limite du PTAC qui est de
    <b>moins de 3,5 tonnes</b>. L'apprenant va aussi identifier les
    <b>mesures de sécurité</b> à appliquer.
  </p>
  <p>Lors de la formation, le stagiaire aura un accès à :</p>
  <ul>
    <li>
      Des cours <b>complets et détaillés</b> avec des explications claires et lui
      permettant de se lancer dans l’exercice de la profession de transporteur en toute
      confiance.
    </li>
    <li>
      Des <b>exercices avec corrigés</b> et grâce auxquels il pourra mieux se préparer à
      l’examen qui lui permettra d’acquérir la capacité
    </li>
    <li>
      Des lives (directs) avec les formateurs qui lui laisseront la possibilité de
      <b>poser des questions</b> ou d'obtenir des informations supplémentaires au sujet de
      la gestion d’entreprise, des transports de marchandises ou autre
    </li>
    <li>
      Des suivis personnalisés fournis par des coachs expérimentés et grâce auxquels le
      stagiaire pourra <b>approfondir ses connaissances</b> et profiter d’un guide de
      qualité
    </li>
  </ul>

  <div class="cta-action row justify-content-center">
    <div class="col-md-7 text-center pb16 col-lg-8">
      <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>

  <h3>La formation est éligible au CPF</h3>
  <p>
    Notons que la formation qui permet d’obtenir une capacité de transport est
    <b>éligible au CPF</b>. Ainsi, Vous pouvez obtenir un financement si vous remplissez
    les conditions requises.
  </p>
  <h3>
    La formation est obligatoire pour pouvoir passer l’examen de capacité de transport
  </h3>
  <p>
    Suivre une formation est indispensable pour une personne qui souhaite se lancer dans
    les activités de transport et de <b>livraison de marchandises</b> avec un véhicule
    léger. Sans les connaissances acquises durant le stage, vous serez dans l'incapacité
    de réussir l'examen. Précisons qu’il faut s'inscrire dans un
    <a href="/faq">centre de formation en transport agréé</a> pour accéder aux différents
    modules.
  </p>
  <h2>Passer l’examen en salle</h2>
  <p>
    Le stagiaire ayant accompli la formation peut s’inscrire à l’examen lui permettra
    d’acquérir un certificat de <b>capacité de transport léger de marchandises</b>.
    Comment faire ? Il suffit de remplir le
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >formulaire CERFA n°11414-05</a
    >. Notons que même si la <b>formation est en ligne</b>, l’examen se déroule
    <b>en salle</b>. La présence du candidat est indispensable. L’examen dure environ
    <b>3 heures</b> et il se divise en deux parties. Ainsi, cela commence par l’épreuve de
    QCM d’une durée de <b>1 h 15</b> pendant laquelle le candidat doit cocher la bonne
    réponse.
  </p>
  <p>
    Les questions portent généralement sur le droit appliqué dans le domaine du transport
    léger et sur les connaissances liées à l’activité professionnelle. Elle est suivie de
    l’<b>épreuve de QRC</b> d'<b>1 h 45</b> qui comporte
    <b>un exercice et 5 questions</b>. Cette épreuve concerne les gestions commerciale et
    financière de l’entreprise de transport de marchandises. Précisons que les questions
    exigent des <b>réponses courtes</b>, rédigées avec clarté et précision. Vous devez
    prouver que vous connaissez bien les spécificités du métier.
  </p>
  <h2>Réussir l’examen en salle</h2>
  <p>
    Pour obtenir la capacité professionnelle, il faut
    <a href="/examen-capacite-transport-marchandises">réussir l'examen</a> en salle.
    Quelles sont alors les conditions de réussite ? Il faut au moins obtenir un
    <b>total de 120 points sur 200</b> avec un <b>minimum de 50/100</b> à l’épreuve de
    <b>QCM</b> et un <b>minimum de 40/100</b> à l’épreuve de <b>QCR</b>. Notons que la
    correction des copies est prise en charge par un correcteur qui ne fait pas partie de
    l’équipe pédagogique. Les copies corrigées doivent passer devant un
    <b>jury de validation</b> pour vérification. Il est le seul à pouvoir valider l’examen
    si vous l'avez réussi. Le verdict est prononcé <b>un mois après le test</b>. Les
    résultats incluant le relevé de notes vous seront envoyés <b>par e-mail</b>.
  </p>
  <img
    class="d-block img-fluid mx-auto o_we_custom_image lazy"
    data-src="/digimoov_website_templates/static/img/diplome%20certificat.webp"
    data-srcsafari="/digimoov_website_templates/static/img/Diplome_attestation_de_capacité_de_transport_léger.jpg"
    alt="Femme et homme diplomés après réussite"
    width="346"
    height="301"
    title="Attestation capacité de transport léger "
  />
  <h2>Recevoir l’attestation de capacité de transport envoyée par la DREAL</h2>
  <p>
    Les candidats ayant réussi l’examen national vont obtenir le certificat. La délivrance
    de ce document qui atteste de la capacité de fournir un
    <b>service de transport léger de marchandises</b> est assurée par la DREAL. Le
    certificat est envoyé <b>par voie postale</b>. Le transporteur qui détient la capacité
    est en mesure d’exercer la profession, de créer une entreprise de transport et de se
    lancer sur le marché en toute légalité.
  </p>
</section>

<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>
