<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"
      >Comment obtenir la capacité de transport poids lourd ?</font
    ></span
  >
</h1>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    font-family: Georgia, serif;
    font-size: 14.3px;
    font-weight: 400;
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)">
  </span>
</p>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >La mondialisation parachevant ses effets vertueux sur les économies du
    globe, le secteur du transport sera naturellement très sollicité pour les
    années à venir. Les chauffeurs poids lourd plus encore compte tenu de la
    contenance de leur cargaison et l’importance stratégique que recouvre leur
    activité.
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Avec l’essor intarissable du commerce en ligne à l’internationale, les
    transporteurs poids lourd sont naturellement très sollicités. Un
    transporteur de marchandise, aujourd’hui comme demain, sera alors
    indispensable au transit de nombreuses marchandises dans une économie où les
    échanges n’en finissent pas de s’accentuer.
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Aussi, créer une entreprise de transport lourd, dès à présent et pour les
    années à venir, ne pourra que vous être profitable. Il y a largement de la
    place pour la concurrence et vous aussi pourrez alors en profiter. Cela, à
    condition toutefois de remplir les critères nécessaires à l’exercice de la
    profession.
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Alors, comment obtenir la capacité de transport lourd de marchandises
    ?</span
  >
</h6>

<section
  class="s_creative_center_para_with_two_buttons"
  data-name="Center paragraph with two buttons"
>
  <div class="spacer feature">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-7 text-center pb16 col-lg-8"
          style="
            border-style: solid;
            border-width: 0px;
            border-color: rgb(94, 23, 235);
          "
        >
          <h2
            class="subtitle"
            style="
              font-size: 25px;
              color: #5e17eb;
              line-height: 0.8cm !important;
            "
          >
            <b>Besoin d'obtenir votre capacité de transport léger ?&nbsp;</b
            ><br />
          </h2>
          <p class="subtitle" style="text-align: left">
            <font
              style="
                font-size: 18px;
                color: #202647;
                line-height: 0.8cm !important;
              "
              ><b
                >Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès
                maintenant et soyez prêts pour l'examen final.</b
              ></font
            >
          </p>
          <div class="m-t-40 s_btn pt0" data-name="Button">
            <a
              class="arrow-btn bizople_button m-r-10 m-t-20 btn btn-alpha rounded-circle"
              href="/web/signup?redirect=https://www.digimoov.fr/formation-attestation-de-transport-poids-lourd/shop/cart"
            >
              Je m'inscris<span
                class="fa fa-1x fa-fw fa-long-arrow-right ml-1"
              ></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"
      >Les exigences pour exercer le métier de transport de marchandises
    </font></span
  >
</h2>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Avant de pouvoir entamer la moindre démarche relative à la
    <b
      ><a href="/formation-capacite-transport-lourd-marchandise"
        >capacité de transport de marchandises</a
      ></b
    ><a href="/formation-capacite-transport-lourd-marchandise"> </a
    ><b
      ><a href="/formation-capacite-transport-lourd-marchandise"
        >poids lourd</a
      ></b
    >, certaines conditions préalables se devront d’être dûment respectées. Une
    société de transport, bien entendu, se doit de se conformer à certaines
    exigences afin de se conformer à ce qui est attendu d’un transporteur public
    routier.&nbsp;</font
  >
</h6>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)">L’exigence d’établissement</font></span
  >
</h3>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >L’exigence d’établissement se rapportant aux entreprises de transports
    routiers ont vocation à s’assurer que ces dernières bénéficient bien des
    structures primordiales à l’exercice de leur activité. Ainsi, votre
    entreprise se devra de disposer d’un établissement.
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Cet établissement devra d’une part constituer son siège social, mais aussi
    se conformer à ce qui est attendu de ce dernier. Car en effet, une société
    de transport de marchandises se devra de stocker la documentation relative à
    son activité. Des locaux, là encore, seront impératifs.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Au-delà de l’établissement comme local, l’exigence d’établissement impose
    aux entreprises de transport d’être propriétaires ou locataires-gérant des
    véhicules poids lourd nécessaires à l’exercice de leur activité. Cela, non
    sans compter les outils indispensables à la permanence de cette même
    activité de transport.
  </span>
</h6>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"
      >L’exigence d’honorabilité professionnelle</font
    ></span
  >
</h3>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Ce qui se rapporte à l’honorabilité d’une entreprise de transport routier
    de personnes fait référence à son honorabilité au sens de la loi. Est
    réputée honorable toute personne physique ou morale n’ayant fait l’objet
    d’aucune condamnation particulière.&nbsp;</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Ainsi, exercer la profession de transporteur impliquera nécessairement de
    ne jamais avoir été condamné pour les cas suivants :</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >- Une sanction judiciaire imposant l’interdiction de la pratique d’une
    commerciale ou industrielle (article L128-1du code de commerce),</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >- Une sanction judiciaire relative à des délits désignés par l’article n°7
    du décret 99-752</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >- Une sanction judiciaire se rapportant à une condamnation qui
    s’appliquerait au transport routier.</font
  >
</h6>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"
      >L’exigence de capacité professionnelle</font
    ></span
  >
</h3>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Comme rapporté précédemment, personne ne saurait être gestionnaire de
    transport sans s’être acquitté des démarches nécessaires à l’acquisition de
    la capacité professionnelle de transport lourd. Il s’agit même d’une
    condition primordiale pour obtenir l’autorisation d’exercer une activité de
    transport public routier.</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Celle-ci ne peut être décernée que par le préfet de la région suite au
    passage d’un examen officiel sur lequel nous reviendrons.&nbsp;</font
  >
</h6>

<h3
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"
      >L’exigence de capacité financière</font
    ></span
  >
</h3>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >On entend par l’exigence de la capacité financière d’une entreprise, la
    propension de cette dernière à disposer de ressources financières
    nécessaires pour assurer le bon fonctionnement de son entreprise de
    transport public.</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >&nbsp;Cette capacité financière se concrétise alors de la manière suivante
    dans le cadre du transport public routier :&nbsp;</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >- Un montant de 9000 euros pour le premier véhicule concerné par l’activité
    de transport routier de personnes.</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >- 5000 euros supplémentaires pour chaque nouveau véhicule supérieur de plus
    de 3,5 tonnes au PMA concerné par votre activité de transport.&nbsp;</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Les garanties financières accordées par les établissements bancaires et
    d’assurances agréés peuvent compléter les capitaux propres dans la limite de
    50% du montant de la capacité financière.</font
  >
</h6>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/230105/transport-lourd-routier-digimoov.png?access_token=f278c71b-cd82-4c10-acc9-7c248154b223"
  /><font style="color: rgb(0, 0, 0)"><br /></font>
</h6>

<h2
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: black;
    "
    ><a href="/formation-capacite-transport-lourd-marchandise"
      >Attestation de capacité de transport lourd de marchandise</a
    >
    : Définition</span
  >
</h2>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Les attestations, en règle générale, se rapportent à la preuve qu’une
    personne est apte à faire usage d’une compétence donnée. Aussi,
    l’attestation de capacité de transport poids lourd a pour premier effet de
    démontrer aux autorités que la personne qui en bénéficie est apte à exercer
    le métier de chauffeur poids lourd.&nbsp;</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Un capacitaire de transport reconnu, alors, remplira l’une des principales
    exigences nécessaires à l’exercice du transport de personnes et du transport
    lourd de marchandise.</font
  >
</h6>

<h2
  id="examen-details"
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: black;
    "
    >Comment obtenir la capacité de transport poids lourd ?
  </span>
</h2>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >Très spécifiquement, la capacité professionnelle dans le cadre du transport
    poids lourd concerne une entreprise de transport de marchandises dont les
    véhicules de 3,5 tonnes le PMA (Poids moyen autorisé).</font
  >
</h6>

<h6>
  <font style="color: rgb(0, 0, 0)"
    >L’obtention de la capacité de transport poids lourd peut alors s’obtenir
    par trois moyens.</font
  >
</h6>

<h3
  class="ql-align-justify"
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    text-align: justify;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: rgb(32, 35, 40);
    "
    >Obtenir sa capacité de transport poids lourd grâce à l’examen écrit</span
  >
</h3>

<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>

<h6 class="ql-align-justify">
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >Suivre une
    <b
      ><a href="/formation-capacite-transport-lourd-marchandise"
        >formation</a
      ></b
    >
    et passer l’examen écrit pour obtenir la capacité de transport poids lourd
    est la manière la plus conventionnelle et la plus usitée d’accéder à cette
    dernière. &nbsp;<br />Lors de l'examen, vous serez&nbsp;confrontés à deux
    épreuves :</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    Un questionnaire sous la forme de questions à choix multiples portant sur
    l’ensemble des matières énoncées à l’annexe 1 du règlement (CE) n° 1071 /
    2009 ;</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    Une épreuve portant sur la gestion et l’exploitation de l’entreprise et
    pouvant faire appel à l’ensemble des connaissances énoncées à l’annexe 1 du
    règlement (CE) n° 1071 / 2009 composées de questions et d’exercices exigeant
    une réponse rédigée.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >La durée totale des épreuves est fixée à quatre heures.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    ><b>Barème</b> :</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    le nombre total de points est de 200.
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >Il se décompose comme suit :</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    questionnaire à choix multiple : 100 points ;</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    épreuve à réponses rédigées : 100 points.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >Sont déclarés reçus les candidats qui ont obtenu pour l’ensemble des
    épreuves une note au moins égale à 120 sur 200, sous réserve qu’ils aient
    obtenu au moins 50 points pour le questionnaire à choix multiple et 40
    points pour l’épreuve à réponses rédigées.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >L’examen est annuel et la date retenue est le 1er mercredi du mois
    d’octobre de l’année en cours : l’examen se déroulera le </span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >mercredi 5 octobre 2022</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
    et la clôture des inscriptions sera </span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >le vendredi 5 août 2022</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)"
    >L’inscription se fait sur le site : </span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(121, 181, 28)"
    ><a
      href="https://www.demarches-simplifiees.fr/commencer/inscription-examen-2021"
      rel=""
      target="_blank"
      style="
        -webkit-font-smoothing: antialiased;
        color: rgb(0, 102, 204);
        text-decoration-line: underline;
        touch-action: manipulation;
      "
      >site demarches-simplifiees</a
    ></span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(72, 72, 72)"
    >.</span
  >
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(32, 35, 40)">
  </span>
</h6>

<h6>
  <span style="-webkit-font-smoothing: antialiased; color: black"
    >Aucuns frais d’inscription ne seront engagés pour participer à l’examen,
    toutefois, vous serez tenu de rapporter les pièces justificatives demandées
    à temps de sorte que votre dossier soit valide. Celles-ci vous seront
    communiquées sur le site de la DREAL à partir duquel vous pourrez vous
    inscrire et formuler votre dossier afin d’accéder à l’examen.</span
  >
</h6>

<h3
  class="ql-align-justify"
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    text-align: justify;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <br /><span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: rgb(32, 35, 40);
    "
    >Obtenir sa capacité de transport de marchandises grâce à l’expérience
    professionnelle</span
  >
</h3>
<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>
<h6 class="ql-align-justify">
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Dans l’éventualité où vous auriez déjà géré durant une période
    ininterrompue une activité de transport routier entre le 4 décembre 1999 et
    le 4 décembre 2009, vous seriez, au regard de votre expérience, considéré
    comme apte à l’exercice d’une telle profession. (Source DREIA ILE DE
    France)</span
  >
</h6>
<h6 class="ql-align-justify">
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Vous n’auriez dès lors pas à passer l’examen écrit. Il vous suffirait de
    fournir le formulaire CERFA correspondant au centre DREAL de votre région
    avec les pièces justificatives exigées. Celles-ci concernant notamment les
    preuves de l’exercice de votre activité de commissionnaire de transport.
  </span>
</h6>
<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >En cas de validité de votre demande, votre capacité de transport vous
    serait alors remise via votre préfecture de région.</span
  >
</h6>
<h3
  class="ql-align-justify"
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
    text-align: justify;
    color: rgb(60, 72, 78);
    white-space: pre-wrap;
  "
>
  <span
    style="
      -webkit-font-smoothing: antialiased;
      font-weight: bolder;
      color: rgb(32, 35, 40);
    "
    >Obtenir sa capacité professionnelle par l’équivalence de diplôme</span
  >
</h3>
<h1
  style="
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0px 0px 20px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: bold;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
></h1>
<h6 class="ql-align-justify">
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Certains diplômes – sans expérience professionnelle – peuvent là encore
    vous permettre d’accéder à la capacité transport poids lourd sans avoir à
    passer l’examen écrit. Tout diplôme spécialisé dans le transport routier
    poids lourd est alors susceptible d’être désigné par une équivalence de
    diplôme.
  </span>
</h6>
<h6 class="ql-align-justify">
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >On peut citer : Le BTS </span
  ><span
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 0, 0);
      font-weight: bolder;
    "
    >Transport</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >, BTS </span
  ><span
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 0, 0);
      font-weight: bolder;
    "
    >Transport</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)">
    et prestations logistiques, DUT Gestion logistique et </span
  ><span
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 0, 0);
      font-weight: bolder;
    "
    >transport</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)">
    et de diplômes supérieurs du </span
  ><span
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 0, 0);
      font-weight: bolder;
    "
    >transport</span
  ><span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)">
    etc.</span
  >
</h6>
<h6>
  <span style="-webkit-font-smoothing: antialiased; color: rgb(0, 0, 0)"
    >Là encore, un Cerfa sera de rigueur afin d’adresser à la DREAL
    l’équivalence de votre diplôme de sorte que vous puissiez obtenir votre
    capacité professionnelle par dérogation</span
  >
</h6>
<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
>
  <br style="-webkit-font-smoothing: antialiased" />
</p>
<p
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7
      0 list-8 0 list-9 0;
  "
>
  <br
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(60, 72, 78);
      font-family: Georgia, serif;
      font-size: 14.3px;
      white-space: pre-wrap;
    "
  />
</p>
<mci-extension data-role="overlay"></mci-extension>
