<link
  href="/digimoov_website_templates/static/src/css/style-blog-dg.css"
  rel="stylesheet"
/>

<section class="blog-article-prototype">
  <p>
    Pour créer une <b>entreprise de transport routier léger</b> ou de location de voitures
    ne dépassant pas 3,5 tonnes PTAC, vous devez obtenir une
    <b>attestation de capacité professionnelle en transport routier léger</b>. Cela permet
    à l’entreprise de s’inscrire au registre des transporteurs et loueurs tenus par la
    <b>DREAL</b>.
  </p>
  <p>
    Cet élément est important pour ceux qui assurent la gestion effective et permanente de
    l’<b>entreprise de transport.</b> À l’heure actuelle, il existe de nombreuses
    entreprises qui fournissent et gèrent diverses formalités de conception de société de
    <b>transport de marchandises</b>. On délivre l'attestation de transport aux
    commissionnaires et aux transporteurs.
  </p>
  <p>
    Pour vous rappeler, depuis le 4 décembre 2011, les conditions professionnelles
    d’entrée dans l’industrie ont subi quelques changements. Dans cet article, vous allez
    découvrir l’utilité de cette attestation de capacité de transport léger de
    marchandises .
  </p>
  <h2>Qu'est-ce que l'attestation de capacité de transport de marchandises ?</h2>

  <p>
    L’attestation de capacité de transport est réservée aux transporteurs et aux
    commissionnaires de transport. Depuis le 4 décembre 2011, les conditions
    professionnelles d’entrée dans l’industrie ont changé.
  </p>
  <img
    class="alignright wp-image-1365 float-right"
    data-src="/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp"
    data-srcsafari="/digimoov_website_templates/static/img/attestation_en_capacite.jpg"
    width="346"
    height="301"
    style="font-size: 18px"
    alt="Attestation de capacité de transport léger de marchandises"
    src="/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp"
    title="Capacité de transport de marchandises"
  />
  <p>
    Le personnel qui assure la gestion efficace et permanente de l’entreprise ou
    gestionnaire de transport de la société doit répondre aux conditions de compétence
    professionnelle.
  </p>
  <p>
    L’<a href="/blog/tout-savoir-sur-la-capacite-de-transport-leger-de-marchandises"
      >attestation de la capacité de transport</a
    >
    peut garantir une <b>gestion permanente et efficace</b> :
  </p>

  <ul>
    <li>
      Des entreprises de transport routier qui exploitent des véhicules de moins de 3,5T
      PTAC ;
    </li>
    <li>
      Des sociétés de transport routier qui exploitent des véhicules de plus de 3,5T PTAC
      ;
    </li>
    <li>
      De toutes les sociétés de location de voitures de tonnage supérieur à 3,5T PTAC avec
      chauffeurs  ;
    </li>
    <li>
      Et de la société de transport routier de voyageurs (au départ des premiers
      passagers).
    </li>
  </ul>

  <h3>Comment obtenir l'attestation de capacité de transport de marchandises ?</h3>
  <p>
    L’attestation de <b>capacité de transport</b> est un document obligatoire pour toute
    personne souhaitant devenir capacitaire.
  </p>
  <p>
    Les demandes d’attestation de capacité professionnelle doivent être déposées à la
    DREAL via le <b>formulaire CERFA n 11414-05. </b>
  </p>
  <p>
    Il existe deux types d'attestations : La capacité de transport léger de marchandises
    et la capacité de transport lourd de marchandises. La capacité de transport léger de
    marchandises doit être obtenue, si vous utilisez un véhicule de moins de 3.5 tonnes en
    poids maximum autorisé..
  </p>
  <p>
    Quant à la capacité de transport lourd de marchandises, c'est une attestation qui
    concerne, les véhicules de plus de 3.5 tonnes.
  </p>
  <p>
    Dans notre article nous allons nous intéresser sur les démarches pour obtenir la
    capacité de transport léger de marchandises.
  </p>
  <p>
    En effet, il existe trois manières d’obtenir cette capacité professionnelle en
    transport léger :
    <b>examen écrit, expérience professionnelle et équivalence de diplôme. </b>
  </p>
  <h3>Examen écrit</h3>
  <p>
    Le test écrit pour obtenir cette capacité est effectué après qu’un
    <b>établissement agréé</b> a terminé un cours de formation obligatoire de
    <b>102 heures</b>. L’inscription à l’examen se fait en remplissant le formulaire
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >CERFA n 11414-05.</a
    >
  </p>
  <p>
    Une fois l'examen réussi, le préfet de la région délivrera l’attestation de capacité
    de transport de marchandises.
  </p>
  <h3>Expérience professionnelle</h3>
  <p>
    Une personne qui peut prouver qu’elle exploite une entreprise de transport
    <b>depuis deux années consécutives </b>peut demander une attestation de capacité
    professionnelle en transport routier léger, mais seulement si elle
    <b>n’a pas arrêté cette activité depuis plus de dix ans. </b>
  </p>
  <p>
    Pour faire une demande à DREAL, vous pouvez utiliser le formulaire du
    <a
      href="https://www.formulaires.service-public.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfaAndExtension=11414"
      >CERFA 11414-05</a
    >
    et fournir les pièces justificatives nécessaires.
  </p>
  <p>
    Remarque : La DREAL est un service régional, vous devez donc contacter le service de
    votre région pour l’inscription et les examens.
  </p>
  <h3>Équivalence d’un diplôme</h3>
  <p>
    Certains diplômes vous permettent d’accéder à un certificat équivalent pour obtenir
    une attestation de capacité professionnelle en transport routier léger. En effet, vous
    pouvez être dispensé de la formation et de l'examen si vous êtes titulaire du
    <b>baccalauréat professionnel "Exploitation des transports"</b> ou du
    <b>baccalauréat professionnel "Transport". </b>
  </p>
  <div class="cta-action row justify-content-center">
    <div class="col-md-7 text-center pb16 col-lg-8">
      <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <h2>
    Quelles sont les utilités d’une attestation de capacité professionnelle en transport
    léger ?
  </h2>
  <p>
    La capacité de transport est un ensemble important de documents pour les
    professionnels qui souhaitent s’engager dans le transport routier de marchandises. Par
    conséquent, toute entreprise de transport routier doit avoir une
    <b>attestation de capacité professionnelle</b> qui permet le transport de
    marchandises. Ceci est émis pour les opérateurs et les courtiers sur le terrain. Utile
    lors de l’utilisation de véhicules de <b>moins de 3,5 t </b>de poids total autorisé en
    charge (PTAC). Le titulaire de l'attestation pourra donc faire de la livraison sur
    <b>scooter, voiture</b> ou <b>camionnette de -3,5T. </b>
  </p>
  <p>
    Pour une personne souhaitant exercer la profession de transporteur, cette attestation
    lui permet de devenir indépendant et de monter
    <b>sa propre société de transport</b>. Grâce à une attestation de capacité
    professionnelle en transport routier léger, vous pourrez exercer librement le métier
    de livreur ou transporteur en <b>scooter, voiture</b> ou camionnette sans dépasser les
    3,5T PTAC. Cela vous permettra par la suite de collaborer avec des plus grandes
    enseignes de vente en ligne, de nombreux marchands et des milliers de restaurateurs
    ainsi que des sociétés de déménagement.
  </p>
  <div class="container">
    <div
      class="row align-items-center"
      style="background: #e1e6e9; padding-bottom: 10px; margin-bottom: 10px"
    >
      <div class="col-lg-5 col-md-4 col-sm-12">
        <img
          class="img img-fluid"
          src="/web/image/275270/A%206.png?access_token=479ef6bf-0d6d-490e-9cec-d2211612caae"
          title="devenir partenaire livraison amazon avec digimoov"
          alt="livreur amazon"
        />
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12">
        <h3
          style="
            color: #313d49;
            font-size: 30px;
            text-align: -webkit-center;
            margin-block-end: 31px;
            letter-spacing: 1px;
            line-height: 42px;
          "
        >
          <text class="amazon">
            <text>amazon</text>
          </text>
          recherche
          <br />
          <text>"</text><text>DES PARTENAIRES DE LIVRAISON</text><text>"</text>
        </h3>
        <div style="text-align: justify">
          <p
            style="
              color: rgb(0, 0, 0);
              font-size: 17px;
              font-style: inherit;
              font-variant-caps: inherit;
              font-variant-ligatures: inherit;
              text-align: inherit;
            "
          >
            C'est l'occasion ou jamais de créer et développer votre propre entreprise de
            livraison. Grâce au programme "partenaire de livraison" d'Amazon, de
            nombreuses ressources seront mises à votre disposition pour réussir cette
            aventure.
          </p>
          <p
            style="
              color: rgb(0, 0, 0);
              font-size: 17px;
              font-style: inherit;
              font-variant-caps: inherit;
              font-variant-ligatures: inherit;
              text-align: inherit;
            "
          >
            Que vous soyez en train de préparer votre examen ou que vous l'ayez déjà
            réussi avec Digimoov, ce programme devrait vous intéresser. Inscrivez-vous à
            une session de présentation pour en savoir plus :
          </p>
        </div>
        <div style="text-align: -webkit-center; margin-top: 25px">
          <div
            href="https://register.gotowebinar.com/rt/2091095616512307982"
            style="
              transform: rotate(355deg);
              padding: 10px 29px;
              background: #01a7e1;
              color: #000;
              min-width: 101px;
              text-align: center;
              max-width: 159px;
              cursor: pointer;
              border-radius: 7px;
              font-size: 18px;
              margin-block-end: 15px;
            "
            onclick="window.location='https://register.gotowebinar.com/rt/2091095616512307982'"
          >
            <b> Je m'inscris! </b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Que peut-on prévoir après l’obtention d’une attestation de capacité ?</h2>
  <p>
    L’obtention d’une attestation de capacité ne constitue qu’une condition préalable à la
    création de votre entreprise. Pour pouvoir la lancer, vous devez également remplir
    d’autres conditions, telles que :
  </p>
  <h3>La justification de votre capacité financière</h3>
  <p>
    Le service de transport implique beaucoup de frais. C’est pourquoi la loi vous oblige
    à prouver que vous êtes <b>capable de mener ce type d’activité.</b> Les ressources
    sont définies en fonction du type de véhicule.
  </p>
  <p>
    Pour les véhicules de transport léger, vous devez justifier de<b>
      1800 euros pour le premier véhicule,</b
    >
    puis <b>900 euros pour chaque voiture particulière supplémentaire. </b>
  </p>
  <p>
    Pour les poids lourds, vous devez prouver que vous disposez de
    <b>9000 euros</b> pour le <b>premier véhicule</b> et de <b>5 000 euros</b> pour les
    autres. Veuillez noter qu’après la création de l’entreprise, la capacité financière
    sera vérifiée puis envoyée une fois par an, grâce au certificat envoyé à
    <b>DREAL. </b>
  </p>
  <p>
    Si vous pratiquez dans <b>les territoires d’outre-mer</b>, les seuils sont abaissés.
    Pour les véhicules légers, le seuil pour les autres véhicules est réduit à
    <b>600 euros</b>. Pour les poids lourds, le seuil du premier véhicule est abaissé à
    6 000 euros et celui des autres véhicules à <b>3 000 euros. </b>
  </p>
  <h3>L’obtention de l’agrément de la DREAL</h3>
  <p>
    Après avoir obtenu une attestation en<b> capacité de transport de marchandises</b>
    et prouvé la capacité financière, vous devez toujours
    <b>demander l’approbation de DREAL.</b> Par conséquent, vous devez soumettre des
    documents, y compris une preuve de votre capacité, des formulaires Cerfa spécifiques
    et des
    <b
      >documents prouvant qu’il ne vous est pas interdit de vous livrer à des activités
      commerciales.
    </b>
  </p>
  <h3>La création de l’entreprise</h3>
  <p>
    Il vous suffit de choisir une <b>structure juridique</b> prévue par la loi française
    pour exercer vos activités : <b>SARL, SAS, SASU.</b> Vous pouvez choisir en tenant
    compte des avantages et des inconvénients de votre secteur d’activité. Vous devez
    toujours rédiger les <b>statuts</b>, émettre des <b>déclarations légales</b> et
    <b>enregistrer votre entreprise</b>.
  </p>
  <div class="cta-action row justify-content-center">
    <div class="col-md-7 text-center pb16 col-lg-8">
      <h2>Besoin d'obtenir votre capacité de transport léger ?</h2>
      <p style="color: #000">
        Inscrivez-vous à la formation 100% en ligne chez DIGIMOOV dès maintenant et soyez
        prêts pour l'examen final. Formation éligible au financement par Pôle emploi !
      </p>
      <a class="btn-wiggle button button-wiggle" href="http://bit.ly/trackblogbanners">
        Je m'inscris<span class="fa fa-1x fa-fw fa-long-arrow-right ml-1"></span
      ></a>
    </div>
  </div>
  <div>
    <h2>Pourquoi suivre une formation de capacité de transport léger en ligne ?</h2>
    <img
      class="alignright wp-image-1366 float-right"
      data-src="/digimoov_website_templates/static/img/formation%20en%20ligne%20chez%20digimoov.webp"
      data-srcsafari="/digimoov_website_templates/static/img/formation_en_ligne_chez_digimoov.jpg"
      width="346"
      height="336"
      alt="Formation pour obtenir l'attestation de capacité de transport léger de marchandises en ligne"
      src="/digimoov_website_templates/static/img/formation%20en%20ligne%20chez%20digimoov.webp"
      title="formation de capacité de transport léger en ligne"
    />
  </div>

  <p>
    Une formation est requise pour faciliter l’examen de passage de certification. Ces
    cours apportent de nombreux avantages. Le premier avantage de participer à cette
    formation en ligne est que la solution fait gagner du temps et augmente la
    flexibilité. De plus, comme plusieurs centres de formation proposent des options en
    ligne, le coût de la formation est bien inférieur à celui de la formation classique.
    D’autres avantages s’ajoutent à la liste :
  </p>
  <h3>Une solution pratique pour garantir les résultats</h3>
  <p>
    La formation sur les capacités de transport est un cours de
    <b>perfectionnement</b> et une préparation à la certification après un examen écrit.
    Il est réalisé par des
    <b>professionnels ayant de nombreuses années d’expérience dans le domaine.</b>
    Avec l’expertise et les connaissances de ces formateurs, vous pouvez être sûrs
    d’obtenir de meilleurs résultats. Pour mener efficacement la formation, ils utilisent
    les <b>derniers manuels</b>. Ceux-ci permettent à tout le personnel formé de connaître
    toutes les normes efficaces d’un domaine à l’autre et de valoriser leurs services.
  </p>
  <p>
    Même si l’objectif est d’obtenir une attestation, une formation accompagnée par un
    organisme agréé peut apporter une <b>aide précieuse</b> pour la prochaine activité. Le
    formateur fournira des informations très utiles pour convaincre les clients.
  </p>
  <p>
    Selon le domaine et la durée, la <b>formation en ligne</b> se fait par des cours
    théoriques. Mais il peut y avoir une certaine pratique, même des semaines de révision.
    Tout est organisé, ce qui vous permet de passer plus facilement l’examen et d’obtenir
    une attestation de capacité pour la première fois. Même les stagiaires pourront
    participer pour accélérer le processus d’ouverture d’une entreprise.
  </p>
  <h3>Facilitation de l’obtention de l’agrément DREAL</h3>
  <p>
    La formation sur la capacité à transporter des marchandises présente également
    l’avantage d’obtenir l’agrément DREAL. En effet, après la formation assurée par un
    formateur professionnel, vous pouvez facilement passer l’épreuve écrite. Cela aidera
    donc à obtenir la preuve de la <b>capacité de transport</b>. Tout ce que vous avez à
    faire est d’envoyer le fichier à DREAL de votre région pour entrer le dossier de
    transport et obtenir la licence de transport intérieur [LTI]. Le processus peut être
    effectué en <b>trois étapes</b>, y compris l’envoi du fichier à DREAL et l’obtention
    d’un reçu, l’enregistrement de l’entreprise et l’obtention de l’autorisation finale,
    qui peut être compliquée.
  </p>
  <p>
    Les documents à envoyer à la DREAL doivent être<b>
      tamponnés par un expert-comptable</b
    >. La situation idéale est de se faire accompagner par des professionnels pour
    compléter toutes les démarches.
  </p>
  <p>
    En plus de la <b>formation en ligne</b>, vous pouvez également obtenir l’approbation
    DREAL en respectant deux conditions très importantes. Le siège social de l’entreprise
    doit être en <b>France</b>. Ensuite, il doit y avoir des exigences d’intégrité
    professionnelle.
  </p>
  <h3>Avoir la maîtrise de nombreux domaines d’intervention</h3>
  <p>
    Grâce à la formation aux capacités de transport en ligne, vous pouvez acquérir de
    nombreuses <b>compétences</b> dans divers domaines d’intervention sans avoir à vous
    déplacer. Il faut savoir que ce type de formation est très étendu. Les formateurs
    peuvent fournir un <b>accompagnement sur mesure </b>pour tout type de conducteur.
    Chaque cours est unique et vise uniquement à vous fournir des règles différentes à
    comprendre en fonction de votre domaine d’intervention. La norme de conduite pour un
    chauffeur VTC et un autre chauffeur spécialisé dans le transport de produits et de
    marchandises ne peut pas être la même.
  </p>
</section>
<script
  defer=""
  type="text/javascript"
  src="/digimoov_website_templates/static/src/js/lazy-blog.js"
></script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.digimoov.fr/blog/a-quoi-sert-l-attestation-de-capacite-en-transport-leger"
    },
    "headline": "À quoi sert l'attestation de capacité de transport léger ?",
    "image": "https://www.digimoov.fr/digimoov_website_templates/static/img/attestation%20en%20capacit%C3%A9%20de%20transport%20l%C3%A9ger%20de%20marchandise.webp",
    "author": {
      "@type": "Organization",
      "name": "Digimoov",
      "url": "https://www.digimoov.fr/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Digimoov",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.digimoov.fr/web/image/website/2/logo/DIGIMOOV?unique=f39dc12"
      }
    },
    "datePublished": "2022-01-11"
  }
</script>
