<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="digimoov_module_form" model="ir.ui.view">
        <field name="name">digimoov.module.form</field>
        <field name="model">mcmacademy.module</field>
        <field name="inherit_id" ref="mcm_session.mcmacademy_module_session_form_view"/>
        <field name="arch" type="xml">
            <xpath expr="//field[@name='lieu']" position="replace">
                <field name="lieu" domain="[('country_id' ,'=', 'France')]"
                       attrs="{'invisible': [('company_id', '=', 2)]}" invisible="1"/>
            </xpath>
            <xpath expr="//field[@name='heure_debut_matin']" position="replace">
                <field name="heure_debut_matin" domain="[('country_id' ,'=', 'France')]"
                       attrs="{'invisible': [('company_id', '=', 2)]}"/>

            </xpath>
            <xpath expr="//field[@name='heure_fin_matin']" position="replace">
                <field name="heure_fin_matin" domain="[('country_id' ,'=', 'France')]"
                       attrs="{'invisible': [('company_id', '=', 2)]}"/>
            </xpath>
            <xpath expr="//field[@name='heure_debut_apres_midi']" position="replace">
                <field name="heure_debut_apres_midi" domain="[('country_id' ,'=', 'France')]"
                       attrs="{'invisible': [('company_id', '=', 2)]}"/>
            </xpath>
            <xpath expr="//field[@name='heure_fin_apres_midi']" position="replace">
                <field name="heure_fin_apres_midi" domain="[('country_id' ,'=', 'France')]"
                       attrs="{'invisible': [('company_id', '=', 2)]}"/>
            </xpath>
            <xpath expr="//field[@name='currency_id']" position="after">
                <field name="date_exam"/>
                <field name="ville" attrs="{'invisible': [('company_id', '=', 1)]}"/>
            </xpath>
        </field>
    </record>
</odoo>