<odoo>
<!--    This is used to reformat paper format of report PDF Convocation-->
    <record id="paperformat_convocation" model="report.paperformat">
        <field name="name">Convocation</field>
        <field name="default" eval="False"/>
        <field name="format">A4</field>
        <field name="page_height">0</field>
        <field name="page_width">0</field>
        <field name="orientation">Portrait</field>
        <field name="margin_top">0</field>
        <field name="margin_bottom">0</field>
        <field name="margin_left">10</field>
        <field name="margin_right">10</field>
        <field name="header_line" eval="False"/>
        <field name="header_spacing">10</field>
        <field name="dpi">90</field>
    </record>

<!--    <report id="convocation_print_report_pdf'"
            string="Convocation"
            model="mailing.contact"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf"
            file="partner_exam.convocation_print_report_pdf"
            attachment_use="True"
            print_report_name="'Convocation - %s' % (object.partner_id.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />-->

    <report id="id_convocation_print_report_pdf_ids'"
            string="Convocation"
            model="res.partner"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf_ids"
            file="partner_exam.id_convocation_print_report_pdf_ids"
            attachment_use="True"
            print_report_name="'Convocation - %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />

    <!--    This is used to reformat paper format of report PDF Relevé de Note-->
    <record id="paperformat_releve_note_id" model="report.paperformat">
        <field name="name">Relevé de note</field>
        <field name="default" eval="False"/>
        <field name="format">A4</field>
        <field name="page_height">0</field>
        <field name="page_width">0</field>
        <field name="orientation">Portrait</field>
        <field name="margin_top">0</field>
        <field name="margin_bottom">0</field>
        <field name="margin_left">15</field>
        <field name="margin_right">15</field>
        <field name="header_line" eval="False"/>
        <field name="header_spacing">0</field>
        <field name="dpi">90</field>
    </record>

<!--    This is the action to create a print pdf for "relevé de note", using the template(xml) ID-->
    <report id="report_releve_note_id"
            model="res.partner"
            string="Relevé de notes"
            report_type="qweb-pdf"
            name="partner_exam.id_releve_note_print_report_pdf"
            file="partner_exam.report_releve_note_reussite_id"
            menu="True"
            print_report_name="'Relevé de notes - %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_releve_note_id"/>

<!--    <report id="id_releve_note_ajournement_pdf_id"
            model="res.partner"
            string="Relevé de note D'ajournement"
            report_type="qweb-pdf"
            name="partner_exam.id_releve_note_ajournement_id"
            file="partner_exam.id_releve_note_ajournement_pdf_id"
            menu="False"
            paperformat="partner_exam.paperformat_releve_note_id"/>-->

</odoo>