<odoo>

    <record id="paperformat_convocation" model="report.paperformat">
        <field name="name">Convocation</field>
        <field name="default" eval="False"/>
        <field name="format">A4</field>
        <field name="page_height">0</field>
        <field name="page_width">0</field>
        <field name="orientation">Portrait</field>
        <field name="margin_top">0</field>
        <field name="margin_bottom">0</field>
        <field name="margin_left">10</field>
        <field name="margin_right">10</field>
        <field name="header_line" eval="False"/>
        <field name="header_spacing">10</field>
        <field name="dpi">90</field>
    </record>

    <report id="convocation_print_report_pdf'"
            string="Convocation"
            model="mailing.contact"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf"
            file="partner_exam.convocation_print_report_pdf"
            attachment_use="True"
            print_report_name="'Convocation - %s' % (object.partner_id.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />

    <report id="releve_note_print_report_pdf'"
            string="Relevé de note"
            model="mailing.contact"
            report_type="qweb-pdf"
            name="partner_exam.id_releve_note_print_report_pdf"
            file="partner_exam.releve_note_print_report_pdf"
            attachment_use="True"
            print_report_name="'Releve Note - %s' % (object.partner_id.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />

    <report id="id_convocation_print_report_pdf_ids'"
            string="Convocation"
            model="res.partner"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf_ids"
            file="partner_exam.id_convocation_print_report_pdf_ids"
            attachment_use="True"
            print_report_name="'Convocation - %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />

    <report id="report_id"
            model="info.examen"
            string="Model Report"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf"
            file="partner_exam.id_convocation_print_report_pdf"
            menu="False"/>

</odoo>