<odoo>
    <!--    This is used to reformat paper format of report PDF Convocation-->
    <record id="paperformat_convocation" model="report.paperformat">
        <field name="name">Convocation</field>
        <field name="default" eval="False"/>
        <field name="format">A4</field>
        <field name="page_height">0</field>
        <field name="page_width">0</field>
        <field name="orientation">Portrait</field>
        <field name="margin_top">0</field>
        <field name="margin_bottom">0</field>
        <field name="margin_left">10</field>
        <field name="margin_right">10</field>
        <field name="header_line" eval="False"/>
        <field name="header_spacing">10</field>
        <field name="dpi">90</field>
    </record>

    <!--    This report action create a print pdf for "convocation", using the template(xml) ID in contact view-->
    <report id="id_convocation_print_report_pdf_ids'"
            string="Convocation"
            model="res.partner"
            report_type="qweb-pdf"
            name="partner_exam.id_convocation_print_report_pdf_ids"
            file="partner_exam.id_convocation_print_report_pdf_ids"
            attachment_use="True"
            print_report_name="'Convocation- %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_convocation"
    />

    <!--    This is used to reformat paper format of report PDF Relevé de Note-->
    <record id="paperformat_releve_note_id" model="report.paperformat">
        <field name="name">Relevé de note</field>
        <field name="default" eval="False"/>
        <field name="format">A4</field>
        <field name="page_height">0</field>
        <field name="page_width">0</field>
        <field name="orientation">Portrait</field>
        <field name="margin_top">0</field>
        <field name="margin_bottom">0</field>
        <field name="margin_left">15</field>
        <field name="margin_right">15</field>
        <field name="header_line" eval="False"/>
        <field name="header_spacing">0</field>
        <field name="dpi">90</field>
    </record>

    <!--    This is the action to create a print pdf for "relevé de note", using the template(xml) ID-->
    <report id="report_releve_note_id"
            model="res.partner"
            string="Relevé de notes"
            report_type="qweb-pdf"
            name="partner_exam.id_releve_note_print_report_pdf"
            file="partner_exam.report_releve_note_reussite_id"
            attachment_use="True"
            attachment="'Relevé-note-' + object.display_name + '.pdf'"
            print_report_name="'Relevé de notes - %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_releve_note_id"/>

    <!--    This is the action to create a print pdf for "Générer les relevés de notes", using the template(xml) ID-->
    <report id="report_releve_note_ids"
            model="res.partner"
            string="Générer les relevés de notes"
            report_type="qweb-pdf"
            name="partner_exam.id_many_releve_note_print_report_pdf"
            file="partner_exam.report_releve_note_id"
            attachment="'Suivi-Formation-' + object.display_name + '.pdf'"
            attachment_use="True"
            print_report_name="'Relevé-de-notes %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_releve_note_id"/>
    <!-- This is the action to create a print pdf in module info.examen for "Générer les relevés de notes", using the template(xml) ID-->
    <report id="mass_pdf_relevé_de_note_examen"
            model="info.examen"
            string="Générer les relevés de notes"
            report_type="qweb-pdf"
            name="partner_exam.mass_pdf_relevé_de_note_examen_ids"
            file="partner_exam.mass_pdf_relevé_de_note_examen"
            menu="True"
            attachment_use="True"
            print_report_name="'Relevé-de-notes- %s' % (object.partner_id.name).replace('/', '')"
            paperformat="partner_exam.paperformat_releve_note_id"/>
    <!--This is the action to create a print pdf in module res.partner for "Attestation de suivi de formation", using the template(xml) ID-->
    <report id="id_attestation"
            model="res.partner"
            string="Attestation Suivi Formation"
            report_type="qweb-pdf"
            name="partner_exam.attestation_suivi_formation_id"
            file="partner_exam.id_attestation"
            attachment_use="True"
            attachment="'Suivi-Formation-' + object.display_name + '.pdf'"
            print_report_name="'Attestation-suivi-formation- %s' % (object.name).replace('/', '')"
            paperformat="partner_exam.paperformat_releve_note_id"/>

</odoo>