<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-left">
      <div id="notifMessage" class="c-text">
        <div>
          <h3 style="text-align: center">
            La voiture autonome restera encore longtemps un mythe
          </h3>
          <div style="letter-spacing: 1px; font-size: 16px; line-height: 26px">
            <p>
              On dit que toutes les technologies sont prêtes pour réaliser une
              voiture autonome. La preuve : on peut voir circuler de tels
              véhicules à l'état de prototype. C'est oublier bien vite le cycle
              de maturation des technologies, ainsi que les contraintes
              techniques et juridiques qui s'appliquent à un domaine aussi vaste
              que celui de l'automobile. Si des prototypes circulent
              effectivement, ce n'est que sur des portions de routes bien sages,
              avec un pilote pour veiller au grain et dans des conditions
              climatiques correctes. La robotique nous promet depuis des
              dizaines d'années des machines capables de réagir comme les
              humains. Pourtant, malgré des travaux incessants et des progrès
              importants en intelligence artificielle, l'échéance à laquelle la
              machine sera capable de la même puissance d'interprétation des
              situations de la vie courante que les hommes recule sans arrêt. La
              raison en est que non seulement l'homme est doué de cinq sens très
              performants (et un sixième : l'intuition, qu'il ne faut pas
              négliger !), mais en plus ces cinq sens sont couplés en
              permanence, et leurs informations sont traitées par un système
              cognitif d'une puissance encore hors d'atteinte des ordinateurs
              les plus performants. Aucun système de navigation n'est capable
              aujourd'hui de fonctionner en situation dégradée : sous la pluie
              battante, chaussée glissante, visibilité quasi nulle, trafic
              dense, etc. Une voiture autonome devra être dotée elle aussi de
              multiples capteurs : caméras, radars, GPS, centrale inertielle
              (accéléromètres + gyroscopes), micros, sonars, lasers, etc. Si le
              traitement du signal d'un seul de ces capteurs est déjà complexe,
              la fusion de leurs informations entraîne une incroyable, et
              actuellement insurmontable, complexité technique, surtout en
              situation dégradée. (...)
            </p>
            <p>
              Alors, la voiture autonome condamnée ? Non, mais ceux qui lisent
              ces lignes ne la connaîtront probablement pas.
            </p>
          </div>
          <p style="color: #525050">Ronan Carrolage Les Échos, août 2016</p>
        </div>
      </div>
    </div>
  </body>
</html>
