.container {
  padding: 50px 10%;
}

.box {
  position: relative;
  background: #ffffff;
  width: 50%;
}

.box-header {
  color: #000;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box2 {
  position: relative;
  background: #ffffff;
  width: 50%;
}

.box2-header {
  color: #000;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.box2-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #000;
  color: #000;
  position: relative;
  height: 200px;
  width:30%;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 50%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}
.preview-zone2 {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
.preview-zone2 .box2 {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.btn-primary {
  background-color: crimson;
  border: 1px solid #212121;
}