.stabilo,
.stabiloblue {
  display: inline-block;
  position: relative;
  z-index: 100;
}
.stabiloblue:before {
  content: '';
  display: block;
  background: rgba(0, 137, 255, 0.3);
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 5%;
  transform: rotate(-5deg);
  z-index: -1;
  border-radius: 100% 100% 10% 10%/100% 100% 100% 100%;
}
.stabiloblue {
  display: inline-block;
  position: relative;
  z-index: 100;
}
.stabiloblue:before {
  content: '';
  display: block;
  background: rgba(0, 137, 255, 0.3);
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 5%;
  transform: rotate(-5deg);
  z-index: -1;
  border-radius: 100% 100% 10% 10%/100% 100% 100% 100%;
}
.counter-box {
  background-color: transparent;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.features {
  padding: 30px 0;
}
.container-m {
  max-width: 1024px;
  margin: 0 auto !important;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.wrap {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.accordion {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}
p:last-of-type {
  margin-bottom: 0;
}
footer {
  text-align: center;
  padding: 20px 0;
}
.features {
  padding: 30px 0;
}
@media (min-width: 1199px) {
  .homebuttonspacing {
    margin-top: -15px !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1198px) {
  .homebuttonspacing {
    margin-top: 17px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1198px) {
  .homebuttonspacing {
    margin-top: 26px !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .homebuttonspacing {
    margin-top: 50px !important;
  }
}
@media only screen and (min-width: 405px) and (max-width: 766px) {
  .homebuttonspacing {
    margin-top: -15px !important;
  }
}
@media only screen and (min-width: 345px) and (max-width: 404px) {
  .homebuttonspacing {
    margin-top: 72px !important;
  }
}
.info {
  position: relative;
  cursor: pointer;
}
.additional-info {
  font-size: 15px !important;
  position: absolute;
  margin-left: 5px;
  background-color: #5b575728;
  padding: 3px 10px;
  border-radius: 10px;
  color: #068f2d;
  display: none;
  animation: fadeOutDown 0.2s linear;
}
.info:hover ~ .additional-info {
  display: unset;
  animation: fadeInUp 0.2s linear;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.blink-soft {
  animation: blinker 1s linear infinite;
  color: #fff900;
  text-transform: uppercase;
  font-size: 21px;
}
@keyframes blinker {
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.pricebar {
  position: relative;
}
.pricebar::after {
  content: ' ';
  display: block;
  width: 100%;
  border-top: 3px solid red;
  height: 12px;
  position: absolute;
  bottom: 6px;
  left: -3px;
  transform: rotate(330deg);
}
