.button {
  position: relative;
  color: #fff;
  background: #343996;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-radius: 1000px;
  padding: 7px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  font-size: 14px;
}
.button:hover {
  cursor: pointer;
  background: #5869c5;
  color: #fff;
  -webkit-animation: none;
  animation: none;
}

.button-wiggle {
  -webkit-animation: wiggle 4s 2s infinite;
  animation: wiggle 4s 2s infinite;
}

@-webkit-keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  30% {
    transform: scale(1.05) rotate(-3deg);
  }
  35% {
    transform: scale(1.05) rotate(2deg);
  }
  40% {
    transform: scale(1.05) rotate(0);
  }
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  30% {
    transform: scale(1.05) rotate(-3deg);
  }
  35% {
    transform: scale(1.05) rotate(2deg);
  }
  40% {
    transform: scale(1.05) rotate(0);
  }
}
.button-pulse {
  -webkit-animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 transparent;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}
.button-float {
  -webkit-animation: float 1.5s linear alternate infinite;
  animation: float 1.5s linear alternate infinite;
}

@-webkit-keyframes float {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}

@keyframes float {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}

.btn-wiggle {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

/* <a href="#" class="btn-wiggle button button-wiggle">test</a> */

.website_blog .o_wblog_read {
  max-width: 930px;
}

.blog-article-prototype h1 {
  font-size: 40px !important;
  font-weight: 700;
  color: #202647;
}
.blog-article-prototype h2 {
  font-size: 28px !important;
  font-weight: 700;
  color: #202647;
}
.blog-article-prototype h3 {
  font-size: 23px !important;
  font-weight: 700;
  color: #202647;
}
.blog-article-prototype p {
  font-size: 18px !important;
  line-height: 1.5 !important;
  font-weight: normal !important;
  color: #3f474c !important;
  font-weight: 500;
  letter-spacing: 0.5px !important;
  text-align: justify;
  font-family: none !important;
}

.blog-color-yellow {
  color: #846300;
}
.blog-color-gold {
  color: #7b3900;
}
.blog-article-prototype ul,
li > li {
  font: inherit;
  margin-block-end: 5px;
  line-height: 1.45 !important;
  font-weight: normal !important;
  color: #3f474c !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px !important;
  font-family: none !important;
  font-size: 18px;
}
.blog-article-prototype > a {
  font-size: 17.5px !important;
  line-height: 1.5 !important;
  color: #00375e !important;
  text-decoration: underline !important;
  font-weight: 700;
}
.blog-footer-title {
  font-size: 22px;
  margin-block-end: 10px;
}
.blog-footer-title {
  font-size: 18px;
  margin-block-end: 7px;
}
.website_blog .o_wblog_read {
  max-width: 830px;
}
.cta-btn {
  padding-block-start: 12px;
  margin-block-end: 19px;
  background: #ffe67514;
}

.inscription-card {
  margin-top: 24px;
  padding: 5px;
  background: #fff847;
  background: -webkit-linear-gradient(132deg, #fff847 0%, #ffffff 100%);
  background: linear-gradient(
    27deg,
    #fff84754 0%,
    #fff84754 30%,
    #fff847c2 63%,
    #fdffdb94 100%
  );
  width: max-content;
}

.blog-article-prototype img {
  margin-bottom: 33px;
}

.cta-action {
  text-align: center !important;
  margin-bottom: 32px;
}

.cta-action p {
  text-align: center !important;
}
