$sh_emate_theme1_color_primary:#e1a825;
$sh_emate_theme1_color_secondary:#212121;
$sh_emate_theme1_color_extra_color_1:#5c5b80;
$sh_emate_theme1_color_extra_color_2:#5c5b80;
$sh_emate_theme1_color_extra_color_3:#5c5b80;  
$sh_emate_theme1_color_extra_color_4:#5c5b80;
$sh_emate_theme1_color_text_header:#e1a825;
$sh_emate_theme1_color_text_content:#212121;
