// ==========================
// Mass Mailing "Theme 1 variables"
// ==========================


/*
$sh-emate-mm-theme2-color-alpha: #8e6b5a;
$sh-emate-mm-theme2-color-beta: white;
$sh-emate-mm-theme2-color-gamma: #ff3c00;
$sh-emate-mm-theme2-color-delta: darken($sh-emate-mm-theme2-color-gamma, 5%);
$sh-emate-mm-theme2-color-epsilon: black;
$sh-emate-mm-theme2-color-zeta: #f4f0e7;
*/

// ==========================
// Mass Mailing "Theme 1 variables"
// ==========================





.o_mail_snippet_general{

padding-left: 0px;
padding-right: 0px;

}


/*========= header =======*/
#sh_header_25{z-index: 1;position: relative;background: rgba(0,0,0,0.2);border-bottom: 1px solid #fff;}
#sh_header_25 .logo a{text-decoration:none;float:none;}
#sh_header_25 .logo h4{font-size: 25px;font-weight: bold;font-family: 'Montserrat', sans-serif;margin-bottom: 0px;color: #fff;}
#sh_header_25 .menu a{font-size: 15px;text-decoration: none;font-family: 'Montserrat', sans-serif;color: #fff;}
#sh_header_25 .ml10{margin-left: 10px;}


/*======== banner ========*/
#sh_banner_25{margin-top: -77px;}
#sh_banner_25 .bg_img{position: relative;}


/*======= Text_Image ======*/
#sh_text_image_25 .w270{width:270px;vertical-align:middle;text-align:center;}
#sh_text_image_25{padding: 40px 10px;font-family: 'Montserrat', sans-serif;}
#sh_text_image_25 .sh_content{text-align: left;}
#sh_text_image_25 .sh_content h5{color: $sh_emate_theme1_color_primary;font-size: 15px;padding-bottom: 7px;font-family: 'Montserrat', sans-serif;font-weight: bold;}
#sh_text_image_25 .sh_content hr{margin: 0rem 0rem;margin-bottom: 1rem;border-top-color: $sh_emate_theme1_color_primary;border-top-style: solid;border-top-width: 1px;border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;overflow-y: visible;overflow-x: visible;height: 0px;width: 7%;box-sizing: content-box;}
#sh_text_image_25 .sh_content h3{color: $sh_emate_theme1_color_text_content;font-size: 22px;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;font-weight: bold;}
#sh_text_image_25 .sh_content p{color: $sh_emate_theme1_color_text_content;font-size: 15px;margin-bottom: 15px;font-family: 'Montserrat', sans-serif;}
#sh_text_image_25 .sh_content .btn_readmore{background: $sh_emate_theme1_color_primary;color: $sh_emate_theme1_color_text_content;font-size: 15px;padding: 8px 30px;border: 0px;border-radius: 0px;font-family: 'Montserrat', sans-serif;}
#sh_text_image_25 .sh_right_content img{width: 100%;object-fit: cover;}
#sh_text_image_25 .plr10{padding: 10px;}

#sh_text_image_25 .sh_content ul.tickmark{padding-left: 0px;margin-bottom: 15px;}
#sh_text_image_25 .sh_content ul.tickmark li{display: block;margin-bottom: 10px;list-style-type: none;}
#sh_text_image_25 .sh_content ul.tickmark li{color: $sh_emate_theme1_color_text_content;font-size: 15px;}
#sh_text_image_25 .sh_content ul.tickmark li span,#sh_text_image_25 .sh_content ul.tickmark li img{margin-right: 8px;color: $sh_emate_theme1_color_primary;}


/*======= Service/Iconbox =====*/
#sh_iconbox_25{margin-bottom: 20px;}
#sh_iconbox_25 .three_col .icon span,#sh_iconbox_25 .three_col .icon img{font-size: 40px;margin-bottom: 20px;color: $sh_emate_theme1_color_primary;}
#sh_iconbox_25 .three_col .title{font-weight: bold;font-size: 13px;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;color: $sh_emate_theme1_color_text_content;}
#sh_iconbox_25 .three_col .text{margin-bottom: 15px;font-family: 'Montserrat', sans-serif;font-size: 13px;color: $sh_emate_theme1_color_text_content;font-weight: normal;}
#sh_iconbox_25 .three_col .width180{vertical-align:top;width:180px;}
#sh_iconbox_25 .plr10{padding: 10px;}

/*===== counter ======*/
#sh_counter_25{background: url('/sh_emate/static/src/img/tmpl_25/2.png');background-position: center;background-repeat: no-repeat;background-size: cover;padding: 0px;}
#sh_counter_25 .w60{width: 60px;}
#sh_counter_25 .plr10{padding: 10px;}
#sh_counter_25 .box h3{font-size: 25px;font-weight: bold;color: #fff;font-family: 'Montserrat', sans-serif;margin-bottom: 10px;}
#sh_counter_25 .box p{font-size: 15px;font-weight: bold;color: #fff;font-family: 'Montserrat', sans-serif;margin: 0px;}

/*====== Service ======*/
#sh_service_25 .w270{width:270px;vertical-align:middle;text-align:center;}
#sh_service_25{padding: 20px 10px;font-family: 'Montserrat', sans-serif;}
#sh_service_25 .content{text-align: left;}
#sh_service_25 .heading h5{color: $sh_emate_theme1_color_primary;font-size: 15px;padding-bottom: 7px;font-family: 'Montserrat', sans-serif;font-weight: bold;}
#sh_service_25 .heading hr{margin: 0rem 0rem;margin-bottom: 1rem;border-top-color: $sh_emate_theme1_color_primary;border-top-style: solid;border-top-width: 1px;border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;overflow-y: visible;overflow-x: visible;height: 0px;width: 7%;box-sizing: content-box;}
#sh_service_25 .heading h3{color: $sh_emate_theme1_color_text_content;font-size: 20px;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;font-weight: normal;}
#sh_service_25 .heading p{color: $sh_emate_theme1_color_text_content;font-size: 14px;margin-bottom: 15px;font-family: 'Montserrat', sans-serif;}

#sh_service_25 .content{padding: 10px 0px;text-align: left;font-family: 'Montserrat', sans-serif;}
#sh_service_25 img{width: 100%;object-fit: cover;}
#sh_service_25 .content h6.title{margin: 0px 0px 5px 0px;font-family: 'Montserrat', sans-serif;font-size: 15px;color: $sh_emate_theme1_color_text_header;font-weight: bold;}
#sh_service_25 .content p.text{margin: 0px 0px 10px 0px;font-family: 'Montserrat', sans-serif;font-size: 14px;color: $sh_emate_theme1_color_text_content;font-weight: normal;}
#sh_service_25 .content .icon span,#sh_service_25 .content .icon img{color: $sh_emate_theme1_color_primary;font-size: 30px;margin-right: 0px;}
#sh_service_25 .content .vtop{vertical-align: top;}
#sh_service_25 .content .m10{margin: 10px 0px;}
#sh_service_25 .plr10{padding: 10px;}


/*====== Blog ======*/
#sh_blog_25 {margin: 20px 0px;}
#sh_blog_25 .heading h5{color: $sh_emate_theme1_color_primary;font-size: 15px;padding-bottom: 7px;font-family: 'Montserrat', sans-serif;font-weight: bold;}
#sh_blog_25 .heading hr{margin: 0rem 0rem;margin-bottom: 1rem;border-top-color: $sh_emate_theme1_color_primary;border-top-style: solid;border-top-width: 1px;border-left-width: 0px;border-bottom-width: 0px;border-right-width: 0px;overflow-y: visible;overflow-x: visible;height: 0px;width: 7%;box-sizing: content-box;}
#sh_blog_25 .heading h3{color: $sh_emate_theme1_color_text_content;font-size: 20px;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;font-weight: normal;}
#sh_blog_25 .heading p{color: $sh_emate_theme1_color_text_content;font-size: 14px;margin-bottom: 15px;font-family: 'Montserrat', sans-serif;}

#sh_blog_25 .box .img img{height: 150px;width: 100%;object-fit: cover;}
#sh_blog_25 .box .content h5{font-weight: bold;font-size: 18px;margin: 0;padding: 8px 0;color: $sh_emate_theme1_color_text_content;text-align: left;font-family: 'Montserrat', sans-serif;}
#sh_blog_25 .box .content p.date{font-size: 15px;color: #616161;font-weight: normal;text-align: left;display: block;font-family: 'Montserrat', sans-serif;margin-bottom: 15px;}
#sh_blog_25 .box .content p.text{font-size: 15px;color: $sh_emate_theme1_color_text_content;font-weight: normal;text-align: left;display: block;font-family: 'Montserrat', sans-serif;margin-bottom: 30px;}
#sh_blog_25 .box .content a.btn_readmore{text-decoration: none;font-size: 15px;background: $sh_emate_theme1_color_primary;color: $sh_emate_theme1_color_text_content;text-align: left;font-family: 'Montserrat', sans-serif;border-radius: 0px;padding: 10px 30px;}
#sh_blog_25 .box .content{padding: 20px 0px;background: transparent;text-align: left;font-family: 'Montserrat', sans-serif;}


/*====== footer ========*/
.sh_emate_footer_18{background-color: #252525;}

#sh_footer_25 .part1 .text{font-size: 15px;color: #fff;display: block;font-family: 'Montserrat', sans-serif;}
#sh_footer_25 .part1  a{text-decoration: none;color: #fff;font-size: 12px;font-weight: bold;font-family: 'Montserrat', sans-serif;}
#sh_footer_25 .part2 h3,#sh_footer_25 .part1 h3{font-size: 20px;font-weight: bolder;margin-bottom: 30px;margin-top: 0px;color: #fff;font-family: 'Montserrat', sans-serif;}
#sh_footer_25 .part2 ul li{display: block;padding-bottom: 15px;font-size: 14px;list-style-type: none;}
#sh_footer_25 .part2 ul li a{text-decoration: none;color: #fff;font-family: 'Montserrat', sans-serif;font-weight: normal;}
#sh_footer_25 .bottom-footer{padding: 10px 0px;text-align: center;border-top: 1px solid #fff;}
#sh_footer_25 .bottom-footer p{color: #fff;font-size: 15px;margin-bottom: 0px;margin-top: 10px;}
#sh_footer_25 .bottom-footer .bottom_icon{margin-top: 10px;}
#sh_footer_25 .bottom-footer .bottom_icon span,#sh_footer_25 .bottom-footer .bottom_icon img{color: #fff;font-size: 15px;padding: 0px 7px;}
#sh_footer_25 {padding: 30px 10px 10px 10px;margin-top: 0px;}
#sh_footer_25 .part1 a{padding-top: 15px;display: inline-block;font-family: 'Montserrat', sans-serif;}
#sh_footer_25 ul li{list-style-type: none;}
#sh_footer_25 .width250{width: 250px;}
#sh_footer_25 .plr10{padding-left: 10px;padding-right: 10px;}
#sh_footer_25 .part1 .bottom_icon span,#sh_footer_25 .part1 .bottom_icon img{color: #fff;padding: 5px 8px;font-size: 18px;}



























