<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- style-blog-dg.css-->
    <div class="amazon-banner">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
          <img
            class="img-fluid o_we_custom_image"
            src="/digimoov_website_templates/static/img/A%207.png"
          />
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">
          <div class="amazon-title">
            <text class="amazon-title-1">Amazon</text>
            recherche <br />
            DES
            <text class="partner">"PARTENAIRES DE LIVRAISON"</text>
          </div>
          <div class="amazon-para">
            Amazon lance un nouveau programme destiné au capacitaires souhaitant lancer ou
            développer leurs activités. <br />
            Grâce auquel de nombreuses ressources seront mises à dispositions pour faire
            de cette aventure un succès : accompagnement et formation, technologies
            Amazon, volumes de colis réguliers.
          </div>

          <div class="text-center">
            <a
              href="https://digimoov.splashthat.com/"
              class="btn btn-primary"
              spellcheck="false"
              data-mci-spellchecked="true"
              style="
                word-break: break-word;
                position: relative;
                z-index: 0;
                background: #071b32;
              "
              lang="merciapp"
              >Inscrivez-vous dés maintenant !</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
