<p></p>

<h1 class="ql-align-justify">
  <span
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 112, 192);
      font-weight: bolder;
    "
    >Habilitation électrique : Dis-moi tout !</span
  >
</h1>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <br />
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  L’installation électrique représente un risque majeur pour les biens et les personnes.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  D’un simple changement d’ampoule à l’installation de prises murales, le danger
  d’une<span style="-webkit-font-smoothing: antialiased; font-weight: bolder">
    électrisation</span
  >
  ou
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >électrocution</span
  >
  est bien réel.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  C’est la raison pour laquelle la<span
    style="-webkit-font-smoothing: antialiased; font-weight: bolder"
  >
    prévention du risque électrique</span
  >
  est indispensable dans l’environnement professionnel.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  La
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >norme NF C18–510, </span
  >anciennement recueil C 18 -51, régit l’<span
    style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><a
      href="https://www.digimoov.fr/habilitation-electrique"
      rel=""
      target="_blank"
      style="
        -webkit-font-smoothing: antialiased;
        color: rgb(0, 102, 204);
        text-decoration-line: underline;
        touch-action: manipulation;
      "
      >habilitation électrique</a
    ></span
  >
  pour la prévention lors d’opérations sur les ouvrages et installations.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Elle prépare notamment les salariés à effectuer les bons gestes pour la réalisation des
  actions sur un système sous-tension ou encore à accéder aux zones dites sensibles.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <br />
</p>

<h2
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >C’est quoi une habilitation électrique ?</span
  >
</h2>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Il est recommandé que tout salarié, qui dans le cadre de son travail, pouvant être
  confronté, directement ou indirectement, à des risques d’origine électrique soit
  habilité. Conformément à l’article
  <a
    href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000018529829"
    rel=""
    target="_blank"
    style="
      -webkit-font-smoothing: antialiased;
      color: rgb(0, 102, 204);
      text-decoration-line: underline;
      touch-action: manipulation;
    "
    >Article R4511–1</a
  >, c’est à l’employeur de délivrer l’habilitation électrique pour son personnel.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Le salarié va alors devoir suivre une<span
    style="-webkit-font-smoothing: antialiased; font-weight: bolder"
  >
    formation habilitation électrique</span
  >
  pour acquérir les connaissances théoriques sur le sujet qui, par la suite, le rendront
  apte d’un point de vue légal, à accomplir une tâche sur site ou à contrôler une
  entreprise extérieure venue intervenir sur l’installation électrique.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <br style="-webkit-font-smoothing: antialiased" />
</p>

<h2
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Dans quels cas l’habilitation est-elle obligatoire ?</span
  >
</h2>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  L’habilitation assure la sécurité des personnes contre les risques liés à un problème
  électrique ou toute autre manipulation sur le système en tension.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Pour rappel, le corps humain est un conducteur électrique. Composé d’eau et de sels
  minéraux, le courant peut alors parcourir chaque membre et organe et ce, jusqu’au cœur.
  L’électricité peut alors entraîner des complications de santé, des handicaps ainsi que
  la mort du salarié. On comprend alors toute l’importance d’une norme NF au sein de son
  entreprise pour préparer au mieux les personnes qui interviendront sur un ouvrage
  électrique.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  La norme concerne aussi bien les interventions de nature électrique et celles qui ne le
  sont pas.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · Les opérations électriques
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · Les opérations non électriques proches d’une installation
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · Les opérations dans une zone présentant un risque de choc électrique
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Suivre une
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >formation électrique</span
  >
  va notamment permettre de mieux comprendre les risques dans un environnement donné, les
  normes légales qui encadrent les installations professionnelles et la prise en compte
  des évolutions technologiques dans le domaine électrique.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <img
    class="img-fluid o_we_custom_image"
    src="/web/image/257046/formation-habilitation-%C3%A9lectrique.png?access_token=1a26dbf5-8df6-472d-b7f1-d22fcc4f043b"
    data-original-title=""
    title="électricien"
    aria-describedby="tooltip296114"
    alt="Formation Habilitation électrique en ligne"
  /><br />
</p>

<h3
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Connaître son besoin afin de définir le type d’habilitation adéquat
  </span>
</h3>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Il existe plusieurs types d’habilitations qui sont indépendantes les unes des autres
  mais qui peuvent toutefois être cumulables selon les besoins propres de l’entreprise.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Pour se repérer parmi toutes les proportions, il convient de découper les habilitations
  électriques en trois catégories que l’on distingue selon trois symboles différents :
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · B / H pour indiquer le domaine de tension des ouvrages (haute et basse tension).
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · 0 / 1 / C / R / S / P / E selon que la nature de l’intervention soit directement liée
  à un dispositif électrique ou non.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · V / T / N / X pour définir le type de travaux.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  La charge revient à l’employeur de choisir la combinaison de symboles en fonction des
  tâches à réaliser par le salarié.
</p>

<h2
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.5em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(156, 0, 255)"
      >Formation Habilitation électrique BS-BE Manœuvres</font
    >
  </span>
</h2>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  L’<span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >habilité électrique</span
  >
  ne concerne pas uniquement les électriciens mais également l’ensemble des salariés
  susceptibles d’être en contact avec une source de courant.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Une <a href="/habilitation-electrique">formation</a> en sécurité et sûreté et prévention
  des risques électriques permet de sécuriser l’environnement de travail ainsi que le
  personnel. Il s’agit d’une montée en compétences pour connaître les dangers d’une
  installation électrique.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Le domaine de l’électricité est complexe. Les changements sont fréquents avec des normes
  qui évoluent sans cesse. Les compétences doivent alors être régulièrement renouvelées
  selon le niveau d’intervention du personnel électricien ou non électricien.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Côté employeur, la formation électrique de ses collaborateurs permet non seulement
  d’assurer un niveau de sécurité maximal au sein de son entreprise mais également de
  garantir une proactivité et performance nettement meilleures. Un salarié bien préparé
  peut prendre plus rapidement ses fonctions sur le terrain et exécuter au mieux les
  tâches qui incombent à sa fonction.
</p>

<h3
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >Passer l’habilitation électrique à distance : C’est possible ?</span
  >
</h3>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Passer son
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >habilitation électrique en ligne </span
  >présente de nombreux avantages.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Il est important de rappeler qu’un employeur ne peut pas délivrer de
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >certification électrique</span
  >
  sans que le salarié ait suivi une formation préalable.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Obtenir un titre d’habilitation à distance permet de travailler en dehors de ses heures
  de travail. Des
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    >cours d’électricité en ligne</span
  >
  pour améliorer les aptitudes intrinsèques de son personnel sans empiéter sur le rythme
  de travail.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Contrairement à une formation initiale, la dématérialisation offre un accès illimité
  7j/7 24h/24 grâce à une plateforme ouvrant sur un espace consultable à tout moment.
</p>

<p
  class="ql-align-justify"
  style="
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
    text-align: justify;
  "
></p>

<div style="text-align: left">
  <span style="font-size: 1rem"
    >La technologie permet aujourd’hui de proposer une expérience de qualité et procurer
    un enseignement qualifiant.</span
  >
</div>

<div style="text-align: left"><br /></div>

<div class="s_btn text-center pt16 pb16" data-name="Button" style="text-align: left">
  <a
    href="/habilitation-electrique"
    class="btn btn-primary"
    spellcheck="false"
    data-mci-spellchecked="true"
    style="word-break: break-word; position: relative; z-index: 0"
    data-original-title=""
    title=""
    aria-describedby="tooltip740213"
    lang="merciapp"
    >Je m'inscris à la formation</a
  >
</div>

<h2
  class="ql-align-justify"
  style="
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder"
    ><font style="color: rgb(0, 0, 0)"><br /></font
    ><font style="" class="text-beta"
      >Habilitation pour intervenir sur les véhicules électriques et hybrides</font
    ></span
  >
</h2>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">
    B1TL / B2TL/B0L/ BCL/ B1L, B1VL, B2L, B2VL, BRL</span
  >
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Avec l’avènement du transport écologique et des voitures qui tendent à réduire les
  émissions de carbone, de nombreuses entreprises font le choix d’une flotte de véhicules
  électriques ou hybrides.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Les habilitations concernées sont :
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B1TL</span> :
  Habilitation électrique TST sur voitures électriques et hybrides
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  ·
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B2TL : </span
  >Prévention des risques électriques lors de travaux sous tension
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B0L</span> /
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">BCL</span>:
  Formation pour travaux non électriques sur des véhicules électriques
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B1L </span>:
  Opérations d’ordre électrique sur engins électriques
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  ·
  <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B1VL : </span
  >Intervention d’ordre électrique sur véhicules électriques Indices
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B2L</span> :
  Opérations non électriques au voisinage de batteries ou d’équipements de véhicules
  électriques
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">B2VI</span> :
  Habilitation pour consignation ou mise hors tension des voitures électriques ou hybrides
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  · <span style="-webkit-font-smoothing: antialiased; font-weight: bolder">BRL</span> :
  Formation destinée aux chargés d’entretien, d’intervention et de dépannage sur les
  véhicules.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  <br style="-webkit-font-smoothing: antialiased" />
</p>

<h3
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-family: Poppins, 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.17em;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Le prix formation habilitation électrique ?
</h3>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Pour 360 euros, vous profitez d’une formation de 14 heures avec un contenu conforme à la
  norme NF C 18–510.
</p>

<p
  class="ql-align-justify"
  style="
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: text;
    padding: 0px;
    counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0
      list-9 0;
  "
>
  Une fois l’habilitation obtenue, le salarié aura un accès à certains locaux électriques,
  et pourra soit se charger de la surveillance de travaux électriques soit effectuer une
  opération pour réparer ou installer de nouveaux éléments. Pour rappel, le niveau
  d’habilitation définira le champ d’intervention du personnel.
</p>

<div class="s_btn text-center pt16 pb16" data-name="Button">
  <a
    href="/habilitation-electrique"
    class="btn btn-primary"
    spellcheck="false"
    data-mci-spellchecked="true"
    style="word-break: break-word; position: relative; z-index: 0"
    data-original-title=""
    title=""
    aria-describedby="tooltip483266"
    lang="merciapp"
    >Je m'inscris dès maintenant !</a
  >
</div>

<mci-extension data-role="overlay"></mci-extension>

<mci-extension data-role="overlay"></mci-extension>

<br />

<br />

<mci-extension data-role="overlay"></mci-extension>
<mci-extension data-role="overlay"></mci-extension>
<mci-extension data-role="overlay"></mci-extension>
