<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/cta-button.min.css"
  data-oe-model="ir.ui.view"
  data-oe-id="2090"
  data-oe-field="arch"
  data-oe-xpath="/data/xpath/div/link[2]"
/>
<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/blog_style.min.css"
  data-oe-model="ir.ui.view"
  data-oe-id="2090"
  data-oe-field="arch"
  data-oe-xpath="/data/xpath/div/link[2]"
/>

<section class="mt12 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h1 class="s_title_default text-left">
          Les prérequis pour exercer les métiers de chauffeur VTC ou TAXI
        </h1>
        <p class="blog-para-1">
          Envisagez-vous de devenir chauffeur VTC ? Cette orientation est
          effectivement intéressante en ce sens où le métier de VTC est à la
          fois peu réglementé et très lucratif pour qui s’y essaye. Que ce soit
          à titre salarié ou bien en exerçant en tant qu’indépendant, devenir
          chauffeur VTC pourra vous être profitable au terme d’
          <a class="blog-text-link" href="/formation-vtc">
            une formation qualifiante
          </a>
          au terme de laquelle l’on vous aura décerné une carte professionnelle.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sh_corpomate_theme_section_167"
  class="sh_animation_part"
  data-name="Call To Action"
>
  <div class="container">
    <h2 class="blog-title-2">Besoin d'une formation TAXI / VTC ?</h2>
    <p class="blog-para-1 font-weight-bold">
      Inscrivez-vous à la formation
      <text class="blog-color-yellow">100% à distance de MCM Academy</text>
    </p>

    <a class="animated-button-yellow" href="/#pricing">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      JE M'INSCRIS
    </a>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <img
          class="img-fluid o_we_custom_image"
          src="/web/image/228118/formation-taxi-vtc-taxi-moto-mcm-academy.png"
        />
        <p class="blog-para-1">
          Toutefois, l’obtention de cette carte professionnelle nécessitera au
          préalable de devoir respecter un certain nombre de prérequis. Car, si
          en effet, l’exercice du métier de chauffeur VTC n’est pas
          contraignant, il demeure néanmoins encadré par
          <a
            class="blog-text-link"
            href="https://www.ecologie.gouv.fr/taxi-vtc-reglementation-des-transports-publics-particuliers-personnes"
          >
            une réglementation stricte.
          </a>
        </p>
        <p class="blog-para-1">
          De même, l’activité de chauffeur taxi est elle aussi soumise à un
          certain nombre de conditions. Des conditions dont il fait bon prendre
          connaissance afin de savoir dans quoi l’on s’engage si l’on souhaite
          devenir taxi.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">Les conditions d’accès au métier du VTC</h2>
        <p class="blog-para-1">
          Pouvoir pratiquer le métier de chauffeur VTC nécessitera forcément de
          posséder une carte professionnelle. Sans elle, il vous sera alors
          impossible d’exercer sans vous mettre hors-la-loi et vous exposer à
          une amende de 1500 euros en cas de contrôle. Sans carte
          professionnelle, il n’est pas non plus possible de créer son
          entreprise ou sa société de VTC ou même de vous faire embaucher pour
          travailler en tant que chauffeur VTC.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          Les conditions à respecter pour un chauffeur VTC
        </h2>
        <p class="blog-para-1">
          En premier lieu, et cela est l’évidence même, travailler en tant que
          chauffeur VTC impliquera de pratiquer le transport de personnes via
          véhicule motorisé et donc :
        </p>
        <ul class="blog-ul">
          <li>
            Etre titulaire du
            <b>permis de conduire de la catégorie B.</b>
          </li>
          <li>
            Devoir passer une
            <b>visite médicale.</b>
            Un chauffeur VTC, en effet, doit répondre à certains critères de
            santé et être déclaré apte à la pratique de son métier par un
            médecin. La décision du médecin sera ensuite soumis à l’approbation
            préfectorale.
          </li>
          <li>
            Avoir un
            <b>casier judiciaire vierge:</b>
            un chauffeur VTC devra, sur son casier judiciaire, ne voir figurer
            aucune infraction en lien avec l’activité qu’il compte alors
            exercer. Avoir subi par le passé un retrait de permis ou avoir été
            contrôlé après avoir conduit sans permis peut vous valoir
            l’interdiction d’exercer une activité chauffeur VTC. De même, une
            infraction ayant valu le retrait immédiat de 6 points sur votre
            permis de conduire, là encore, sera rédhibitoire et vous empêchera
            d’accéder à une formation pour devenir chauffeur VTC ; celle-ci
            étant primordiale afin d’accéder à la carte professionnelle.
          </li>
        </ul>
        <p class="blog-para-1">
          Sans passer par une formation qualifiante, sanctionnée qui plus est
          d’un examen, un futur chauffeur VTC ne pourra alors jamais obtenir sa
          carte professionnelle. C’est pour cela qu’il se doit de respecter
          toutes les conditions concernant cette activité.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          Les conditions à respecter pour un véhicule VTC
        </h2>
        <p class="blog-para-1">
          Au-delà du chauffeur VTC, le véhicule avec lequel il se chargera du
          transport de ses clients devra lui aussi répondre à des normes.
          Celles-ci ayant été étudiées pour garantir à la fois la sécurité et le
          confort des voyageurs.
        </p>
        <p class="blog-para-1">
          Le véhicule d’un chauffeur VTC devra posséder
          <b>entre 4 et 9 places</b>
          , la place du chauffeur VTC étant incluse dans le nombre total. Aussi,
          à moins qu’il ne s’agisse d’un véhicule de collection, l’ancienneté
          d’une voiture d’un chauffeur VTC se devra d’être
          <b>inférieure à 7 ans</b>
          .
        </p>
        <p class="blog-para-1">
          Pour ce qui est des caractéristiques techniques incombant au véhicule
          d’un chauffeur VTC, celui-ci devra alors bénéficier de 4 portes, d’une
          dimension minimale de 4,50 m x 1,70 m ainsi qu’un moteur dont la
          puissance nette devra être obligatoirement supérieure ou égale à 84
          kW.
        </p>
        <p class="blog-para-1">
          Un chauffeur VTC, en effet, se doit de conduire un véhicule performant
          et dans un état optimal. Il va sans dire que son contrôle technique
          doit être à jour ainsi que son
          <a
            class="blog-text-link"
            href="/blog/blog-vtc-7/post/assurance-vtc-tout-ce-que-vous-devez-savoir-36"
          >
            assurance.
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">Les conditions d’accès au métier de Taxi</h2>
        <p class="blog-para-1">
          Au-delà du chauffeur VTC, le véhicule avec lequel il se chargera du
          transport de ses clients devra lui aussi répondre à des normes.
          Celles-ci ayant été étudiées pour garantir à la fois la sécurité et le
          confort des voyageurs.
        </p>
        <p class="blog-para-1">
          Un chauffeur de Taxi, s’il exerce un métier semblable à celui d’un
          chauffeur VTC, connaît cependant d’autres attributions et bénéficie de
          ce fait d’un statut dont la réglementation est différente. Aussi,
          comme un chauffeur VTC, un chauffeur Taxi se devra nécessairement de
          répondre à un certain nombre de conditions s’il veut exercer son
          activité légalement.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          Les conditions à respecter pour un chauffeur Taxi
        </h2>
        <p class="blog-para-1">
          Là encore, le chauffeur de Taxi, puisqu’il sera chargé du transport de
          clients par un véhicule motorisé, devra être détenteur du permis de
          conduire de la catégorie B. Lui aussi devra être reconnu apte à
          l’exercice de sa profession par un médecin dont la décision devra être
          agréée par la préfecture. Cela, non sans compter le fait qu’un
          chauffeur Taxi devra lui aussi ne voir figurer aucune condamnation
          incompatible avec l’exercice de sa profession sur son casier
          judiciaire.
        </p>
        <p class="blog-para-1">
          Un chauffeur de taxi en revanche, contrairement à un chauffeur VTC,
          devra être titulaire du diplôme PSC1 décerné depuis moins de deux ans
          et attestant de sa capacité à pratiquer les premiers secours.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt12 mb12" data-name="Title with text">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          Les conditions à respecter pour un véhicule Taxi
        </h2>
        <p class="blog-para-1">
          Le véhicule d’un chauffeur Taxi répond à des conditions plus strictes
          que celles d’un chauffeur VTC. Ce ne sont pas tant ses
          caractéristiques techniques du véhicule en question qui sont ici
          concernées par les normes en vigueur, mais plutôt les équipements
          nécessaires au bon exercice du métier de chauffeur Taxi.
        </p>
        <p class="blog-para-1">
          Un taxi, pour pratiquer correctement son activité, doit nécessairement
          être équipé d’un taximètre fonctionnel afin que celui-ci démontre si
          le chauffeur taxi est disponible pour une course ou non.
        </p>
        <p class="blog-para-1">
          Pour faire payer ses courses à ses clients, le véhicule d’un chauffeur
          taxi se doit aussi d’être équipé d’un terminal de paiement. En effet,
          un chauffeur taxi, à mesure que se sera popularisé le paiement via
          carte bancaire, est aujourd’hui tenu de mettre à disposition de ses
          voyageurs un moyen de payer par ce biais. Aucun chauffeur taxi n’est
          habilité et n’exiger qu’un mode de paiement en particulier ; tous les
          véhicules taxi doivent nécessairement être équipés d’un terminal de
          paiement en état de fonctionnement afin de pouvoir pratiquer leur
          activité.
        </p>
        <p class="blog-para-1">
          Enfin, un chauffeur taxi, justement afin de pouvoir démontrer qu’il
          est habilité à pratiquer son métier, se doit de le prouver par un
          dispositif technique pouvant être perçu par tous de l’extérieur. Le
          véhicule d’un chauffeur taxi devra alors être muni d’un dispositif
          lumineux à son sommet sur lequel est inscrit le mot «Taxi», en dessous
          duquel il sera en principe inscrit le nom de la ville dans laquelle
          l’activité de chauffeur taxi est exercée.
        </p>
        <p class="blog-para-1">
          Au regard des conditions incombant d’une part à un chauffeur VTC, mais
          aussi à un chauffeur Taxi, on peut noter que chacun sont soumis à un
          certain nombres de contraintes inhérentes à leur activité, celles-ci
          étant cependant de différentes natures.
        </p>
      </div>
    </div>
  </div>
</section>
