<data>
  <xpath
    expr="//*[hasclass('oe_structure')][@id='oe_structure_blog_footer']"
    position="replace"
  >
    <div class="oe_structure mb96" id="oe_structure_blog_footer">
      <section class="s_text_block pt32 pb32" data-name="Text block">
        <div class="container">
          <div class="row">
            <div class="blog-footer-title">
              Vous souhaitez <b>devenir chauffeur taxi, VTC, ou VMDTR ?</b>
            </div>

            <div class="blog-footer-title">
              Retrouvez sur notre blog toutes les informations, règlementations
              et procédures à suivre pour concrétiser votre projet
              professionnel.
              <br />
              <b
                >Vous aurez accès à 3 catégories, classées par thème : Taxi,
                VTC, et taxi-moto.</b
              >
            </div>

            <div class="blog-footer-title">
              Reste à vous souhaiter une bonne lecture !
            </div>
          </div>
        </div>
      </section>
    </div>
  </xpath>
</data>
