<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style></style>
    <link
      type="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      type="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />

    <div class="brand-carousel section-padding owl-carousel">
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
      <div class="single-logo">
        <img
          src="/digimoov_website_templates/static/img/partners/Uber.png"
          alt=""
        />
      </div>
    </div>

    <!--- ignore the code below-->

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
    <script>
      $('.brand-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 5,
          },
        },
      });
    </script>
  </body>
</html>
