#sh_corpomate_theme_section_258 {
  padding: 0 !important;
}

.para {
  font-size: 17px;
  line-height: 28px;
  color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #000;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.btn {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn:hover {
  background-color: #7f7e7e;
}

#sh_corpomate_theme_section_290 .sh_feature_box p {
  margin-bottom: 0px !important;
  transition: 0.5s;
  font-size: 17px;
  line-height: 1.8;
  display: block !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: initital;
  overflow: hidden;
  color: #616161;
  font-family: 'Poppins', sans-serif;
}

.feature_container {
  margin-block-start: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.read_more {
  color: #2667ae !important;
  font: inherit !important;
  font-size: 16px !important;
}

#sh_corpomate_theme_section_76 .sh_content .sh_num_icon {
  font-size: 30px;
  color: #000000;
  border: 1px solid #cecece;
  border-radius: 50%;
  padding: 16px 20px 20px 19px;
  width: 78px;
  height: 78px;
  margin-top: -15px;
  position: relative;
  margin: 0 auto;
  background: #fdd125;
}

#sh_corpomate_theme_section_76 .sh_content:hover .sh_num_icon {
  font-size: 30px;
  color: #fff;
  border: 1px solid #cecece;
  border-radius: 50%;
  padding: 18px 20px 20px 19px;
  width: 83px;
  height: 83px;
  margin-top: -15px;
  position: relative;
  margin: 0 auto;
  background: #000000;
}

#sh_corpomate_theme_section_76 .sh_content p {
  padding: 0 0 !important;
  overflow: visible;
  -webkit-box-orient: horizontal;
}

.res_height {
  height: 423px;
}

@media (max-width: 467.98px) {
  .res_height {
    height: 243px;
  }
}

#sh_corpomate_theme_section_76 .sh_content {
  padding-top: 0;
}

#sh_corpomate_theme_section_76 .sh_content p:after {
  top: 20px;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}
