<div id="wrap" class="oe_structure oe_empty">
  <section class="centric_template home-banner pt128 banner_padding">
    <div class="container">
      <div class="row">
        <div class="bannarcol col-lg-6 col-md-12">
          <h1 class="title-1">
            Formation&amp;nbsp;
            <text style="color: #9c00ff">
              Habilitation Électrique
              <br />
            </text>
            Marseille
          </h1>
          <p class="para">
            Notre centre de formation
            <b>Digimoov</b>
            , vous propose en partenariat avec
            <b>Marmelade app</b>
            , une formation en ligne sur l'habilitation électrique BS/BE
            manœuvres, afin de vous habiliter, ou habiliter votre équipe à
            prévoir les risques électriques liés aux installations électriques
            sur votre lieu de travail, et auxquels vous pourrez être exposé, et
            ainsi intervenir en cas d'accident ou d'incident
            électrique&amp;nbsp;pour vous protéger et protéger vos biens.
            <br />
          </p>
          <div class="banner-btn s_btn" data-name="Button">
            <a
              href="#pricing"
              class="bannerbtn btn btn-alpha rounded-circle"
              title="je m'inscirs"
              alt="boutton je m'inscris"
              >Je m'inscris maintenant !
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 image_padding mt24">
          <div class="banner_image">
            <img
              class="img img-fluid lazy"
              data-src="/digimoov_website_templates/static/img/habilitation-electrique/formation-digimoov-habilitation.png"
              data-srcsafari="/digimoov_website_templates/static/img/habilitation-electrique/formation-digimoov-habilitation.png"
              title="électricien en formation habilitation électrique"
              alt="électricien en formation habilitation électrique"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb32 js-scroll fade-in-top">
    <div class="container js-scroll fade-in-top">
      <div class="center-logo mt32">
        <div class="pt32">
          <img
            class="img-fluid lazy pos-qualopi"
            data-src="/mcm_website_theme/static/src/img/formation-taxi-vtc-certifiée-qualiopi.webp"
            data-srcSafari="/mcm_website_theme/static/src/img/formation-taxi-vtc-certifiée-qualiopi.png"
            title="MCM Academy centre agrée par Qualiopi"
            alt="qualiopi"
          />
        </div>
        <div class="pt32">
          <img
            class="img-fluid lazy"
            style="width: 110px"
            data-srcSafari="/mcm_website_theme/static/src/img/mcm academy-partenaire-france-relance.jpg"
            data-src="/mcm_website_theme/static/src/img/mcm academy-partenaire-france-relance.webp"
            title="France relance-MCM Academy"
            alt="France relance-MCM Academy"
          />
        </div>
        <!-- dreal-->
      </div>
    </div>
  </section>
  <!-- fin LOGOS-->

  <section
    class="centric_template pt128 section-padding about-us pb0"
    data-name="About Us"
    id="en-savoir-plus"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="aboutus-img">
            <img
              class="img img-fluid lazy"
              data-srcsafari="/digimoov_website_templates/static/img/marseille/Comment réussir l'examen de capacité de transport routier - digimoov.png"
              data-src="/digimoov_website_templates/static/img/marseille/Comment réussir l'examen de capacité de transport routier - digimoov.webp"
              title="technicien répare un tableau électrique"
              alt="technicien répare un tableau électrique"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="aboutus-content">
            <h2
              style="
                font-weight: bold !important;
                font-size: 48px !important;
                padding-bottom: 25px !important;
              "
            >
              <text style="color: rgb(59, 210, 188)">
                <text class="text-alpha" style=""
                  >Qu'est-ce qu'une Habilitation électrique BS/BE manœuvres
                  ?</text
                >
                &amp;nbsp;
              </text>
            </h2>
            <p class="para">
              L’habilitation
              <b>&amp;nbsp;</b>
              électrique "
              <b>BS BE manœuvres"&amp;nbsp;</b>
              concerne toute personne qui doit effectuer des interventions
              simples d’ordre électrique de remplacement et de raccordement et
              des manœuvres d’appareils électriques dans un environnement
              électriquement dangereux (agent de maintenance, etc.).
              <br />
              Cette formation a comme objectifs de : communiquer les règles de
              sécurité électrique respectant les décrets N°2010-1118 du 22
              Septembre 2010, former le personnel sur les consignes de sécurité
              prévues par la NF C18 510, prévoir les dangers de l’électricité
              auxquels vous pourrez être exposé,&amp;nbsp;appliquer les mesures
              de sécurité et les instructions de l’employeur, et enfin,
              identifier la conduite à tenir en cas d’accident ou d’incendie
              d’origine électrique.
            </p>
            <div class="s_btn text-center pt16 pb16" data-name="Button">
              <a
                href="#pricing"
                class="btn btn-primary"
                style="word-break: break-word; position: relative; z-index: 0"
                spellcheck="false"
                data-mci-spellchecked="true"
                data-original-title=""
                title=""
                aria-describedby="tooltip549964"
                >&amp;nbsp;En savoir plus</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="s_text_image pt32 pb32" data-name="Text - Image">
    <div class="container">
      <div class="row align-items-center">
        <div class="pt16 pb16 col-lg-6">
          <h2
            style="
              font-weight: bold !important;
              font-size: 48px !important;
              color: #000 !important;
              padding-bottom: 25px !important;
            "
          >
            <text class="text-alpha" style=""
              >Titre d'habilitation électrique BS-BE manœuvres</text
            >
          </h2>
          <p class="para">
            Le titre d'habilitation est un document délivré à la fin de la
            formation par l'employeur à ses employés, et qui atteste que les
            personnes concernées, sont habilitées à intervenir en cas d'incident
            électrique.
            <br />
            Ce certificat inclut le symbole&amp;nbsp;de l'habilitation, le
            domaine&amp;nbsp;de tension concerné, ainsi que le type des ouvrages
            ou installations concernés.
            <br />
            La norme NF C18-510 indique que le titulaire d’un titre
            d’habilitation doit être porteur de ce titre pendant les heures de
            travail ou le conserver à sa portée et être en mesure de le
            présenter sur demande motivée.
            <br />
          </p>
          <div class="s_btn text-center pt16 pb16" data-name="Button">
            <a
              href="#"
              class="btn btn-primary"
              spellcheck="false"
              data-mci-spellchecked="true"
              >Je m'inscris !</a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <img
            src="/digimoov_website_templates/static/img/habilitation-electrique/qui-est-concerné-par-la-formation-habilitation.png"
            class="img img-fluid mx-auto"
            alt=" électricien en formation pratique de l’habilitation"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="s_text_image pt32 pb32" data-name="Text - Image">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img
            data-src="digimoov_website_templates/static/img/habilitation-electrique/Formation Attestation de Transport Léger de Marchandises.webp"
            data-srcSafari="digimoov_website_templates/static/img/habilitation-electrique/Formation Attestation de Transport Léger de Marchandises.png"
            class="img img-fluid mx-auto lazy"
            alt="électricien feuille à la main en formation pratique habilitation"
          />
        </div>
        <div class="pt16 pb16 col-lg-6">
          <h2
            style="
              font-weight: bold !important;
              font-size: 48px !important;
              color: #000 !important;
              padding-bottom: 25px !important;
            "
          >
            <text class="h1-title text-epsilon">
              <text style="color: rgb(156, 0, 255)">
                <text class="text-alpha" style=""
                  >Formation Habilitation en e-learning
                </text>
              </text>
            </text>
          </h2>
          <p class="para">
            Notre centre de formation propose, en collaboration avec notre
            partenaire exclusif Marmelade app, une
            <b>formation 100% en ligne</b>
            sur l'habilitation électrique BS-BE manœuvres. La formation dure
            <b>
              14 heures.
              <br />
            </b>
            La partie théorique est de 10 heures, et se déroule sur une
            application mobile très facile à manipuler.
            <br />
            Le parcours de formation comporte des modules, découpés en chapitre,
            pour un apprentissage précis et efficace.
            <br />
            Au niveau de chaque chapitre, vous consultez la fiche
            «&amp;nbsp;L’essentiel&amp;nbsp;» puis vous répondez à des questions
            pour vous approprier les connaissances.
            <br />
            À la fin de chaque chapitre vous passez un quiz final, que vous
            devriez réussir pour passer à l'étape suivante qui est la formation
            pratique.
            <br />
            <b
              >La formation pratique dure 4 heures et se passe en présentiel à
              Marseille</b
            >
            , lors de laquelle vous découvrez le champ d'application de la norme
            NF C 18-510, vous ferez des études, des mises en situation
            pratiques, et vous partagerez vos expériences en groupe.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="s_accounting_offer bg-green-gradient"
    data-name="Mini Appoinment Two"
  >
    <div class="mini-spacer text-white">
      <div class="container">
        <div class="row">
          <h2 class="align-self-center col-lg-9 col-md-8 col-sm-12 display-7">
            Programme de formation habilitation électrique - Marseille
          </h2>
          <div
            class="ml-auto m-t-10 m-b-10 s_btn col-lg-3 col-md-4 col-sm-12"
            data-name="Button"
            style="text-align: center"
          >
            <a
              rel="noopner"
              target="_blank"
              href="/digimoov_website_templates/static/pdf/Programme de formation habilitation électrique-digimoov-marmelade.pdf"
              alt="Programme de formation habilitation électrique-digimoov-marmelade"
              title="Programme de formation habilitation électrique digimoov marmelade"
            >
              <button
                class="bizople_button btn btn-md btn-outline-light rounded-circle"
                style="word-break: break-word; position: relative; z-index: 0"
                spellcheck="false"
                data-mci-spellchecked="true"
                data-original-title=""
                title=""
                aria-describedby="tooltip36401"
              >
                Téléchargez-le !
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
