<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/cta-button.min.css"
/>
<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/blog_style.min.css"
/>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h1 class="blog-title-1 text-left">
          Assurance VTC : Tout ce que vous devez savoir
        </h1>
        <p class="blog-para-1">
          Vous avez réussi votre examen VTC après avoir passé par
          <a class="blog-text-link" href="/formation-vtc">une formation</a>
          ? Vous voilà devenu chauffeur VTC, félicitations. Toutefois, même
          après avoir rempli les conditions nécessaires pour devenir VTC, vous
          serez cependant astreint à un certain nombre d’obligations, dont
          certaines relatives à votre véhicule.
        </p>
        <p class="blog-para-1">
          En tant que VTC, vous serez amené à arpenter les routes toute la
          journée durant, ce qui, fatalement, comporte quelques risques
          inhérents à votre véhicule de fonction, ainsi qu’à vous-même et vos
          passagers. Des risques qu’une assurance VTC se devra de prévenir du
          fait de ses garanties.
        </p>
        <p class="blog-para-1">
          Notez bien qu’un chauffeur VTC, afin d’exercer sa profession, se doit
          d'être assuré à deux titres. La double obligation qui incombe aux
          chauffeurs de véhicule VTC tient à la responsabilité civile
          exploitation et
          <a
            class="blog-text-link"
            href="https://www.legifrance.gouv.fr/codes/id/LEGISCTA000006159534"
            >la responsabilité civile circulation,</a
          >
          les deux étant garanties par l’<a
            href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033745494/"
            >assurance responsabilité civile pro.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sh_corpomate_theme_section_167"
  class="sh_animation_part"
  data-name="Call To Action"
>
  <div class="container">
    <h2 class="blog-title-2">Besoin d'une formation VTC?</h2>
    <p class="blog-para-1 font-weight-bold">
      Inscrivez-vous à la formation
      <text class="blog-color-yellow">100% à distance de MCM Academy</text>
    </p>

    <a
      class="animated-button-yellow"
      href="/web/signup?redirect=https://www.mcm-academy.fr/formation-%C3%A0-distance-vtc/shop/cart"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      JE M'INSCRIS
    </a>
    <img class="img-fluid o_we_custom_image" src="/web/image/241219/1.png" />
  </div>
</section>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          C’est quoi une assurance VTC responsabilité civile professionnelle?
        </h2>
        <p class="blog-para-1">
          Une assurance en responsabilité civile, plus fréquemment qualifiée de
          RC Pro, est une assurance VTC qui, dans le cadre de l’activité de VTC,
          est obligatoire. Cette RC pro, depuis 2014, comprend deux volets
          distincts en matière de garanties afin de palier à des risques allant
          parfois au-delà de ce qui s’en tient aux risques se rapportant à la
          circulation.
        </p>
        <h3 class="blog-title-3">La RC exploitation</h3>
        <p class="blog-para-1">
          Ajoutée récemment suite à la loi Thévenoud, l’assurance RC
          exploitation est aujourd’hui comprise dans l’assurance RC pro à
          laquelle se doit de souscrire un chauffeur VTC. Cette RC exploitation
          a vocation à offrir des garanties sur tous les dommages immatériels
          auquel vous ou un tiers pourriez être exposés.
        </p>
        <p class="blog-para-1">
          De la sorte, la RC exploitation prémunit des risques que vous, votre
          véhicule ou votre client seriez susceptibles d’accuser dans le cadre
          de l’exploitation de l’activité VTC. Ainsi, un retard à l’aéroport
          occasionné au terme de votre activité VTC entrera dans le cadre de la
          RC exploitation, permettant de dédommager votre client en conséquence.
        </p>
        <p class="blog-para-1">
          De même, en cas de bagages endommagés, votre client sera ainsi couvert
          par votre RC exploitation.
        </p>
        <h3 class="blog-title-3">La RC circulation</h3>
        <p class="blog-para-1">
          Avec la RC circulation comprise dans l’offre RC pro, les garanties,
          cette fois, couvrent les dommages matériels ou corporels – quels
          qu’ils soient – occasionnés à l’issue de la conduite du véhicule.
        </p>
        <p class="blog-para-1">
          Les chauffeurs VTC, alors, ne sont pas les seuls à devoir rouler avec
          une assurance similaire en ce sens où tout conducteur de véhicule, à
          titre professionnel ou particulier, est exposé aux mêmes risques.
        </p>
        <p class="blog-para-1">
          Ceci considéré, l’assurance RC pro permet de couvrir le chauffeur VTC,
          son véhicule et ses passagers à la fois à titre particulier et
          professionnel.
        </p>
        <h2 class="blog-title-2">
          Quelles sont les garanties qu’offre l’assurance RC à un chauffeur VTC
          ?
        </h2>
        <p class="blog-para-1">
          Les garanties de l’assurance VTC responsabilité professionnelles
          concernent <b>votre véhicule, vous-même, les tiers</b> concernés par
          un accident, vos <b>passagers</b> ainsi que <b>leurs effets.</b>
        </p>
        <p class="blog-para-1">
          En cas de dommage de votre véhicule professionnel, la garantie
          l’assurance RC Pro s’engage à prendre en charge les réparations.
        </p>
        <p class="blog-para-1">
          Si vous, votre client ou encore un tiers vous vous retrouviez blessé
          dans le cadre d’un accident lié à votre activité, là encore, votre
          assurance RC Pro prendra en charge les frais d’hospitalisation.
        </p>
        <p class="blog-para-1">
          Dans l’éventualité où les bagages de votre passager seraient
          endommagés ou encore, si celui-ci venait à arriver en retard ce,
          alors, lui causerait préjudice, l’assurance RC Pro, grâce à
          l’assurance RC exploitation, prendrait en charge les éventuels
          dommages causés par un retard inopiné.
        </p>
        <h2 class="blog-title-2">
          Comment choisir son assurance RC Pro pour les VTC?
        </h2>
        <p class="blog-para-1">
          Au moment de choisir votre assurance RC pro, la question du prix sera
          certes fondamentale, mais elle ne devra pas être prioritaire. Avant
          toute chose, la variété des services, ainsi que la qualité de ces
          derniers, s’avère indispensable. Ne choisissez pas seulement votre
          assurance VTC responsabilité civile pro afin d’être couvert, mais pour
          bénéficier de la meilleure offre en cas de problème éventuel.
        </p>
        <p class="blog-para-1">
          En plus de prendre en compte que la RC pro comprend aussi bien la RC
          exploitation que la RC circulation, vous devrez aussi envisager
          d’autres services inhérents à votre couverture. Tout ce qui se
          rapporte à une assurance accident ou bris de glace vous sera en effet
          bien pratique à force de devoir multiplier les kilomètres en ville.
          Les garanties, alors, se devront d’être aussi nombreuses que les
          risques encourus.
        </p>
        <p class="blog-para-1">
          Prenez aussi soin de vous assurer que votre assurance VTC vous offre
          un service assistance et surtout, s’engage à vous fournir un véhicule
          de qualité équivalente le temps des réparations. Vous ne voudriez pas
          en effet ne plus pouvoir exercer après un accident indépendant de
          votre volonté.
        </p>
        <h2 class="blog-title-2">
          Combien coûte une assurance VTC responsabilité civile professionnelle
          ?
        </h2>
        <p class="blog-para-1">
          Le prix d’une assurance VTC variera en fonction des garanties fournies
          par celle-ci. Ne vous ruez jamais sur une assurance responsabilité
          civile professionnelle au prétexte que cette dernière soit la moins
          chère. En effet, devenir chauffeur VTC implique aussi d’envisager tous
          les cas de figure dans le cadre de l’exercice de votre activité. De ce
          fait, vous vous devez d’être le mieux préparé possible et de
          multiplier les garanties pour prévenir les innombrables risques
          présents sur la route.
        </p>
        <p class="blog-para-1">
          Pour vous, comme pour vos clients, il ne faudra pas lésiner sur le
          coût d’une assurance RC pro et ce, même si son prix s’ajoute déjà aux
          nombreuses charges inhérentes à l’exercice de votre profession.
        </p>
        <p class="blog-para-1">
          Selon le nombre de garanties auxquelles vous souscrirez, à savoir la
          qualité de celles-ci, le prestataire auprès duquel vous vous
          adresserez ; une assurance VTC responsabilité civile professionnelle –
          comprenant naturellement RC exploitation et RC circulation – se
          chiffrera entre 100 et 250 euros. D’après les témoignages des
          chauffeurs VTC, leurs assurances leur reviennent environ à 250 euros
          par an pour ce qui est de l’assurance RC exploitation et entre 1000 et
          4000 euros pour tout ce qui concerne leur assurance circulation. Un
          coût certes conséquent, mais éminemment salutaire en cas de dommage
          matériel, immatériel ou corporel.
        </p>
        <p class="blog-para-1">
          Sachez que rouler sans assurance VTC, d’une part, vous exposera à des
          remboursements de votre poche en cas d’accident, mais surtout, sera
          passible de poursuites judiciaires. Un contrôle est heureusement opéré
          diligemment par les organismes chargés de recenser les chauffeurs VTC.
          Ceux-ci sauront prêter une attention toute particulière à votre
          assurance VTC responsabilité civile professionnelle.
        </p>
      </div>
    </div>
  </div>
</section>
