<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/cta-button.min.css"
/>
<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/blog_style.min.css"
/>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h1 class="blog-title-1 text-left">
          Comment s’inscrire au registre VTC ?
        </h1>
        <p class="blog-para-1">
          En France, toutes les formalités des opérateurs de VTC auprès du
          registre des opérateurs de VTC doivent être effectuées par voie
          électronique sur l'application informatique dédiée au registre des VTC
          en application des articles R.3122-1 et R. 3122-10 du code des
          transports.
        </p>
        <p class="blog-para-1">
          Ce service permet aux opérateurs de remplir en ligne l'ensemble des
          démarches de gestion de leur dossier, de l'immatriculation à la
          demande de cessation d'activité.
        </p>
        <p class="blog-para-1">
          Si vous voulez être un chauffeur de VTC en France, vous devez vous
          inscrire au registre des opérateurs de VTC. Si vous êtes un conducteur
          étranger, vous devez demander un permis de conduire VTC avant de
          demander l'immatriculation VTC.
        </p>
        <p class="blog-para-1">
          Il leur permet de transmettre par voie électronique les informations
          et pièces jointes nécessaires aux démarches administratives mais aussi
          de recevoir toutes les notifications et attestations de
          l'administration. En outre, il fournit un service de portefeuille
          documentaire qui permet de conserver tous les échanges entre
          l'administration et l'exploitant.
        </p>
        <h2 class="blog-title-2">Qu’est ce qu’un registre VTC ?</h2>
        <p class="blog-para-1">
          Le système d'immatriculation des VTC vous permet de gérer toutes vos
          démarches administratives en ligne.
        </p>
        <h3 class="blog-title-3">
          S'inscrire au système d'immatriculation des VTC signifie que :
        </h3>
        <p class="blog-para-1">
          Vous avez la garantie de recevoir par e-mail toutes les notifications
          et certificats relatifs à votre procédure
        </p>
        <ul class="blog-ul">
          <li>
            Vous pouvez remplir en ligne toutes les procédures de gestion de
            votre dossier
          </li>
          <li>
            Vous pouvez envoyer des documents (et des pièces jointes) par e-mail
            à cette adresse :
            <a
              class="blog-text-link"
              href="mailto:registre-vtc@developpement-durable.gouv.fr"
              >registre-vtc@developpement-durable.gouv.fr</a
            >
          </li>
          <li>Vous pouvez accéder à votre dossier VTC sécurisé</li>
        </ul>
        <p class="blog-para-1">
          Le service de commande de VTC vous permet d'effectuer les démarches
          administratives listées dans la rubrique "Services" : s'inscrire,
          demander une plaque VTC, modifier ses coordonnées, cesser son
          activité. Pour activer ce service, il vous suffit d'effectuer une
          simple démarche d'inscription. Tous les documents administratifs
          envoyés ou reçus par l'administration des VTC sont archivés en ligne
          et vous pouvez les suivre grâce à votre compte personnel.
        </p>
        <h3 class="blog-title-3">Comment s’inscrire au registre VTC ?</h3>
        <p class="blog-para-1">
          La demande de VTC est la première étape du processus. Les conducteurs
          devront la faire quoi qu'il arrive, alors autant s'y mettre tout de
          suite.
        </p>
        <p class="blog-para-1">
          Pour travailler en tant que chauffeur pour un service de VTC, vous
          devez vous inscrire au Registre national des chauffeurs de VTC. Cette
          démarche est obligatoire pour toute personne souhaitant conduire pour
          un tel service. Le montant de l’inscription est de <b>170 €.</b>
        </p>
        <p class="blog-para-1">
          L'inscription s'effectue en ligne lors de la déclaration de votre
          nouvelle activité d'exploitant d'un service de VTC. Vous aurez besoin
          de :
        </p>
        <ul class="blog-ul">
          <li>Votre numéro de TVA (le cas échéant)</li>
          <li>
            Le nom et l'adresse de votre entreprise ou votre adresse personnelle
            (s'il s'agit d'une micro-entreprise)
          </li>
          <li>
            Les véhicules que vous souhaitez utiliser dans le cadre de votre
            activité (y compris leur marque et leur modèle).
          </li>
          <li>
            Se connecter au
            <a
              class="blog-text-link"
              href="https://registre-vtc.developpement-durable.gouv.fr/public/accueil"
              >site web du registre VTC</a
            >
          </li>
        </ul>
        <p class="blog-para-1">
          Une fois ces informations saisies, vous recevrez un courriel contenant
          des instructions expliquant comment finaliser votre inscription au
          cours de la prochaine étape.
        </p>
        <h3 class="blog-title-3">
          Liste des pièces justificatives composant le dossier d’inscription :
        </h3>
        <ul class="blog-ul">
          <li>
            Une attestation d’<a
              href="/blog/assurance-vtc-tout-ce-que-vous-devez-savoir"
              >assurance</a
            >
            avec la couverture de la responsabilité civile professionnelle
          </li>
          <li>
            Une copie du
            <b>justificatif de l’immatriculation de l’entreprise</b>
            (extrait KBIS ou répertoire SIREN, à jour)
          </li>
          <li>
            Une copie du <b>certificat d’immatriculation</b> (appelée également
            carte grise) pour VTC.
          </li>
          <li>
            Une copie recto-verso de <b>la carte professionnelle</b> pour chaque
            conducteur. Le passage d'<a href="/examen-vtc-taxi-moto-taxi"
              >un examen</a
            >
            est obligatoire pour obtenir votre carte.
          </li>
          <li>
            Un justificatif de <b>capacité financière</b> pour chaque véhicule
            utilisé de façon. Le montant minimum à détenir est de 1 500 euros
            pour chaque véhicule.
          </li>
        </ul>
        <p class="blog-para-1">
          Les ressources financières requises sont garanties par un ou plusieurs
          établissements financiers agréés par l'autorité de contrôle et de
          résolution, qui s'engagent à assumer les obligations de l'entreprise
          ou par tout établissement de crédit fournissant des services en France
          ou ayant des succursales en France conformément aux articles L. 511-22
          et L. 511-23 du code monétaire et financier, qui est autorisé à
          fournir ce type de service.
        </p>
        <p class="blog-para-1">
          Dans le cas où vous êtes propriétaire du véhicule utilisé dans le
          cadre de votre prestation de VTC ou bien que ce véhicule fait l’objet
          d’une location de longue durée (d'au moins 6 mois), une garantie
          financière n’est pas nécessaire. Vous devez nous envoyer tout
          justificatif permettant de vérifier la propriété ou le caractère
          locatif de longue durée du véhicule.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sh_corpomate_theme_section_167"
  class="sh_animation_part"
  data-name="Call To Action"
>
  <div class="container">
    <h2 class="blog-title-2" class="blog-title-2">
      Besoin d'une formation VTC?
    </h2>
    <p class="blog-para-1 font-weight-bold">
      Inscrivez-vous à la formation
      <text class="blog-color-yellow">100% à distance de MCM Academy</text>
    </p>

    <a
      class="animated-button-yellow"
      href="/web/signup?redirect=https://www.mcm-academy.fr/formation-%C3%A0-distance-vtc/shop/cart"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      JE M'INSCRIS
    </a>
    <img class="img-fluid o_we_custom_image" src="/web/image/241219/1.png" />
  </div>
</section>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">Où trouver un macaron VTC ?</h2>
        <p class="blog-para-1">
          Vous avez été informé par le responsable de l'enregistrement des
          conducteurs que votre enregistrement a été validé (nouvel
          enregistrement, renouvellement), et vous devez procéder à la commande
          de ces nouveaux autocollants qui doivent être apposés sur votre ou vos
          voitures comme l'exige la réglementation afin de commencer votre
          activité de conducteur de VTC.
        </p>
        <p class="blog-para-1">
          En envoyant votre paiement par courrier, vous recevrez un certificat
          temporaire de macaron sous forme de fichier PDF à imprimer et à
          apposer immédiatement sur votre véhicule. Ce certificat est valable
          jusqu'à ce que vous receviez vos deux autocollants permanents par
          courrier. Les autocollants permanents devront alors être appliqués sur
          votre véhicule selon les instructions qui vous seront envoyées avec
          votre envoi.
        </p>
        <p class="blog-para-1">
          Pour toute question vous pouvez également prendre contact avec le
          service du registre au 09 74 36 31 72 ou
          <a href="mailto:registre-vtc@developpement-durable.gouv.fr"
            >registre-vtc@developpement-durable.gouv.fr</a
          >
        </p>
        <h2 class="blog-title-2">
          Renouvellement de l’inscription au registre VTC
        </h2>
        <p class="blog-para-1">
          Vous devez être immatriculé au registre VTC en tant que VTC en France
          si vous souhaitez transporter des passagers contre rémunération. Il
          existe quelques exceptions à cette règle, mais elles ne s'appliquent
          pas aux nouvelles activités telles que les services de chauffeur et
          les limousines privées. Par conséquent, vous devez vous inscrire
          auprès de la préfecture de police ou de la sous-préfecture afin
          d'obtenir les documents nécessaires pour pouvoir travailler
          légalement. Pour vous faire enregistrer, vous aurez besoin de certains
          documents qui prouveront que vous êtes bien celui que vous prétendez
          être et que votre voiture répond aux réglementations nécessaires.
        </p>
        <p class="blog-para-1">
          L'inscription au registre des VTC doit être renouvelée tous les 5 ans.
          Le conducteur de VTC doit faire une demande de renouvellement 3 mois
          avant la fin de la validité de son inscription.
        </p>
        <p class="blog-para-1">
          La demande de renouvellement doit être faite, par lettre recommandée
          avec accusé de réception ou par voie électronique, à la préfecture, au
          gouvernorat ou à la commune où le demandeur est domicilié.
        </p>
        <h3 class="blog-title-3">Le demandeur doit joindre à sa demande :</h3>
        <ul class="blog-ul">
          <li>
            Un certificat médical précisant qu'il n'est pas toxicomane et qu'il
            n'est atteint d'aucune maladie contagieuse
          </li>
          <li>
            Un certificat précisant qu'il ne souffre d'aucun trouble
            psychologique
          </li>
          <li>
            Un certificat précisant qu'il n'a fait l'objet d'aucune condamnation
            pour crime ou délit impliquant une turpitude morale ou une
            infraction aux règles de sécurité routière
          </li>
          <li>Une photographie récente (format 35x45mm).</li>
        </ul>
        <p class="blog-para-1">
          Si vous utilisez un VTC pour exercer votre métier et que vous
          souhaitez l'inscrire au registre des VTC, vous devez remplir le
          <a
            class="blog-text-link"
            href="https://www.ecologie.gouv.fr/vtc-registre-des-voitures-transport-chauffeur"
            >formulaire de demande.
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
