<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/cta-button.min.css"
/>
<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/blog_style.min.css"
/>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h1 class="blog-title-1 text-left">
          Comment démarrer votre activité taxi ?
        </h1>
        <p class="blog-para-1">
          L’examen de chauffeur taxi n’était qu’un début, une étape préalable
          pour mener votre activité taxi à bien. Avant de pouvoir effectuer le
          transport de clients, vous devrez cependant prendre en compte
          certaines modalités relatives à l’exercice du métier de chauffeur.
          Quelques rappels s’imposent en premier lieu pour parfaire
          <a href="/formation-taxi">votre formation</a> ainsi que de nombreuses
          indications pour pratiquer enfin votre activité taxi.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sh_corpomate_theme_section_167"
  class="sh_animation_part"
  data-name="Call To Action"
>
  <div class="container">
    <h2 class="blog-title-2">Besoin d'une formation taxi ?</h2>
    <p class="blog-para-1 font-weight-bold">
      Inscrivez-vous à la formation
      <text class="blog-color-yellow">100% à distance de MCM Academy</text>
    </p>

    <a
      class="animated-button-yellow"
      href="/web/signup?redirect=https://www.mcm-academy.fr/formation-%C3%A0-distance-taxi/shop/cart"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      JE M'INSCRIS
    </a>
    <img
      class="img-fluid o_we_custom_image"
      src="/web/image/246715/couv%20taxi%202.png"
      alt="Taxi Moto"
    />
  </div>
</section>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h2 class="blog-title-2">
          En préambule : distinguer la carte professionnelle taxi et la licence
          taxi dite ADS
        </h2>
        <p class="blog-para-1">
          Si vous avez passé l’examen de taxi, vous devriez en principe savoir
          ce qui distingue la carte professionnelle taxi de la licence taxi,
          autrement appelée ADS. Là où la carte professionnelle taxi est
          décernée par le préfet dans les trois mois où vous aurez effectué
          votre demande – à condition d’avoir évidemment passé l’examen – la
          licence taxi, elle, n’encadre pas votre activité taxi en elle-même.
        </p>
        <p class="blog-para-1">
          La licence taxi se rapporte à l’autorisation d’exercer votre activité
          dans une zone déterminée par la municipalité. On appelle la licence
          taxi ADS pour Autorisation De Stationnement. Cette autorisation,
          alors, ne dépend pas de la préfecture en premier lieu mais de la
          commune concernée par l’autorisation de stationnement requise dans le
          cadre de votre activité taxi.
        </p>
        <h3 class="blog-title-3">Comment obtenir une licence Taxi ?</h3>
        <p class="blog-para-1">
          Bien qu’elle ne relève pas des conditions préalables pour exercer
          l’activité de chauffeur de taxi, la licence taxi est cependant
          obligatoire. Vous ne pourrez dès lors pas pratiquer le transport de
          personnes à titre professionnel dans le cadre de votre activité taxi
          sans en bénéficier. Il existe alors trois manières de l’obtenir.
        </p>
        <h3 class="blog-title-3">Obtenir une nouvelle licence</h3>
        <p class="blog-para-1">
          L’autorisation de stationnement dans une commune donnée passe avant
          tout par la mairie. C’est à la mairie que vous devrez effectuer votre
          demande d’ADS. Dès lors vous serez inscrit sur une liste d’attente.
          Les prioritaires, alors, étant les premiers inscrits.
        </p>
        <p class="blog-para-1">
          Or, la mairie n’est pas tenue de vous fournir votre ADS dans un délai
          prévu par la loi. Selon l’ampleur des demandes et la longueur de la
          liste d’attente, vous pourriez alors devoir attendre des mois si ce
          n’est plus encore avant d’exercer votre activité taxi. Qui plus est,
          quand bien même des places viendraient à être disponibles, celles-ci
          ne seraient alors pas garanties de vous parvenir dans les plus brefs
          délais. En effet, la préfecture est très parcimonieuse quand il s’agit
          de livrer plusieurs licences de taxi à la fois. Aussi, obtenir votre
          ADS par ce biais pourrait s’avérer être un remarquable parcours du
          combattant.
        </p>
        <h3 class="blog-title-3">Racheter une licence Taxi déjà existante</h3>
        <p class="blog-para-1">
          Aussi, plutôt qu’attendre une durée longue et indéterminée, vous
          pouvez aussi négocier une ADS auprès d’un propriétaire de licence de
          taxi. Celui-ci peut alors vous la céder. Cependant, ce scénario n’est
          envisageable qu’à une condition ; que la licence concernée date
          d’avant le 1er octobre 2014. En effet, celles délivrées après cette
          date ne peuvent pas être revendues et ce, indépendamment de la commune
          concernée.
        </p>
        <p class="blog-para-1">
          Du fait de la demande élevée de licence de taxi, beaucoup de
          titulaires d’ADS en profitent et sont prêts à céder la leur à un prix
          prohibitif. Un coût que ne saurait supporter un nouveau conducteur de
          taxi à peine entré dans le métier.
        </p>
        <h3 class="blog-title-3">
          Devenir locataire-gérant d’une licence Taxi
        </h3>
        <p class="blog-para-1">
          À défaut de pouvoir acheter votre ADS, vous pourrez cependant la louer
          avec des avantages relatifs à cette location. En effet, le statut de
          locataire-gérant d’une licence Taxi vous permet de bénéficier d’une
          autorisation de stationner ainsi que d’un véhicule de fonction,
          compris dans la location.
        </p>
        <p class="blog-para-1">
          Cette location, alors, nécessitera que vous vous acquittiez d’une
          redevance comme cela pourrait être le cas dans le cadre de la location
          d’un fonds de commerce. Ce à quoi peut être assimilée une licence Taxi
          par ailleurs.
        </p>
        <img
          class="img-fluid o_we_custom_image mb32"
          src="/web/image/246714/im%202%20%281%29.png?access_token=b8c2f4c5-4f9b-4467-9c42-c8ab37624ba9"
          title="Comment démarrer votre activité taxi ?"
          alt="chauffeur taxi"
        />
        <h2 class="blog-title-2">
          Déterminer le statut juridique de son activité Taxi
        </h2>
        <p class="blog-para-1">
          Une fois tous les préparatifs nécessaires à la pratique du métier de
          chauffeur taxi réunis, c’est-à-dire, une fois votre carte
          professionnelle ainsi que votre licence Taxi acquises, il vous restera
          à envisager le cadre du statut juridique de votre activité taxi.
        </p>
        <h3 class="blog-title-3">Dans le cadre d’une activité salarié</h3>
        <p class="blog-para-1">
          Si vous souhaitez pratiquer votre activité de chauffeur à titre
          salarié, vous n’aurez dès lors aucun besoin d’envisager un statut
          juridique puisque vous dépendrez vous-même du statut de l’entreprise
          vous ayant embauché. Les questions juridiques, dès lors, ne
          s’imposeront pas à votre activité Taxi en dehors de toutes celles
          inhérentes au code de la route, bien entendu.
        </p>
        <h3 class="blog-title-3">
          Le cas des locataires de licence taxi ou des taxis-artisans
        </h3>
        <p class="blog-para-1">
          En tant que locataire d’une licence de taxi, vous souhaiterez alors
          privilégier des statuts juridiques correspondant à la reprise d’un
          fonds de commerce. En tant que chauffeur taxi indépendant, ou
          taxi-artisan, vous pourrez alors vous essayer au statut de
          l’entreprise individuelle (EI), que celle-ci soit relative à la
          micro-entreprise, à l’auto-entrepreneuriat ou bien à la validation
          d’une EIRL afin de limiter les responsabilités incombant à votre
          activité taxi.
        </p>
        <p class="blog-para-1">
          L’EURL aussi est à privilégier selon ce que vous vous serez défini
          comme objectifs en tant que chauffeur-taxi. Enfin, le statut juridique
          de SASU reste la norme-mère en matière d’encadrement de votre activité
          taxi.
        </p>
        <h3 class="blog-title-3">
          Le statut de SASU : idéal pour exercer une activité Taxi en tant
          qu’indépendant
        </h3>
        <p class="blog-para-1">
          En tant qu’entrepreneur et chauffeur indépendant, vous ne souhaiterez
          pas être prisonnier de statuts étriqués vous limitant dans vos
          attributions. Aussi, la SASU sera pour vous idéale en ce sens où elle
          offre de grandes libertés dans le cadre de la rédaction de ses
          statuts. Ceux-ci pouvant être modifiés à votre guise au gré des
          circonstances fluctuantes que pourra connaître votre activité taxi.
        </p>
        <p class="blog-para-1">
          À supposer que vous souhaitiez convier d’autres chauffeurs si vous
          avez trop de clients à gérer, vous pourrez, avec la SASU, établir les
          termes de l’organisation de votre société. La SASU est surtout à
          privilégier par les entrepreneurs ayant des ambitions puisque ses
          modalités ont été justement prévues de sortes à encadrer l’évolution
          future de votre activité de taxi.
        </p>
        <h2 class="blog-title-2">
          Les investissements à réaliser dans le cadre de son activité Taxi
        </h2>
        <p class="blog-para-1">
          En plus du coût de votre ADS, selon que vous en ayez fait
          l’acquisition ou que vous en soyez locataire-gérant, vous devrez
          réfléchir aux investissements concernant votre activité de transport.
        </p>
        <h3 class="blog-title-3">L’entretien du véhicule</h3>

        <p class="blog-para-1">
          En tant que chauffeur taxi, vous vous devrez, afin de satisfaire vos
          clients, être responsable de l’entretien de votre véhicule. Cet
          entretien concerne alors aussi bien sa propreté que le maintien en bon
          ordre de ses capacités techniques et mécaniques du véhicule. Il en va
          autant de votre crédibilité que de la sécurité de vos clients.
        </p>
        <p class="blog-para-1">
          De par la loi, en tant que chauffeur-taxi, vous serez tenu de
          renouveler votre véhicule tous les trois ans, indépendamment du nombre
          de kilomètres parcouru. Cela représente alors une somme conséquente
          qu’il vous faudra prendre en compte dans le cadre de vos dépenses
          futures et ce, afin de calculer vos bénéfices en conséquence.
        </p>
        <h3 class="blog-title-3">
          Le taximètre de votre véhicule et les équipements de taxi
        </h3>
        <p class="blog-para-1">
          Pour mener à bien votre activité de transport de personnes, vous
          devrez mettre à la disposition de vos clients tous les ustensiles
          nécessaires pour que ceux-ci puissent souscrire à votre activité taxi.
          En plus du taximètre pour mesurer la distance ainsi que le prix de la
          course, le véhicule devra bénéficier d’un répétiteur lumineux dont la
          couleur indique si vous êtes disponible ou non pour une course.
        </p>
        <p class="blog-para-1">
          Enfin, les équipements de votre véhicule ne sauraient être complets
          sans terminal de paiement par carte bancaire. Il est en effet
          obligatoire de proposer cette option de paiement à vos clients, sous
          peine de quoi votre activité taxi serait en infraction avec la loi.
        </p>
        <img
          class="img-fluid o_we_custom_image mb32"
          src="/web/image/218111/COUV%202%20vtccc.png"
        />
        <h2 class="blog-title-2">Gérer son activité de transport</h2>
        <p class="blog-para-1">
          Être indépendant implique d’être responsable. Vous serez par
          conséquent tenu de gérer vous-même tout ce qui entoure votre activité
          taxi, cela concernant alors des domaines de la gestion et de la
          comptabilité.
        </p>
        <h3 class="blog-title-3">Le prix de la course</h3>
        <p class="blog-para-1">
          Vous n’êtes pas seul décisionnaire de vos prix, même en tant
          qu’entrepreneur. Ceux-là ,en effet, sont décidés par avance par décret
          préfectoral. Ces prix, alors, varieront en fonction de divers
          facteurs. Cela dépendra alors de la plage horaire durant laquelle a
          lieu la course, de la zone géographique concernée, du fait qu’il
          s’agisse ou non d’un jour férié ainsi que du service de prise en
          charge de bagages si celui-ci est compris dans le transport.
        </p>
        <h3 class="blog-title-3">
          La gestion financière de votre activité Taxi
        </h3>
        <p class="blog-para-1">
          Une activité taxi, ça n’est pas qu’une affaire de transport de
          personnes. Vous devrez, surtout en tant qu’indépendant, vous charger
          de la gestion financière relative à vos déplacements. La comptabilité
          fait partie intégrante du métier de chauffeur-taxi. Il vous sera
          cependant possible de vous faire aider par un tiers si vous ne
          maîtrisez pas la gestion. Toutefois, n’oubliez pas que votre examen de
          Taxi vous y a en principe préparé ainsi que votre formation.
        </p>
        <h3 class="blog-title-3">Le suivi des trajets à vide</h3>
        <p class="blog-para-1">
          Une activité de taxi menée efficacement implique de suivre
          attentivement vos dépenses en matière de carburant. Le cas des trajets
          à vide devra être réfléchi scrupuleusement pour éviter justement du
          gaspillage. À vous alors de vous organiser de sorte à éviter d’avoir à
          gérer trop de trajets à vide en optimisant au mieux vos courses ainsi
          que le prix de ces dernières.
        </p>
        <h2 class="blog-title-2">
          Les consignes pour exercer son activité Taxi
        </h2>
        <p class="blog-para-1">
          L’activité taxi ne s’exerce pas aussi librement que l’on le croit.
          Vous serez, dans le cadre de vos transports de personnes, tenu de
          respecter une zone concernant votre secteur. Cette zone, alors, aura
          été définie par les termes de la licence de Taxi qui vous concerne. Et
          ce, que celle-ci ait été achetée ou bien louée.
        </p>
        <p class="blog-para-1">
          Votre ADS, en effet, délimite votre zone de travail en tant que
          chauffeur-taxi. Travailler en dehors de cette limite imposée par la
          loi supposerait une infraction susceptible de vous coûter votre carte
          professionnelle.
        </p>
        <p class="blog-para-1">
          Enfin, un chauffeur-taxi avisé sait se tenir au fait de la loi. Il
          vous appartient d’anticiper les changements relatifs à la
          réglementation de votre activité taxi en suivant l’actualité entourant
          la pratique de votre métier. Sachez aussi garantir la sécurité de vos
          clients en prenant un soin tout particulier de votre véhicule afin de
          leur offrir la meilleure expérience de transport envisageable.
          N’oubliez jamais que l’activité taxi, en effet, comprend aussi bien un
          service de conduite souple et efficace qu’un service de relation
          client.
        </p>
      </div>
    </div>
  </div>
</section>
