<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/cta-button.min.css"
/>
<link
  rel="stylesheet"
  href="/mcm_website_theme/static/src/css/blog_style.min.css"
/>
<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h1 class="blog-title-1">Devenir chauffeur de taxi indépendant</h1>
        <p class="blog-para-1">
          Si le métier de chauffeur de taxi à titre salarié présente comme
          intérêt premier de bénéficier de la sécurité de l’emploi, exercer sa
          profession en tant qu’indépendant présente un nombre d’avantages
          autrement plus conséquents. Or, devenir taxi indépendant requiert de
          suivre différentes étapes avant de réellement pouvoir offrir un
          service de transport de personne exercé à son compte.
        </p>
        <p class="blog-para-1">
          Ces étapes passent alors par différentes conditions cumulatives qu’il
          vous faudra observer scrupuleusement afin de respecter la
          réglementation incombant au métier de chauffeur-taxi indépendant.
        </p>
        <h2 class="blog-title-2">
          Les conditions à remplir pour devenir chauffeur de taxi
        </h2>
        <p class="blog-para-1">
          Naturellement, avant d’entreprendre différentes démarches pour devenir
          chauffeur de taxi, il vous faudra, au regard de la loi, respecter
          <a
            class="blog-text-link"
            href="/blog/les-prerequis-pour-exercer-les-metiers-de-chauffeur-vtc-ou-taxi"
            >différentes conditions</a
          >
          d’ordre administratives et académiques afin d’être jugé apte à
          l’exercice du métier de taxi.
        </p>
        <ul class="blog-ul">
          <li>
            Vous devrez être titulaire du permis de conduire de la catégorie B.
            Vous devrez à ce titre avoir fait un usage judicieux de votre permis
            de conduire, puisqu’il sera attendu de vous que votre casier
            judiciaire soit vierge de toute condamnation relative au code de la
            route. Les infractions ne concernant pas l’exercice du métier de
            taxi, elles, ne sont pas considérées comme problématiques pour
            obtenir votre carte professionnelle.
          </li>
          <li>
            Un chauffeur de taxi se doit aussi d’être titulaire du diplôme PSC1
            comprenant la maîtrise des premiers secours et ce, bien que votre
            activité ne consiste qu’en un service de transport de personnes.
            Transporter des personnes, en effet, implique d’être responsable de
            la santé de ces dernières lorsqu’elles se trouveront dans votre
            véhicule. En cas de souci de santé, vous devrez par conséquent être
            préparé à intervenir pour prodiguer les premiers soins.
          </li>
          <li>
            Vous devrez obtenir une certification d'aptitude à même de le
            démontrer auprès d’un médecin agréé par la préfecture. Les tests
            médicaux n’auront rien d’éprouvant et serviront alors uniquement à
            évaluer vos capacités motrices élémentaires.
          </li>
        </ul>
        <h2 class="blog-title-2">
          Obtenir sa carte professionnelle à l’issue de l’examen de taxi
        </h2>
        <p class="blog-para-1">
          Une fois toutes ces conditions remplies, un futur taxi indépendant,
          pour pouvoir pratiquer son métier, devra passer un
          <a class="blog-text-link" href="/examen-vtc-taxi-moto-taxi">
            examen professionnel </a
          >. Celui-ci, alors, impliquera dans un premier temps de vous inscrire
          puis de suivre différentes épreuves, celles-ci, comme au permis de
          conduire, relevant à la fois des connaissances théoriques que de la
          pratique.
        </p>
        <h3 class="blog-title-3">
          Les démarches effectuées auprès de la CMA pour s’inscrire à l’examen
          de Taxi
        </h3>
        <p class="blog-para-1">
          La CMA, ou
          <a class="blog-text-link" href="https://www.artisanat.fr/"
            >Chambre des Métiers et de l’Artisanat</a
          >, sera l’organisme dont dépendra l’examen de taxi et ce, que vous
          souhaitiez pratiquer votre activité en tant que salarié ou bien à
          titre indépendant. Vous devrez alors formuler auprès de la CMA une
          demande d’inscription pour un examen prévu prochainement en prenant
          soin de préciser la date
        </p>
        <p class="blog-para-1">
          Comme pour tout examen, vous serez alors tenu de fournir une série de
          pièces justificatives :
        </p>
        <ul class="blog-ul">
          <li>
            <b
              >Une photocopie de votre carte nationale d’identité ou de votre
              passeport</b
            >
          </li>
          <li><b>Une photocopie de votre permis B.</b></li>
        </ul>
        <p class="blog-para-1">
          Assurez-vous alors que ces documents soient à jour et, si tel n’est
          pas le cas, faites les renouveler.
        </p>
        <ul class="blog-ul">
          <li>
            <b>Un justificatif de domicile de moins de trois mois.</b> L’adresse
            postale communiquée, alors, sera la même que celle où vous vous
            recevrez les résultats de l’examen.
          </li>
          <li>
            <b>Une photo d’identité récente</b> afin de constituer votre carte
            professionnelle si vous veniez alors à passer l’examen.
          </li>
          <li><b>La preuve de paiement</b> des droits d’examen.</li>
        </ul>
        <p class="blog-para-1">
          Les candidats admissibles à l’examen depuis moins de trois ans devront
          aussi produire une attestation de réussite à l’épreuve
          d’admissibilité.
        </p>
        <p class="blog-para-1">
          Il est à noter que si vous n’êtes pas membre de l’Union Européenne,
          vous devrez fournir <b>une autorisation de travail</b> afin d’attester
          de la régularité de votre présence sur le territoire.
        </p>
        <h3 class="blog-title-3">
          L’épreuve théorique pour devenir taxi indépendant ou salarié
        </h3>
        <p class="blog-para-1">
          L’examen de taxi comprend des épreuves communes avec les chauffeurs
          VTC qui, eux aussi, dépendent de la CMA pour obtenir leur
          certification. Ces épreuves communes ne concernent que des domaines
          très généraux du code de conduite. Vous retrouverez aussi bien
          <b>la réglementation du transport public particulier des personnes</b
          >, aussi appelé T3P, que <b>la gestion, la sécurité routière,</b> mais
          aussi des épreuves de <b>français</b> et <b>d’anglais</b> pour
          attester de votre capacité à être en mesure de communiquer avec des
          clients résidents comme étrangers.
        </p>
        <p class="blog-para-1">
          <b>Devenir chauffeur de taxi,</b> toutefois, exigera d’avoir des
          connaissances approfondies que n’auront pas à étudier les candidats
          VTC. Pour obtenir la carte professionnelle et exercer votre futur
          métier de taxi indépendant, vous devrez en effet avoir une
          connaissance du territoire et de la réglementation. Et cela, en plus
          de la réglementation nationale relative à la l’activité de taxi,
          comprenant alors la gestion de votre propre activité en tant
          qu’indépendant.
        </p>
        <p class="blog-para-1">
          Si les épreuves d’admissibilité ne comprennent aucune note
          éliminatoire, l’épreuve théorique, elle, suppose d’avoir plus de 6/20
          à chaque épreuve pour ne pas être éliminé, exception faite de la
          compréhension anglaise où la note éliminatoire se situe à 4/20. Afin
          de maximiser vos chances de réussite, il est recommandé de passer par
          une
          <a class="blog-text-link" href="/formation-taxi"
            >formation chauffeur de Taxi.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="sh_corpomate_theme_section_167"
  class="sh_animation_part"
  data-name="Call To Action"
>
  <div class="container">
    <h2 class="blog-title-2">Besoin d'une formation taxi ?</h2>
    <p class="blog-para-1 font-weight-bold">
      Inscrivez-vous à la formation
      <text class="blog-color-yellow">100% à distance de MCM Academy</text>
    </p>

    <a
      class="blog-text-link"
      class="animated-button-yellow"
      href="/web/signup?redirect=https://www.mcm-academy.fr/formation-%C3%A0-distance-taxi/shop/cart"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      JE M'INSCRIS
    </a>
    <img
      class="img-fluid o_we_custom_image"
      src="/web/image/246715/couv%20taxi%202.png"
      alt="Taxi Moto"
    />
  </div>
</section>

<section class="mt64 mb12" data-name="Title">
  <div class="container">
    <div class="row s_nb_column_fixed">
      <div class="col-lg-12 s_title text-left">
        <h3 class="blog-title-3">L’épreuve pratique</h3>
        <p class="blog-para-1">
          Comme pour le permis, l’épreuve pratique a ici vocation à évaluer vos
          capacités de conduite, cette fois, dans le cadre du métier de
          chauffeur taxi. Cette épreuve durera au minimum 20 minutes et visera à
          évaluer de nombreuses connaissances pratiques se rapportant au métier
          de Taxi indépendant.
        </p>
        <p class="blog-para-1">
          Votre examinateur évaluera votre esprit d’initiative et votre capacité
          à établir un itinéraire adapté pour le parcours qui vous sera confié.
          Naturellement, comme pour le permis là encore, le respect du code de
          la route ainsi que la souplesse de votre conduite seront pris en
          compte.
        </p>
        <p class="blog-para-1">
          Mais un chauffeur de taxi n’a pas seulement vocation à offrir un
          service de transport. Aussi, votre examinateur évaluera votre relation
          client en vous mettant à l’épreuve pour que vous lui fournissiez des
          informations touristiques. Cela, non sans compter la qualité de la
          prise en charge du client et de ses bagages.
        </p>
        <p class="blog-para-1">
          Enfin, vous devrez savoir procéder efficacement à la facturation de
          votre service. En ce sens, l’épreuve pratique se veut justement un cas
          pratique de prise en charge d’un client de A à Z pour mieux évaluer
          vos aptitudes de chauffeur taxi.
        </p>
        <p class="blog-para-1">
          À l’issue de cette dernière épreuve, en cas de réussite, votre carte
          professionnelle sera décernée par le préfet dans les trois mois à
          compter du jour où vous en aurez formulé la demande. Vous bénéficierez
          alors d’une certification officielle pour exercer en tant que taxi
          indépendant.
        </p>
        <h3 class="blog-title-3">
          Les conseils pour réussir son examen de Taxi
        </h3>
        <p class="blog-para-1">
          Si l’on compare une fois de plus l’examen de Taxi à l’examen du permis
          B, vous comprendrez que, dans les deux cas, une préparation de longue
          haleine sera éminemment bienvenue. Sans formation et sans expérience,
          vous n’aurez que très peu de chances de parvenir à passer l’examen.
        </p>
        <p class="blog-para-1">
          Il existe alors de nombreuses formations professionnalisantes qui vous
          permettront de vous préparer pour chaque épreuve avec des examens
          blancs pour mieux vous préparer à ce qui vous attendra. Une formation
          étalée sur plusieurs mois, sans que celle-ci soit nécessairement
          intensive, vous préparera efficacement à l’examen de Taxi.
        </p>
        <p class="blog-para-1">
          Qu’il s’agisse d’un concours ou d’un examen pour devenir chauffeur de
          taxi, cela ne s’improvise pas. Vous aurez nécessairement besoin de
          vous préparer et de pratiquer fréquemment les différents sujets
          incombant à vos épreuves futures. Surtout en ce qui concerne la
          maîtrise de l’anglais qui, pour beaucoup, se sera avérée une des
          principales causes éliminatoires aux examens. Cela aussi, une
          formation au métier de Taxi vous y préparera.
        </p>
        <h2 class="blog-title-2">
          Les démarches relatives au stationnement sur la voie publique pour
          exercer en tant qu’indépendant
        </h2>
        <p class="blog-para-1">
          Maintenant que vous bénéficiez d’une carte professionnelle pour
          exercer votre métier de taxi indépendant, il vous faudra encore vous
          acquitter de différentes démarches afin d’être parfaitement aux
          normes. Devenir chauffeur de taxi exige en effet de respecter de
          nombreuses procédures de sorte à exercer son activité dans les
          meilleurs termes.
        </p>
        <p class="blog-para-1">
          En tant que taxi indépendant, vous serez amené à devoir être autorisé
          à pratiquer votre métier dans une zone précise. Or, cette zone de
          travail ne vous sera pas accordée automatiquement et, par conséquent,
          il vous faudra formuler une demande d’autorisation de stationnement
          pour obtenir votre licence Taxi.
        </p>
        <p class="blog-para-1">
          Il existe alors deux manières de bénéficier d’une autorisation de
          stationnement. En premier lieu, vous pourrez émettre une demande afin
          d’obtenir une toute nouvelle autorisation. Celle-ci alors devra être
          formulée auprès de la mairie de la commune concernée.
        </p>
        <p class="blog-para-1">
          Cette autorisation de stationnement (ADS), alors, sera décernée en
          fonction des disponibilités en suivant une liste d’attente. Il est à
          noter que la municipalité n’est pas tenue de respecter un délai pour
          répondre favorablement à votre ADS et l’obtention de cette dernière,
          alors, pourrait prendre des années dans certains cas particuliers.
        </p>
        <p class="blog-para-1">
          Aussi, si vous ne souhaitez pas attendre trop longtemps, il est
          également possible de requérir l’ADS décernée à un autre taxi
          indépendant. Celui-ci, alors, moyennant une rétribution de votre part,
          pourrait alors vous céder sa licence Taxi que vous pourriez alors
          acheter ou louer. La procédure est parfaitement légale aussi longtemps
          qu’elle est notifiée auprès de la municipalité.
        </p>
        <p class="blog-para-1">
          Dans certaines villes, à commencer par les plus peuplées, cette
          méthode est la plus privilégiée en ce sens où il est quasiment
          impossible d’obtenir une ADS par un autre moyen. Dès lors, avant
          d’exercer votre service de transport en tant que taxi indépendant, ne
          manquez pas de prendre en compte le coût éventuel d’une ADS afin de
          pouvoir exercer votre activité de taxi. N'hésitez pas à consulter cet
          article si vous souhaitez savoir
          <a
            class="blog-text-link"
            href="/blog/comment-demarrer-votre-activite-taxi"
            >Comment démarrer vote activité Taxi.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
