<odoo>
    <template id="digimoov_website_templates.custom_menu_connected_user" inherit_id="portal.frontend_layout" name="custom menu digimoov">
        <xpath expr="//a[@id='o_logout']" position="replace">
            <!-- <a href="/my/home" role="menuitem" class="dropdown-item">Mon espace client</a> -->
            <a t-attf-href="https://digimoov.360learning.com/home/ #{'btn-indigo' if request.website.id==2 else 'https://formation.mcm-academy.fr/login?next=/dashboard'}" role=" menuitem" class=" dropdown-item">Se connecter à la plateforme de formation</a>
            <a id="o_logout" class="dropdown-item" t-attf-href="/web/session/logout?redirect=/" role="menuitem">Se déconnecter</a>
        </xpath>
    </template>

    <!-- <template id="digimoov_website_templates.custom_menu_public_user" inherit_id="documents.public_page_layout" name="custom menu digimoov">
        <xpath expr="//a[@id='o_logout']" position="before">
            <a href="/my/home" role="menuitem" class="dropdown-item">My Accqqount</a>
            <a href="/my/home" role="menuitem" class="dropdown-item">My Acddcount</a>
            <a id="o_logout" class="dropdown-item" t-attf-href="/web/session/logout?redirect=/" role="menuitem">Logollut</a>
        </xpath>
    </template> -->


</odoo> <!-- <xpath expr="//a[@id='o_logout']" position="before">
    <a href="/my/home" role="menuitem" class="dropdown-item">My Account</a>
</xpath> -->

<!-- public user-->